Repository microsoft/azurelinux, changes with the owners that .github/CODEOWNERS names for each.
All owners: @microsoft/cbl-mariner-stable-maintainers, @microsoft/cbl-mariner-admins, @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-imagecustomizer

.github/CODEOWNERS:

# For stable release branches, ensure stable release maintainers are added as code reviewers
* @microsoft/cbl-mariner-stable-maintainers

# Modification to this file require admin approval.
/.github/CODEOWNERS @microsoft/cbl-mariner-admins

# Modifications to the build pipelines require admin approval.
/.pipelines/* @microsoft/cbl-mariner-admins

# Modifications to the CredScan exceptions require admin approval.
/.config/CredScanSuppressions.json @microsoft/cbl-mariner-admins

/SPECS-EXTENDED/ @microsoft/cbl-mariner-devs

# Image Customizer
/toolkit/tools/imagecustomizer/ @microsoft/cbl-mariner-imagecustomizer
/toolkit/tools/imagecustomizerapi/ @microsoft/cbl-mariner-imagecustomizer
/toolkit/tools/osmodifier @microsoft/cbl-mariner-imagecustomizer
/toolkit/tools/pkg/imagecustomizerlib/ @microsoft/cbl-mariner-imagecustomizer
/toolkit/tools/pkg/osmodifierlib @microsoft/cbl-mariner-imagecustomizer
/toolkit/scripts/build_tag_imagecustomizer.mk @microsoft/cbl-mariner-imagecustomizer

formatted spec file
  SPECS-EXTENDED/usbguard/usbguard.spec
Owners: @microsoft/cbl-mariner-devs

Build fix
  SPECS-EXTENDED/usbguard/usbguard.spec
Owners: @microsoft/cbl-mariner-devs

!!! TEST-AUTOUPGRADE: DO NOT MERGE - topic to be deleted -> "test_GithubClass" !!!
  ToBeDeleted1.txt
Owners: @microsoft/cbl-mariner-stable-maintainers

!!! TEST-AUTOUPGRADE: DO NOT MERGE - topic to be deleted -> "test_GithubClass" !!!
  ToBeDeleted2.txt
Owners: @microsoft/cbl-mariner-stable-maintainers

!!! TEST-AUTOUPGRADE: DO NOT MERGE - topic to be deleted -> "test_GithubClass" !!!
  ToBeDeleted1.txt
Owners: @microsoft/cbl-mariner-stable-maintainers

!!! TEST-AUTOUPGRADE: DO NOT MERGE - topic to be deleted -> "test_GithubClass" !!!
  ToBeDeleted2.txt
Owners: @microsoft/cbl-mariner-stable-maintainers

git: use openssh-clients instead of full openssh package
  SPECS/git/git.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

!!! TEST-AUTOUPGRADE: DO NOT MERGE - topic to be deleted -> "test_GithubClass" !!!
  ToBeDeleted1.txt
Owners: @microsoft/cbl-mariner-stable-maintainers

!!! TEST-AUTOUPGRADE: DO NOT MERGE - topic to be deleted -> "test_GithubClass" !!!
  ToBeDeleted2.txt
Owners: @microsoft/cbl-mariner-stable-maintainers

Upgrade python-iniconfig to 2.1.0 fix bug 56661311
  SPECS/python-iniconfig/python-iniconfig.signatures.json
  SPECS/python-iniconfig/python-iniconfig.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-stable-maintainers

Fixed: PR checks failed CGManifests.
  SPECS-EXTENDED/hyphen-tk/hyphen-tk.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-stable-maintainers

remove old sed
  SPECS/python-iniconfig/python-iniconfig.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

add missing builddeps
  SPECS/python-iniconfig/python-iniconfig.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

!!! TEST-AUTOUPGRADE: DO NOT MERGE - topic to be deleted -> "test_GithubClass" !!!
  ToBeDeleted1.txt
Owners: @microsoft/cbl-mariner-stable-maintainers

!!! TEST-AUTOUPGRADE: DO NOT MERGE - topic to be deleted -> "test_GithubClass" !!!
  ToBeDeleted2.txt
Owners: @microsoft/cbl-mariner-stable-maintainers

!!! TEST-AUTOUPGRADE: DO NOT MERGE - topic to be deleted -> "test_GithubClass" !!!
  ToBeDeleted1.txt
Owners: @microsoft/cbl-mariner-stable-maintainers

!!! TEST-AUTOUPGRADE: DO NOT MERGE - topic to be deleted -> "test_GithubClass" !!!
  ToBeDeleted2.txt
Owners: @microsoft/cbl-mariner-stable-maintainers

!!! TEST-AUTOUPGRADE: DO NOT MERGE - topic to be deleted -> "test_GithubClass" !!!
  ToBeDeleted1.txt
Owners: @microsoft/cbl-mariner-stable-maintainers

!!! TEST-AUTOUPGRADE: DO NOT MERGE - topic to be deleted -> "test_GithubClass" !!!
  ToBeDeleted2.txt
Owners: @microsoft/cbl-mariner-stable-maintainers

[Medium] Patch cert-manager for CVE-2025-32387, CVE-2025-32387
  SPECS/cert-manager/CVE-2025-32386.patch
  SPECS/cert-manager/cert-manager.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

rename files
  toolkit/scripts/vendor_tools/generate_cargo_vendor.sh
  toolkit/scripts/vendor_tools/generate_git_submodules_vendor.sh
  toolkit/scripts/vendor_tools/generate_go_vendor.sh
  toolkit/scripts/vendor_tools/generate_vendor_files.py
Owners: @microsoft/cbl-mariner-stable-maintainers

update reference
  toolkit/scripts/vendor_tools/generate_vendor_files.py
Owners: @microsoft/cbl-mariner-stable-maintainers

make sure to get name of the custom script from the toml file
  toolkit/scripts/vendor_tools/generate_vendor_files.py
Owners: @microsoft/cbl-mariner-stable-maintainers

break circular dep
  SPECS/python-hatch-vcs/python-hatch-vcs.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

add pathsec
  SPECS/python-iniconfig/python-iniconfig.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

[Medium] Patch cert-manager for CVE-2025-32386, CVE-2025-32387
  SPECS/cert-manager/CVE-2025-32386.patch
  SPECS/cert-manager/cert-manager.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

python3-pluggy
  SPECS/python-iniconfig/python-iniconfig.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

missing deps on hatchling
  SPECS/python-hatchling/python-hatchling.spec
  SPECS/python-iniconfig/python-iniconfig.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

remove missing file
  SPECS/python-iniconfig/python-iniconfig.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

[High] Patch libsoup for CVE-2025-32913
  SPECS/libsoup/CVE-2025-32913.patch
  SPECS/libsoup/libsoup.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

use installed license
  SPECS/python-iniconfig/python-iniconfig.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

[High] Patch libsoup for CVE-2025-32913
  SPECS/libsoup/CVE-2025-32913.patch
  SPECS/libsoup/libsoup.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

bump tree release
  SPECS/tree/tree.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Updated the Patch files
  SPECS/packer/CVE-2024-51744.patch
  SPECS/packer/CVE-2025-22870.patch
Owners: @microsoft/cbl-mariner-stable-maintainers

Patch qemu for CVE-2024-3567 [MEDIUM]
  SPECS/qemu/CVE-2024-3567.patch
  SPECS/qemu/qemu.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Patch ceph for CVE-2020-14378
  SPECS/ceph/CVE-2020-14378.patch
  SPECS/ceph/ceph.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

patch ntopng for CVE-2021-44964
  SPECS/ntopng/CVE-2021-44964.patch
  SPECS/ntopng/ntopng.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Use 3.0 spec
  SPECS/hdf5/hdf5-build.patch
  SPECS/hdf5/hdf5-wrappers.patch
  SPECS/hdf5/hdf5.signatures.json
  SPECS/hdf5/hdf5.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

disable_float16
  SPECS/hdf5/hdf5.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

apache-commons-digester: patch file has been removed
  SPECS-EXTENDED/apache-commons-digester/apache-commons-digester-2.1-build-java-error-fix1.patch
Owners: @microsoft/cbl-mariner-devs
