Repository microsoft/azurelinux, changes with the owners that .github/CODEOWNERS names for each.
All owners: @microsoft/cbl-mariner-stable-maintainers, @microsoft/cbl-mariner-admins, @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-imagecustomizer

.github/CODEOWNERS:

# For stable release branches, ensure stable release maintainers are added as code reviewers
* @microsoft/cbl-mariner-stable-maintainers

# Modification to this file require admin approval.
/.github/CODEOWNERS @microsoft/cbl-mariner-admins

# Modifications to the build pipelines require admin approval.
/.pipelines/* @microsoft/cbl-mariner-admins

# Modifications to the CredScan exceptions require admin approval.
/.config/CredScanSuppressions.json @microsoft/cbl-mariner-admins

/SPECS-EXTENDED/ @microsoft/cbl-mariner-devs

# Image Customizer
/toolkit/tools/imagecustomizer/ @microsoft/cbl-mariner-imagecustomizer
/toolkit/tools/imagecustomizerapi/ @microsoft/cbl-mariner-imagecustomizer
/toolkit/tools/osmodifier @microsoft/cbl-mariner-imagecustomizer
/toolkit/tools/pkg/imagecustomizerlib/ @microsoft/cbl-mariner-imagecustomizer
/toolkit/tools/pkg/osmodifierlib @microsoft/cbl-mariner-imagecustomizer
/toolkit/scripts/build_tag_imagecustomizer.mk @microsoft/cbl-mariner-imagecustomizer

resolved conflicts
  LICENSES-AND-NOTICES/SPECS/LICENSES-MAP.md
Owners: @microsoft/cbl-mariner-stable-maintainers

patch flannel to fix CVE-2024-51744
  SPECS/flannel/CVE-2024-51744.patch
  SPECS/flannel/flannel.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

resilved conflict
  SPECS/flannel/flannel.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Patch kubevirt to fix CVE-2024-51744
  SPECS/kubevirt/CVE-2024-51744.patch
  SPECS/kubevirt/kubevirt.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

resolved conflict
  SPECS/kubevirt/kubevirt.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Change source from http to https
  SPECS-EXTENDED/cfitsio/cfitsio.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-stable-maintainers

Source URL change from http to https
  SPECS-EXTENDED/libotf/libotf.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-stable-maintainers

added new package to SPECS-EXTENDED : rubygem-sys-filesystem (#10888)
  LICENSES-AND-NOTICES/SPECS/LICENSES-MAP.md
  LICENSES-AND-NOTICES/SPECS/data/licenses.json
  SPECS-EXTENDED/rubygem-sys-filesystem/rubygem-sys-filesystem.signatures.json
  SPECS-EXTENDED/rubygem-sys-filesystem/rubygem-sys-filesystem.spec
  cgmanifest.json
  toolkit/freeraduis_cmd.log1
Owners: @microsoft/cbl-mariner-stable-maintainers, @microsoft/cbl-mariner-devs

Change URL from http to https
  SPECS-EXTENDED/cpuid/cpuid.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-stable-maintainers

Upgrade: osinfo-db-tools version to 1.12.0
  SPECS-EXTENDED/osinfo-db-tools/osinfo-db-tools.signatures.json
  SPECS-EXTENDED/osinfo-db-tools/osinfo-db-tools.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-stable-maintainers

rebase
  SPECS-EXTENDED/osinfo-db-tools/osinfo-db-tools.spec
Owners: @microsoft/cbl-mariner-devs

Updated spec
  SPECS-EXTENDED/osinfo-db-tools/osinfo-db-tools.signatures.json
  SPECS-EXTENDED/osinfo-db-tools/osinfo-db-tools.spec
Owners: @microsoft/cbl-mariner-devs

Updated Spec
  SPECS-EXTENDED/osinfo-db-tools/osinfo-db-tools.spec
Owners: @microsoft/cbl-mariner-devs

Upgraded mdds to version 2.1.1 (#11511)
  SPECS-EXTENDED/mdds/mdds.signatures.json
  SPECS-EXTENDED/mdds/mdds.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-stable-maintainers

Upgrade: osinfo-db version to 20240701 (#11495)
  SPECS-EXTENDED/osinfo-db/osinfo-db-20221130.tar.xz.asc
  SPECS-EXTENDED/osinfo-db/osinfo-db-20240701.tar.xz.asc
  SPECS-EXTENDED/osinfo-db/osinfo-db.signatures.json
  SPECS-EXTENDED/osinfo-db/osinfo-db.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-stable-maintainers

Upgrade: perl-Module-Build-Tiny version to 0.051 (#11466)
  SPECS-EXTENDED/perl-Module-Build-Tiny/perl-Module-Build-Tiny.signatures.json
  SPECS-EXTENDED/perl-Module-Build-Tiny/perl-Module-Build-Tiny.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-stable-maintainers

Upgraded libXScrnSaver to version 1.2.4 (#11377)
  SPECS-EXTENDED/libXScrnSaver/libXScrnSaver.signatures.json
  SPECS-EXTENDED/libXScrnSaver/libXScrnSaver.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-stable-maintainers

libgxps: update to 0.3.2 (#11264)
  SPECS-EXTENDED/libgxps/libgxps.signatures.json
  SPECS-EXTENDED/libgxps/libgxps.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-stable-maintainers

change rl from http to https
  SPECS-EXTENDED/bwidget/bwidget.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-stable-maintainers

Fixed suggested changes
  SPECS/unzip/CVE-2021-4217.patch
  SPECS/unzip/unzip.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Update liblqr-1 to 0.4.3 (#10987)
  SPECS-EXTENDED/liblqr-1/liblqr-1.signatures.json
  SPECS-EXTENDED/liblqr-1/liblqr-1.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-stable-maintainers

libblockdev: Version update to 3.2.0 (#10962)
  SPECS-EXTENDED/libblockdev/libblockdev.signatures.json
  SPECS-EXTENDED/libblockdev/libblockdev.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-stable-maintainers

hyphen-it: Update Version from 0.20071127 -> 5.1.1 (#10957)
  SPECS-EXTENDED/hyphen-it/hyphen-it.signatures.json
  SPECS-EXTENDED/hyphen-it/hyphen-it.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-stable-maintainers

Adding license verified
  SPECS-EXTENDED/botan2/botan2.spec
Owners: @microsoft/cbl-mariner-devs

Upgrade: os-prober version to 1.81 (#11494)
  SPECS-EXTENDED/os-prober/os-prober-arm64-win11.patch
  SPECS-EXTENDED/os-prober/os-prober-efi-shell.patch
  SPECS-EXTENDED/os-prober/os-prober-gentoo-fix.patch
  SPECS-EXTENDED/os-prober/os-prober-grub2-mount-workaround.patch
  SPECS-EXTENDED/os-prober/os-prober-grub2-parsefix.patch
  SPECS-EXTENDED/os-prober/os-prober-trap_unmount.patch
  SPECS-EXTENDED/os-prober/os-prober-umount-fix.patch
  SPECS-EXTENDED/os-prober/os-prober.signatures.json
  SPECS-EXTENDED/os-prober/os-prober.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-stable-maintainers

Adding icense verified
  SPECS-EXTENDED/jsoncpp/jsoncpp.spec
Owners: @microsoft/cbl-mariner-devs

Updated changelog
  SPECS-EXTENDED/osinfo-db-tools/osinfo-db-tools.spec
Owners: @microsoft/cbl-mariner-devs

Adding License Verified
  SPECS-EXTENDED/libnet/libnet.spec
Owners: @microsoft/cbl-mariner-devs

Updating download url from http to https and adding license verified
  SPECS-EXTENDED/libmwaw/libmwaw.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-stable-maintainers

Adding License Verified
  SPECS-EXTENDED/libnumbertext/libnumbertext.spec
Owners: @microsoft/cbl-mariner-devs

Making suggested changes
  SPECS-EXTENDED/libogg/libogg.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-stable-maintainers

Updated source0
  SPECS-EXTENDED/libeasyfc/libeasyfc.spec
Owners: @microsoft/cbl-mariner-devs

Upgrade: libeasyfc version to 0.14.1
  SPECS-EXTENDED/libeasyfc/libeasyfc.signatures.json
  SPECS-EXTENDED/libeasyfc/libeasyfc.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-stable-maintainers

Updating license files
  LICENSES-AND-NOTICES/SPECS/LICENSES-MAP.md
  LICENSES-AND-NOTICES/SPECS/data/licenses.json
  SPECS-EXTENDED/xpp3/xpp3.signatures.json
  SPECS-EXTENDED/xpp3/xpp3.spec
Owners: @microsoft/cbl-mariner-stable-maintainers, @microsoft/cbl-mariner-devs

Upgrade: mod_http2 version to 2.0.29
  SPECS-EXTENDED/mod_http2/mod_http2-1.14.1-buildfix.patch
  SPECS-EXTENDED/mod_http2/mod_http2.signatures.json
  SPECS-EXTENDED/mod_http2/mod_http2.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-stable-maintainers

modified %changelog and signatures.json file
  SPECS-EXTENDED/mod_http2/mod_http2.signatures.json
  SPECS-EXTENDED/mod_http2/mod_http2.spec
Owners: @microsoft/cbl-mariner-devs

Upgrade: serd version to 0.32.4
  SPECS-EXTENDED/serd/drobilla.gpg
  SPECS-EXTENDED/serd/serd-0.32.4.tar.xz.sig
  SPECS-EXTENDED/serd/serd.signatures.json
  SPECS-EXTENDED/serd/serd.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-stable-maintainers

Upgrade: publicsuffix-list version to 20250116
  SPECS-EXTENDED/publicsuffix-list/index.txt
  SPECS-EXTENDED/publicsuffix-list/public_suffix_list.dat
  SPECS-EXTENDED/publicsuffix-list/publicsuffix-list.signatures.json
  SPECS-EXTENDED/publicsuffix-list/publicsuffix-list.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-stable-maintainers

Patch python3 for CVE-2024-3651 in pip bundled wheel
  SPECS/python3/CVE-2024-3651.patch
  SPECS/python3/python3.spec
  toolkit/resources/manifests/package/pkggen_core_aarch64.txt
  toolkit/resources/manifests/package/pkggen_core_x86_64.txt
  toolkit/resources/manifests/package/toolchain_aarch64.txt
  toolkit/resources/manifests/package/toolchain_x86_64.txt
Owners: @microsoft/cbl-mariner-stable-maintainers

modified cgmanifest file and removed new line in signatures.json file
  SPECS-EXTENDED/publicsuffix-list/publicsuffix-list.signatures.json
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-stable-maintainers
