Repository microsoft/azurelinux, changes with the owners that .github/CODEOWNERS names for each.
All owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-admins, @microsoft/cbl-mariner-kernel, @microsoft/cbl-mariner-kata-containers, @microsoft/cbl-mariner-bootloader, @microsoft/cbl-mariner-dracut, @microsoft/cbl-mariner-systemd, @microsoft/cbl-mariner-debug-tools, @microsoft/cbl-mariner-openssl, @microsoft/cbl-mariner-package-managers, @microsoft/cbl-mariner-container-runtime, @microsoft/cbl-mariner-virtualization, @microsoft/cbl-mariner-provisioning, @microsoft/cbl-mariner-tooling, @microsoft/cbl-mariner-toolchain, @microsoft/cbl-mariner-imagecustomizer

toolkit: remove `%_exclude_path` macro definitions which do not have … (#8797)
  toolkit/imageconfigs/additionalconfigs/macros.excludedocs
Owners: @microsoft/cbl-mariner-devs

Error out when customizing a verity enabled base image. (#8851)
  toolkit/tools/pkg/imagecustomizerlib/imagecustomizer.go
Owners: @microsoft/cbl-mariner-imagecustomizer

Change pcre2 dependency in glib (#8852)
  SPECS/glib/glib.spec
  toolkit/resources/manifests/package/pkggen_core_aarch64.txt
  toolkit/resources/manifests/package/pkggen_core_x86_64.txt
  toolkit/resources/manifests/package/toolchain_aarch64.txt
  toolkit/resources/manifests/package/toolchain_x86_64.txt
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-toolchain

cal10n: upgrade to 0.8.1 (#8044)
  SPECS/cal10n/cal10n-0.7.7-sourcetarget.patch
  SPECS/cal10n/cal10n.signatures.json
  SPECS/cal10n/cal10n.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs

Moved distroless cert dependencies out of the meta package `distroless-packages`. (CP: #8651) (#8759)
  .pipelines/containerSourceData/nodejs/distroless/nodejs18.pkg
  .pipelines/containerSourceData/prometheus/distroless/prometheus.pkg
  .pipelines/containerSourceData/prometheusadapter/distroless/prometheusadapter.pkg
  .pipelines/containerSourceData/python/distroless/python.pkg
  SPECS/distroless-packages/distroless-packages.spec
  toolkit/imageconfigs/packagelists/distroless-packages-container-minimal.json
  toolkit/imageconfigs/packagelists/distroless-packages-container.json
  toolkit/imageconfigs/packagelists/distroless-packages-debug.json
Owners: @microsoft/cbl-mariner-devs

conda: upgrade to 24.1.2 (#8867)
  SPECS/conda/0001-Add-back-conda-and-conda_env-entry-point.patch
  SPECS/conda/0001-Fix-toolz-imports.patch
  SPECS/conda/0001-Use-main-entry-point-for-conda-and-re-add-conda-env-.patch
  SPECS/conda/0002-Go-back-to-ruamel_yaml.patch
  SPECS/conda/0003-Drop-fs-path-encoding-manipulation-under-python2.patch
  SPECS/conda/0004-Do-not-try-to-run-usr-bin-python.patch
  SPECS/conda/0005-Fix-failing-tests-in-test_api.py.patch
  SPECS/conda/0006-shell-assume-shell-plugins-are-in-etc.patch
  SPECS/conda/conda
  SPECS/conda/conda-cpuinfo.patch
  SPECS/conda/conda-memoize.patch
  SPECS/conda/conda.signatures.json
  SPECS/conda/conda.spec
  SPECS/conda/conda_gateways_disk_create.patch
  SPECS/conda/conda_sys_prefix.patch
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs

frr: upgrade to 9.1 (#8884)
  SPECS/frr/0000-remove-babeld-and-ldpd.patch
  SPECS/frr/0001-enable-openssl.patch
  SPECS/frr/0003-fips-mode.patch
  SPECS/frr/0004-remove-grpc-test.patch
  SPECS/frr/0008-Add-FIPS_mode-compatibility-macro.patch
  SPECS/frr/frr.signatures.json
  SPECS/frr/frr.spec
  SPECS/libyang/libyang.signatures.json
  SPECS/libyang/libyang.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs

fio: upgrade 3.30 -> 3.37 (#7092)
  SPECS/fio/fio.signatures.json
  SPECS/fio/fio.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs

Expose verity hash corruption options besides panic. (#8853)
  toolkit/tools/imagecustomizer/docs/configuration.md
  toolkit/tools/imagecustomizerapi/corruptionoption.go
  toolkit/tools/imagecustomizerapi/corruptionoption_test.go
  toolkit/tools/imagecustomizerapi/verity.go
  toolkit/tools/imagecustomizerapi/verity_test.go
  toolkit/tools/pkg/imagecustomizerlib/customizeverity.go
  toolkit/tools/pkg/imagecustomizerlib/imagecustomizer.go
Owners: @microsoft/cbl-mariner-imagecustomizer

Update sos to copy kernel config and vmcore (#8892)
  SPECS/sos/copy-kernel-config.patch
  SPECS/sos/create-azure-kdump-class.patch
  SPECS/sos/create-azure-plugin.patch
  SPECS/sos/sos.spec
Owners: @microsoft/cbl-mariner-devs

frr: remove FIPS_mode patch (#8890)
  SPECS/frr/0008-Add-FIPS_mode-compatibility-macro.patch
  SPECS/frr/frr.spec
Owners: @microsoft/cbl-mariner-devs

[3.0] Add configurability in systemd to control default value of UseDomains parameter (#8799)
  SPECS/systemd/networkd-default-use-domains.patch
  SPECS/systemd/systemd.spec
Owners: @microsoft/cbl-mariner-systemd

Generalize simple chroot tool (#8849)
  toolkit/tools/pkg/rpmssnapshot/rpmssnapshot.go
  toolkit/tools/pkg/simpletoolchroot/simpletoolchroot.go
  toolkit/tools/pkg/specarchchecker/specarchchecker.go
Owners: @microsoft/cbl-mariner-tooling

New toolchain manifest update from tarball script. (#8863)
  toolkit/resources/manifests/package/update_manifests.py
Owners: @microsoft/cbl-mariner-tooling

fix trigger issue for Azl3 CodeQL (#8780)
  .pipelines/CodeQL/CodeQL.yml
Owners: @microsoft/cbl-mariner-devs

xxhash: fix build issue with x86-64-v3 (#8912)
  SPECS/xxhash/xxhash.spec
Owners: @microsoft/cbl-mariner-devs

Use msopenjdk 17 from AZL3 Preview repo in toolchain (#8902)
  cgmanifest.json
  toolkit/resources/manifests/package/pkggen_core_aarch64.txt
  toolkit/resources/manifests/package/pkggen_core_x86_64.txt
  toolkit/resources/manifests/package/toolchain_aarch64.txt
  toolkit/resources/manifests/package/toolchain_x86_64.txt
  toolkit/scripts/toolchain/build_official_toolchain_rpms.sh
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-toolchain, @microsoft/cbl-mariner-tooling

autoconf-archive: upgrade to 2023.02.20 (#8872)
  SPECS/autoconf-archive/autoconf-archive.signatures.json
  SPECS/autoconf-archive/autoconf-archive.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs

openssl: Add FIPS_mode patch back for backward compatability (#8881)
  SPECS/openssl/0008-Add-FIPS_mode-compatibility-macro.patch
  SPECS/openssl/openssl.spec
  toolkit/resources/manifests/package/pkggen_core_aarch64.txt
  toolkit/resources/manifests/package/pkggen_core_x86_64.txt
  toolkit/resources/manifests/package/toolchain_aarch64.txt
  toolkit/resources/manifests/package/toolchain_x86_64.txt
Owners: @microsoft/cbl-mariner-openssl, @microsoft/cbl-mariner-toolchain

Image Customizer: Improve error message for missing EFI files. (#8869)
  toolkit/tools/pkg/imagecustomizerlib/liveosisobuilder.go
  toolkit/tools/pkg/imagecustomizerlib/liveosisobuilder_test.go
Owners: @microsoft/cbl-mariner-imagecustomizer

kata-cc: kernel-uvm: enable CIFS modules (#8873)
  SPECS/kernel-uvm/config
  SPECS/kernel-uvm/kernel-uvm.signatures.json
  SPECS/kernel-uvm/kernel-uvm.spec
Owners: @microsoft/cbl-mariner-kata-containers

Updating `ca-certificates` with certificates from 2.0. (#8861)
  SPECS/ca-certificates/ca-certificates.signatures.json
  SPECS/ca-certificates/ca-certificates.spec
  SPECS/ca-certificates/certdata.microsoft.txt
  SPECS/prebuilt-ca-certificates-base/prebuilt-ca-certificates-base.spec
  SPECS/prebuilt-ca-certificates/prebuilt-ca-certificates.spec
  toolkit/resources/manifests/package/pkggen_core_aarch64.txt
  toolkit/resources/manifests/package/pkggen_core_x86_64.txt
  toolkit/resources/manifests/package/toolchain_aarch64.txt
  toolkit/resources/manifests/package/toolchain_x86_64.txt
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-toolchain

kata-cc: kata-packages-uvm: add cifs-utils as dependency (#8874)
  SPECS/kata-packages-uvm/kata-packages-uvm.spec
Owners: @microsoft/cbl-mariner-devs

systemd: adjust /lib/pam.d/systemd-user to include correct pam files
  SPECS/systemd/azurelinux-use-system-auth-in-pam-systemd-user.patch
  SPECS/systemd/systemd.spec
Owners: @microsoft/cbl-mariner-systemd

Revert "Upgrading ocaml to 5.1.1, promoting annobin and updating llvm" (#8910)
  SPECS-EXTENDED/annobin/annobin.signatures.json
  SPECS-EXTENDED/annobin/annobin.spec
  SPECS/annobin/annobin.signatures.json
  SPECS/llvm/llvm.spec
  SPECS/ocaml/0001-Don-t-add-rpaths-to-libraries.patch
  SPECS/ocaml/0002-configure-Allow-user-defined-C-compiler-flags.patch
  SPECS/ocaml/0003-Update-framepointers-tests-to-avoid-false-positive-w.patch
  SPECS/ocaml/0004-Fix-s390x-stack-reallocation-code-in-PIC-mode.patch
  SPECS/ocaml/macros.ocaml-rpm
  SPECS/ocaml/ocaml.signatures.json
  SPECS/ocaml/ocaml.spec
  SPECS/ocaml/ocaml_files.py
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs

fix unresolved build requirements (#8878)
  SPECS/patterns-ceph-containers/patterns-ceph-containers.spec
  SPECS/python-tensorboard/python-tensorboard.spec
  SPECS/rubygem-fluentd/rubygem-fluentd.spec
Owners: @microsoft/cbl-mariner-devs

Update SymCrypt-OpenSSL to 1.4.2 (#8900)
  SPECS/SymCrypt-OpenSSL/SymCrypt-OpenSSL.signatures.json
  SPECS/SymCrypt-OpenSSL/SymCrypt-OpenSSL.spec
  SPECS/SymCrypt/SymCrypt.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-openssl, @microsoft/cbl-mariner-devs

gcc: set baseline architectures to x86-64-v3 and armv8.1-a (#8846)
  SPECS/gcc/gcc.spec
  toolkit/resources/manifests/package/pkggen_core_aarch64.txt
  toolkit/resources/manifests/package/pkggen_core_x86_64.txt
  toolkit/resources/manifests/package/toolchain_aarch64.txt
  toolkit/resources/manifests/package/toolchain_x86_64.txt
  toolkit/scripts/toolchain/container/toolchain_build_in_chroot.sh
  toolkit/scripts/toolchain/container/toolchain_build_temp_tools.sh
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-toolchain, @microsoft/cbl-mariner-admins

python-virtualenv: update runtime requirements (#8894)
  SPECS/python-virtualenv/python-virtualenv.spec
Owners: @microsoft/cbl-mariner-devs

attach EOL manifest to container images using oras (#8790)
  .pipelines/containerSourceData/scripts/BuildGoldenContainer.sh
  .pipelines/containerSourceData/scripts/PublishContainers.sh
Owners: @microsoft/cbl-mariner-devs

php: upgrade to 8.3.4 (#8888)
  SPECS/php/php-8.3.0-systzdata-v24.patch
  SPECS/php/php-8.3.3-parser.patch
  SPECS/php/php.signatures.json
  SPECS/php/php.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs

clamav: upgrade to 1.0.6 (#8850)
  SPECS/clamav/clamav.signatures.json
  SPECS/clamav/clamav.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs

Update Makefile to use ms-oss PMC url instead of Microsoft (#8901)
  toolkit/Makefile
Owners: @microsoft/cbl-mariner-tooling

Upgrading ocaml to 5.1.1, promoting annobin and updating llvm (#8326)
  SPECS-EXTENDED/annobin/annobin.signatures.json
  SPECS/annobin/annobin.signatures.json
  SPECS/annobin/annobin.spec
  SPECS/llvm/llvm.spec
  SPECS/ocaml/0001-Don-t-add-rpaths-to-libraries.patch
  SPECS/ocaml/0002-configure-Allow-user-defined-C-compiler-flags.patch
  SPECS/ocaml/0003-Update-framepointers-tests-to-avoid-false-positive-w.patch
  SPECS/ocaml/0004-Fix-s390x-stack-reallocation-code-in-PIC-mode.patch
  SPECS/ocaml/macros.ocaml-rpm
  SPECS/ocaml/ocaml.signatures.json
  SPECS/ocaml/ocaml.spec
  SPECS/ocaml/ocaml_files.py
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs

Perf tuning changes (#8944)
  SPECS-SIGNED/kernel-signed/kernel-signed.spec
  SPECS/kernel-headers/kernel-headers.spec
  SPECS/kernel/config
  SPECS/kernel/config_aarch64
  SPECS/kernel/kernel.signatures.json
  SPECS/kernel/kernel.spec
  toolkit/resources/manifests/package/pkggen_core_aarch64.txt
  toolkit/resources/manifests/package/pkggen_core_x86_64.txt
  toolkit/resources/manifests/package/toolchain_aarch64.txt
  toolkit/resources/manifests/package/toolchain_x86_64.txt
Owners: @microsoft/cbl-mariner-kernel, @microsoft/cbl-mariner-toolchain

[AUTOPATCHER-CORE] Upgrade python-incremental to 22.10.0 none (#8906)
  SPECS/python-incremental/python-incremental.signatures.json
  SPECS/python-incremental/python-incremental.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs

Upgrading `python-libclang` from `14.0.6` from `18.1.1` (#8909)
  SPECS/python-libclang/python-libclang.signatures.json
  SPECS/python-libclang/python-libclang.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs

Image Customizer: Increase timeout for loopback detach (#8996)
  toolkit/tools/imagegen/diskutils/diskutils.go
Owners: @microsoft/cbl-mariner-tooling

[AUTOPATCHER-CORE] Upgrade python-hypothesis to 6.100.1 none (#8907)
  SPECS/python-hypothesis/python-hypothesis.signatures.json
  SPECS/python-hypothesis/python-hypothesis.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs

openssh: update to 9.7p1 (#8993)
  SPECS/openssh/openssh.signatures.json
  SPECS/openssh/openssh.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs

.github/CODEOWNERS:

# By default, all files require a review by at least one member of the Azure Linux developers team.
# See teams here: https://github.com/orgs/microsoft/teams?query=mariner
* @microsoft/cbl-mariner-devs

# Modification to this file require admin approval.
/.github/CODEOWNERS @microsoft/cbl-mariner-admins

# Modifications to the build pipelines require admin approval.
/.pipelines/* @microsoft/cbl-mariner-admins

# Modifications to the CredScan exceptions require admin approval.
/.config/CredScanSuppressions.json @microsoft/cbl-mariner-admins

# Modification to what is considered "core packages" require admin approval.
/SPECS/core-packages/* @microsoft/cbl-mariner-admins

# Modification to specific packages go to specific teams
/SPECS/kernel/* @microsoft/cbl-mariner-kernel
/SPECS/kernel-headers/* @microsoft/cbl-mariner-kernel
/SPECS/kernel-mshv/* @microsoft/cbl-mariner-kata-containers
/SPECS/kernel-uvm/* @microsoft/cbl-mariner-kata-containers
/SPECS-SIGNED/kernel-signed/* @microsoft/cbl-mariner-kernel
/SPECS-SIGNED/kernel-mstflint-signed/* @microsoft/cbl-mariner-kernel

/SPECS/grub2/* @microsoft/cbl-mariner-bootloader
/SPECS/grubby/* @microsoft/cbl-mariner-bootloader
/SPECS/shim/* @microsoft/cbl-mariner-bootloader
/SPECS/shim-unsigned/* @microsoft/cbl-mariner-bootloader
/SPECS/shim-unsigned-x64/* @microsoft/cbl-mariner-bootloader
/SPECS/shim-unsigned-aarch64/* @microsoft/cbl-mariner-bootloader
/SPECS-SIGNED/grub2-efi-binary-signed/* @microsoft/cbl-mariner-bootloader

/SPECS/dracut/* @microsoft/cbl-mariner-dracut
/SPECS/initramfs/* @microsoft/cbl-mariner-dracut
/SPECS/verity-read-only-root/* @microsoft/cbl-mariner-dracut

/SPECS/systemd/* @microsoft/cbl-mariner-systemd

/SPECS/bcc/* @microsoft/cbl-mariner-debug-tools
/SPECS/bpftrace/* @microsoft/cbl-mariner-debug-tools
/SPECS/crash/* @microsoft/cbl-mariner-debug-tools
/SPECS/gdb/* @microsoft/cbl-mariner-debug-tools
/SPECS/kexec-tools/* @microsoft/cbl-mariner-debug-tools

/SPECS/openssl/* @microsoft/cbl-mariner-openssl
/SPECS/SymCrypt-OpenSSL/* @microsoft/cbl-mariner-openssl
/SPECS/SymCrypt/* @microsoft/cbl-mariner-openssl

/SPECS/dnf/* @microsoft/cbl-mariner-package-managers
/SPECS/dnf-plugins-core/* @microsoft/cbl-mariner-package-managers
/SPECS/rpm/* @microsoft/cbl-mariner-package-managers
/SPECS/tdnf/* @microsoft/cbl-mariner-package-managers

/SPECS/containerd/* @microsoft/cbl-mariner-container-runtime
/SPECS/docker-buildx/* @microsoft/cbl-mariner-container-runtime
/SPECS/docker-cli/* @microsoft/cbl-mariner-container-runtime
/SPECS/kata-containers/* @microsoft/cbl-mariner-kata-containers
/SPECS/kata-containers-cc/* @microsoft/cbl-mariner-kata-containers
/SPECS/moby-containerd-cc/* @microsoft/cbl-mariner-kata-containers
/SPECS/moby-engine/* @microsoft/cbl-mariner-container-runtime
/SPECS/runc/* @microsoft/cbl-mariner-container-runtime
/SPECS/virtiofsd/* @microsoft/cbl-mariner-kata-containers

/SPECS/cloud-hypervisor/* @microsoft/cbl-mariner-virtualization
/SPECS/hvloader/* @microsoft/cbl-mariner-kata-containers

/SPECS/cloud-init/* @microsoft/cbl-mariner-provisioning
/SPECS/walinuxagent/* @microsoft/cbl-mariner-provisioning

# Modifications to the toolkit requires reviews from the toolkit team
/toolkit/ @microsoft/cbl-mariner-tooling

# Docs to be reviewed by general Azure Linux devs
/toolkit/docs/ @microsoft/cbl-mariner-devs

# Default image configurations to be reviewed by general Azure Linux devs
/toolkit/imageconfigs/ @microsoft/cbl-mariner-devs

# Package and toolchain manifests to be reviewed by toolchain team
/toolkit/resources/manifests/package/pkggen_core_aarch64.txt @microsoft/cbl-mariner-toolchain
/toolkit/resources/manifests/package/pkggen_core_x86_64.txt @microsoft/cbl-mariner-toolchain
/toolkit/resources/manifests/package/toolchain_aarch64.txt @microsoft/cbl-mariner-toolchain
/toolkit/resources/manifests/package/toolchain_x86_64.txt @microsoft/cbl-mariner-toolchain

# Modifications to the raw toolchain require admin approval.
/toolkit/scripts/toolchain/container/* @microsoft/cbl-mariner-admins
/toolkit/scripts/toolchain/cgmanifest.json @microsoft/cbl-mariner-admins
/toolkit/scripts/toolchain/create_toolchain_in_container.sh @microsoft/cbl-mariner-admins

# Image Customizer
/toolkit/tools/imagecustomizer/ @microsoft/cbl-mariner-imagecustomizer
/toolkit/tools/imagecustomizerapi/ @microsoft/cbl-mariner-imagecustomizer
/toolkit/tools/osmodifier @microsoft/cbl-mariner-imagecustomizer
/toolkit/tools/pkg/imagecustomizerlib/ @microsoft/cbl-mariner-imagecustomizer
/toolkit/tools/pkg/osmodifierlib @microsoft/cbl-mariner-imagecustomizer
