Repository microsoft/azurelinux, changes with the owners that .github/CODEOWNERS names for each.
All owners: @microsoft/cbl-mariner-stable-maintainers, @microsoft/cbl-mariner-admins, @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-imagecustomizer

Replace patch
  SPECS/grub2/0203-replace-fgrep-with-grep.patch
  SPECS/grub2/grub2.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Fixed-Review Comments
  SPECS/haproxy/haproxy.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Patch libsoup for CVE-2025-32053 in 2.0 [Medium]
  SPECS/libsoup/libsoup.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Patch libsoup for CVE-2025-32053 [Medium]
  SPECS/libsoup/libsoup.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Patch msft-golang for CVE-2025-22871 [High]
  SPECS/msft-golang/msft-golang.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Addressing CVE-2024-45310
  SPECS/kubernetes/CVE-2024-45310.patch
  SPECS/kubernetes/kubernetes.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Bump release
  SPECS-SIGNED/grub2-efi-binary-signed/grub2-efi-binary-signed.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Patch helm for CVE-2025-32386 & CVE-2025-32387
  SPECS/helm/CVE-2025-32386.patch
  SPECS/helm/CVE-2025-32387.nopatch
  SPECS/helm/helm.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

patch memcached for CVE-2021-44964
  SPECS/memcached/CVE-2021-44964.patch
  SPECS/memcached/memcached.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Patch helm for CVE-2025-32386 & CVE-2025-32387
  SPECS/helm/CVE-2025-32386.patch
  SPECS/helm/CVE-2025-32387.nopatch
  SPECS/helm/helm.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-stable-maintainers

Fix CVE-2025-29923 patch for keda
  SPECS/keda/CVE-2025-29923.patch
  SPECS/keda/keda.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Removing CVE-2024-50614.nopatch
  SPECS/tinyxml2/CVE-2024-50614.nopatch
  SPECS/tinyxml2/tinyxml2.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Add patches for CVE-2024-51744 and CVE-2025-22870
  SPECS/keda/CVE-2024-51744.patch
  SPECS/keda/CVE-2025-22870.patch
  SPECS/keda/keda.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

unicode-emoji: update to 16.0
  SPECS-EXTENDED/unicode-emoji/ReadMe.txt
  SPECS-EXTENDED/unicode-emoji/copyright.html
  SPECS-EXTENDED/unicode-emoji/emoji-data.txt
  SPECS-EXTENDED/unicode-emoji/emoji-sequences.txt
  SPECS-EXTENDED/unicode-emoji/emoji-test.txt
  SPECS-EXTENDED/unicode-emoji/emoji-variation-sequences.txt
  SPECS-EXTENDED/unicode-emoji/emoji-zwj-sequences.txt
  SPECS-EXTENDED/unicode-emoji/unicode-emoji.signatures.json
  SPECS-EXTENDED/unicode-emoji/unicode-emoji.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-stable-maintainers

unicode-emoji: add license file
  SPECS-EXTENDED/unicode-emoji/license.txt
  SPECS-EXTENDED/unicode-emoji/unicode-emoji.spec
Owners: @microsoft/cbl-mariner-devs

Patch telegraf for CVE-2025-30215
  SPECS/telegraf/CVE-2025-30215.patch
  SPECS/telegraf/telegraf.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Add upstream link to patch
  SPECS/libsoup/CVE-2025-32913.patch
Owners: @microsoft/cbl-mariner-stable-maintainers

Add upstream link to patch
  SPECS/libsoup/CVE-2025-32913.patch
Owners: @microsoft/cbl-mariner-stable-maintainers

Upgrade erlang to 26.2.5.11 for CVE-2025-32433 [CRITICAL]
  SPECS/erlang/erlang.signatures.json
  SPECS/erlang/erlang.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-stable-maintainers

Update SPECS/tinyxml2/tinyxml2.spec
  SPECS/tinyxml2/tinyxml2.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Removing comment in spec file
  SPECS/tinyxml2/tinyxml2.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Removing CVE-2024-50614.nopatch
  SPECS/tinyxml2/CVE-2024-50614.nopatch
  SPECS/tinyxml2/tinyxml2.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Removing CVE-2025-32387.nopatch
  SPECS/helm/CVE-2025-32387.nopatch
  SPECS/helm/helm.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Removing CVE-2025-32387.nopatch
  SPECS/helm/CVE-2025-32387.nopatch
  SPECS/helm/helm.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Fix CVE-2024-40635 for moby-containerd-cc with an upstream patch
  SPECS/moby-containerd-cc/CVE-2024-40635.patch
  SPECS/moby-containerd-cc/moby-containerd-cc.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

backporting containers/storage 1.55 fix to 1.34
  SPECS/cri-o/CVE-2024-9676.old.patch
  SPECS/cri-o/cri-o.signatures.json
  SPECS/cri-o/cri-o.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Fix CVE-2024-40635 for moby-containerd-cc with an upstream patch
  SPECS/moby-containerd-cc/CVE-2024-40635.patch
  SPECS/moby-containerd-cc/moby-containerd-cc.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Patch `ruby` CVE-2025-27219, CVE-2025-27220, CVE-2025-27221 [Medium] (#12866)
  SPECS/ruby/CVE-2025-27219.patch
  SPECS/ruby/CVE-2025-27220.patch
  SPECS/ruby/CVE-2025-27221.patch
  SPECS/ruby/ruby.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

[Medium] Patch azcopy for CVE-2025-22870 and CVE-2024-51744 (#12988)
  SPECS/azcopy/CVE-2024-51744.patch
  SPECS/azcopy/CVE-2025-22870.patch
  SPECS/azcopy/azcopy.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Patch `elfutils` for CVE-2025-1372, CVE-2025-1376 & CVE-2025-1377 [Medium] (#13053)
  SPECS/elfutils/CVE-2025-1372.patch
  SPECS/elfutils/CVE-2025-1376.patch
  SPECS/elfutils/CVE-2025-1377.patch
  SPECS/elfutils/elfutils.spec
  toolkit/resources/manifests/package/pkggen_core_aarch64.txt
  toolkit/resources/manifests/package/pkggen_core_x86_64.txt
  toolkit/resources/manifests/package/toolchain_aarch64.txt
  toolkit/resources/manifests/package/toolchain_x86_64.txt
Owners: @microsoft/cbl-mariner-stable-maintainers

[LOW] Patch coredns to fix CVE-2024-51744 (#13081)
  SPECS/coredns/CVE-2024-51744.patch
  SPECS/coredns/coredns.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Patch msft-golang for CVE-2025-22871 [High] (#13405)
  SPECS/msft-golang/CVE-2025-22871.patch
  SPECS/msft-golang/msft-golang.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Patch keda for CVE-2024-51744, CVE-2025-22870 and fix CVE-2025-29923 [Medium] (#13456)
  SPECS/keda/CVE-2024-51744.patch
  SPECS/keda/CVE-2025-22870.patch
  SPECS/keda/CVE-2025-29923.patch
  SPECS/keda/keda.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Patch `ruby` CVE-2025-27219, CVE-2025-27220, CVE-2025-27221 [Medium] (#12866)
  SPECS/ruby/CVE-2025-27219.patch
  SPECS/ruby/CVE-2025-27220.patch
  SPECS/ruby/CVE-2025-27221.patch
  SPECS/ruby/ruby.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

[Medium] Patch azcopy for CVE-2025-22870 and CVE-2024-51744 (#12988)
  SPECS/azcopy/CVE-2024-51744.patch
  SPECS/azcopy/CVE-2025-22870.patch
  SPECS/azcopy/azcopy.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Patch `elfutils` for CVE-2025-1372, CVE-2025-1376 & CVE-2025-1377 [Medium] (#13053)
  SPECS/elfutils/CVE-2025-1372.patch
  SPECS/elfutils/CVE-2025-1376.patch
  SPECS/elfutils/CVE-2025-1377.patch
  SPECS/elfutils/elfutils.spec
  toolkit/resources/manifests/package/pkggen_core_aarch64.txt
  toolkit/resources/manifests/package/pkggen_core_x86_64.txt
  toolkit/resources/manifests/package/toolchain_aarch64.txt
  toolkit/resources/manifests/package/toolchain_x86_64.txt
Owners: @microsoft/cbl-mariner-stable-maintainers

Patch msft-golang for CVE-2025-22871 [High] (#13405)
  SPECS/msft-golang/CVE-2025-22871.patch
  SPECS/msft-golang/msft-golang.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

[LOW] Patch coredns to fix CVE-2024-51744 (#13081)
  SPECS/coredns/CVE-2024-51744.patch
  SPECS/coredns/coredns.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

[High] Patch libsoup for CVE-2025-32906.patch
  SPECS/libsoup/CVE-2025-32906.patch
  SPECS/libsoup/libsoup.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Patch keda for CVE-2024-51744, CVE-2025-22870 and fix CVE-2025-29923 [Medium] (#13456)
  SPECS/keda/CVE-2024-51744.patch
  SPECS/keda/CVE-2025-22870.patch
  SPECS/keda/CVE-2025-29923.patch
  SPECS/keda/keda.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

.github/CODEOWNERS:

# For stable release branches, ensure stable release maintainers are added as code reviewers
* @microsoft/cbl-mariner-stable-maintainers

# Modification to this file require admin approval.
/.github/CODEOWNERS @microsoft/cbl-mariner-admins

# Modifications to the build pipelines require admin approval.
/.pipelines/* @microsoft/cbl-mariner-admins

# Modifications to the CredScan exceptions require admin approval.
/.config/CredScanSuppressions.json @microsoft/cbl-mariner-admins

/SPECS-EXTENDED/ @microsoft/cbl-mariner-devs

# Image Customizer
/toolkit/tools/imagecustomizer/ @microsoft/cbl-mariner-imagecustomizer
/toolkit/tools/imagecustomizerapi/ @microsoft/cbl-mariner-imagecustomizer
/toolkit/tools/osmodifier @microsoft/cbl-mariner-imagecustomizer
/toolkit/tools/pkg/imagecustomizerlib/ @microsoft/cbl-mariner-imagecustomizer
/toolkit/tools/pkg/osmodifierlib @microsoft/cbl-mariner-imagecustomizer
/toolkit/scripts/build_tag_imagecustomizer.mk @microsoft/cbl-mariner-imagecustomizer
