Repository microsoft/azurelinux, changes with the owners that .github/CODEOWNERS names for each.
All owners: @microsoft/cbl-mariner-stable-maintainers, @microsoft/cbl-mariner-admins, @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-imagecustomizer

Patch moby-containerd for CVE-2024-40635 [medium] (#13329)
  SPECS/moby-containerd/CVE-2024-40635.patch
  SPECS/moby-containerd/moby-containerd.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Update cgmanifest.json
  cgmanifest.json
Owners: @microsoft/cbl-mariner-stable-maintainers

Upgrade pgbouncer to 1.24.1 bump version to fix CVE-2025-2291
  SPECS/pgbouncer/pgbouncer.signatures.json
  SPECS/pgbouncer/pgbouncer.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-stable-maintainers

Upgrade pgbouncer to 1.24.1 bump version to fix CVE-2025-2291
  SPECS/pgbouncer/pgbouncer.signatures.json
  SPECS/pgbouncer/pgbouncer.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-stable-maintainers

Address CVE-2025-22872.patch
  SPECS/telegraf/CVE-2025-22872.patch
  SPECS/telegraf/telegraf.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Build SPECS-EXTENDED packages with rust 1.85.0
  SPECS-EXTENDED/389-ds-base/389-ds-base.spec
  SPECS-EXTENDED/ripgrep/ripgrep.spec
  SPECS-EXTENDED/rust-cbindgen/rust-cbindgen.spec
Owners: @microsoft/cbl-mariner-devs

Remove patch
  SPECS/rust/CVE-2024-9681.patch
  SPECS/rust/rust.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Patch helm for CVE-2025-22872
  SPECS/helm/CVE-2025-22872.patch
  SPECS/helm/helm.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Support rust multi version
  LICENSES-AND-NOTICES/SPECS/LICENSES-MAP.md
  LICENSES-AND-NOTICES/SPECS/data/licenses.json
  SPECS-EXTENDED/389-ds-base/389-ds-base.spec
  SPECS-EXTENDED/ripgrep/ripgrep.spec
  SPECS-EXTENDED/rust-cbindgen/rust-cbindgen.spec
  SPECS/clamav/clamav.spec
  SPECS/cloud-hypervisor-cvm/cloud-hypervisor-cvm.spec
  SPECS/flux/flux.spec
  SPECS/influxdb/influxdb.spec
  SPECS/kata-containers-cc/kata-containers-cc.spec
  SPECS/kata-containers/kata-containers.spec
  SPECS/librsvg2/librsvg2.spec
  SPECS/mesa/mesa.spec
  SPECS/netavark/netavark.spec
  SPECS/rpm-ostree/rpm-ostree.spec
  SPECS/rust/Ignore_failing_ci_tests.patch
  SPECS/rust/generate_source_tarball-1.75
  SPECS/rust/rust-1.75.signatures.json
  SPECS/rust/rust-1.75.spec
  SPECS/rust/rust.signatures.json
  SPECS/virtiofsd/virtiofsd.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-stable-maintainers, @microsoft/cbl-mariner-devs

Patch helm for CVE-2025-22872
  SPECS/helm/CVE-2025-22872.patch
  SPECS/helm/helm.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Remove redundant license file from doc
  SPECS/nodejs/nodejs.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Update signature of new tarball
  SPECS-EXTENDED/stunnel/stunnel.signatures.json
Owners: @microsoft/cbl-mariner-devs

Patch packer for CVE-2025-22872
  SPECS/packer/CVE-2025-22872.patch
  SPECS/packer/packer.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Update python-alsa.spec
  SPECS-EXTENDED/python-alsa/python-alsa.spec
Owners: @microsoft/cbl-mariner-devs

Patch packer for CVE-2025-22872
  SPECS/packer/CVE-2025-22872.patch
  SPECS/packer/packer.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Patch prometheus-adapter for CVE-2025-22872
  SPECS/prometheus-adapter/CVE-2025-22872.patch
  SPECS/prometheus-adapter/prometheus-adapter.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Patch containerized-data-importer for CVE-2025-22872
  SPECS/containerized-data-importer/CVE-2025-22872.patch
  SPECS/containerized-data-importer/containerized-data-importer.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Patch cf-cli for CVE-2025-22872
  SPECS/cf-cli/CVE-2025-22872.patch
  SPECS/cf-cli/cf-cli.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

grub2: Replace fgrep with grep (#13435)
  SPECS-SIGNED/grub2-efi-binary-signed/grub2-efi-binary-signed.spec
  SPECS/grub2/0203-replace-fgrep-with-grep.patch
  SPECS/grub2/grub2.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Updating license files
  LICENSES-AND-NOTICES/SPECS/LICENSES-MAP.md
  LICENSES-AND-NOTICES/SPECS/data/licenses.json
  SPECS-EXTENDED/perl-File-TreeCreate/perl-File-TreeCreate.spec
Owners: @microsoft/cbl-mariner-stable-maintainers, @microsoft/cbl-mariner-devs

patch gh for CVE-2025-22872
  SPECS/gh/CVE-2025-22872.patch
  SPECS/gh/gh.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Test different dwarf options
  SPECS/kernel/config
  SPECS/kernel/config_aarch64
  SPECS/kernel/kernel.signatures.json
  SPECS/kernel/kernel.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

adding suggested changes
  SPECS/shadow-utils/shadow-utils.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Changing sed line to replace only at the end of line
  SPECS/tinyxml2/tinyxml2.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Fix `crash` for CVE-2021-20197, CVE-2022-47673, CVE-2022-47696, CVE-2022-37434 [High] (#13507)
  SPECS/crash/crash.signatures.json
  SPECS/crash/crash.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Patch `giflib` for CVE-2021-40633 [High] (#13521)
  SPECS/giflib/CVE-2021-40633.patch
  SPECS/giflib/giflib.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Fix `crash` for CVE-2021-20197, CVE-2022-47673, CVE-2022-47696, CVE-2022-37434 [High] (#13507)
  SPECS/crash/crash.signatures.json
  SPECS/crash/crash.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Patch `giflib` for CVE-2021-40633 [High] (#13521)
  SPECS/giflib/CVE-2021-40633.patch
  SPECS/giflib/giflib.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

[High] Patch moby-engine for CVE-2025-30204 (#13530)
  SPECS/moby-engine/CVE-2025-30204.patch
  SPECS/moby-engine/moby-engine.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Fix `crash` for CVE-2021-20197, CVE-2022-47673, CVE-2022-47696 [High] (#13506)
  SPECS/crash/crash.signatures.json
  SPECS/crash/crash.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Changing sed line to replace only at the end of line
  SPECS/tinyxml2/tinyxml2.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

[High] Patch moby-engine for CVE-2025-30204 (#13530)
  SPECS/moby-engine/CVE-2025-30204.patch
  SPECS/moby-engine/moby-engine.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Fix `crash` for CVE-2021-20197, CVE-2022-47673, CVE-2022-47696 [High] (#13506)
  SPECS/crash/crash.signatures.json
  SPECS/crash/crash.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Patch `giflib` for CVE-2021-40633 [High] (#13520)
  SPECS/giflib/CVE-2021-40633.patch
  SPECS/giflib/giflib.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Patch `giflib` for CVE-2021-40633 [High] (#13520)
  SPECS/giflib/CVE-2021-40633.patch
  SPECS/giflib/giflib.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

[AUTOPATCHER-CORE] Upgrade pgbouncer to 1.24.1 to fix CVE-2025-2291 [High] (#13527)
  SPECS/pgbouncer/pgbouncer.signatures.json
  SPECS/pgbouncer/pgbouncer.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-stable-maintainers

[High] Patch moby-engine for CVE-2025-30204 (#13533)
  SPECS/moby-engine/CVE-2025-30204.patch
  SPECS/moby-engine/moby-engine.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

[High] Patch libsoup for CVE-2025-32913, CVE-2025-32906, CVE-2025-32909, CVE-2025-32910, CVE-2025-32912 (#13446)
  SPECS/libsoup/CVE-2025-32906.patch
  SPECS/libsoup/CVE-2025-32909.patch
  SPECS/libsoup/CVE-2025-32910.patch
  SPECS/libsoup/CVE-2025-32912.patch
  SPECS/libsoup/CVE-2025-32913.patch
  SPECS/libsoup/libsoup.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

[AUTOPATCHER-CORE] Upgrade pgbouncer to 1.24.1 to fix CVE-2025-2291 [High] (#13527)
  SPECS/pgbouncer/pgbouncer.signatures.json
  SPECS/pgbouncer/pgbouncer.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-stable-maintainers

[High] Patch moby-engine for CVE-2025-30204 (#13533)
  SPECS/moby-engine/CVE-2025-30204.patch
  SPECS/moby-engine/moby-engine.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

.github/CODEOWNERS:

# For stable release branches, ensure stable release maintainers are added as code reviewers
* @microsoft/cbl-mariner-stable-maintainers

# Modification to this file require admin approval.
/.github/CODEOWNERS @microsoft/cbl-mariner-admins

# Modifications to the build pipelines require admin approval.
/.pipelines/* @microsoft/cbl-mariner-admins

# Modifications to the CredScan exceptions require admin approval.
/.config/CredScanSuppressions.json @microsoft/cbl-mariner-admins

/SPECS-EXTENDED/ @microsoft/cbl-mariner-devs

# Image Customizer
/toolkit/tools/imagecustomizer/ @microsoft/cbl-mariner-imagecustomizer
/toolkit/tools/imagecustomizerapi/ @microsoft/cbl-mariner-imagecustomizer
/toolkit/tools/osmodifier @microsoft/cbl-mariner-imagecustomizer
/toolkit/tools/pkg/imagecustomizerlib/ @microsoft/cbl-mariner-imagecustomizer
/toolkit/tools/pkg/osmodifierlib @microsoft/cbl-mariner-imagecustomizer
/toolkit/scripts/build_tag_imagecustomizer.mk @microsoft/cbl-mariner-imagecustomizer
