Repository microsoft/azurelinux, changes with the owners that .github/CODEOWNERS names for each.
All owners: @microsoft/cbl-mariner-stable-maintainers, @microsoft/cbl-mariner-admins, @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-imagecustomizer

.github/CODEOWNERS:

# For stable release branches, ensure stable release maintainers are added as code reviewers
* @microsoft/cbl-mariner-stable-maintainers

# Modification to this file require admin approval.
/.github/CODEOWNERS @microsoft/cbl-mariner-admins

# Modifications to the build pipelines require admin approval.
/.pipelines/* @microsoft/cbl-mariner-admins

# Modifications to the CredScan exceptions require admin approval.
/.config/CredScanSuppressions.json @microsoft/cbl-mariner-admins

/SPECS-EXTENDED/ @microsoft/cbl-mariner-devs

# Image Customizer
/toolkit/tools/imagecustomizer/ @microsoft/cbl-mariner-imagecustomizer
/toolkit/tools/imagecustomizerapi/ @microsoft/cbl-mariner-imagecustomizer
/toolkit/tools/osmodifier @microsoft/cbl-mariner-imagecustomizer
/toolkit/tools/pkg/imagecustomizerlib/ @microsoft/cbl-mariner-imagecustomizer
/toolkit/tools/pkg/osmodifierlib @microsoft/cbl-mariner-imagecustomizer
/toolkit/scripts/build_tag_imagecustomizer.mk @microsoft/cbl-mariner-imagecustomizer

modified the source url to have perl-
  SPECS-EXTENDED/perl-GD-Barcode/perl-GD-Barcode.signatures.json
  SPECS-EXTENDED/perl-GD-Barcode/perl-GD-Barcode.spec
Owners: @microsoft/cbl-mariner-devs

Adds perl-File-TreeCreate, needed by perl-file-find-object
  SPECS-EXTENDED/perl-File-TreeCreate/perl-File-TreeCreate.signatures.json
  SPECS-EXTENDED/perl-File-TreeCreate/perl-File-TreeCreate.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-stable-maintainers

Add missing EOF for inline patch call.
  SPECS/flux/flux.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

bump spec
  SPECS/flux/flux.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

flux warnings 2.0 (#13387)
  SPECS/flux/flux.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

flux warnings (#13385)
  SPECS/flux/0001-libflux-unblock-build-by-allowing-warnings.patch
  SPECS/flux/fix-build-warnings.patch
  SPECS/flux/fix-unsigned-char.patch
  SPECS/flux/flux.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

[Medium] Patch qemu for CVE-2023-3180
  SPECS/qemu/CVE-2023-3180.patch
  SPECS/qemu/qemu.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Fix: Build Issues.
  SPECS/gnutls/gnutls.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

[Medium] patch qemu for CVE-2023-3255
  SPECS/qemu/CVE-2023-3255.patch
  SPECS/qemu/qemu.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Rename patch for CVE-2024-4741 to standard name format.
  SPECS/edk2/CVE-2024-4741.patch
  SPECS/edk2/edk2.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

[Low] Patch kubevirt for CVE-2024-51744 (#13137)
  SPECS/kubevirt/CVE-2024-51744.patch
  SPECS/kubevirt/kubevirt.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Patch `fluent-bit` for CVE-2025-31498 [High] (#13378)
  SPECS/fluent-bit/CVE-2025-31498.patch
  SPECS/fluent-bit/fluent-bit.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Patch git-lfs for CVE-2025-22870 [Medium] (#13298)
  SPECS/git-lfs/CVE-2025-22870.patch
  SPECS/git-lfs/git-lfs.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Patch CVE-2024-13176.
  SPECS/edk2/CVE-2024-13176.patch
  SPECS/edk2/edk2.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Patch prometheus-process-exporter for CVE-2025-22870 [Medium] (#13303)
  SPECS/prometheus-process-exporter/CVE-2025-22870.patch
  SPECS/prometheus-process-exporter/prometheus-process-exporter.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

bump spec
  SPECS/edk2/edk2.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

[Low] patch clang for CVE-2024-7883 (#13346)
  SPECS/clang/CVE-2024-7883.patch
  SPECS/clang/clang.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Patch rabbitmq-server for CVE-2025-30219 [Medium] (#13199)
  SPECS/rabbitmq-server/CVE-2025-30219.patch
  SPECS/rabbitmq-server/rabbitmq-server.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Patch augeas for CVE-2025-2588 [MEDIUM] (#13206)
  SPECS/augeas/CVE-2025-2588.patch
  SPECS/augeas/augeas.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

[Low] Patch kubevirt for CVE-2024-51744 (#13137)
  SPECS/kubevirt/CVE-2024-51744.patch
  SPECS/kubevirt/kubevirt.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Patch `fluent-bit` for CVE-2025-31498 [High] (#13378)
  SPECS/fluent-bit/CVE-2025-31498.patch
  SPECS/fluent-bit/fluent-bit.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

[Medium] Upgrade grpc version to 1.62.3 for CVE-2024-7246 (#13117)
  SPECS/grpc/grpc.signatures.json
  SPECS/grpc/grpc.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-stable-maintainers

Patch git-lfs for CVE-2025-22870 [Medium] (#13298)
  SPECS/git-lfs/CVE-2025-22870.patch
  SPECS/git-lfs/git-lfs.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Patch prometheus-process-exporter for CVE-2025-22870 [Medium] (#13303)
  SPECS/prometheus-process-exporter/CVE-2025-22870.patch
  SPECS/prometheus-process-exporter/prometheus-process-exporter.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Patch wpa_supplicant for CVE-2025-24912 [Low] (#13120)
  SPECS/wpa_supplicant/CVE-2025-24912.patch
  SPECS/wpa_supplicant/wpa_supplicant.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

[LOW] Patch unzip to fix CVE-2021-4217 (#13104)
  SPECS/unzip/CVE-2021-4217.patch
  SPECS/unzip/unzip.spec
  toolkit/resources/manifests/package/pkggen_core_aarch64.txt
  toolkit/resources/manifests/package/pkggen_core_x86_64.txt
  toolkit/resources/manifests/package/toolchain_aarch64.txt
  toolkit/resources/manifests/package/toolchain_x86_64.txt
Owners: @microsoft/cbl-mariner-stable-maintainers

[Medium] Patch qemu for CVE-2023-3301
  SPECS/qemu/CVE-2023-3301.patch
  SPECS/qemu/qemu.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

[Low] patch vitess for CVE-2024-53257 (#12834)
  SPECS/vitess/CVE-2024-53257.patch
  SPECS/vitess/vitess.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

[Low] patch clang for CVE-2024-7883 (#13346)
  SPECS/clang/CVE-2024-7883.patch
  SPECS/clang/clang.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

[MEDIUM] Patch syslinux to fix CVE-2011-2501,CVE-2011-2691,CVE-2011-3045,CVE-2012-3425 & CVE-2015-7981 (#12912)
  SPECS/syslinux/CVE-2011-2501.patch
  SPECS/syslinux/CVE-2011-2691.patch
  SPECS/syslinux/CVE-2011-3045.patch
  SPECS/syslinux/CVE-2012-3425.patch
  SPECS/syslinux/CVE-2015-7981.patch
  SPECS/syslinux/syslinux.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

[Medium] Patch ruby for CVE-2025-25186 (#12471)
  SPECS/ruby/CVE-2025-25186.patch
  SPECS/ruby/ruby.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Patch rabbitmq-server for CVE-2025-30219 [Medium] (#13199)
  SPECS/rabbitmq-server/CVE-2025-30219.patch
  SPECS/rabbitmq-server/rabbitmq-server.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Patch wpa_supplicant for CVE-2025-24912 [Low] (#13120)
  SPECS/wpa_supplicant/CVE-2025-24912.patch
  SPECS/wpa_supplicant/wpa_supplicant.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Patch augeas for CVE-2025-2588 [MEDIUM] (#13206)
  SPECS/augeas/CVE-2025-2588.patch
  SPECS/augeas/augeas.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

[Medium] Upgrade grpc version to 1.62.3 for CVE-2024-7246 (#13117)
  SPECS/grpc/grpc.signatures.json
  SPECS/grpc/grpc.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-stable-maintainers

[LOW] Patch unzip to fix CVE-2021-4217 (#13104)
  SPECS/unzip/CVE-2021-4217.patch
  SPECS/unzip/unzip.spec
  toolkit/resources/manifests/package/pkggen_core_aarch64.txt
  toolkit/resources/manifests/package/pkggen_core_x86_64.txt
  toolkit/resources/manifests/package/toolchain_aarch64.txt
  toolkit/resources/manifests/package/toolchain_x86_64.txt
Owners: @microsoft/cbl-mariner-stable-maintainers

[MEDIUM] Patch syslinux to fix CVE-2011-2501,CVE-2011-2691,CVE-2011-3045,CVE-2012-3425 & CVE-2015-7981 (#12912)
  SPECS/syslinux/CVE-2011-2501.patch
  SPECS/syslinux/CVE-2011-2691.patch
  SPECS/syslinux/CVE-2011-3045.patch
  SPECS/syslinux/CVE-2012-3425.patch
  SPECS/syslinux/CVE-2015-7981.patch
  SPECS/syslinux/syslinux.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

[Low] patch vitess for CVE-2024-53257 (#12834)
  SPECS/vitess/CVE-2024-53257.patch
  SPECS/vitess/vitess.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

[Medium] Patch ruby for CVE-2025-25186 (#12471)
  SPECS/ruby/CVE-2025-25186.patch
  SPECS/ruby/ruby.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Addressing CVE-2025-32464
  SPECS/haproxy/CVE-2025-32464.patch
  SPECS/haproxy/haproxy.spec
Owners: @microsoft/cbl-mariner-stable-maintainers
