Repository microsoft/azurelinux, changes with the owners that .github/CODEOWNERS names for each.
All owners: @microsoft/cbl-mariner-stable-maintainers, @microsoft/cbl-mariner-admins, @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-imagecustomizer

moved python3-toml & python3-tox outside with_check macro
  SPECS-EXTENDED/python-cheetah/python-cheetah.spec
Owners: @microsoft/cbl-mariner-devs

Patch git-lfs for CVE-2025-22870 [Medium] (#13301)
  SPECS/git-lfs/CVE-2025-22870.patch
  SPECS/git-lfs/git-lfs.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Patch git-lfs for CVE-2025-22870 [Medium] (#13301)
  SPECS/git-lfs/CVE-2025-22870.patch
  SPECS/git-lfs/git-lfs.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

[AUTO-PR] azure-core/azurelinux:joslobo/CVE-2025-31115 (#13322)
  SPECS/xz/CVE-2025-31115.patch
  SPECS/xz/xz.spec
  toolkit/resources/manifests/package/pkggen_core_aarch64.txt
  toolkit/resources/manifests/package/pkggen_core_x86_64.txt
  toolkit/resources/manifests/package/toolchain_aarch64.txt
  toolkit/resources/manifests/package/toolchain_x86_64.txt
Owners: @microsoft/cbl-mariner-stable-maintainers

[AUTO-PR] azure-core/azurelinux:joslobo/CVE-2025-31115 (#13322)
  SPECS/xz/CVE-2025-31115.patch
  SPECS/xz/xz.spec
  toolkit/resources/manifests/package/pkggen_core_aarch64.txt
  toolkit/resources/manifests/package/pkggen_core_x86_64.txt
  toolkit/resources/manifests/package/toolchain_aarch64.txt
  toolkit/resources/manifests/package/toolchain_x86_64.txt
Owners: @microsoft/cbl-mariner-stable-maintainers

[High] Patch qemu for CVE-2023-2861
  SPECS/qemu/CVE-2023-2861.patch
  SPECS/qemu/qemu.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Fix CVE-2024-40635 for containerd with an upstream patch
  SPECS/containerd/CVE-2024-40635.patch
  SPECS/containerd/containerd.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

perl-Perl-MinimumVersion: Upgrade Version from 1.38 -> 1.40
  SPECS-EXTENDED/perl-Perl-MinimumVersion/perl-Perl-MinimumVersion.signatures.json
  SPECS-EXTENDED/perl-Perl-MinimumVersion/perl-Perl-MinimumVersion.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-stable-maintainers

Patch cmake for CVE-2024-48615 [High] (#13283)
  SPECS/cmake/CVE-2024-48615.patch
  SPECS/cmake/cmake.spec
  toolkit/resources/manifests/package/toolchain_aarch64.txt
  toolkit/resources/manifests/package/toolchain_x86_64.txt
Owners: @microsoft/cbl-mariner-stable-maintainers

[Medium] Patch qemu for CVE-2023-1544
  SPECS/qemu/CVE-2023-1544.patch
  SPECS/qemu/qemu.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Patch cmake for CVE-2024-48615 [High] (#13283)
  SPECS/cmake/CVE-2024-48615.patch
  SPECS/cmake/cmake.spec
  toolkit/resources/manifests/package/toolchain_aarch64.txt
  toolkit/resources/manifests/package/toolchain_x86_64.txt
Owners: @microsoft/cbl-mariner-stable-maintainers

Upgrade erlang to 26.2.5.10 for CVE-2025-30211 [HIGH] (#13268)
  SPECS/erlang/erlang.signatures.json
  SPECS/erlang/erlang.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-stable-maintainers

[AUTOPATCHER-CORE] Upgrade etcd to 3.5.21 for CVE-2025-30204 [High] (#13195)
  SPECS/etcd/etcd.signatures.json
  SPECS/etcd/etcd.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-stable-maintainers

Upgrade erlang to 26.2.5.10 for CVE-2025-30211 [HIGH] (#13268)
  SPECS/erlang/erlang.signatures.json
  SPECS/erlang/erlang.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-stable-maintainers

[AUTO-CHERRYPICK] Patch git-lfs for CVE-2025-22870 [Medium] - branch main (#13326)
  SPECS/git-lfs/CVE-2025-22870.patch
  SPECS/git-lfs/git-lfs.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Resolve merge conflict in pkggen_core_aarch64.txt
  toolkit/resources/manifests/package/pkggen_core_aarch64.txt
Owners: @microsoft/cbl-mariner-stable-maintainers

Resolve merge conflict in pkggen_core_aarch64.txt
  toolkit/resources/manifests/package/pkggen_core_x86_64.txt
Owners: @microsoft/cbl-mariner-stable-maintainers

[AUTOPATCHER-CORE] Upgrade etcd to 3.5.21 for CVE-2025-30204 [High] (#13195)
  SPECS/etcd/etcd.signatures.json
  SPECS/etcd/etcd.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-stable-maintainers

add component tom file for testing
  SPECS/azcopy/azcopy.component.toml
Owners: @microsoft/cbl-mariner-stable-maintainers

[AUTO-CHERRYPICK] [AUTO-PR] azure-core/azurelinux:joslobo/CVE-2025-31115 - branch 3.0-dev (#13327)
  SPECS/xz/CVE-2025-31115.patch
  SPECS/xz/xz.spec
  toolkit/resources/manifests/package/pkggen_core_aarch64.txt
  toolkit/resources/manifests/package/pkggen_core_x86_64.txt
  toolkit/resources/manifests/package/toolchain_aarch64.txt
  toolkit/resources/manifests/package/toolchain_x86_64.txt
Owners: @microsoft/cbl-mariner-stable-maintainers

[AUTO-CHERRYPICK] Patch cmake for CVE-2024-48615 [High] - branch 3.0-dev (#13330)
  SPECS/cmake/CVE-2024-48615.patch
  SPECS/cmake/cmake.spec
  toolkit/resources/manifests/package/toolchain_aarch64.txt
  toolkit/resources/manifests/package/toolchain_x86_64.txt
Owners: @microsoft/cbl-mariner-stable-maintainers

[AUTO-CHERRYPICK] Upgrade erlang to 26.2.5.10 for CVE-2025-30211 [HIGH] - branch 3.0-dev (#13331)
  SPECS/erlang/erlang.signatures.json
  SPECS/erlang/erlang.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-stable-maintainers

[AUTO-CHERRYPICK] [AUTOPATCHER-CORE] Upgrade etcd to 3.5.21 for CVE-2025-30204 [High] - branch 3.0-dev (#13332)
  SPECS/etcd/etcd.signatures.json
  SPECS/etcd/etcd.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-stable-maintainers

Fix CVE-2024-40635 for containerd2 with an upstream patch
  SPECS/containerd2/CVE-2024-40635.patch
  SPECS/containerd2/containerd2.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

add changelog note about Fedora reference
  SPECS/python-toolz/python-toolz.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

use cert-manager instead
  SPECS/azcopy/azcopy.component.toml
  SPECS/cert-manager/cert-manager.component.toml
Owners: @microsoft/cbl-mariner-stable-maintainers

small fix
  toolkit/scripts/vendor_tools/build_vendor_files.py
Owners: @microsoft/cbl-mariner-stable-maintainers

output change
  toolkit/scripts/vendor_tools/build_vendor_files.py
Owners: @microsoft/cbl-mariner-stable-maintainers

Add nil error trapping to licensecheck.go to allow for chroot cleanup on failure and exit gracefully (#13108)
  toolkit/tools/licensecheck/licensecheck.go
  toolkit/tools/pkg/licensecheck/licensecheck.go
  toolkit/tools/pkg/licensecheck/licensecheck_test.go
  toolkit/tools/pkg/licensecheck/testdata/not_a_json.json
Owners: @microsoft/cbl-mariner-stable-maintainers

[Low] Patch python3 for CVE-2025-1795 (#12859)
  SPECS/python3/CVE-2025-1795.patch
  SPECS/python3/python3.spec
  toolkit/resources/manifests/package/pkggen_core_aarch64.txt
  toolkit/resources/manifests/package/pkggen_core_x86_64.txt
  toolkit/resources/manifests/package/toolchain_aarch64.txt
  toolkit/resources/manifests/package/toolchain_x86_64.txt
Owners: @microsoft/cbl-mariner-stable-maintainers

corrected the spec file, as tests were failing after updating the tarball
  SPECS-EXTENDED/langtable/langtable.signatures.json
  SPECS-EXTENDED/langtable/langtable.spec
Owners: @microsoft/cbl-mariner-devs

[Low] Patch python3 for CVE-2025-1795 (#12859)
  SPECS/python3/CVE-2025-1795.patch
  SPECS/python3/python3.spec
  toolkit/resources/manifests/package/pkggen_core_aarch64.txt
  toolkit/resources/manifests/package/pkggen_core_x86_64.txt
  toolkit/resources/manifests/package/toolchain_aarch64.txt
  toolkit/resources/manifests/package/toolchain_x86_64.txt
Owners: @microsoft/cbl-mariner-stable-maintainers

update manifests
  toolkit/resources/manifests/package/pkggen_core_aarch64.txt
  toolkit/resources/manifests/package/pkggen_core_x86_64.txt
  toolkit/resources/manifests/package/toolchain_aarch64.txt
  toolkit/resources/manifests/package/toolchain_x86_64.txt
Owners: @microsoft/cbl-mariner-stable-maintainers

Update URL to github repo
  SPECS-EXTENDED/azl-otel-collector/azl-otel-collector.spec
Owners: @microsoft/cbl-mariner-devs

gawk - bump release
  SPECS/gawk/gawk.spec
  toolkit/resources/manifests/package/pkggen_core_aarch64.txt
  toolkit/resources/manifests/package/pkggen_core_x86_64.txt
  toolkit/resources/manifests/package/toolchain_aarch64.txt
  toolkit/resources/manifests/package/toolchain_x86_64.txt
Owners: @microsoft/cbl-mariner-stable-maintainers

remove ldconfig calls
  SPECS/gawk/gawk.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

kernel: disable dynamic preemption to improve performance
  SPECS/kernel/config
  SPECS/kernel/kernel.signatures.json
Owners: @microsoft/cbl-mariner-stable-maintainers

toolkit: golang-jwt v5.2.1 -> v5.2.2 to address excessive memory allocation during header parsing
  toolkit/tools/go.mod
  toolkit/tools/go.sum
Owners: @microsoft/cbl-mariner-stable-maintainers

Remove extraction command from build
  SPECS/skopeo/skopeo.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

use autopatch
  SPECS/prometheus-node-exporter/prometheus-node-exporter.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

.github/CODEOWNERS:

# For stable release branches, ensure stable release maintainers are added as code reviewers
* @microsoft/cbl-mariner-stable-maintainers

# Modification to this file require admin approval.
/.github/CODEOWNERS @microsoft/cbl-mariner-admins

# Modifications to the build pipelines require admin approval.
/.pipelines/* @microsoft/cbl-mariner-admins

# Modifications to the CredScan exceptions require admin approval.
/.config/CredScanSuppressions.json @microsoft/cbl-mariner-admins

/SPECS-EXTENDED/ @microsoft/cbl-mariner-devs

# Image Customizer
/toolkit/tools/imagecustomizer/ @microsoft/cbl-mariner-imagecustomizer
/toolkit/tools/imagecustomizerapi/ @microsoft/cbl-mariner-imagecustomizer
/toolkit/tools/osmodifier @microsoft/cbl-mariner-imagecustomizer
/toolkit/tools/pkg/imagecustomizerlib/ @microsoft/cbl-mariner-imagecustomizer
/toolkit/tools/pkg/osmodifierlib @microsoft/cbl-mariner-imagecustomizer
/toolkit/scripts/build_tag_imagecustomizer.mk @microsoft/cbl-mariner-imagecustomizer
