Repository microsoft/azurelinux, changes with the owners that .github/CODEOWNERS names for each.
All owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-admins, @microsoft/cbl-mariner-kernel, @microsoft/cbl-mariner-kata-containers, @microsoft/cbl-mariner-bootloader, @microsoft/cbl-mariner-dracut, @microsoft/cbl-mariner-systemd, @microsoft/cbl-mariner-debug-tools, @microsoft/cbl-mariner-openssl, @microsoft/cbl-mariner-package-managers, @microsoft/cbl-mariner-container-runtime, @microsoft/cbl-mariner-virtualization, @microsoft/cbl-mariner-provisioning, @microsoft/cbl-mariner-tooling, @microsoft/cbl-mariner-toolchain, @microsoft/cbl-mariner-imagecustomizer

Bugfix on Overlay Dracut module resilient without verity. (#8597)
  SPECS/dracut/20overlayfs/overlayfs-mount.sh
  SPECS/dracut/dracut.signatures.json
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-dracut

llvm: upgrade to 18.1.2 (#8695)
  SPECS/clang/clang.signatures.json
  SPECS/clang/clang.spec
  SPECS/compiler-rt/compiler-rt.signatures.json
  SPECS/compiler-rt/compiler-rt.spec
  SPECS/lld/lld.signatures.json
  SPECS/lld/lld.spec
  SPECS/lldb/lldb.signatures.json
  SPECS/lldb/lldb.spec
  SPECS/llvm/llvm.signatures.json
  SPECS/llvm/llvm.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs

Remove csi-driver-lvm (#8659)
  LICENSES-AND-NOTICES/SPECS/LICENSES-MAP.md
  LICENSES-AND-NOTICES/SPECS/data/licenses.json
  SPECS/csi-driver-lvm/csi-driver-lvm.signatures.json
  SPECS/csi-driver-lvm/csi-driver-lvm.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs

Removed duplicate signatures PR check. (#8671)
  .github/workflows/check-signatures.yml
  toolkit/scripts/check_signatures.py
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-tooling

opentofu: add new package opentofu v1.6.2 (#8654)
  LICENSES-AND-NOTICES/SPECS/LICENSES-MAP.md
  LICENSES-AND-NOTICES/SPECS/data/licenses.json
  SPECS/opentofu/generate_source_tarball.sh
  SPECS/opentofu/opentofu.signatures.json
  SPECS/opentofu/opentofu.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs

Remove required kernel configs check (#8638)
  .github/workflows/check-kernel-config.yml
  toolkit/scripts/check_new_kernel_configs.py
  toolkit/scripts/check_required_config_fmt.py
  toolkit/scripts/check_required_kernel_configs.py
  toolkit/scripts/kernel_sources_analysis.py
  toolkit/scripts/os-required-configs.json
  toolkit/scripts/sort_required_configs.py
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-tooling

Upgrade perl-HTML-Parser to version 3.82 for 3.0-dev (#8573)
  SPECS/perl-HTML-Parser/perl-HTML-Parser.signatures.json
  SPECS/perl-HTML-Parser/perl-HTML-Parser.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs

openssl: Add dependencies required for tests (#8682)
  SPECS/openssl/0032-Force-fips.patch
  SPECS/openssl/openssl.spec
  toolkit/resources/manifests/package/pkggen_core_aarch64.txt
  toolkit/resources/manifests/package/pkggen_core_x86_64.txt
  toolkit/resources/manifests/package/toolchain_aarch64.txt
  toolkit/resources/manifests/package/toolchain_x86_64.txt
Owners: @microsoft/cbl-mariner-openssl, @microsoft/cbl-mariner-toolchain

emacs: upgrade to 29.3 (#8700)
  SPECS/emacs/CVE-2007-6109.nopatch
  SPECS/emacs/emacs.signatures.json
  SPECS/emacs/emacs.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs

Add runtime filter to depsearch (#8672)
  toolkit/tools/depsearch/depsearch.go
Owners: @microsoft/cbl-mariner-tooling

[AUTOPATCHER-CORE] Upgrade telegraf to 1.29.4 Azure Linux 3.0 Package Upgrades (#8590)
  SPECS/telegraf/add-extra-metrics.patch
  SPECS/telegraf/telegraf.signatures.json
  SPECS/telegraf/telegraf.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs

cmake: fix package test (#8631)
  SPECS/cmake/cmake.spec
  toolkit/resources/manifests/package/toolchain_aarch64.txt
  toolkit/resources/manifests/package/toolchain_x86_64.txt
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-toolchain

Remove systemd-bootstrap dependency in libvirt (#8699)
  SPECS/libvirt/libvirt.spec
Owners: @microsoft/cbl-mariner-devs

Bump the xorg-x11-server release (#8660)
  SPECS/xorg-x11-server/xorg-x11-server.spec
Owners: @microsoft/cbl-mariner-devs

Bump Azure Linux 3.0 Release Version (#8743)
  SPECS/azurelinux-release/azurelinux-release.spec
Owners: @microsoft/cbl-mariner-devs

[AUTOPATCHER-CORE] Upgrade python-werkzeug to 3.0.1 3.0 package upgrade (#7851)
  SPECS/python-werkzeug/preserve-any-existing-PYTHONPATH-in-tests.patch
  SPECS/python-werkzeug/python-werkzeug.signatures.json
  SPECS/python-werkzeug/python-werkzeug.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs

kata-containers: sync to 3.2.0.azl0 (#8640)
  SPECS/kata-containers/0001-Append-systemd-kernel-cmdline-params-for-initrd.patch
  SPECS/kata-containers/0001-Merged-PR-9607-Allow-10-seconds-for-VM-creation-star.patch
  SPECS/kata-containers/0001-osbuilder-Add-support-for-CBL-Mariner.patch
  SPECS/kata-containers/0002-Merged-PR-9671-Wait-for-a-possibly-slow-Guest.patch
  SPECS/kata-containers/0003-Merged-PR-9805-Add-support-for-MSHV.patch
  SPECS/kata-containers/0004-Merged-PR-9806-Fix-enable_debug-for-hypervisor.clh.patch
  SPECS/kata-containers/0005-Merged-PR-9956-shim-avoid-memory-hotplug-timeout.patch
  SPECS/kata-containers/drop-mut-for-variables-that-are-not-mutated.patch
  SPECS/kata-containers/kata-containers.signatures.json
  SPECS/kata-containers/kata-containers.spec
  SPECS/kata-containers/runtime-reduce-uvm-high-mem-footprint.patch
  cgmanifest.json
Owners: @microsoft/cbl-mariner-kata-containers, @microsoft/cbl-mariner-devs

openscap: upgrade to 1.3.9 (#8701)
  SPECS/openscap/openscap.signatures.json
  SPECS/openscap/openscap.spec
  SPECS/openscap/support_rpm_418.patch
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs

Enable qemu migration tests (#8633)
  SPECS/qemu/0002-Disable-failing-tests-on-azl.patch
  SPECS/qemu/0002-disable-migration-tests.patch
  SPECS/qemu/qemu.spec
Owners: @microsoft/cbl-mariner-devs

moby-containerd-cc: sync to v1.7.7 (#8649)
  SPECS/moby-containerd-cc/CVE-2023-44487.patch
  SPECS/moby-containerd-cc/CVE-2023-47108.patch
  SPECS/moby-containerd-cc/fix_cc_tests_for_golang1.21.patch
  SPECS/moby-containerd-cc/moby-containerd-cc.signatures.json
  SPECS/moby-containerd-cc/moby-containerd-cc.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-kata-containers, @microsoft/cbl-mariner-devs

kubevirt: package upgrade to 1.2.0 (#8211)
  SPECS/kubevirt/Allocate-2-cpu-for-the-emulator-thread.patch
  SPECS/kubevirt/Hotplug_detach_grace_period.patch
  SPECS/kubevirt/disks-images-provider.yaml
  SPECS/kubevirt/kubevirt.signatures.json
  SPECS/kubevirt/kubevirt.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs

Image Customizer: Support explicit grow partition size. (#8747)
  toolkit/tools/imagecustomizer/docs/configuration.md
  toolkit/tools/imagecustomizerapi/disk.go
  toolkit/tools/imagecustomizerapi/disk_test.go
  toolkit/tools/imagecustomizerapi/disksize.go
  toolkit/tools/imagecustomizerapi/disksize_test.go
  toolkit/tools/imagecustomizerapi/partition.go
  toolkit/tools/imagecustomizerapi/partition_test.go
  toolkit/tools/imagecustomizerapi/partitionsize.go
  toolkit/tools/imagecustomizerapi/partitionsize_test.go
  toolkit/tools/pkg/imagecustomizerlib/testdata/legacyboot-config.yaml
Owners: @microsoft/cbl-mariner-imagecustomizer

Update pytorch to 2.2.2 (#8667)
  SPECS/pytorch/pytorch.signatures.json
  SPECS/pytorch/pytorch.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs

pesign: update to 116
  SPECS/pesign/0001-cms-kill-generate_integer-it-doesn-t-build-on-i686-a.patch
  SPECS/pesign/0001-cms_common-Fixed-Segmentation-fault.patch
  SPECS/pesign/0002-Fix-command-line-parsing.patch
  SPECS/pesign/0003-gcc-don-t-error-on-stuff-in-includes.patch
  SPECS/pesign/0004-Fix-certficate-argument-name.patch
  SPECS/pesign/0005-Fix-description-of-ascii-armor-option-in-manpage.patch
  SPECS/pesign/0006-Make-ascii-work-since-we-documented-it.patch
  SPECS/pesign/0007-Switch-pesign-client-to-also-accept-token-cert-macro.patch
  SPECS/pesign/0008-pesigcheck-Verify-with-the-cert-as-an-object-signer.patch
  SPECS/pesign/0009-pesigcheck-make-certfile-actually-work.patch
  SPECS/pesign/0010-signerInfos-make-sure-err-is-always-initialized.patch
  SPECS/pesign/0011-pesign-make-pesign-h-tell-you-the-file-name.patch
  SPECS/pesign/0012-Add-coverity-build-scripts.patch
  SPECS/pesign/0013-Document-implicit-fallthrough.patch
  SPECS/pesign/0014-Actually-setfacl-each-directory-of-our-key-storage.patch
  SPECS/pesign/0015-oid-add-SHIM_EKU_MODULE_SIGNING_ONLY-and-fix-our-arr.patch
  SPECS/pesign/0016-efikeygen-add-modsign.patch
  SPECS/pesign/0017-check_cert_db-try-even-harder-to-pick-a-reasonable-v.patch
  SPECS/pesign/0018-show-which-db-we-re-checking.patch
  SPECS/pesign/0019-more-about-the-time.patch
  SPECS/pesign/0020-try-to-say-why-something-fails.patch
  SPECS/pesign/0021-Fix-race-condition-in-SEC_GetPassword.patch
  SPECS/pesign/0022-sysvinit-Create-the-socket-directory-at-runtime.patch
  SPECS/pesign/0023-Better-authorization-scripts.-Again.patch
  SPECS/pesign/0024-Make-the-daemon-also-try-to-give-better-errors-on-EP.patch
  SPECS/pesign/0025-certdb-fix-PRTime-printfs-for-i686.patch
  SPECS/pesign/0026-Clean-up-gcc-command-lines-a-little.patch
  SPECS/pesign/0027-Make-pesign-users-groups-static-in-the-repo.patch
  SPECS/pesign/0028-rpm-Make-the-client-signer-use-the-fedora-values-unl.patch
  SPECS/pesign/0029-Make-macros.pesign-error-in-kojibuilder-if-we-don-t-.patch
  SPECS/pesign/0030-efikeygen-Fix-the-build-with-nss-3.44.patch
  SPECS/pesign/0031-pesigcheck-Fix-a-wrong-assignment.patch
  SPECS/pesign/0032-set-werror.patch
  SPECS/pesign/certs.tar.xz
  SPECS/pesign/pesign.patches
  SPECS/pesign/pesign.signatures.json
  SPECS/pesign/pesign.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs

MIC ISO: support for grub-noprefix package use scenario. (#8648)
  toolkit/tools/imagecustomizer/docs/iso.md
  toolkit/tools/internal/file/file.go
  toolkit/tools/pkg/imagecustomizerlib/liveosisobuilder.go
Owners: @microsoft/cbl-mariner-imagecustomizer, @microsoft/cbl-mariner-tooling

kernel-uvm: sync to 6.1.0.mshv16 (#8676)
  SPECS/kernel-uvm/config
  SPECS/kernel-uvm/kernel-uvm.signatures.json
  SPECS/kernel-uvm/kernel-uvm.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-kata-containers, @microsoft/cbl-mariner-devs

kata-packages-uvm: sync to v1.0.0-2 (#8691)
  .github/workflows/validate-cg-manifest.sh
  LICENSES-AND-NOTICES/SPECS/LICENSES-MAP.md
  LICENSES-AND-NOTICES/SPECS/data/licenses.json
  SPECS/kata-packages-uvm/kata-packages-uvm.spec
Owners: @microsoft/cbl-mariner-devs

kata-containers-cc: sync to 3.2.0.azl0 (#8690)
  SPECS/kata-containers-cc/0001-tardev-snapshotter-enable-feature-impl_trait_in_asso.patch
  SPECS/kata-containers-cc/drop-mut-for-variables-that-are-not-mutated.patch
  SPECS/kata-containers-cc/kata-containers-cc.signatures.json
  SPECS/kata-containers-cc/kata-containers-cc.spec
  SPECS/kata-containers-cc/mariner-coco-build-uvm.sh
  cgmanifest.json
Owners: @microsoft/cbl-mariner-kata-containers, @microsoft/cbl-mariner-devs

Auto clean tdnf cache (#8368)
  toolkit/docs/formats/imageconfig.md
  toolkit/imageconfigs/core-efi.json
  toolkit/imageconfigs/core-legacy.json
  toolkit/imageconfigs/marketplace-gen1-fips.json
  toolkit/imageconfigs/marketplace-gen1.json
  toolkit/imageconfigs/marketplace-gen2-aarch64.json
  toolkit/imageconfigs/marketplace-gen2-fips.json
  toolkit/imageconfigs/marketplace-gen2.json
  toolkit/imageconfigs/postinstallscripts/core-container/cleanup.sh
  toolkit/imageconfigs/postinstallscripts/remove-tdnf-cache.sh
  toolkit/tools/imagegen/configuration/systemconfig.go
  toolkit/tools/imagegen/installutils/installutils.go
  toolkit/tools/internal/file/file.go
  toolkit/tools/internal/file/file_test.go
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-tooling

OSModifier: Enable hostname update (#8755)
  toolkit/tools/pkg/imagecustomizerlib/customizeutils.go
  toolkit/tools/pkg/imagecustomizerlib/customizeutils_test.go
  toolkit/tools/pkg/osmodifierlib/modifierutils.go
Owners: @microsoft/cbl-mariner-imagecustomizer

lujavrite: introduce for 3.0 (#8710)
  LICENSES-AND-NOTICES/SPECS/LICENSES-MAP.md
  LICENSES-AND-NOTICES/SPECS/data/licenses.json
  SPECS/lujavrite/lujavrite.signatures.json
  SPECS/lujavrite/lujavrite.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs

kernel-mshv: sync to 5.15.126.mshv9 (#8683)
  SPECS/kernel-mshv/fix_python_3.12_build_errors.patch
  SPECS/kernel-mshv/kernel-mshv.signatures.json
  SPECS/kernel-mshv/kernel-mshv.spec
  SPECS/kernel-mshv/perf_bpf_test_add_nonnull_argument.patch
  cgmanifest.json
Owners: @microsoft/cbl-mariner-kata-containers, @microsoft/cbl-mariner-devs

[3.0-dev] selinux-policy: Fix SELinux BVT issues. (#8715)
  SPECS/pcre2/pcre2.spec
  SPECS/selinux-policy/0001-Add-dac_read_search-perms.patch
  SPECS/selinux-policy/0015-various-Add-new-pidfd-uses.patch
  SPECS/selinux-policy/0016-various-Add-use-of-pressure-stall-information-in-sys.patch
  SPECS/selinux-policy/0017-various-Add-additional-logging-access-for-domains-ru.patch
  SPECS/selinux-policy/0018-unconfined-Add-user-namespace-creation.patch
  SPECS/selinux-policy/0019-sysnet-The-ip-command-reads-various-files-in-usr-sha.patch
  SPECS/selinux-policy/0020-rpm-Minor-fixes.patch
  SPECS/selinux-policy/0021-systemd-Minor-fixes.patch
  SPECS/selinux-policy/0022-irqbalance-Dontaudit-net_admin.patch
  SPECS/selinux-policy/0023-systemd-tmpfiles-loadkeys-Read-var_t-symlinks.patch
  SPECS/selinux-policy/0024-systemd-tmpfiles-create-root-and-root-.ssh.patch
  SPECS/selinux-policy/0025-kernel-Exec-systemctl.patch
  SPECS/selinux-policy/0026-getty-grant-checkpoint_restore.patch
  SPECS/selinux-policy/selinux-policy.spec
  toolkit/resources/manifests/package/toolchain_aarch64.txt
  toolkit/resources/manifests/package/toolchain_x86_64.txt
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-toolchain

pesign: move from extended to base
  SPECS/pesign/0001-cms-kill-generate_integer-it-doesn-t-build-on-i686-a.patch
  SPECS/pesign/0002-Fix-command-line-parsing.patch
  SPECS/pesign/0003-gcc-don-t-error-on-stuff-in-includes.patch
  SPECS/pesign/0004-Fix-certficate-argument-name.patch
  SPECS/pesign/0005-Fix-description-of-ascii-armor-option-in-manpage.patch
  SPECS/pesign/0006-Make-ascii-work-since-we-documented-it.patch
  SPECS/pesign/0007-Switch-pesign-client-to-also-accept-token-cert-macro.patch
  SPECS/pesign/0008-pesigcheck-Verify-with-the-cert-as-an-object-signer.patch
  SPECS/pesign/0009-pesigcheck-make-certfile-actually-work.patch
  SPECS/pesign/0010-signerInfos-make-sure-err-is-always-initialized.patch
  SPECS/pesign/0011-pesign-make-pesign-h-tell-you-the-file-name.patch
  SPECS/pesign/0012-Add-coverity-build-scripts.patch
  SPECS/pesign/0013-Document-implicit-fallthrough.patch
  SPECS/pesign/0014-Actually-setfacl-each-directory-of-our-key-storage.patch
  SPECS/pesign/0015-oid-add-SHIM_EKU_MODULE_SIGNING_ONLY-and-fix-our-arr.patch
  SPECS/pesign/0016-efikeygen-add-modsign.patch
  SPECS/pesign/0017-check_cert_db-try-even-harder-to-pick-a-reasonable-v.patch
  SPECS/pesign/0018-show-which-db-we-re-checking.patch
  SPECS/pesign/0019-more-about-the-time.patch
  SPECS/pesign/0020-try-to-say-why-something-fails.patch
  SPECS/pesign/0021-Fix-race-condition-in-SEC_GetPassword.patch
  SPECS/pesign/0022-sysvinit-Create-the-socket-directory-at-runtime.patch
  SPECS/pesign/0023-Better-authorization-scripts.-Again.patch
  SPECS/pesign/0024-Make-the-daemon-also-try-to-give-better-errors-on-EP.patch
  SPECS/pesign/0025-certdb-fix-PRTime-printfs-for-i686.patch
  SPECS/pesign/0026-Clean-up-gcc-command-lines-a-little.patch
  SPECS/pesign/0027-Make-pesign-users-groups-static-in-the-repo.patch
  SPECS/pesign/0028-rpm-Make-the-client-signer-use-the-fedora-values-unl.patch
  SPECS/pesign/0029-Make-macros.pesign-error-in-kojibuilder-if-we-don-t-.patch
  SPECS/pesign/0030-efikeygen-Fix-the-build-with-nss-3.44.patch
  SPECS/pesign/0031-pesigcheck-Fix-a-wrong-assignment.patch
  SPECS/pesign/0032-set-werror.patch
  SPECS/pesign/pesign.py
  SPECS/pesign/pesign.signatures.json
  SPECS/pesign/pesign.spec
Owners: @microsoft/cbl-mariner-devs

Upgrade rabbitmq to Version 3.13.0 (#8670)
  SPECS/erlang/OTP-24-Code.patch
  SPECS/erlang/erlang.spec
  SPECS/rabbitmq-server/executeRabbitMQTests.sh
  SPECS/rabbitmq-server/generate-rabbitmq-server-tarball.sh
  SPECS/rabbitmq-server/rabbitmq-server.signatures.json
  SPECS/rabbitmq-server/rabbitmq-server.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs

Remove Redis from 3.0-dev (#8689)
  .pipelines/containerSourceData/redis/Dockerfile-Redis
  .pipelines/containerSourceData/redis/configuration-files/redis-docker-entrypoint.sh
  .pipelines/containerSourceData/redis/redis.pkg
  LICENSES-AND-NOTICES/SPECS/LICENSES-MAP.md
  LICENSES-AND-NOTICES/SPECS/data/licenses.json
  SPECS-EXTENDED/python-redis/python-redis.signatures.json
  SPECS-EXTENDED/python-redis/python-redis.spec
  SPECS/redis/CVE-2022-3647.nopatch
  SPECS/redis/redis-conf.patch
  SPECS/redis/redis.signatures.json
  SPECS/redis/redis.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs

Add python-editables to 3.0-dev (#8681)
  LICENSES-AND-NOTICES/SPECS/LICENSES-MAP.md
  LICENSES-AND-NOTICES/SPECS/data/licenses.json
  SPECS/python-editables/python-editables.signatures.json
  SPECS/python-editables/python-editables.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs

Move haproxy, hyperscan, mc, R, httpd, liblognorm, postfix to pcre2 (#8722)
  SPECS/R/R.spec
  SPECS/haproxy/haproxy.spec
  SPECS/httpd/httpd.spec
  SPECS/hyperscan/hyperscan.spec
  SPECS/liblognorm/liblognorm-2.0.6-pcre2.patch
  SPECS/liblognorm/liblognorm.spec
  SPECS/mc/mc.spec
Owners: @microsoft/cbl-mariner-devs

Demote java-xz to specs-extended (#8685)
  SPECS-EXTENDED/xz-java/xz-java-source-version.patch
  SPECS-EXTENDED/xz-java/xz-java.signatures.json
  SPECS-EXTENDED/xz-java/xz-java.spec
Owners: @microsoft/cbl-mariner-devs

Drop bazel-workspaces (#8675)
  LICENSES-AND-NOTICES/SPECS/LICENSES-MAP.md
  LICENSES-AND-NOTICES/SPECS/data/licenses.json
  SPECS/bazel-workspaces/bazel-workspaces.signatures.json
  SPECS/bazel-workspaces/bazel-workspaces.spec
Owners: @microsoft/cbl-mariner-devs

.github/CODEOWNERS:

# By default, all files require a review by at least one member of the Azure Linux developers team.
# See teams here: https://github.com/orgs/microsoft/teams?query=mariner
* @microsoft/cbl-mariner-devs

# Modification to this file require admin approval.
/.github/CODEOWNERS @microsoft/cbl-mariner-admins

# Modifications to the build pipelines require admin approval.
/.pipelines/* @microsoft/cbl-mariner-admins

# Modifications to the CredScan exceptions require admin approval.
/.config/CredScanSuppressions.json @microsoft/cbl-mariner-admins

# Modification to what is considered "core packages" require admin approval.
/SPECS/core-packages/* @microsoft/cbl-mariner-admins

# Modification to specific packages go to specific teams
/SPECS/kernel/* @microsoft/cbl-mariner-kernel
/SPECS/kernel-headers/* @microsoft/cbl-mariner-kernel
/SPECS/kernel-mshv/* @microsoft/cbl-mariner-kata-containers
/SPECS/kernel-uvm/* @microsoft/cbl-mariner-kata-containers
/SPECS-SIGNED/kernel-signed/* @microsoft/cbl-mariner-kernel
/SPECS-SIGNED/kernel-mstflint-signed/* @microsoft/cbl-mariner-kernel

/SPECS/grub2/* @microsoft/cbl-mariner-bootloader
/SPECS/grubby/* @microsoft/cbl-mariner-bootloader
/SPECS/shim/* @microsoft/cbl-mariner-bootloader
/SPECS/shim-unsigned/* @microsoft/cbl-mariner-bootloader
/SPECS/shim-unsigned-x64/* @microsoft/cbl-mariner-bootloader
/SPECS/shim-unsigned-aarch64/* @microsoft/cbl-mariner-bootloader
/SPECS-SIGNED/grub2-efi-binary-signed/* @microsoft/cbl-mariner-bootloader

/SPECS/dracut/* @microsoft/cbl-mariner-dracut
/SPECS/initramfs/* @microsoft/cbl-mariner-dracut
/SPECS/verity-read-only-root/* @microsoft/cbl-mariner-dracut

/SPECS/systemd/* @microsoft/cbl-mariner-systemd

/SPECS/bcc/* @microsoft/cbl-mariner-debug-tools
/SPECS/bpftrace/* @microsoft/cbl-mariner-debug-tools
/SPECS/crash/* @microsoft/cbl-mariner-debug-tools
/SPECS/gdb/* @microsoft/cbl-mariner-debug-tools
/SPECS/kexec-tools/* @microsoft/cbl-mariner-debug-tools

/SPECS/openssl/* @microsoft/cbl-mariner-openssl
/SPECS/SymCrypt-OpenSSL/* @microsoft/cbl-mariner-openssl
/SPECS/SymCrypt/* @microsoft/cbl-mariner-openssl

/SPECS/dnf/* @microsoft/cbl-mariner-package-managers
/SPECS/dnf-plugins-core/* @microsoft/cbl-mariner-package-managers
/SPECS/rpm/* @microsoft/cbl-mariner-package-managers
/SPECS/tdnf/* @microsoft/cbl-mariner-package-managers

/SPECS/containerd/* @microsoft/cbl-mariner-container-runtime
/SPECS/docker-buildx/* @microsoft/cbl-mariner-container-runtime
/SPECS/docker-cli/* @microsoft/cbl-mariner-container-runtime
/SPECS/kata-containers/* @microsoft/cbl-mariner-kata-containers
/SPECS/kata-containers-cc/* @microsoft/cbl-mariner-kata-containers
/SPECS/moby-containerd-cc/* @microsoft/cbl-mariner-kata-containers
/SPECS/moby-engine/* @microsoft/cbl-mariner-container-runtime
/SPECS/runc/* @microsoft/cbl-mariner-container-runtime
/SPECS/virtiofsd/* @microsoft/cbl-mariner-kata-containers

/SPECS/cloud-hypervisor/* @microsoft/cbl-mariner-virtualization
/SPECS/hvloader/* @microsoft/cbl-mariner-kata-containers

/SPECS/cloud-init/* @microsoft/cbl-mariner-provisioning
/SPECS/walinuxagent/* @microsoft/cbl-mariner-provisioning

# Modifications to the toolkit requires reviews from the toolkit team
/toolkit/ @microsoft/cbl-mariner-tooling

# Docs to be reviewed by general Azure Linux devs
/toolkit/docs/ @microsoft/cbl-mariner-devs

# Default image configurations to be reviewed by general Azure Linux devs
/toolkit/imageconfigs/ @microsoft/cbl-mariner-devs

# Package and toolchain manifests to be reviewed by toolchain team
/toolkit/resources/manifests/package/pkggen_core_aarch64.txt @microsoft/cbl-mariner-toolchain
/toolkit/resources/manifests/package/pkggen_core_x86_64.txt @microsoft/cbl-mariner-toolchain
/toolkit/resources/manifests/package/toolchain_aarch64.txt @microsoft/cbl-mariner-toolchain
/toolkit/resources/manifests/package/toolchain_x86_64.txt @microsoft/cbl-mariner-toolchain

# Modifications to the raw toolchain require admin approval.
/toolkit/scripts/toolchain/container/* @microsoft/cbl-mariner-admins
/toolkit/scripts/toolchain/cgmanifest.json @microsoft/cbl-mariner-admins
/toolkit/scripts/toolchain/create_toolchain_in_container.sh @microsoft/cbl-mariner-admins

# Image Customizer
/toolkit/tools/imagecustomizer/ @microsoft/cbl-mariner-imagecustomizer
/toolkit/tools/imagecustomizerapi/ @microsoft/cbl-mariner-imagecustomizer
/toolkit/tools/osmodifier @microsoft/cbl-mariner-imagecustomizer
/toolkit/tools/pkg/imagecustomizerlib/ @microsoft/cbl-mariner-imagecustomizer
/toolkit/tools/pkg/osmodifierlib @microsoft/cbl-mariner-imagecustomizer
