Repository microsoft/azurelinux, changes with the owners that .github/CODEOWNERS names for each.
All owners: @microsoft/cbl-mariner-stable-maintainers, @microsoft/cbl-mariner-admins, @microsoft/cbl-mariner-devs

.github/CODEOWNERS:

# For stable release branches, ensure stable release maintainers are added as code reviewers
* @microsoft/cbl-mariner-stable-maintainers

# Modification to this file require admin approval.
/.github/CODEOWNERS @microsoft/cbl-mariner-admins

# Modifications to the build pipelines require admin approval.
/.pipelines/* @microsoft/cbl-mariner-admins

# Modifications to the CredScan exceptions require admin approval.
/.config/CredScanSuppressions.json @microsoft/cbl-mariner-admins

/SPECS-EXTENDED/ @microsoft/cbl-mariner-devs

update chnagelog
  SPECS/skopeo/skopeo.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

fix release
  SPECS/skopeo/skopeo.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

fix spec file
  SPECS/skopeo/skopeo.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

upgrade cloud-init to 24.3.1 (#10594)
  SPECS/cloud-init/Binaries-location.patch
  SPECS/cloud-init/cloud-init.signatures.json
  SPECS/cloud-init/cloud-init.spec
  SPECS/cloud-init/no-single-process.patch
  cgmanifest.json
Owners: @microsoft/cbl-mariner-stable-maintainers

Backport/correct patch
  SPECS/oath-toolkit/CVE-2024-47191.patch
Owners: @microsoft/cbl-mariner-stable-maintainers

Add depmod postinstall task for drivers-intree-amdgpu sub-package
  SPECS/kernel/kernel.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Finally fix backported patch
  SPECS/oath-toolkit/CVE-2024-47191.patch
Owners: @microsoft/cbl-mariner-stable-maintainers

Update existing patch to avoid conflict with the new one.
  SPECS/oath-toolkit/oath-toolkit-2.6.9-lockfile.patch
Owners: @microsoft/cbl-mariner-stable-maintainers

Restructure to address comment.
  toolkit/tools/imagecustomizer/docs/configuration.md
  toolkit/tools/imagecustomizer/docs/verity.md
Owners: @microsoft/cbl-mariner-stable-maintainers

Small adjust
  toolkit/tools/imagecustomizer/docs/verity.md
Owners: @microsoft/cbl-mariner-stable-maintainers

Update signatures
  SPECS/nvidia-container-toolkit/nvidia-container-toolkit.signatures.json
  SPECS/nvidia-container-toolkit/nvidia-container-toolkit.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Revert source0 url change
  SPECS/nvidia-container-toolkit/nvidia-container-toolkit.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Update spec to work with 1.16.2
  SPECS/nvidia-container-toolkit/nvidia-container-toolkit.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Bump dracut to rebuild with latest systemd
  SPECS/dracut/dracut.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Build Break: Bump dracut to rebuild with latest systemd (#10638)
  SPECS/dracut/dracut.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

patch debugedit with fix for DW_FORM issue
  SPECS/debugedit/0001-debugedit-Add-support-for-.debug_str_offsets-DW_FORM.patch
  SPECS/debugedit/debugedit.spec
  toolkit/resources/manifests/package/pkggen_core_aarch64.txt
  toolkit/resources/manifests/package/pkggen_core_x86_64.txt
  toolkit/resources/manifests/package/toolchain_aarch64.txt
  toolkit/resources/manifests/package/toolchain_x86_64.txt
Owners: @microsoft/cbl-mariner-stable-maintainers

Add '-a' option to build-mic-container.sh for arch selection.
  toolkit/tools/imagecustomizer/container/build-mic-container.sh
Owners: @microsoft/cbl-mariner-stable-maintainers

Variant definations.
  toolkit/imageconfigs/minimal-os.json
  toolkit/imageconfigs/variants/baremetal.yaml
  toolkit/imageconfigs/variants/hyperv-guest.yaml
  toolkit/imageconfigs/variants/packagelists/baremetal-packages.yaml
  toolkit/imageconfigs/variants/packagelists/base-image-packages.yaml
  toolkit/imageconfigs/variants/packagelists/cloud-init-packages.yaml
  toolkit/imageconfigs/variants/packagelists/core-packages-image.yaml
  toolkit/imageconfigs/variants/packagelists/hyperv-packages.yaml
  toolkit/imageconfigs/variants/packagelists/qemu-guest-packages.yaml
  toolkit/imageconfigs/variants/packagelists/selinux.yaml
  toolkit/imageconfigs/variants/packagelists/virt-guest-packages.yaml
  toolkit/imageconfigs/variants/qemu-guest.yaml
Owners: @microsoft/cbl-mariner-stable-maintainers

Fix CVE-2023-48795 and CVE-2023-3978 in kubevirt
  SPECS/kubevirt/CVE-2023-3978.patch
  SPECS/kubevirt/CVE-2023-48795.patch
  SPECS/kubevirt/kubevirt.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

add fix for CVE-2023-48795 in kubevirt
  SPECS/kubevirt/CVE-2023-48795.patch
  SPECS/kubevirt/kubevirt.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

remove extra line from patch file
  SPECS/kubevirt/CVE-2023-3978.patch
Owners: @microsoft/cbl-mariner-stable-maintainers

Fix newline in the patch
  SPECS/kubevirt/CVE-2023-3978.patch
Owners: @microsoft/cbl-mariner-stable-maintainers

Fix CVE-2024-47554 for apache-commons-io
  SPECS-EXTENDED/apache-commons-io/apache-commons-io-build.xml
  SPECS-EXTENDED/apache-commons-io/apache-commons-io.signatures.json
  SPECS-EXTENDED/apache-commons-io/apache-commons-io.spec
  SPECS-EXTENDED/apache-commons-io/commons-io-2.14.0-src.tar.gz.asc
  SPECS-EXTENDED/apache-commons-io/commons-io-2.8.0-src.tar.gz.asc
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-stable-maintainers

ig: Bump to v0.33.0.
  SPECS/ig/ig.signatures.json
  SPECS/ig/ig.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-stable-maintainers

Fix CVE-2024-47554 for apache-commons-io
  SPECS-EXTENDED/apache-commons-io/apache-commons-io-build.xml
  SPECS-EXTENDED/apache-commons-io/apache-commons-io.signatures.json
  SPECS-EXTENDED/apache-commons-io/apache-commons-io.spec
  SPECS-EXTENDED/apache-commons-io/commons-io-2.14.0-src.tar.gz.asc
  SPECS-EXTENDED/apache-commons-io/commons-io-2.8.0-src.tar.gz.asc
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-stable-maintainers

Fix CVE-2024-47554 for apache-commons-io
  SPECS-EXTENDED/apache-commons-io/apache-commons-io-build.xml
  SPECS-EXTENDED/apache-commons-io/apache-commons-io.signatures.json
  SPECS-EXTENDED/apache-commons-io/apache-commons-io.spec
  SPECS-EXTENDED/apache-commons-io/commons-io-2.14.0-src.tar.gz.asc
  SPECS-EXTENDED/apache-commons-io/commons-io-2.8.0-src.tar.gz.asc
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-stable-maintainers

Upgrade clamav to 1.4.1 testing
  SPECS/clamav/clamav.signatures.json
  SPECS/clamav/clamav.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-stable-maintainers

Add License verified to changelog
  SPECS-EXTENDED/apache-commons-io/apache-commons-io.spec
Owners: @microsoft/cbl-mariner-devs

Update change log with License verified
  SPECS-EXTENDED/apache-commons-io/apache-commons-io.spec
Owners: @microsoft/cbl-mariner-devs

add fix for CVE-2023-48795 in kubevirt (#10642)
  SPECS/kubevirt/CVE-2023-48795.patch
  SPECS/kubevirt/kubevirt.spec
Owners: @microsoft/cbl-mariner-stable-maintainers
