Repository microsoft/azurelinux, changes with the owners that .github/CODEOWNERS names for each.
All owners: @microsoft/cbl-mariner-stable-maintainers, @microsoft/cbl-mariner-admins, @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-imagecustomizer

.github/CODEOWNERS:

# For stable release branches, ensure stable release maintainers are added as code reviewers
* @microsoft/cbl-mariner-stable-maintainers

# Modification to this file require admin approval.
/.github/CODEOWNERS @microsoft/cbl-mariner-admins

# Modifications to the build pipelines require admin approval.
/.pipelines/* @microsoft/cbl-mariner-admins

# Modifications to the CredScan exceptions require admin approval.
/.config/CredScanSuppressions.json @microsoft/cbl-mariner-admins

/SPECS-EXTENDED/ @microsoft/cbl-mariner-devs

# Image Customizer
/toolkit/tools/imagecustomizer/ @microsoft/cbl-mariner-imagecustomizer
/toolkit/tools/imagecustomizerapi/ @microsoft/cbl-mariner-imagecustomizer
/toolkit/tools/osmodifier @microsoft/cbl-mariner-imagecustomizer
/toolkit/tools/pkg/imagecustomizerlib/ @microsoft/cbl-mariner-imagecustomizer
/toolkit/tools/pkg/osmodifierlib @microsoft/cbl-mariner-imagecustomizer
/toolkit/scripts/build_tag_imagecustomizer.mk @microsoft/cbl-mariner-imagecustomizer

ghc-srpm-macros: fix the merge conflicts
  cgmanifest.json
Owners: @microsoft/cbl-mariner-stable-maintainers

Fix manifest
  toolkit/resources/manifests/package/toolchain_x86_64.txt
Owners: @microsoft/cbl-mariner-stable-maintainers

PR checks
  SPECS-EXTENDED/libeasyfc/libeasyfc.spec
Owners: @microsoft/cbl-mariner-devs

Remove redundant untarring from %build section, Remove the patch for CVE-2025-29923 as it was causing build failures
  SPECS/keda/CVE-2025-29923.patch
  SPECS/keda/keda.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

libgsf: update to 1.14.53
  SPECS-EXTENDED/libgsf/libgsf.signatures.json
  SPECS-EXTENDED/libgsf/libgsf.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-stable-maintainers

Bump release version
  SPECS/libtiff/libtiff.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Patch tinyxml2 for CVE-2024-50614 & CVE-2024-50615
  SPECS/tinyxml2/CVE-2024-50614.patch
  SPECS/tinyxml2/CVE-2024-50615.patch
  SPECS/tinyxml2/tinyxml2.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

libgsf: fix the license error
  SPECS-EXTENDED/libgsf/libgsf.spec
Owners: @microsoft/cbl-mariner-devs

Use unique names for subpkgs built in kernel-rt spec
  SPECS-EXTENDED/kernel-rt/kernel-rt.spec
  SPECS/tuned/tuned.spec
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-stable-maintainers

Revert tuned.spec
  SPECS/tuned/tuned.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Add conflicts across kernel specs that build bpftool and python3-perf subpkgs
  SPECS-EXTENDED/kernel-ipe/kernel-ipe.spec
  SPECS-EXTENDED/kernel-rt/kernel-rt.spec
  SPECS/kernel-64k/kernel-64k.spec
  SPECS/kernel/kernel.spec
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-stable-maintainers

Upgrade nodejs-nodemon version to 3.1.4
  SPECS-EXTENDED/nodejs-nodemon/nodejs-nodemon.signatures.json
  SPECS-EXTENDED/nodejs-nodemon/nodejs-nodemon.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-stable-maintainers

Build error fix
  SPECS-EXTENDED/nodejs-nodemon/nodejs-nodemon.spec
Owners: @microsoft/cbl-mariner-devs

Following review comment.
  toolkit/scripts/check_srpm_duplicates.py
Owners: @microsoft/cbl-mariner-stable-maintainers

Update changelog and requires
  SPECS-EXTENDED/kernel-ipe/kernel-ipe.spec
  SPECS/kernel-64k/kernel-64k.spec
  SPECS/kernel/kernel.spec
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-stable-maintainers

Upgrade gphoto2 to latest upstream
  SPECS-EXTENDED/gphoto2/gphoto2.signatures.json
  SPECS-EXTENDED/gphoto2/gphoto2.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-stable-maintainers

Following review comment.
  toolkit/scripts/check_srpm_duplicates.py
Owners: @microsoft/cbl-mariner-stable-maintainers

Following review comment.
  toolkit/scripts/check_srpm_duplicates.py
Owners: @microsoft/cbl-mariner-stable-maintainers

nodejs-nodemon: fix the license file error
  SPECS-EXTENDED/nodejs-nodemon/nodejs-nodemon.spec
Owners: @microsoft/cbl-mariner-devs

fixed source url
  SPECS-EXTENDED/python-blinker/python-blinker.signatures.json
  SPECS-EXTENDED/python-blinker/python-blinker.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-stable-maintainers

Update CVE-2025-25186.patch
  SPECS/ruby/CVE-2025-25186.patch
Owners: @microsoft/cbl-mariner-stable-maintainers

Update prometheus.spec
  SPECS/prometheus/prometheus.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Update CVE-2025-25186.patch
  SPECS/ruby/CVE-2025-25186.patch
Owners: @microsoft/cbl-mariner-stable-maintainers

corrected the urls to use https
  SPECS-EXTENDED/ladspa/ladspa.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-stable-maintainers

Bump kernel-headers to match kernel
  SPECS/kernel-headers/kernel-headers.spec
  toolkit/resources/manifests/package/pkggen_core_aarch64.txt
  toolkit/resources/manifests/package/pkggen_core_x86_64.txt
  toolkit/resources/manifests/package/toolchain_aarch64.txt
  toolkit/resources/manifests/package/toolchain_x86_64.txt
Owners: @microsoft/cbl-mariner-stable-maintainers

Bump kernel-cross-headers in toolchain manifest
  toolkit/resources/manifests/package/toolchain_x86_64.txt
Owners: @microsoft/cbl-mariner-stable-maintainers

Bump signed kernel-64k,kernel
  SPECS-SIGNED/kernel-64k-signed/kernel-64k-signed.spec
  SPECS-SIGNED/kernel-signed/kernel-signed.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Update cgmanifest.json
  cgmanifest.json
Owners: @microsoft/cbl-mariner-stable-maintainers

Update gnutls.spec
  SPECS/gnutls/gnutls.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Update CVE-2024-12243.patch
  SPECS/gnutls/CVE-2024-12243.patch
Owners: @microsoft/cbl-mariner-stable-maintainers

Fixed: Review Comments
  SPECS-EXTENDED/hyphen-ru/hyphen-ru.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-stable-maintainers

Add cxxflags to enable frame pointers in glibc
  SPECS/azurelinux-rpm-macros/macros
Owners: @microsoft/cbl-mariner-stable-maintainers

add missing conda deps
  SPECS/expected/expected-1.1.0-version-fix.patch
  SPECS/expected/expected.signatures.json
  SPECS/expected/expected.spec
  SPECS/libmamba/libmamba-csh.patch
  SPECS/libmamba/libmamba-deps.patch
  SPECS/libmamba/libmamba-fedora.patch
  SPECS/libmamba/libmamba.signatures.json
  SPECS/libmamba/libmamba.spec
  SPECS/libmamba/setup.py
  SPECS/libsolv/libsolv.spec
  SPECS/simdjson/simdjson.signatures.json
  SPECS/simdjson/simdjson.spec
  SPECS/spdlog/spdlog-fmt_external.patch
  SPECS/spdlog/spdlog.signatures.json
  SPECS/spdlog/spdlog.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Adding '%pretrans' script.
  SPECS/ca-certificates/ca-certificates.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

add conda missing package
  SPECS/conda/conda.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Fixing the Lua script.
  SPECS/ca-certificates/ca-certificates.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Merging later commits and fixing patch CVE-2024-51744
  SPECS/coredns/coredns.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

fix patch offset
  SPECS/perl/CVE-2024-56406.patch
Owners: @microsoft/cbl-mariner-stable-maintainers

added license tag, removed rhel, fixed typo
  SPECS-EXTENDED/netsniff-ng/netsniff-ng.spec
Owners: @microsoft/cbl-mariner-devs

Add nginx tests
  SPECS/nginx/nginx.signatures.json
  SPECS/nginx/nginx.spec
Owners: @microsoft/cbl-mariner-stable-maintainers
