Repository microsoft/azurelinux, changes with the owners that .github/CODEOWNERS names for each.
All owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-admins, @microsoft/cbl-mariner-kernel, @microsoft/cbl-mariner-kata-containers, @microsoft/cbl-mariner-bootloader, @microsoft/cbl-mariner-dracut, @microsoft/cbl-mariner-systemd, @microsoft/cbl-mariner-debug-tools, @microsoft/cbl-mariner-openssl, @microsoft/cbl-mariner-package-managers, @microsoft/cbl-mariner-container-runtime, @microsoft/cbl-mariner-virtualization, @microsoft/cbl-mariner-provisioning, @microsoft/cbl-mariner-tooling, @microsoft/cbl-mariner-toolchain, @microsoft/cbl-mariner-imagecustomizer

php-pecl-zip: fix runtime requirements to match php 8.3.4 (#8923)
  SPECS/php-pecl-zip/php-pecl-zip.spec
Owners: @microsoft/cbl-mariner-devs

Image Customizer: Fix prerequisites list. (#8966)
  toolkit/tools/imagecustomizer/README.md
Owners: @microsoft/cbl-mariner-imagecustomizer

fix: address missing kernelopts in generated grub.cfg (#8985)
  toolkit/tools/internal/resources/assets/grub2/grub
Owners: @microsoft/cbl-mariner-tooling

Bump Azurelinux-Release Version for Preview Release (#8893)
  SPECS/azurelinux-release/azurelinux-release.spec
Owners: @microsoft/cbl-mariner-devs

Upgrading `python-jwt` from `2.4.0` to `2.8.0` (#8927)
  SPECS/python-jwt/python-jwt.signatures.json
  SPECS/python-jwt/python-jwt.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs

[AUTOPATCHER-kernel] Kernel upgrade to version 6.6.29.1 - branch 3.0-dev (#8979)
  SPECS-SIGNED/kernel-signed/kernel-signed.spec
  SPECS/hyperv-daemons/hyperv-daemons.signatures.json
  SPECS/hyperv-daemons/hyperv-daemons.spec
  SPECS/kernel-headers/kernel-headers.signatures.json
  SPECS/kernel-headers/kernel-headers.spec
  SPECS/kernel/config
  SPECS/kernel/config_aarch64
  SPECS/kernel/kernel.signatures.json
  SPECS/kernel/kernel.spec
  cgmanifest.json
  toolkit/resources/manifests/package/pkggen_core_aarch64.txt
  toolkit/resources/manifests/package/pkggen_core_x86_64.txt
  toolkit/resources/manifests/package/toolchain_aarch64.txt
  toolkit/resources/manifests/package/toolchain_x86_64.txt
  toolkit/scripts/toolchain/container/Dockerfile
  toolkit/scripts/toolchain/container/toolchain-sha256sums
  toolkit/scripts/toolchain/container/toolchain_build_temp_tools.sh
Owners: @microsoft/cbl-mariner-kernel, @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-toolchain, @microsoft/cbl-mariner-admins

Adding additionalDirs support to MIC API (#8444)
  toolkit/tools/imagecustomizer/docs/configuration.md
  toolkit/tools/imagecustomizerapi/dirconfig.go
  toolkit/tools/imagecustomizerapi/os.go
  toolkit/tools/internal/file/file.go
  toolkit/tools/internal/file/file_test.go
  toolkit/tools/internal/safechroot/safechroot.go
  toolkit/tools/pkg/imagecustomizerlib/customizeutils.go
Owners: @microsoft/cbl-mariner-imagecustomizer, @microsoft/cbl-mariner-tooling

[AUTOPATCHER-CORE] Upgrade strongswan to 5.9.12 address CVE-2023-41913 (#8995)
  SPECS/strongswan/strongswan.signatures.json
  SPECS/strongswan/strongswan.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs

[AUTOPATCHER-CORE] Upgrade python-google-auth to 2.29.0 none (#8905)
  SPECS/python-google-auth/python-google-auth.signatures.json
  SPECS/python-google-auth/python-google-auth.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs

Remove xfs v4 support (#8626)
  SPECS-SIGNED/kernel-signed/kernel-signed.spec
  SPECS/kernel-headers/kernel-headers.spec
  SPECS/kernel/config
  SPECS/kernel/config_aarch64
  SPECS/kernel/kernel.signatures.json
  SPECS/kernel/kernel.spec
  toolkit/resources/manifests/package/pkggen_core_aarch64.txt
  toolkit/resources/manifests/package/pkggen_core_x86_64.txt
  toolkit/resources/manifests/package/toolchain_aarch64.txt
  toolkit/resources/manifests/package/toolchain_x86_64.txt
Owners: @microsoft/cbl-mariner-kernel, @microsoft/cbl-mariner-toolchain

edk2: package upgrade to 202402 (#8185)
  SPECS/edk2/0001-BaseTools-do-not-build-BrotliCompress-RH-only.patch
  SPECS/edk2/0002-MdeModulePkg-remove-package-private-Brotli-include-p.patch
  SPECS/edk2/0003-MdeModulePkg-TerminalDxe-set-xterm-resolution-on-mod.patch
  SPECS/edk2/0004-OvmfPkg-take-PcdResizeXterm-from-the-QEMU-command-li.patch
  SPECS/edk2/0005-ArmVirtPkg-take-PcdResizeXterm-from-the-QEMU-command.patch
  SPECS/edk2/0006-OvmfPkg-enable-DEBUG_VERBOSE-RHEL-only.patch
  SPECS/edk2/0007-OvmfPkg-silence-DEBUG_VERBOSE-0x00400000-in-QemuVide.patch
  SPECS/edk2/0008-ArmVirtPkg-silence-DEBUG_VERBOSE-0x00400000-in-QemuR.patch
  SPECS/edk2/0009-OvmfPkg-QemuRamfbDxe-Do-not-report-DXE-failure-on-Aa.patch
  SPECS/edk2/0010-OvmfPkg-silence-EFI_D_VERBOSE-0x00400000-in-NvmExpre.patch
  SPECS/edk2/0011-CryptoPkg-OpensslLib-list-RHEL8-specific-OpenSSL-fil.patch
  SPECS/edk2/0011-OvmfPkg-QemuKernelLoaderFsDxe-suppress-error-on-no-k.patch
  SPECS/edk2/0012-SecurityPkg-Tcg2Dxe-suppress-error-on-no-swtpm-in-si.patch
  SPECS/edk2/0013-UefiCpuPkg-MpInitLib-fix-apic-mode-for-cpu-hotplug.patch
  SPECS/edk2/0014-CryptoPkg-CrtLib-add-stat.h.patch
  SPECS/edk2/0014-SecurityPkg-add-TIS-sanity-check-tpm2.patch
  SPECS/edk2/0015-CryptoPkg-CrtLib-add-access-open-read-write-close-sy.patch
  SPECS/edk2/0015-SecurityPkg-add-TIS-sanity-check-tpm12.patch
  SPECS/edk2/0016-OvmfPkg-Clarify-invariants-for-NestedInterruptTplLib.patch
  SPECS/edk2/0016-OvmfPkg-set-PcdVariableStoreSize-PcdMaxVolatileVaria.patch
  SPECS/edk2/0017-OvmfPkg-Relax-assertion-that-interrupts-do-not-occur.patch
  SPECS/edk2/52-edk2-aarch64-verbose-qcow2.json
  SPECS/edk2/60-edk2-ovmf-x64-amdsev.json
  SPECS/edk2/60-edk2-ovmf-x64-inteltdx.json
  SPECS/edk2/CVE-2023-0464.patch
  SPECS/edk2/CVE-2023-0465.patch
  SPECS/edk2/CVE-2023-2650.patch
  SPECS/edk2/CVE-2023-3817.patch
  SPECS/edk2/README.experimental
  SPECS/edk2/edk2-build.fedora
  SPECS/edk2/edk2-build.py
  SPECS/edk2/edk2.signatures.json
  SPECS/edk2/edk2.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs

systemd: move libidn2 recommends dep from core systemd to systemd-networkd
  SPECS/systemd/systemd.spec
Owners: @microsoft/cbl-mariner-systemd

attach EOL manifest to base containers as well (#8935)
  .pipelines/containerSourceData/scripts/BuildBaseContainers.sh
Owners: @microsoft/cbl-mariner-devs

[AUTOPATCHER-CORE] Upgrade python-distlib to 0.3.8 none (#8898)
  SPECS/python-distlib/python-distlib.signatures.json
  SPECS/python-distlib/python-distlib.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs

fix log format in go-tools (#8887)
  toolkit/tools/downloader/downloader.go
  toolkit/tools/graphPreprocessor/graphPreprocessor.go
  toolkit/tools/graphanalytics/graphanalytics.go
  toolkit/tools/grapher/grapher.go
  toolkit/tools/graphpkgfetcher/graphpkgfetcher.go
Owners: @microsoft/cbl-mariner-tooling

Update tensorboard to 2.16.2 (#8942)
  SPECS/python-tensorboard/0000-Use-system-package.patch
  SPECS/python-tensorboard/dockerfile
  SPECS/python-tensorboard/genereate_source_tarball.sh
  SPECS/python-tensorboard/python-tensorboard.signatures.json
  SPECS/python-tensorboard/python-tensorboard.spec
  SPECS/tensorflow/tensorflow.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs

[AUTOPATCHER-CORE] Upgrade docker-compose to 2.27.0 address CVE-2024-23653 (#9000)
  SPECS/docker-compose/docker-compose.signatures.json
  SPECS/docker-compose/docker-compose.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs

Image Customizer: Improve logs and error messages. (#8988)
  toolkit/tools/imagecustomizer/main.go
  toolkit/tools/pkg/imagecustomizerlib/customizeboot.go
  toolkit/tools/pkg/imagecustomizerlib/customizeoverlay.go
  toolkit/tools/pkg/imagecustomizerlib/customizepartitions.go
  toolkit/tools/pkg/imagecustomizerlib/customizeutils.go
  toolkit/tools/pkg/imagecustomizerlib/customizeverity.go
  toolkit/tools/pkg/imagecustomizerlib/imagecustomizer.go
Owners: @microsoft/cbl-mariner-imagecustomizer

rocksdb: fix compilation issue with x86-64-v3 architecture (#8943)
  SPECS/rocksdb/rocksdb.spec
Owners: @microsoft/cbl-mariner-devs

Update image customizer container dependencies. (#8989)
  toolkit/tools/imagecustomizer/container/Dockerfile.mic-container
Owners: @microsoft/cbl-mariner-imagecustomizer

Add SymCrypt and SymCrypt-OpenSSL to images. (#8848)
  SPECS/core-packages/core-packages.spec
  SPECS/distroless-packages/distroless-packages.spec
  SPECS/openssl/openssl.spec
  toolkit/resources/manifests/package/pkggen_core_aarch64.txt
  toolkit/resources/manifests/package/pkggen_core_x86_64.txt
  toolkit/resources/manifests/package/toolchain_aarch64.txt
  toolkit/resources/manifests/package/toolchain_x86_64.txt
Owners: @microsoft/cbl-mariner-admins, @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-openssl, @microsoft/cbl-mariner-toolchain

[AUTOPATCHER-CORE] Upgrade docker-buildx to 0.14.0 address CVE-2024-23653 (#8999)
  SPECS/docker-buildx/docker-buildx.signatures.json
  SPECS/docker-buildx/docker-buildx.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-container-runtime, @microsoft/cbl-mariner-devs

fix depsearch log format (#8885)
  toolkit/tools/depsearch/depsearch.go
Owners: @microsoft/cbl-mariner-tooling

Image Customizer: Doc fixes for SELinux mode. (#8967)
  toolkit/tools/imagecustomizer/docs/configuration.md
Owners: @microsoft/cbl-mariner-imagecustomizer

Image Customizer: Cleanup warning messages. (#8972)
  toolkit/tools/imagegen/diskutils/diskutils.go
  toolkit/tools/imager/imager.go
  toolkit/tools/internal/safechroot/safechroot.go
  toolkit/tools/internal/safemount/safemount_test.go
  toolkit/tools/pkg/imagecustomizerlib/imageutils.go
  toolkit/tools/pkg/isomakerlib/isomaker.go
Owners: @microsoft/cbl-mariner-tooling, @microsoft/cbl-mariner-imagecustomizer

use docker buildx (#8991)
  .pipelines/containerSourceData/scripts/BuildBaseContainers.sh
  .pipelines/containerSourceData/scripts/BuildGoldenDistrolessContainer.sh
Owners: @microsoft/cbl-mariner-devs

Image Customizer: Fix find rootfs. (#8986)
  toolkit/tools/pkg/imagecustomizerlib/partitionutils.go
Owners: @microsoft/cbl-mariner-imagecustomizer

strace: upgrade to 6.8 (#8908)
  SPECS/strace/strace.signatures.json
  SPECS/strace/strace.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs

opensc: update to 0.25.1 (#9034)
  SPECS/opensc/opensc-0.19.0-pinpad.patch
  SPECS/opensc/opensc-0.22.0-file-cache.patch
  SPECS/opensc/opensc-0.23.0-pinpad.patch
  SPECS/opensc/opensc.module
  SPECS/opensc/opensc.signatures.json
  SPECS/opensc/opensc.spec
  SPECS/opensc/tests/pkcs11-tool/Makefile
  SPECS/opensc/tests/pkcs11-tool/PURPOSE
  SPECS/opensc/tests/pkcs11-tool/cert.cfg
  SPECS/opensc/tests/pkcs11-tool/runtest.sh
  SPECS/opensc/tests/pkcs11-tool/virtcacard.cil
  SPECS/opensc/tests/tests.yml
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs

Upgrade python-daemon to Version 3.0.1 (#9050)
  SPECS/python-daemon/python-daemon.signatures.json
  SPECS/python-daemon/python-daemon.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs

Upgrade php to 8.3.6 to fix CVE-2024-2756, CVE-2024-2757, CVE-2024-3096 (#8951)
  SPECS/php/php.signatures.json
  SPECS/php/php.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs

fix: ephemeral-disk-warning service not running on boot (#9027)
  SPECS/azurelinux-release/90-default.preset
  SPECS/azurelinux-release/azurelinux-release.signatures.json
  SPECS/azurelinux-release/azurelinux-release.spec
Owners: @microsoft/cbl-mariner-devs

Image Customizer: Warn on low free disk space. (#9056)
  toolkit/tools/pkg/imagecustomizerlib/customizeutils.go
  toolkit/tools/pkg/imagecustomizerlib/imagecustomizer.go
Owners: @microsoft/cbl-mariner-imagecustomizer

PTest Fix for python-editables (#9052)
  SPECS/python-editables/python-editables.spec
Owners: @microsoft/cbl-mariner-devs

Enable CONFIG_IGC module (#8956)
  SPECS-SIGNED/kernel-signed/kernel-signed.spec
  SPECS/kernel-headers/kernel-headers.spec
  SPECS/kernel/config
  SPECS/kernel/config_aarch64
  SPECS/kernel/kernel.signatures.json
  SPECS/kernel/kernel.spec
  toolkit/resources/manifests/package/pkggen_core_aarch64.txt
  toolkit/resources/manifests/package/pkggen_core_x86_64.txt
  toolkit/resources/manifests/package/toolchain_aarch64.txt
  toolkit/resources/manifests/package/toolchain_x86_64.txt
Owners: @microsoft/cbl-mariner-kernel, @microsoft/cbl-mariner-toolchain

keda: upgrade from 2.4.0 to 2.14.0 (#9018)
  SPECS/keda/keda.signatures.json
  SPECS/keda/keda.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs

refactor graphanalytics (#9031)
  toolkit/tools/graphanalytics/graphanalytics.go
  toolkit/tools/pkg/graphanalytics/graphanalytics.go
Owners: @microsoft/cbl-mariner-tooling

sgx-backwards-compatibility: rename package to fix typo (#9017)
  .github/workflows/validate-cg-manifest.sh
  LICENSES-AND-NOTICES/SPECS/LICENSES-MAP.md
  LICENSES-AND-NOTICES/SPECS/data/licenses.json
  SPECS/sgx-backwards-compatability/sgx-backwards-compatability.signatures.json
  SPECS/sgx-backwards-compatibility/99-sgx-backwards-compatibility.rules
  SPECS/sgx-backwards-compatibility/LICENSE
  SPECS/sgx-backwards-compatibility/sgx-backwards-compatibility.signatures.json
  SPECS/sgx-backwards-compatibility/sgx-backwards-compatibility.spec
  toolkit/imageconfigs/packagelists/azurevm-packages.json
Owners: @microsoft/cbl-mariner-devs

Image Customizer: Improve package install error messages. (#9033)
  toolkit/tools/pkg/imagecustomizerlib/customizepackages.go
  toolkit/tools/pkg/imagecustomizerlib/testdata/install-package-disk-space.yaml
Owners: @microsoft/cbl-mariner-imagecustomizer

openssl-pkcs11 -- update to 0.4.12 (#9067)
  SPECS/openssl-pkcs11/openssl-pkcs11-0.4.10-add-support-pin-source.patch
  SPECS/openssl-pkcs11/openssl-pkcs11-0.4.10-search-objects-in-all-matching-tokens.patch
  SPECS/openssl-pkcs11/openssl-pkcs11-0.4.10-set-rsa-fips-method-flag.patch
  SPECS/openssl-pkcs11/openssl-pkcs11-0.4.10-set-rsa-flag-ext-pkey.patch
  SPECS/openssl-pkcs11/openssl-pkcs11-0.4.10-various-bug-fixes.patch
  SPECS/openssl-pkcs11/openssl-pkcs11-ec-copy.patch
  SPECS/openssl-pkcs11/openssl-pkcs11-ossl3.patch
  SPECS/openssl-pkcs11/openssl-pkcs11.signatures.json
  SPECS/openssl-pkcs11/openssl-pkcs11.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs

.github/CODEOWNERS:

# By default, all files require a review by at least one member of the Azure Linux developers team.
# See teams here: https://github.com/orgs/microsoft/teams?query=mariner
* @microsoft/cbl-mariner-devs

# Modification to this file require admin approval.
/.github/CODEOWNERS @microsoft/cbl-mariner-admins

# Modifications to the build pipelines require admin approval.
/.pipelines/* @microsoft/cbl-mariner-admins

# Modifications to the CredScan exceptions require admin approval.
/.config/CredScanSuppressions.json @microsoft/cbl-mariner-admins

# Modification to what is considered "core packages" require admin approval.
/SPECS/core-packages/* @microsoft/cbl-mariner-admins

# Modification to specific packages go to specific teams
/SPECS/kernel/* @microsoft/cbl-mariner-kernel
/SPECS/kernel-headers/* @microsoft/cbl-mariner-kernel
/SPECS/kernel-mshv/* @microsoft/cbl-mariner-kata-containers
/SPECS/kernel-uvm/* @microsoft/cbl-mariner-kata-containers
/SPECS-SIGNED/kernel-signed/* @microsoft/cbl-mariner-kernel
/SPECS-SIGNED/kernel-mstflint-signed/* @microsoft/cbl-mariner-kernel

/SPECS/grub2/* @microsoft/cbl-mariner-bootloader
/SPECS/grubby/* @microsoft/cbl-mariner-bootloader
/SPECS/shim/* @microsoft/cbl-mariner-bootloader
/SPECS/shim-unsigned/* @microsoft/cbl-mariner-bootloader
/SPECS/shim-unsigned-x64/* @microsoft/cbl-mariner-bootloader
/SPECS/shim-unsigned-aarch64/* @microsoft/cbl-mariner-bootloader
/SPECS-SIGNED/grub2-efi-binary-signed/* @microsoft/cbl-mariner-bootloader

/SPECS/dracut/* @microsoft/cbl-mariner-dracut
/SPECS/initramfs/* @microsoft/cbl-mariner-dracut
/SPECS/verity-read-only-root/* @microsoft/cbl-mariner-dracut

/SPECS/systemd/* @microsoft/cbl-mariner-systemd

/SPECS/bcc/* @microsoft/cbl-mariner-debug-tools
/SPECS/bpftrace/* @microsoft/cbl-mariner-debug-tools
/SPECS/crash/* @microsoft/cbl-mariner-debug-tools
/SPECS/gdb/* @microsoft/cbl-mariner-debug-tools
/SPECS/kexec-tools/* @microsoft/cbl-mariner-debug-tools

/SPECS/openssl/* @microsoft/cbl-mariner-openssl
/SPECS/SymCrypt-OpenSSL/* @microsoft/cbl-mariner-openssl
/SPECS/SymCrypt/* @microsoft/cbl-mariner-openssl

/SPECS/dnf/* @microsoft/cbl-mariner-package-managers
/SPECS/dnf-plugins-core/* @microsoft/cbl-mariner-package-managers
/SPECS/rpm/* @microsoft/cbl-mariner-package-managers
/SPECS/tdnf/* @microsoft/cbl-mariner-package-managers

/SPECS/containerd/* @microsoft/cbl-mariner-container-runtime
/SPECS/docker-buildx/* @microsoft/cbl-mariner-container-runtime
/SPECS/docker-cli/* @microsoft/cbl-mariner-container-runtime
/SPECS/kata-containers/* @microsoft/cbl-mariner-kata-containers
/SPECS/kata-containers-cc/* @microsoft/cbl-mariner-kata-containers
/SPECS/moby-containerd-cc/* @microsoft/cbl-mariner-kata-containers
/SPECS/moby-engine/* @microsoft/cbl-mariner-container-runtime
/SPECS/runc/* @microsoft/cbl-mariner-container-runtime
/SPECS/virtiofsd/* @microsoft/cbl-mariner-kata-containers

/SPECS/cloud-hypervisor/* @microsoft/cbl-mariner-virtualization
/SPECS/hvloader/* @microsoft/cbl-mariner-kata-containers

/SPECS/cloud-init/* @microsoft/cbl-mariner-provisioning
/SPECS/walinuxagent/* @microsoft/cbl-mariner-provisioning

# Modifications to the toolkit requires reviews from the toolkit team
/toolkit/ @microsoft/cbl-mariner-tooling

# Docs to be reviewed by general Azure Linux devs
/toolkit/docs/ @microsoft/cbl-mariner-devs

# Default image configurations to be reviewed by general Azure Linux devs
/toolkit/imageconfigs/ @microsoft/cbl-mariner-devs

# Package and toolchain manifests to be reviewed by toolchain team
/toolkit/resources/manifests/package/pkggen_core_aarch64.txt @microsoft/cbl-mariner-toolchain
/toolkit/resources/manifests/package/pkggen_core_x86_64.txt @microsoft/cbl-mariner-toolchain
/toolkit/resources/manifests/package/toolchain_aarch64.txt @microsoft/cbl-mariner-toolchain
/toolkit/resources/manifests/package/toolchain_x86_64.txt @microsoft/cbl-mariner-toolchain

# Modifications to the raw toolchain require admin approval.
/toolkit/scripts/toolchain/container/* @microsoft/cbl-mariner-admins
/toolkit/scripts/toolchain/cgmanifest.json @microsoft/cbl-mariner-admins
/toolkit/scripts/toolchain/create_toolchain_in_container.sh @microsoft/cbl-mariner-admins

# Image Customizer
/toolkit/tools/imagecustomizer/ @microsoft/cbl-mariner-imagecustomizer
/toolkit/tools/imagecustomizerapi/ @microsoft/cbl-mariner-imagecustomizer
/toolkit/tools/osmodifier @microsoft/cbl-mariner-imagecustomizer
/toolkit/tools/pkg/imagecustomizerlib/ @microsoft/cbl-mariner-imagecustomizer
/toolkit/tools/pkg/osmodifierlib @microsoft/cbl-mariner-imagecustomizer
