Repository microsoft/azurelinux, changes with the owners that .github/CODEOWNERS names for each.
All owners: @microsoft/cbl-mariner-stable-maintainers, @microsoft/cbl-mariner-admins, @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-imagecustomizer

.github/CODEOWNERS:

# For stable release branches, ensure stable release maintainers are added as code reviewers
* @microsoft/cbl-mariner-stable-maintainers

# Modification to this file require admin approval.
/.github/CODEOWNERS @microsoft/cbl-mariner-admins

# Modifications to the build pipelines require admin approval.
/.pipelines/* @microsoft/cbl-mariner-admins

# Modifications to the CredScan exceptions require admin approval.
/.config/CredScanSuppressions.json @microsoft/cbl-mariner-admins

/SPECS-EXTENDED/ @microsoft/cbl-mariner-devs

# Image Customizer
/toolkit/tools/imagecustomizer/ @microsoft/cbl-mariner-imagecustomizer
/toolkit/tools/imagecustomizerapi/ @microsoft/cbl-mariner-imagecustomizer
/toolkit/tools/osmodifier @microsoft/cbl-mariner-imagecustomizer
/toolkit/tools/pkg/imagecustomizerlib/ @microsoft/cbl-mariner-imagecustomizer
/toolkit/tools/pkg/osmodifierlib @microsoft/cbl-mariner-imagecustomizer
/toolkit/scripts/build_tag_imagecustomizer.mk @microsoft/cbl-mariner-imagecustomizer

remove encrypted files
  SPECS/perl/perl.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

remove encrypted test files
  SPECS/perl/perl.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

fix MANIFEST path
  SPECS/perl/perl.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

bump the release
  SPECS/kubevirt/kubevirt.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

patch edk2 for CVE-2024-38796
  SPECS/edk2/CVE-2024-38796.patch
  SPECS/edk2/edk2.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Bump release for consistency with edk2 spec
  SPECS-SIGNED/edk2-hvloader-signed/edk2-hvloader-signed.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Updated URL
  SPECS/edk2/edk2.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

[3.0] Fix Patch Application for `skopeo` (#13340)
  SPECS/skopeo/skopeo.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Test patch
  SPECS/nvidia-container-toolkit/0001-Test-patch.patch
  SPECS/nvidia-container-toolkit/nvidia-container-toolkit.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

[3.0] Fix Patch Application for `nvidia-container-toolkit` (#13345)
  SPECS/nvidia-container-toolkit/nvidia-container-toolkit.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

python3: Address CVE-2023-43804 and CVE-2024-37891 with a patch
  SPECS/python3/CVE-2023-43804.patch
  SPECS/python3/CVE-2024-37891.patch
  SPECS/python3/python3.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Adding SRPM duplicates check. (#13315)
  .github/workflows/check-srpm-duplicates.yml
  toolkit/scripts/check_srpm_duplicates.py
Owners: @microsoft/cbl-mariner-stable-maintainers

Fix the spec file
  SPECS/python3/python3.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Updated patch
  SPECS/edk2/edk2.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Address CVE-2024-35255 and CVE-2025-27144
  SPECS/telegraf/CVE-2024-35255.patch
  SPECS/telegraf/CVE-2025-27144.patch
  SPECS/telegraf/telegraf.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Update SPECS/telegraf/telegraf.spec
  SPECS/telegraf/telegraf.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

update spec
  SPECS/telegraf/telegraf.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Address CVE-2024-35255
  SPECS/prometheus/CVE-2024-35255.patch
  SPECS/prometheus/prometheus.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Upgrade: libeasyfc version to 0.14.1
  SPECS-EXTENDED/libeasyfc/libeasyfc.signatures.json
  SPECS-EXTENDED/libeasyfc/libeasyfc.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-stable-maintainers

PR checks
  SPECS-EXTENDED/libeasyfc/libeasyfc.spec
Owners: @microsoft/cbl-mariner-devs

Updated source0
  SPECS-EXTENDED/libeasyfc/libeasyfc.spec
Owners: @microsoft/cbl-mariner-devs

Updated URL in spec
  SPECS-EXTENDED/libeasyfc/libeasyfc.spec
Owners: @microsoft/cbl-mariner-devs

patch for CVE-2025-29481
  SPECS/libbpf/CVE-2025-29481.patch
  SPECS/libbpf/libbpf.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

nodejs-nodemon: fix the license-map.md error
  LICENSES-AND-NOTICES/SPECS/LICENSES-MAP.md
  LICENSES-AND-NOTICES/SPECS/data/licenses.json
Owners: @microsoft/cbl-mariner-stable-maintainers

CVE-2025-29481
  SPECS/libbpf/CVE-2025-29481.patch
  SPECS/libbpf/libbpf.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

patch for CVE-2025-29481
  SPECS/dwarves/0001-btf-Remove-ftrace-filter.patch
  SPECS/dwarves/CVE-2025-29481.patch
  SPECS/dwarves/dwarves.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Upgrade gcr version to 3.41.1
  SPECS-EXTENDED/gcr/gcr.signatures.json
  SPECS-EXTENDED/gcr/gcr.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-stable-maintainers

edk2: patch for CVE-2024-6129, CVE-2024-2511, CVE-2024-4603
  SPECS-SIGNED/edk2-hvloader-signed/edk2-hvloader-signed.spec
  SPECS/edk2/CVE-2023-6129.patch
  SPECS/edk2/CVE-2024-2511.patch
  SPECS/edk2/CVE-2024-4603.patch
  SPECS/edk2/edk2.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

gcr: change the Source0
  SPECS-EXTENDED/gcr/gcr.spec
Owners: @microsoft/cbl-mariner-devs

gcr: change the libgcr-ui-3.so.1* to libgcr-ui-3.so.*
  SPECS-EXTENDED/gcr/gcr.spec
Owners: @microsoft/cbl-mariner-devs

shadow-utils: patch CVE-2023-4641
  SPECS/shadow-utils/CVE-2023-4641.patch
  SPECS/shadow-utils/shadow-utils.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

cgmanifest changes
  cgmanifest.json
Owners: @microsoft/cbl-mariner-stable-maintainers

finalize cgamnifest file
  SPECS/python-conda-libmamba-solver/python-conda-libmamba-solver.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-stable-maintainers

fix manifest files
  SPECS/conda/conda.spec
  toolkit/resources/manifests/package/pkggen_core_aarch64.txt
  toolkit/resources/manifests/package/pkggen_core_x86_64.txt
  toolkit/resources/manifests/package/toolchain_aarch64.txt
  toolkit/resources/manifests/package/toolchain_x86_64.txt
Owners: @microsoft/cbl-mariner-stable-maintainers

Add missing EOF for inline patch call.
  SPECS/flux/flux.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Fix, rather than suppress, warning.
  SPECS/flux/0001-libflux-unblock-build-by-allowing-warnings.patch
  SPECS/flux/fix-build-warnings.patch
  SPECS/flux/flux.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Fix test build error on arm64.
  SPECS/flux/fix-unsigned-char.patch
  SPECS/flux/flux.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

final package
  SPECS/python-conda-libmamba-solver/python-conda-libmamba-solver.spec
  SPECS/reproc/reproc.signatures.json
  SPECS/reproc/reproc.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-stable-maintainers

add license
  LICENSES-AND-NOTICES/SPECS/LICENSES-MAP.md
  LICENSES-AND-NOTICES/SPECS/data/licenses.json
Owners: @microsoft/cbl-mariner-stable-maintainers

bump spec
  SPECS/flux/flux.spec
Owners: @microsoft/cbl-mariner-stable-maintainers
