Repository microsoft/azurelinux, changes with the owners that .github/CODEOWNERS names for each.
All owners: @microsoft/cbl-mariner-stable-maintainers, @microsoft/cbl-mariner-admins, @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-tooling, @microsoft/cbl-mariner-imagecustomizer

update manifests for new tdnf version
  toolkit/resources/manifests/package/pkggen_core_aarch64.txt
  toolkit/resources/manifests/package/pkggen_core_x86_64.txt
  toolkit/resources/manifests/package/toolchain_aarch64.txt
  toolkit/resources/manifests/package/toolchain_x86_64.txt
Owners: @microsoft/cbl-mariner-stable-maintainers

update toolkit to allow snapshot configuration within an image or iso
  toolkit/Makefile
  toolkit/resources/imageconfigs/additionalfiles/iso_initrd/root/runliveinstaller
  toolkit/scripts/imggen.mk
  toolkit/scripts/pkggen.mk
  toolkit/tools/imager/imager.go
  toolkit/tools/internal/packagerepo/repocloner/rpmrepocloner/rpmrepocloner.go
  toolkit/tools/internal/tdnf/tdnf.go
  toolkit/tools/internal/tdnf/tdnf_test.go
  toolkit/tools/internal/tdnf/testdata/tdnf.conf
  toolkit/tools/isomaker/isomaker.go
  toolkit/tools/liveinstaller/liveinstaller.go
  toolkit/tools/pkg/isomakerlib/isomaker.go
Owners: @microsoft/cbl-mariner-tooling

use build type RelWithDebInfo to generate debug info with sources (#10611)
  SPECS/SymCrypt-OpenSSL/SymCrypt-OpenSSL.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

fix tdnf_test.go after rebase, missing }
  toolkit/tools/internal/tdnf/tdnf_test.go
Owners: @microsoft/cbl-mariner-tooling

Update cgmanifest downloadUrl, fork release published
  cgmanifest.json
Owners: @microsoft/cbl-mariner-stable-maintainers

Enable virtio console by default and build e1000 drivers as modules (#10604)
  SPECS-SIGNED/kernel-signed/kernel-signed.spec
  SPECS-SIGNED/kernel-uki-signed/kernel-uki-signed.spec
  SPECS/kernel-headers/kernel-headers.spec
  SPECS/kernel/config
  SPECS/kernel/kernel-uki.spec
  SPECS/kernel/kernel.signatures.json
  SPECS/kernel/kernel.spec
  toolkit/resources/manifests/package/pkggen_core_aarch64.txt
  toolkit/resources/manifests/package/pkggen_core_x86_64.txt
  toolkit/resources/manifests/package/toolchain_aarch64.txt
  toolkit/resources/manifests/package/toolchain_x86_64.txt
Owners: @microsoft/cbl-mariner-stable-maintainers

update function name
  toolkit/tools/pkg/imagecustomizerlib/cleanUpImage.go
  toolkit/tools/pkg/imagecustomizerlib/customizepackages.go
Owners: @microsoft/cbl-mariner-imagecustomizer

resolve libcxx CVE-2024-31852
  SPECS/libcxx/CVE-2024-31852.patch
  SPECS/libcxx/libcxx.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Initial work to remove epochs from package names.
  toolkit/tools/graphpkgfetcher/graphpkgfetcher.go
  toolkit/tools/internal/rpm/rpm.go
  toolkit/tools/internal/rpm/rpm_test.go
Owners: @microsoft/cbl-mariner-tooling

kernel-uki: remove usrmount from initrd (#10168)
  SPECS-SIGNED/kernel-signed/kernel-signed.spec
  SPECS-SIGNED/kernel-uki-signed/kernel-uki-signed.spec
  SPECS/kernel-headers/kernel-headers.spec
  SPECS/kernel/kernel-uki-dracut.conf
  SPECS/kernel/kernel-uki.signatures.json
  SPECS/kernel/kernel-uki.spec
  SPECS/kernel/kernel.spec
  toolkit/resources/manifests/package/pkggen_core_aarch64.txt
  toolkit/resources/manifests/package/pkggen_core_x86_64.txt
  toolkit/resources/manifests/package/toolchain_aarch64.txt
  toolkit/resources/manifests/package/toolchain_x86_64.txt
Owners: @microsoft/cbl-mariner-stable-maintainers

Dummy bump of other signed specs.
  SPECS-SIGNED/grub2-efi-binary-signed/grub2-efi-binary-signed.spec
  SPECS-SIGNED/systemd-boot-signed/systemd-boot-signed.spec
  SPECS/grub2/grub2.spec
  SPECS/systemd-bootstrap/systemd-bootstrap.spec
  SPECS/systemd/systemd.spec
  toolkit/resources/manifests/package/toolchain_aarch64.txt
  toolkit/resources/manifests/package/toolchain_x86_64.txt
Owners: @microsoft/cbl-mariner-stable-maintainers

feat: enable USB_TMC as module (#10006)
  SPECS-SIGNED/kernel-signed/kernel-signed.spec
  SPECS/kernel-headers/kernel-headers.spec
  SPECS/kernel/config
  SPECS/kernel/kernel.signatures.json
  SPECS/kernel/kernel.spec
  toolkit/resources/manifests/package/pkggen_core_aarch64.txt
  toolkit/resources/manifests/package/pkggen_core_x86_64.txt
  toolkit/resources/manifests/package/toolchain_aarch64.txt
  toolkit/resources/manifests/package/toolchain_x86_64.txt
Owners: @microsoft/cbl-mariner-stable-maintainers

[AUTOPATCHER-kernel] Kernel upgrade to version 5.15.165.1 - branch main (#10284)
  SPECS-SIGNED/kernel-azure-signed/kernel-azure-signed.spec
  SPECS-SIGNED/kernel-hci-signed/kernel-hci-signed.spec
  SPECS-SIGNED/kernel-signed/kernel-signed.spec
  SPECS/hyperv-daemons/hyperv-daemons.signatures.json
  SPECS/hyperv-daemons/hyperv-daemons.spec
  SPECS/kernel-azure/config
  SPECS/kernel-azure/config_aarch64
  SPECS/kernel-azure/kernel-azure.signatures.json
  SPECS/kernel-azure/kernel-azure.spec
  SPECS/kernel-hci/config
  SPECS/kernel-hci/kernel-hci.signatures.json
  SPECS/kernel-hci/kernel-hci.spec
  SPECS/kernel-headers/kernel-headers.signatures.json
  SPECS/kernel-headers/kernel-headers.spec
  SPECS/kernel/config
  SPECS/kernel/config_aarch64
  SPECS/kernel/kernel.signatures.json
  SPECS/kernel/kernel.spec
  cgmanifest.json
  toolkit/resources/manifests/package/pkggen_core_aarch64.txt
  toolkit/resources/manifests/package/pkggen_core_x86_64.txt
  toolkit/resources/manifests/package/toolchain_aarch64.txt
  toolkit/resources/manifests/package/toolchain_x86_64.txt
Owners: @microsoft/cbl-mariner-stable-maintainers

Dummy bump of other signed specs.
  SPECS-SIGNED/grub2-efi-binary-signed/grub2-efi-binary-signed.spec
  SPECS/grub2/grub2.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Reconstruct the doc addressing the comments.
  toolkit/tools/imagecustomizer/docs/configuration.md
  toolkit/tools/imagecustomizer/docs/verity-filesystem-layout-recommendations.md
Owners: @microsoft/cbl-mariner-imagecustomizer

add optional note to each repo-snapshot-time go parameter
  toolkit/tools/grapher/grapher.go
  toolkit/tools/graphpkgfetcher/graphpkgfetcher.go
  toolkit/tools/imagepkgfetcher/imagepkgfetcher.go
  toolkit/tools/imager/imager.go
  toolkit/tools/isomaker/isomaker.go
  toolkit/tools/liveinstaller/liveinstaller.go
Owners: @microsoft/cbl-mariner-tooling

Fix CVE-2024-47191 in oath-toolkit
  SPECS/oath-toolkit/CVE-2024-47191.patch
  SPECS/oath-toolkit/oath-toolkit.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Fix CVE-2024-47191 in oath-toolkit
  SPECS/oath-toolkit/CVE-2024-47191.patch
  SPECS/oath-toolkit/oath-toolkit.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Add content to patch file
  SPECS/oath-toolkit/CVE-2024-47191.patch
Owners: @microsoft/cbl-mariner-stable-maintainers

Upgrade nvidia-container-toolkit to 1.16.2 Critical vulnerability CVE-2024-0132, Medium vulnerability CVE-2024-0133
  SPECS/nvidia-container-toolkit/nvidia-container-toolkit.signatures.json
  SPECS/nvidia-container-toolkit/nvidia-container-toolkit.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-stable-maintainers

Upgrade nvidia-container-toolkit to 1.16.2 Critical vulnerability CVE-2024-0132, Medium vulnerability CVE-2024-0133
  SPECS/nvidia-container-toolkit/nvidia-container-toolkit.signatures.json
  SPECS/nvidia-container-toolkit/nvidia-container-toolkit.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-stable-maintainers

Enable check section in python-platformdirs (#10591)
  SPECS/python-platformdirs/python-platformdirs.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Fix CVE-2023-46118 for rabbitmq-server
  SPECS/rabbitmq-server/generate-rabbitmq-server-tarball.sh
  SPECS/rabbitmq-server/rabbitmq-server.signatures.json
  SPECS/rabbitmq-server/rabbitmq-server.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-stable-maintainers

Prepare October 2024 Update (#10548)
  SPECS/mariner-release/mariner-release.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Address comment.
  toolkit/tools/imagecustomizer/docs/configuration.md
  toolkit/tools/imagecustomizer/docs/verity.md
Owners: @microsoft/cbl-mariner-imagecustomizer

Add REPO_SNAPSHOT_TIME to the toolkit for package and image build. (#10369)
  SPECS/tdnf/tdnf.spec
  SPECS/tdnf/virtual-repo-snapshot.patch
  toolkit/Makefile
  toolkit/resources/imageconfigs/additionalfiles/iso_initrd/root/runliveinstaller
  toolkit/resources/manifests/package/pkggen_core_aarch64.txt
  toolkit/resources/manifests/package/pkggen_core_x86_64.txt
  toolkit/resources/manifests/package/toolchain_aarch64.txt
  toolkit/resources/manifests/package/toolchain_x86_64.txt
  toolkit/scripts/imggen.mk
  toolkit/scripts/pkggen.mk
  toolkit/scripts/utils.mk
  toolkit/tools/grapher/grapher.go
  toolkit/tools/graphpkgfetcher/graphpkgfetcher.go
  toolkit/tools/imagepkgfetcher/imagepkgfetcher.go
  toolkit/tools/imager/imager.go
  toolkit/tools/internal/packagerepo/repocloner/rpmrepocloner/rpmrepocloner.go
  toolkit/tools/internal/tdnf/tdnf.go
  toolkit/tools/internal/tdnf/tdnf_test.go
  toolkit/tools/internal/tdnf/testdata/tdnf.conf
  toolkit/tools/isomaker/isomaker.go
  toolkit/tools/liveinstaller/liveinstaller.go
  toolkit/tools/pkg/isomakerlib/isomaker.go
Owners: @microsoft/cbl-mariner-stable-maintainers, @microsoft/cbl-mariner-tooling

libsolv: enable zstd support to match createrepo_c (#10345)
  SPECS/libsolv/libsolv.spec
  toolkit/resources/manifests/package/pkggen_core_aarch64.txt
  toolkit/resources/manifests/package/pkggen_core_x86_64.txt
  toolkit/resources/manifests/package/toolchain_aarch64.txt
  toolkit/resources/manifests/package/toolchain_x86_64.txt
  toolkit/scripts/toolchain/build_official_toolchain_rpms.sh
Owners: @microsoft/cbl-mariner-stable-maintainers, @microsoft/cbl-mariner-tooling

add patch to resolve CVE-2024-47611
  SPECS/xz/CVE-2024-47611.patch
  SPECS/xz/xz.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

[AUTO-CHERRYPICK] heimdal: Add backported patch for fixing CVE-2022-3116 - branch main (#10615)
  SPECS/heimdal/CVE-2022-3116.patch
  SPECS/heimdal/heimdal.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

[AUTO-CHERRYPICK] python3: Add patch for CVE-2024-4032 - branch main (#10620)
  SPECS/python3/CVE-2024-4032.patch
  SPECS/python3/python3.spec
  toolkit/resources/manifests/package/pkggen_core_aarch64.txt
  toolkit/resources/manifests/package/pkggen_core_x86_64.txt
  toolkit/resources/manifests/package/toolchain_aarch64.txt
  toolkit/resources/manifests/package/toolchain_x86_64.txt
Owners: @microsoft/cbl-mariner-stable-maintainers

Add azurelinux-repos back.
  toolkit/imageconfigs/packagelists/minimal-os-packages.json
Owners: @microsoft/cbl-mariner-stable-maintainers

minimal-os image definition. (#10520)
  toolkit/imageconfigs/minimal-os.json
  toolkit/imageconfigs/packagelists/minimal-os-packages.json
Owners: @microsoft/cbl-mariner-stable-maintainers

Updating the graphpkgfetcher.
  toolkit/tools/graphpkgfetcher/graphpkgfetcher.go
  toolkit/tools/internal/rpm/rpm.go
  toolkit/tools/internal/rpm/rpm_test.go
  toolkit/tools/precacher/precacher.go
Owners: @microsoft/cbl-mariner-tooling

Clean-up.
  toolkit/tools/internal/rpm/rpm_test.go
Owners: @microsoft/cbl-mariner-tooling

Adding logs.
  toolkit/tools/scheduler/schedulerutils/preparerequest.go
Owners: @microsoft/cbl-mariner-tooling

PR revisions 2
  toolkit/tools/pkg/imagecustomizerlib/cleanUpImage.go
  toolkit/tools/pkg/imagecustomizerlib/customizepackages.go
Owners: @microsoft/cbl-mariner-imagecustomizer

argument fix
  toolkit/tools/pkg/imagecustomizerlib/customizepackages.go
Owners: @microsoft/cbl-mariner-imagecustomizer

Fixing tests.
  toolkit/tools/internal/rpm/rpm_test.go
Owners: @microsoft/cbl-mariner-tooling

Fixing tests.
  toolkit/tools/internal/rpm/rpm_test.go
Owners: @microsoft/cbl-mariner-tooling

Adding more tests..
  toolkit/tools/internal/rpm/rpm_test.go
Owners: @microsoft/cbl-mariner-tooling

.github/CODEOWNERS:

# For stable release branches, ensure stable release maintainers are added as code reviewers
* @microsoft/cbl-mariner-stable-maintainers

# Modification to this file require admin approval.
/.github/CODEOWNERS @microsoft/cbl-mariner-admins

# Modifications to the build pipelines require admin approval.
/.pipelines/* @microsoft/cbl-mariner-admins

# Modifications to the CredScan exceptions require admin approval.
/.config/CredScanSuppressions.json @microsoft/cbl-mariner-admins

/SPECS-EXTENDED/ @microsoft/cbl-mariner-devs

# Modifications to the toolkit requires reviews from the toolkit team
/toolkit/ @microsoft/cbl-mariner-tooling

/toolkit/docs/ @microsoft/cbl-mariner-stable-maintainers

/toolkit/imageconfigs/ @microsoft/cbl-mariner-stable-maintainers

/toolkit/resources/manifests/package/pkggen_core_aarch64.txt @microsoft/cbl-mariner-stable-maintainers
/toolkit/resources/manifests/package/pkggen_core_x86_64.txt @microsoft/cbl-mariner-stable-maintainers
/toolkit/resources/manifests/package/toolchain_aarch64.txt @microsoft/cbl-mariner-stable-maintainers
/toolkit/resources/manifests/package/toolchain_x86_64.txt @microsoft/cbl-mariner-stable-maintainers

# Modifications to the raw toolchain require admin approval.
/toolkit/scripts/toolchain/container/* @microsoft/cbl-mariner-admins
/toolkit/scripts/toolchain/cgmanifest.json @microsoft/cbl-mariner-admins
/toolkit/scripts/toolchain/create_toolchain_in_container.sh @microsoft/cbl-mariner-admins

# Image Customizer
/toolkit/tools/imagecustomizer/ @microsoft/cbl-mariner-imagecustomizer
/toolkit/tools/imagecustomizerapi/ @microsoft/cbl-mariner-imagecustomizer
/toolkit/tools/osmodifier @microsoft/cbl-mariner-imagecustomizer
/toolkit/tools/pkg/imagecustomizerlib/ @microsoft/cbl-mariner-imagecustomizer
/toolkit/tools/pkg/osmodifierlib @microsoft/cbl-mariner-imagecustomizer
/toolkit/scripts/build_tag_imagecustomizer.mk @microsoft/cbl-mariner-imagecustomizer
