Repository microsoft/azurelinux, changes with the owners that .github/CODEOWNERS names for each.
All owners: @microsoft/cbl-mariner-stable-maintainers, @microsoft/cbl-mariner-admins, @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-imagecustomizer

.github/CODEOWNERS:

# For stable release branches, ensure stable release maintainers are added as code reviewers
* @microsoft/cbl-mariner-stable-maintainers

# Modification to this file require admin approval.
/.github/CODEOWNERS @microsoft/cbl-mariner-admins

# Modifications to the build pipelines require admin approval.
/.pipelines/* @microsoft/cbl-mariner-admins

# Modifications to the CredScan exceptions require admin approval.
/.config/CredScanSuppressions.json @microsoft/cbl-mariner-admins

/SPECS-EXTENDED/ @microsoft/cbl-mariner-devs

# Image Customizer
/toolkit/tools/imagecustomizer/ @microsoft/cbl-mariner-imagecustomizer
/toolkit/tools/imagecustomizerapi/ @microsoft/cbl-mariner-imagecustomizer
/toolkit/tools/osmodifier @microsoft/cbl-mariner-imagecustomizer
/toolkit/tools/pkg/imagecustomizerlib/ @microsoft/cbl-mariner-imagecustomizer
/toolkit/tools/pkg/osmodifierlib @microsoft/cbl-mariner-imagecustomizer
/toolkit/scripts/build_tag_imagecustomizer.mk @microsoft/cbl-mariner-imagecustomizer

patch perl cve
  SPECS/perl/CVE-2024-56406.patch
  SPECS/perl/perl.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Fixes build failure caused by javac source & target version 6 not being supported anymore
  SPECS-EXTENDED/regexp/regexp.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-stable-maintainers

modified spec file
  SPECS-EXTENDED/usbguard/usbguard.spec
Owners: @microsoft/cbl-mariner-devs

Adding SRPM duplicates check.
  .github/workflows/check-srpm-duplicates.yml
  toolkit/scripts/check_srpm_duplicates.py
Owners: @microsoft/cbl-mariner-stable-maintainers

Git checkout fix.
  .github/workflows/check-srpm-duplicates.yml
Owners: @microsoft/cbl-mariner-stable-maintainers

Clean-up.
  .github/workflows/check-srpm-duplicates.yml
Owners: @microsoft/cbl-mariner-stable-maintainers

Clean-up.
  .github/workflows/check-srpm-duplicates.yml
Owners: @microsoft/cbl-mariner-stable-maintainers

Upgrade: perl-Test-TrailingSpace version to 0.0601
  SPECS-EXTENDED/perl-Test-TrailingSpace/perl-Test-TrailingSpace.signatures.json
  SPECS-EXTENDED/perl-Test-TrailingSpace/perl-Test-TrailingSpace.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-stable-maintainers

Upgrade: perl-File-Find-Object-Rule version to 0.0313
  SPECS-EXTENDED/perl-File-Find-Object-Rule/perl-File-Find-Object-Rule.signatures.json
  SPECS-EXTENDED/perl-File-Find-Object-Rule/perl-File-Find-Object-Rule.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-stable-maintainers

modified spec
  SPECS-EXTENDED/usbguard/usbguard.spec
Owners: @microsoft/cbl-mariner-devs

fix manifests
  toolkit/resources/manifests/package/pkggen_core_aarch64.txt
  toolkit/resources/manifests/package/pkggen_core_x86_64.txt
  toolkit/resources/manifests/package/toolchain_aarch64.txt
  toolkit/resources/manifests/package/toolchain_x86_64.txt
Owners: @microsoft/cbl-mariner-stable-maintainers

Fix patch for applying in current reaper version
  SPECS/reaper/CVE-2024-12905.patch
Owners: @microsoft/cbl-mariner-stable-maintainers

Upgrade: perl-File-TreeCreate version to 0.0.1
  SPECS-EXTENDED/perl-File-TreeCreate/perl-File-TreeCreate.signatures.json
  SPECS-EXTENDED/perl-File-TreeCreate/perl-File-TreeCreate.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-stable-maintainers

Updating license files
  LICENSES-AND-NOTICES/SPECS/LICENSES-MAP.md
  LICENSES-AND-NOTICES/SPECS/data/licenses.json
Owners: @microsoft/cbl-mariner-stable-maintainers

foobar
  toolkit/foo
Owners: @microsoft/cbl-mariner-stable-maintainers

Build krb5 with ldap backend
  SPECS/krb5/krb5.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Changed openldap to openldap-devel
  SPECS/krb5/krb5.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Remove locale-gen.sh call from gawk ptest
  SPECS/gawk/gawk.spec
  toolkit/resources/manifests/package/pkggen_core_aarch64.txt
  toolkit/resources/manifests/package/pkggen_core_x86_64.txt
  toolkit/resources/manifests/package/toolchain_aarch64.txt
  toolkit/resources/manifests/package/toolchain_x86_64.txt
Owners: @microsoft/cbl-mariner-stable-maintainers

skip a couple more tests
  SPECS/gawk/gawk.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

TEMP: revert srelease bump to test binary diff
  SPECS/flux/flux.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Removing extra 'Release' tags.
  SPECS-SIGNED/knem-modules-signed/knem-modules-signed.spec
  SPECS-SIGNED/xpmem-modules-signed/xpmem-modules-signed.spec
  SPECS/knem/knem.spec
  SPECS/mlnx-ofa_kernel/mlnx-ofa_kernel.spec
  SPECS/xpmem/xpmem.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

add some comments and changelog update
  SPECS/python-toolz/python-toolz.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Fix CVE-2024-40635 for moby-containerd with an upstream patch
  SPECS/moby-containerd/CVE-2024-40635.patch
  SPECS/moby-containerd/moby-containerd.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Revert "[High][2.0] Resolve cri-o CVE-2025-21614"
  SPECS/cri-o/CVE-2025-21614.patch
  SPECS/cri-o/cri-o.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Patch cmake for CVE-2024-48615 [High] (#13286)
  SPECS/cmake/CVE-2024-48615.patch
  SPECS/cmake/cmake.spec
  toolkit/resources/manifests/package/toolchain_aarch64.txt
  toolkit/resources/manifests/package/toolchain_x86_64.txt
Owners: @microsoft/cbl-mariner-stable-maintainers

Upgrade etcd to 3.5.21 for CVE-2025-30204 [High] (#13197)
  SPECS/etcd/CVE-2023-45288.patch
  SPECS/etcd/CVE-2024-24786.patch
  SPECS/etcd/etcd.signatures.json
  SPECS/etcd/etcd.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-stable-maintainers

Patch coredns for CVE-2025-29786 [HIGH] (#13237)
  SPECS/coredns/CVE-2025-29786.patch
  SPECS/coredns/coredns.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Patch rabbitmq-server for CVE-2025-30219 [Medium] (#13200)
  SPECS/rabbitmq-server/CVE-2025-30219.patch
  SPECS/rabbitmq-server/rabbitmq-server.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Patch `cifs-utils` to address CVE-2025-2312 [Medium] (#13198)
  SPECS/cifs-utils/CVE-2025-2312.patch
  SPECS/cifs-utils/cifs-utils.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Patch grpc for CVE-2023-31130 [Medium] (#11977)
  SPECS/grpc/CVE-2023-31130.patch
  SPECS/grpc/grpc.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Patch augeas for CVE-2025-2588 [MEDIUM] (#13207)
  SPECS/augeas/CVE-2025-2588.patch
  SPECS/augeas/augeas.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

[Medium] Patch telegraf for CVE-2025-22870 and CVE-2024-51744 (#13245)
  SPECS/telegraf/CVE-2024-51744.patch
  SPECS/telegraf/CVE-2025-22870.patch
  SPECS/telegraf/telegraf.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Patch terraform for CVE-2023-48795 [Medium] (#13272)
  SPECS/terraform/CVE-2023-48795.patch
  SPECS/terraform/terraform.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Patch kubevirt for CVE-2023-48795 [Medium] (#13273)
  SPECS/kubevirt/CVE-2023-48795.patch
  SPECS/kubevirt/kubevirt.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Patch gdb to fix CVE-2022-48064 and CVE-2022-48065 [Medium] (#13261)
  SPECS/gdb/CVE-2022-48064.patch
  SPECS/gdb/CVE-2022-48065.patch
  SPECS/gdb/gdb.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Patch erlang for CVE-2025-30211 [High] (#13269)
  SPECS/erlang/CVE-2025-30211.patch
  SPECS/erlang/erlang.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Patch libarchive for CVE-2024-48615 [High] (#13287)
  SPECS/libarchive/CVE-2024-48615.patch
  SPECS/libarchive/libarchive.spec
  toolkit/resources/manifests/package/pkggen_core_aarch64.txt
  toolkit/resources/manifests/package/pkggen_core_x86_64.txt
  toolkit/resources/manifests/package/toolchain_aarch64.txt
  toolkit/resources/manifests/package/toolchain_x86_64.txt
Owners: @microsoft/cbl-mariner-stable-maintainers

[High][2.0] Resolve cri-o CVE-2025-21614 (#13293)
  SPECS/cri-o/CVE-2025-21614.patch
  SPECS/cri-o/cri-o.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Upgrades python-cheetah to version 3.2.6.post1
  SPECS-EXTENDED/python-cheetah/cheetah3-3.2.6.post1-framelocalsproxy.patch
  SPECS-EXTENDED/python-cheetah/cheetah3-3.2.6.post1-loadTestsFromModule.patch
  SPECS-EXTENDED/python-cheetah/cheetah3-3.2.6.post1-parse_qs.patch
  SPECS-EXTENDED/python-cheetah/cheetah3-3.2.6.post1-protect-cgi.patch
  SPECS-EXTENDED/python-cheetah/cheetah3-3.2.6.post1-typeerror.patch
  SPECS-EXTENDED/python-cheetah/python-cheetah.signatures.json
  SPECS-EXTENDED/python-cheetah/python-cheetah.spec
  SPECS-EXTENDED/python-cheetah/tox-no-basepython.patch
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-stable-maintainers

Corrected tar file name convention, placed test requires under with_check macro
  SPECS-EXTENDED/python-cheetah/python-cheetah.signatures.json
  SPECS-EXTENDED/python-cheetah/python-cheetah.spec
Owners: @microsoft/cbl-mariner-devs
