Repository microsoft/azurelinux, changes with the owners that .github/CODEOWNERS names for each.
All owners: @microsoft/cbl-mariner-stable-maintainers, @microsoft/cbl-mariner-admins, @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-imagecustomizer

.github/CODEOWNERS:

# For stable release branches, ensure stable release maintainers are added as code reviewers
* @microsoft/cbl-mariner-stable-maintainers

# Modification to this file require admin approval.
/.github/CODEOWNERS @microsoft/cbl-mariner-admins

# Modifications to the build pipelines require admin approval.
/.pipelines/* @microsoft/cbl-mariner-admins

# Modifications to the CredScan exceptions require admin approval.
/.config/CredScanSuppressions.json @microsoft/cbl-mariner-admins

/SPECS-EXTENDED/ @microsoft/cbl-mariner-devs

# Image Customizer
/toolkit/tools/imagecustomizer/ @microsoft/cbl-mariner-imagecustomizer
/toolkit/tools/imagecustomizerapi/ @microsoft/cbl-mariner-imagecustomizer
/toolkit/tools/osmodifier @microsoft/cbl-mariner-imagecustomizer
/toolkit/tools/pkg/imagecustomizerlib/ @microsoft/cbl-mariner-imagecustomizer
/toolkit/tools/pkg/osmodifierlib @microsoft/cbl-mariner-imagecustomizer
/toolkit/scripts/build_tag_imagecustomizer.mk @microsoft/cbl-mariner-imagecustomizer

Remove extraction command from build
  SPECS/keda/keda.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Fix License Check
  SPECS/blobfuse2/blobfuse2.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Updating license files
  LICENSES-AND-NOTICES/SPECS/LICENSES-MAP.md
  LICENSES-AND-NOTICES/SPECS/data/licenses.json
  SPECS-EXTENDED/xpp3/xpp3.spec
Owners: @microsoft/cbl-mariner-stable-maintainers, @microsoft/cbl-mariner-devs

Updating spec and signature file
  SPECS-EXTENDED/xpp3/xpp3.signatures.json
  SPECS-EXTENDED/xpp3/xpp3.spec
Owners: @microsoft/cbl-mariner-devs

xpp3: Fixed Build
  SPECS-EXTENDED/xpp3/xpp3-link-docs-locally.patch
  SPECS-EXTENDED/xpp3/xpp3-sourcetarget.patch
  SPECS-EXTENDED/xpp3/xpp3.signatures.json
  SPECS-EXTENDED/xpp3/xpp3.spec
Owners: @microsoft/cbl-mariner-devs

Patch ceph for CVE-2021-28361 [High]
  SPECS/ceph/CVE-2021-28361.patch
  SPECS/ceph/ceph.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Removed extraction command from prep
  SPECS/nvidia-container-toolkit/nvidia-container-toolkit.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Added file section
  SPECS-EXTENDED/python-genshi/python-genshi.spec
Owners: @microsoft/cbl-mariner-devs

Upgrade gcr version to 3.41.1
  SPECS-EXTENDED/gcr/gcr.signatures.json
  SPECS-EXTENDED/gcr/gcr.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-stable-maintainers

kernel: bump release of dependant packages
  SPECS-SIGNED/fwctl-signed/fwctl-signed.spec
  SPECS-SIGNED/iser-signed/iser-signed.spec
  SPECS-SIGNED/isert-signed/isert-signed.spec
  SPECS-SIGNED/kernel-64k-signed/kernel-64k-signed.spec
  SPECS-SIGNED/kernel-signed/kernel-signed.spec
  SPECS-SIGNED/kernel-uki-signed/kernel-uki-signed.spec
  SPECS-SIGNED/knem-modules-signed/knem-modules-signed.spec
  SPECS-SIGNED/mft_kernel-signed/mft_kernel-signed.spec
  SPECS-SIGNED/mlnx-nfsrdma-signed/mlnx-nfsrdma-signed.spec
  SPECS-SIGNED/mlnx-ofa_kernel-modules-signed/mlnx-ofa_kernel-modules-signed.spec
  SPECS-SIGNED/srp-signed/srp-signed.spec
  SPECS-SIGNED/xpmem-modules-signed/xpmem-modules-signed.spec
  SPECS/fwctl/fwctl.spec
  SPECS/hyperv-daemons/hyperv-daemons.spec
  SPECS/iser/iser.spec
  SPECS/isert/isert.spec
  SPECS/kernel-64k/kernel-64k.spec
  SPECS/kernel-headers/kernel-headers.spec
  SPECS/kernel/kernel-uki.spec
  SPECS/knem/knem.spec
  SPECS/mft_kernel/mft_kernel.spec
  SPECS/mlnx-nfsrdma/mlnx-nfsrdma.spec
  SPECS/mlnx-ofa_kernel/mlnx-ofa_kernel.spec
  SPECS/srp/srp.spec
  SPECS/xpmem/xpmem.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

kernel: add changelog
  SPECS/kernel/kernel.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

kernel: manifests: update entry
  toolkit/resources/manifests/package/pkggen_core_aarch64.txt
  toolkit/resources/manifests/package/pkggen_core_x86_64.txt
  toolkit/resources/manifests/package/toolchain_aarch64.txt
  toolkit/resources/manifests/package/toolchain_x86_64.txt
Owners: @microsoft/cbl-mariner-stable-maintainers

kernel: update lask_know_kernel
  SPECS/fwctl/fwctl.spec
  SPECS/iser/iser.spec
  SPECS/isert/isert.spec
  SPECS/knem/knem.spec
  SPECS/mft_kernel/mft_kernel.spec
  SPECS/mlnx-nfsrdma/mlnx-nfsrdma.spec
  SPECS/mlnx-ofa_kernel/mlnx-ofa_kernel.spec
  SPECS/srp/srp.spec
  SPECS/xpmem/xpmem.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Fix extraction command in prep
  SPECS/etcd/etcd.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

patch clang for CVE-2024-7883
  SPECS/clang/CVE-2024-7883.patch
  SPECS/clang/clang.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Use only autosetup
  SPECS/prometheus-node-exporter/prometheus-node-exporter.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Fix prep
  SPECS/prometheus-process-exporter/prometheus-process-exporter.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

corrected the url in manifest file
  cgmanifest.json
Owners: @microsoft/cbl-mariner-stable-maintainers

Updated ledmon to version 1.1.0
  SPECS-EXTENDED/ledmon/ledmon.signatures.json
  SPECS-EXTENDED/ledmon/ledmon.spec
  SPECS-EXTENDED/ledmon/ledmon_cflags.patch
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-stable-maintainers

Add containerd 2 into core-packages-image.json
  toolkit/imageconfigs/packagelists/core-packages-image.json
Owners: @microsoft/cbl-mariner-stable-maintainers

testing changes
  SPECS/http-parser/http-parser.component.toml
  toolkit/scripts/vendor_tools/build_vendor_files.py
  toolkit/scripts/vendor_tools/common.sh
Owners: @microsoft/cbl-mariner-stable-maintainers

check if git url is passed
  toolkit/scripts/vendor_tools/build_vendor_files.py
Owners: @microsoft/cbl-mariner-stable-maintainers

libsepol: Install chkcon tool in libsepol-devel. (#13275)
  SPECS/libsepol/libsepol.spec
  toolkit/resources/manifests/package/pkggen_core_aarch64.txt
  toolkit/resources/manifests/package/pkggen_core_x86_64.txt
  toolkit/resources/manifests/package/toolchain_aarch64.txt
  toolkit/resources/manifests/package/toolchain_x86_64.txt
Owners: @microsoft/cbl-mariner-stable-maintainers

Add a post and postun for mariadb-connector-c, ensuring ldconfig is run
  SPECS/mariadb-connector-c/mariadb-connector-c.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

(security) golang: bump Go version to 1.24.2-1 (#13254)
  SPECS/golang/golang.signatures.json
  SPECS/golang/golang.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-stable-maintainers

(security) golang: bump Go version to 1.23.8-1 (#13253)
  SPECS/golang/golang-1.23.signatures.json
  SPECS/golang/golang-1.23.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-stable-maintainers

Patch moby-containerd-cc for CVE-2025-27144 [Medium] (#13306)
  SPECS/moby-containerd-cc/CVE-2025-27144.patch
  SPECS/moby-containerd-cc/moby-containerd-cc.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Patch moby-containerd-cc for CVE-2025-27144 [Medium] (#13305)
  SPECS/moby-containerd-cc/CVE-2025-27144.patch
  SPECS/moby-containerd-cc/moby-containerd-cc.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

selinux-policy: Add fix for gpg-agent use in rpm scripts for watching root's secrets dir (#13289)
  SPECS/selinux-policy/0041-rpm-Allow-gpg-agent-run-in-rpm-scripts-to-watch-secr.patch
  SPECS/selinux-policy/selinux-policy.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

move the comment
  SPECS/ceph/ceph.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

[High] Patch qemu for CVE-2023-1544, CVE-2023-2861 (#13328)
  SPECS/qemu/CVE-2023-1544.patch
  SPECS/qemu/CVE-2023-2861.patch
  SPECS/qemu/qemu.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

[High] Patch qemu for CVE-2023-1544, CVE-2023-2861 (#13328)
  SPECS/qemu/CVE-2023-1544.patch
  SPECS/qemu/CVE-2023-2861.patch
  SPECS/qemu/qemu.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Patch reaper for CVE-2024-12905 [HIGH] (#13270)
  SPECS/reaper/CVE-2024-12905.patch
  SPECS/reaper/reaper.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

[Low] Patch dcos-cli for CVE-2024-51744 (#12908)
  SPECS/dcos-cli/CVE-2024-51744.patch
  SPECS/dcos-cli/dcos-cli.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

[Low] patch bpftrace for CVE-2024-2313 (#12999)
  SPECS/bpftrace/CVE-2024-2313.patch
  SPECS/bpftrace/bpftrace.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

[Low] patch libtiff for CVE-2023-6228 (#13000)
  SPECS/libtiff/CVE-2023-6228.patch
  SPECS/libtiff/libtiff.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

[Low] Patch prometheus for CVE-2024-51744 (#13050)
  SPECS/prometheus/CVE-2024-51744.patch
  SPECS/prometheus/prometheus.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

[Low]patch jx for CVE-2024-51744 (#13051)
  SPECS/jx/CVE-2024-51744.patch
  SPECS/jx/jx.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

[LOW] Patch rook to fix CVE-2024-51744 (#13054)
  SPECS/rook/CVE-2024-51744.patch
  SPECS/rook/rook.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Patch reaper for CVE-2024-12905 [HIGH] (#13270)
  SPECS/reaper/CVE-2024-12905.patch
  SPECS/reaper/reaper.spec
Owners: @microsoft/cbl-mariner-stable-maintainers
