Repository microsoft/azurelinux, changes with the owners that .github/CODEOWNERS names for each.
All owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-admins, @microsoft/cbl-mariner-kernel, @microsoft/cbl-mariner-kata-containers, @microsoft/cbl-mariner-bootloader, @microsoft/cbl-mariner-dracut, @microsoft/cbl-mariner-systemd, @microsoft/cbl-mariner-debug-tools, @microsoft/cbl-mariner-openssl, @microsoft/cbl-mariner-package-managers, @microsoft/cbl-mariner-container-runtime, @microsoft/cbl-mariner-virtualization, @microsoft/cbl-mariner-provisioning, @microsoft/cbl-mariner-tooling, @microsoft/cbl-mariner-toolchain, @microsoft/cbl-mariner-imagecustomizer

Image Customizer: Functional tests boilerplate. (#8736)
  toolkit/tools/pkg/imagecustomizerlib/customizepartitions_test.go
  toolkit/tools/pkg/imagecustomizerlib/imagecustomizer_test.go
  toolkit/tools/pkg/imagecustomizerlib/imageutils.go
  toolkit/tools/pkg/imagecustomizerlib/main_test.go
Owners: @microsoft/cbl-mariner-imagecustomizer

Revert "[3.0] dhcp/dhclient.conf: add option rfc3442-classless-static… (#8713)
  SPECS/dhcp/dhcp.spec
Owners: @microsoft/cbl-mariner-devs

Upgrade libnbd to 1.18.3 stable (#8511)
  SPECS/libnbd/CVE-2023-5215.patch
  SPECS/libnbd/libnbd.signatures.json
  SPECS/libnbd/libnbd.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs

Revert "opentofu: add new package opentofu v1.6.2 (#8654)"
  LICENSES-AND-NOTICES/SPECS/LICENSES-MAP.md
  LICENSES-AND-NOTICES/SPECS/data/licenses.json
  SPECS/opentofu/generate_source_tarball.sh
  SPECS/opentofu/opentofu.signatures.json
  SPECS/opentofu/opentofu.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs

Image Customizer: Support disk size suffixes. (#8708)
  toolkit/tools/imagecustomizer/docs/configuration.md
  toolkit/tools/imagecustomizerapi/config_test.go
  toolkit/tools/imagecustomizerapi/disk.go
  toolkit/tools/imagecustomizerapi/disk_test.go
  toolkit/tools/imagecustomizerapi/disksize.go
  toolkit/tools/imagecustomizerapi/disksize_test.go
  toolkit/tools/imagecustomizerapi/partition.go
  toolkit/tools/imagecustomizerapi/partition_test.go
  toolkit/tools/imagecustomizerapi/storage_test.go
  toolkit/tools/pkg/imagecustomizerlib/imagecustomizer_test.go
  toolkit/tools/pkg/imagecustomizerlib/testdata/legacyboot-config.yaml
  toolkit/tools/pkg/imagecustomizerlib/testdata/mshvkernel-config.yaml
  toolkit/tools/pkg/imagecustomizerlib/testdata/partitions-config.yaml
  toolkit/tools/pkg/imagecustomizerlib/testdata/verity-config.yaml
  toolkit/tools/pkg/imagecustomizerlib/typeConversion.go
Owners: @microsoft/cbl-mariner-imagecustomizer

Upgrade python-nose2 for AzL 3.0 (#8706)
  SPECS/python-nose2/pyproject-use-flit-core.patch
  SPECS/python-nose2/python-nose2.signatures.json
  SPECS/python-nose2/python-nose2.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs

azurelinux-sysinfo: policies to work with SELinux enforcing mode (#8733)
  SPECS/azurelinux-sysinfo/azurelinux-sysinfo.signatures.json
  SPECS/azurelinux-sysinfo/azurelinux-sysinfo.spec
  SPECS/azurelinux-sysinfo/sysinfo-selinuxpolicies.cil
Owners: @microsoft/cbl-mariner-devs

pcsc-lite: fix build break (#8823)
  SPECS/pcsc-lite/pcsc-lite.spec
Owners: @microsoft/cbl-mariner-devs

functionality to add image-id file in etc dir (#8821)
  toolkit/scripts/imggen.mk
  toolkit/tools/go.mod
  toolkit/tools/imagegen/installutils/installutils.go
  toolkit/tools/imagegen/installutils/installutils_test.go
  toolkit/tools/imager/imager.go
Owners: @microsoft/cbl-mariner-tooling

Remove pcre from toolchain, libcap-ng: update to 0.8.4, swig: update to 4.2.1 (#8761)
  SPECS/glib/glib.spec
  SPECS/libcap-ng/libcap-ng-0.8.5-python-exception.patch
  SPECS/libcap-ng/libcap-ng.signatures.json
  SPECS/libcap-ng/libcap-ng.spec
  SPECS/libselinux/libselinux.spec
  SPECS/swig/swig-java-Suppress-System.runFinalization-removal-warning.patch
  SPECS/swig/swig.signatures.json
  SPECS/swig/swig.spec
  cgmanifest.json
  toolkit/resources/manifests/package/pkggen_core_aarch64.txt
  toolkit/resources/manifests/package/pkggen_core_x86_64.txt
  toolkit/resources/manifests/package/toolchain_aarch64.txt
  toolkit/resources/manifests/package/toolchain_x86_64.txt
  toolkit/scripts/toolchain/build_official_toolchain_rpms.sh
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-toolchain, @microsoft/cbl-mariner-tooling

fix: move stopGPGAgent into safechroot to stop /dev from being left b… (#8807)
  toolkit/tools/imagegen/installutils/installutils.go
  toolkit/tools/internal/safechroot/safechroot.go
Owners: @microsoft/cbl-mariner-tooling

upgrade bpftrace to 0.20.3 and add patch for llvm18 support (#8837)
  SPECS/bpftrace/bpftrace-0.20-llvm18.patch
  SPECS/bpftrace/bpftrace.signatures.json
  SPECS/bpftrace/bpftrace.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-debug-tools, @microsoft/cbl-mariner-devs

toolkit: update package lists to include some needed packages
  toolkit/imageconfigs/packagelists/base-image-packages.json
  toolkit/imageconfigs/packagelists/cloud-init-packages.json
Owners: @microsoft/cbl-mariner-devs

increase timeout for "Check Package CGManifests" github check (#8786)
  .github/workflows/validate-cg-manifest.sh
Owners: @microsoft/cbl-mariner-devs

[3.0] Upgrade slf4j to v2.0.7 (#8739)
  SPECS/slf4j/build-remove-slf4j_api-binder.patch
  SPECS/slf4j/slf4j-commons-lang3.patch
  SPECS/slf4j/slf4j.signatures.json
  SPECS/slf4j/slf4j.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs

openssl: update patch so openssl optionally loads symcrypt provider (#8805)
  SPECS/openssl/0024-load-legacy-prov.patch
  SPECS/openssl/openssl.spec
  toolkit/resources/manifests/package/pkggen_core_aarch64.txt
  toolkit/resources/manifests/package/pkggen_core_x86_64.txt
  toolkit/resources/manifests/package/toolchain_aarch64.txt
  toolkit/resources/manifests/package/toolchain_x86_64.txt
Owners: @microsoft/cbl-mariner-openssl, @microsoft/cbl-mariner-toolchain

clamav: fix build break (#8824)
  SPECS/clamav/clamav.spec
Owners: @microsoft/cbl-mariner-devs

Image Customizer: Operation ordering + scripts refactor. (#8697)
  toolkit/tools/imagecustomizer/docs/configuration.md
  toolkit/tools/imagecustomizerapi/config.go
  toolkit/tools/imagecustomizerapi/os.go
  toolkit/tools/imagecustomizerapi/scripts.go
  toolkit/tools/imagegen/installutils/installutils.go
  toolkit/tools/pkg/imagecustomizerlib/customizeboot.go
  toolkit/tools/pkg/imagecustomizerlib/customizeoverlay.go
  toolkit/tools/pkg/imagecustomizerlib/customizepackages.go
  toolkit/tools/pkg/imagecustomizerlib/customizeutils.go
  toolkit/tools/pkg/imagecustomizerlib/customizeverity.go
  toolkit/tools/pkg/imagecustomizerlib/imagecustomizer.go
  toolkit/tools/pkg/imagecustomizerlib/imagecustomizer_test.go
  toolkit/tools/pkg/imagecustomizerlib/testdata/consume-space.yaml
  toolkit/tools/pkg/imagecustomizerlib/testdata/overlays-config.yaml
  toolkit/tools/pkg/imagecustomizerlib/testdata/runscripts-config.yaml
  toolkit/tools/pkg/imagecustomizerlib/testdata/scripts/finalizecustomizationscript.sh
  toolkit/tools/pkg/imagecustomizerlib/testdata/scripts/finalizeimagescript.sh
  toolkit/tools/pkg/imagecustomizerlib/testdata/scripts/postcustomizationscript.sh
  toolkit/tools/pkg/imagecustomizerlib/testdata/scripts/postinstallscript.sh
  toolkit/tools/pkg/imagecustomizerlib/testdata/verity-config.yaml
Owners: @microsoft/cbl-mariner-imagecustomizer, @microsoft/cbl-mariner-tooling

libreswan: fix build break (#8825)
  SPECS/libreswan/capng_apply.patch
  SPECS/libreswan/libreswan.spec
Owners: @microsoft/cbl-mariner-devs

Update SymCrypt-OpenSSL to 1.4.1 (#8826)
  SPECS/SymCrypt-OpenSSL/SymCrypt-OpenSSL.signatures.json
  SPECS/SymCrypt-OpenSSL/SymCrypt-OpenSSL.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-openssl, @microsoft/cbl-mariner-devs

base container builder image (#8769)
  .pipelines/containerSourceData/base/Dockerfile-Base-Nonroot-Template
  .pipelines/containerSourceData/base/Dockerfile-Base-Template
  .pipelines/containerSourceData/base/Dockerfile-Distroless-Nonroot-Template
  .pipelines/containerSourceData/base/Dockerfile-Distroless-Template
  .pipelines/containerSourceData/scripts/BuildBaseContainers.sh
  toolkit/imageconfigs/core-container-builder.json
  toolkit/imageconfigs/packagelists/core-container-builder-packages.json
Owners: @microsoft/cbl-mariner-devs

heimdal: fix build break (#8832)
  SPECS/heimdal/fixautoconf.patch
  SPECS/heimdal/heimdal.spec
Owners: @microsoft/cbl-mariner-devs

libgudev: Upgrade to version 238 (#7610)
  SPECS/libgudev/libgudev.signatures.json
  SPECS/libgudev/libgudev.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs

fix: add repoutils.FindCreateRepoCommand to flexibly use either creat… (#8813)
  toolkit/tools/internal/packagerepo/repomanager/rpmrepomanager/rpmrepomanager.go
  toolkit/tools/internal/packagerepo/repoutils/repoutils.go
Owners: @microsoft/cbl-mariner-tooling

Drop multilib-rpm-config (#8339)
  .github/workflows/validate-cg-manifest.sh
  LICENSES-AND-NOTICES/SPECS/LICENSES-MAP.md
  LICENSES-AND-NOTICES/SPECS/data/licenses.json
  SPECS/mariadb-connector-c/mariadb-connector-c.spec
  SPECS/multilib-rpm-config/COPYING
  SPECS/multilib-rpm-config/README
  SPECS/multilib-rpm-config/macros.ml
  SPECS/multilib-rpm-config/multilib-fix
  SPECS/multilib-rpm-config/multilib-info
  SPECS/multilib-rpm-config/multilib-library
  SPECS/multilib-rpm-config/multilib-rpm-config.signatures.json
  SPECS/multilib-rpm-config/multilib-rpm-config.spec
  SPECS/openblas/openblas.spec
Owners: @microsoft/cbl-mariner-devs

Add trace-cmd (#8796)
  LICENSES-AND-NOTICES/SPECS/LICENSES-MAP.md
  LICENSES-AND-NOTICES/SPECS/data/licenses.json
  SPECS/libtracecmd/libtracecmd.signatures.json
  SPECS/libtracecmd/libtracecmd.spec
  SPECS/libtracefs/libtracefs.signatures.json
  SPECS/libtracefs/libtracefs.spec
  SPECS/trace-cmd/98-trace-cmd.rules
  SPECS/trace-cmd/trace-cmd.conf
  SPECS/trace-cmd/trace-cmd.service
  SPECS/trace-cmd/trace-cmd.signatures.json
  SPECS/trace-cmd/trace-cmd.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs

ig: fix %check. (#8378)
  SPECS/ig/ig.spec
Owners: @microsoft/cbl-mariner-devs

ck: add package v7.2 (#8831)
  LICENSES-AND-NOTICES/SPECS/LICENSES-MAP.md
  LICENSES-AND-NOTICES/SPECS/data/licenses.json
  SPECS/ck/ck-nogettid.patch
  SPECS/ck/ck-register-constraint.patch
  SPECS/ck/ck-unit-sequence.patch
  SPECS/ck/ck-unit-time.patch
  SPECS/ck/ck.signatures.json
  SPECS/ck/ck.spec
  SPECS/ck/ck_disable_ck_hclh_test.patch
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs

Temporarily set selinux to permissive in the baremetal image to unblock tests (#8772)
  toolkit/imageconfigs/baremetal.json
Owners: @microsoft/cbl-mariner-devs

upgrade libaec to 1.1.3 (#8811)
  SPECS/libaec/libaec.signatures.json
  SPECS/libaec/libaec.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs

Demote openjade, docbook-style-dsssl to SPECS-EXTENDED (#8653)
  SPECS-EXTENDED/docbook-style-dsssl/LICENSE.PTR
  SPECS-EXTENDED/docbook-style-dsssl/docbook-style-dsssl.Makefile
  SPECS-EXTENDED/docbook-style-dsssl/docbook-style-dsssl.signatures.json
  SPECS-EXTENDED/docbook-style-dsssl/docbook-style-dsssl.spec
  SPECS-EXTENDED/openjade/config.guess
  SPECS-EXTENDED/openjade/config.sub
  SPECS-EXTENDED/openjade/openjade-1.3.1-nsl.patch
  SPECS-EXTENDED/openjade/openjade-1.3.2-gcc46.patch
  SPECS-EXTENDED/openjade/openjade-deplibs.patch
  SPECS-EXTENDED/openjade/openjade-getoptperl.patch
  SPECS-EXTENDED/openjade/openjade-nola.patch
  SPECS-EXTENDED/openjade/openjade-ppc64.patch
  SPECS-EXTENDED/openjade/openjade.signatures.json
  SPECS-EXTENDED/openjade/openjade.spec
  SPECS/freetds/freetds.spec
Owners: @microsoft/cbl-mariner-devs

Deprecate pcre, postfix: upgrade to 3.9.0 (#8808)
  .pipelines/containerSourceData/nodejs/distroless/holdback-nodejs18.pkg
  .pipelines/containerSourceData/prometheus/distroless/holdback-prometheus.pkg
  .pipelines/containerSourceData/prometheusadapter/distroless/holdback-prometheusadapter.pkg
  .pipelines/containerSourceData/python/distroless/holdback-python.pkg
  LICENSES-AND-NOTICES/SPECS/LICENSES-MAP.md
  LICENSES-AND-NOTICES/SPECS/data/licenses.json
  SPECS/pcre/pcre.signatures.json
  SPECS/pcre/pcre.spec
  SPECS/postfix/postfix-etc-init.d-postfix
  SPECS/postfix/postfix.aliasesdb
  SPECS/postfix/postfix.service
  SPECS/postfix/postfix.signatures.json
  SPECS/postfix/postfix.spec
  cgmanifest.json
  toolkit/resources/imageconfigs/packagelists/iso-initrd-packages-arm64.json
  toolkit/resources/imageconfigs/packagelists/iso-initrd-packages.json
  toolkit/resources/manifests/package/update_manifests.sh
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-tooling

grub2: update grub to sbat level 4
  SPECS-SIGNED/grub2-efi-binary-signed/grub2-efi-binary-signed.spec
  SPECS/grub2/grub2.signatures.json
  SPECS/grub2/grub2.spec
  SPECS/grub2/sbat-3-0001-font-Reject-glyphs-exceeds-font-max_glyph_width-or-f.patch
  SPECS/grub2/sbat-3-0004-font-Remove-grub_font_dup_glyph.patch
  SPECS/grub2/sbat-3-0005-font-Fix-integer-overflow-in-ensure_comb_space.patch
  SPECS/grub2/sbat-3-0006-font-Fix-integer-overflow-in-BMP-index.patch
  SPECS/grub2/sbat-3-0007-font-Fix-integer-underflow-in-binary-search-of-char-.patch
  SPECS/grub2/sbat-3-0008-kern-efi-sb-Enforce-verification-of-font-files.patch
  SPECS/grub2/sbat-3-0009-fbutil-Fix-integer-overflow.patch
  SPECS/grub2/sbat-3-0011-font-Harden-grub_font_blit_glyph-and-grub_font_blit_.patch
  SPECS/grub2/sbat-3-0012-font-Assign-null_font-to-glyphs-in-ascii_font_glyph.patch
  SPECS/grub2/sbat-3-0013-normal-charset-Fix-an-integer-overflow-in-grub_unico.patch
  SPECS/grub2/sbat-4-0001-fs-ntfs-Fix-an-OOB-write-when-parsing-the-ATTRIBUTE_.patch
  SPECS/grub2/sbat-4-0002-fs-ntfs-Fix-an-OOB-read-when-reading-data-from-the-r.patch
  SPECS/grub2/sbat-4-0003-fs-ntfs-Fix-an-OOB-read-when-parsing-directory-entri.patch
  SPECS/grub2/sbat-4-0004-fs-ntfs-Fix-an-OOB-read-when-parsing-bitmaps-for-ind.patch
  SPECS/grub2/sbat-4-0005-fs-ntfs-Fix-an-OOB-read-when-parsing-a-volume-label.patch
  SPECS/grub2/sbat-4-0006-fs-ntfs-Make-code-more-readable.patch
  SPECS/grub2/sbat.csv.in
Owners: @microsoft/cbl-mariner-bootloader

collectd: fix build break (#8827)
  SPECS/collectd/collectd.spec
  SPECS/collectd/fix_missing_longintrepr_header.patch
Owners: @microsoft/cbl-mariner-devs

Increase image disk size for baremetal and qemu-guest images to accommodate all packages. (#8817)
  toolkit/imageconfigs/baremetal.json
  toolkit/imageconfigs/qemu-guest.json
Owners: @microsoft/cbl-mariner-devs

Bump Azure Linux release version (#8829)
  SPECS/azurelinux-release/azurelinux-release.spec
Owners: @microsoft/cbl-mariner-devs

Remove libgsystem, ostree: update to 2024.5, rpm-ostree: update to 2024.4 (#8788)
  LICENSES-AND-NOTICES/SPECS/LICENSES-MAP.md
  LICENSES-AND-NOTICES/SPECS/data/licenses.json
  SPECS/libgsystem/libgsystem.signatures.json
  SPECS/libgsystem/libgsystem.spec
  SPECS/ostree/ostree.signatures.json
  SPECS/ostree/ostree.spec
  SPECS/rpm-ostree/0001-Revert-compose-Inject-our-static-tmpfiles.d-dropins-.patch
  SPECS/rpm-ostree/CVE-2022-31394.patch
  SPECS/rpm-ostree/CVE-2022-47085.patch
  SPECS/rpm-ostree/rpm-ostree-disable-selinux.patch
  SPECS/rpm-ostree/rpm-ostree-drop-lint-which-treats-warning-as-error.patch
  SPECS/rpm-ostree/rpm-ostree-libdnf-build.patch
  SPECS/rpm-ostree/rpm-ostree.signatures.json
  SPECS/rpm-ostree/rpm-ostree.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs

fix rubygem-fluentd and rubygem-addressable requirements (#8833)
  SPECS/rubygem-addressable/rubygem-addressable.spec
  SPECS/rubygem-fluentd/rubygem-fluentd.spec
Owners: @microsoft/cbl-mariner-devs

Fixing cascading rebuilds. (CP: #8777) (#8793)
  toolkit/tools/scheduler/schedulerutils/buildworker.go
  toolkit/tools/scheduler/schedulerutils/preparerequest.go
Owners: @microsoft/cbl-mariner-tooling

objectweb-asm: upgrade to 9.6 (#8711)
  SPECS/objectweb-asm/aggregator.pom
  SPECS/objectweb-asm/asm-9.6.pom
  SPECS/objectweb-asm/asm-all.pom
  SPECS/objectweb-asm/asm-analysis-9.6.pom
  SPECS/objectweb-asm/asm-commons-9.6.pom
  SPECS/objectweb-asm/asm-test-9.6.pom
  SPECS/objectweb-asm/asm-tree-9.6.pom
  SPECS/objectweb-asm/asm-util-9.6.pom
  SPECS/objectweb-asm/generate-tarball.sh
  SPECS/objectweb-asm/objectweb-asm.signatures.json
  SPECS/objectweb-asm/objectweb-asm.spec
  SPECS/objectweb-asm/tools-retrofitter.pom
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs

.github/CODEOWNERS:

# By default, all files require a review by at least one member of the Azure Linux developers team.
# See teams here: https://github.com/orgs/microsoft/teams?query=mariner
* @microsoft/cbl-mariner-devs

# Modification to this file require admin approval.
/.github/CODEOWNERS @microsoft/cbl-mariner-admins

# Modifications to the build pipelines require admin approval.
/.pipelines/* @microsoft/cbl-mariner-admins

# Modifications to the CredScan exceptions require admin approval.
/.config/CredScanSuppressions.json @microsoft/cbl-mariner-admins

# Modification to what is considered "core packages" require admin approval.
/SPECS/core-packages/* @microsoft/cbl-mariner-admins

# Modification to specific packages go to specific teams
/SPECS/kernel/* @microsoft/cbl-mariner-kernel
/SPECS/kernel-headers/* @microsoft/cbl-mariner-kernel
/SPECS/kernel-mshv/* @microsoft/cbl-mariner-kata-containers
/SPECS/kernel-uvm/* @microsoft/cbl-mariner-kata-containers
/SPECS-SIGNED/kernel-signed/* @microsoft/cbl-mariner-kernel
/SPECS-SIGNED/kernel-mstflint-signed/* @microsoft/cbl-mariner-kernel

/SPECS/grub2/* @microsoft/cbl-mariner-bootloader
/SPECS/grubby/* @microsoft/cbl-mariner-bootloader
/SPECS/shim/* @microsoft/cbl-mariner-bootloader
/SPECS/shim-unsigned/* @microsoft/cbl-mariner-bootloader
/SPECS/shim-unsigned-x64/* @microsoft/cbl-mariner-bootloader
/SPECS/shim-unsigned-aarch64/* @microsoft/cbl-mariner-bootloader
/SPECS-SIGNED/grub2-efi-binary-signed/* @microsoft/cbl-mariner-bootloader

/SPECS/dracut/* @microsoft/cbl-mariner-dracut
/SPECS/initramfs/* @microsoft/cbl-mariner-dracut
/SPECS/verity-read-only-root/* @microsoft/cbl-mariner-dracut

/SPECS/systemd/* @microsoft/cbl-mariner-systemd

/SPECS/bcc/* @microsoft/cbl-mariner-debug-tools
/SPECS/bpftrace/* @microsoft/cbl-mariner-debug-tools
/SPECS/crash/* @microsoft/cbl-mariner-debug-tools
/SPECS/gdb/* @microsoft/cbl-mariner-debug-tools
/SPECS/kexec-tools/* @microsoft/cbl-mariner-debug-tools

/SPECS/openssl/* @microsoft/cbl-mariner-openssl
/SPECS/SymCrypt-OpenSSL/* @microsoft/cbl-mariner-openssl
/SPECS/SymCrypt/* @microsoft/cbl-mariner-openssl

/SPECS/dnf/* @microsoft/cbl-mariner-package-managers
/SPECS/dnf-plugins-core/* @microsoft/cbl-mariner-package-managers
/SPECS/rpm/* @microsoft/cbl-mariner-package-managers
/SPECS/tdnf/* @microsoft/cbl-mariner-package-managers

/SPECS/containerd/* @microsoft/cbl-mariner-container-runtime
/SPECS/docker-buildx/* @microsoft/cbl-mariner-container-runtime
/SPECS/docker-cli/* @microsoft/cbl-mariner-container-runtime
/SPECS/kata-containers/* @microsoft/cbl-mariner-kata-containers
/SPECS/kata-containers-cc/* @microsoft/cbl-mariner-kata-containers
/SPECS/moby-containerd-cc/* @microsoft/cbl-mariner-kata-containers
/SPECS/moby-engine/* @microsoft/cbl-mariner-container-runtime
/SPECS/runc/* @microsoft/cbl-mariner-container-runtime
/SPECS/virtiofsd/* @microsoft/cbl-mariner-kata-containers

/SPECS/cloud-hypervisor/* @microsoft/cbl-mariner-virtualization
/SPECS/hvloader/* @microsoft/cbl-mariner-kata-containers

/SPECS/cloud-init/* @microsoft/cbl-mariner-provisioning
/SPECS/walinuxagent/* @microsoft/cbl-mariner-provisioning

# Modifications to the toolkit requires reviews from the toolkit team
/toolkit/ @microsoft/cbl-mariner-tooling

# Docs to be reviewed by general Azure Linux devs
/toolkit/docs/ @microsoft/cbl-mariner-devs

# Default image configurations to be reviewed by general Azure Linux devs
/toolkit/imageconfigs/ @microsoft/cbl-mariner-devs

# Package and toolchain manifests to be reviewed by toolchain team
/toolkit/resources/manifests/package/pkggen_core_aarch64.txt @microsoft/cbl-mariner-toolchain
/toolkit/resources/manifests/package/pkggen_core_x86_64.txt @microsoft/cbl-mariner-toolchain
/toolkit/resources/manifests/package/toolchain_aarch64.txt @microsoft/cbl-mariner-toolchain
/toolkit/resources/manifests/package/toolchain_x86_64.txt @microsoft/cbl-mariner-toolchain

# Modifications to the raw toolchain require admin approval.
/toolkit/scripts/toolchain/container/* @microsoft/cbl-mariner-admins
/toolkit/scripts/toolchain/cgmanifest.json @microsoft/cbl-mariner-admins
/toolkit/scripts/toolchain/create_toolchain_in_container.sh @microsoft/cbl-mariner-admins

# Image Customizer
/toolkit/tools/imagecustomizer/ @microsoft/cbl-mariner-imagecustomizer
/toolkit/tools/imagecustomizerapi/ @microsoft/cbl-mariner-imagecustomizer
/toolkit/tools/osmodifier @microsoft/cbl-mariner-imagecustomizer
/toolkit/tools/pkg/imagecustomizerlib/ @microsoft/cbl-mariner-imagecustomizer
/toolkit/tools/pkg/osmodifierlib @microsoft/cbl-mariner-imagecustomizer
