Repository microsoft/azurelinux, changes with the owners that .github/CODEOWNERS names for each.
All owners: @microsoft/cbl-mariner-stable-maintainers, @microsoft/cbl-mariner-admins, @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-imagecustomizer

.github/CODEOWNERS:

# For stable release branches, ensure stable release maintainers are added as code reviewers
* @microsoft/cbl-mariner-stable-maintainers

# Modification to this file require admin approval.
/.github/CODEOWNERS @microsoft/cbl-mariner-admins

# Modifications to the build pipelines require admin approval.
/.pipelines/* @microsoft/cbl-mariner-admins

# Modifications to the CredScan exceptions require admin approval.
/.config/CredScanSuppressions.json @microsoft/cbl-mariner-admins

/SPECS-EXTENDED/ @microsoft/cbl-mariner-devs

# Image Customizer
/toolkit/tools/imagecustomizer/ @microsoft/cbl-mariner-imagecustomizer
/toolkit/tools/imagecustomizerapi/ @microsoft/cbl-mariner-imagecustomizer
/toolkit/tools/osmodifier @microsoft/cbl-mariner-imagecustomizer
/toolkit/tools/pkg/imagecustomizerlib/ @microsoft/cbl-mariner-imagecustomizer
/toolkit/tools/pkg/osmodifierlib @microsoft/cbl-mariner-imagecustomizer
/toolkit/scripts/build_tag_imagecustomizer.mk @microsoft/cbl-mariner-imagecustomizer

Upgrade erlang to 26.2.5.11 for CVE-2025-32433 [CRITICAL] (#13458)
  SPECS/erlang/erlang.signatures.json
  SPECS/erlang/erlang.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-stable-maintainers

[Medium] Patch nodejs for CVE-2024-34064, CVE-2020-28493 (#12259)
  SPECS/nodejs/CVE-2020-28493.patch
  SPECS/nodejs/CVE-2024-34064.patch
  SPECS/nodejs/nodejs.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Patch prometheus for CVE-2024-35255 [Medium]. (#12686)
  SPECS/prometheus/CVE-2024-35255.patch
  SPECS/prometheus/prometheus.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

[Medium] Patch gnutls for CVE-2024-12243 (#12882)
  SPECS/gnutls/CVE-2024-12243.patch
  SPECS/gnutls/gnutls.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

[Low] Patch kubernetes for CVE-2024-51744 (#13072)
  SPECS/kubernetes/CVE-2024-51744.patch
  SPECS/kubernetes/kubernetes.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

[Medium] Patch haproxy for CVE-2025-32464 (#13398)
  SPECS/haproxy/CVE-2025-32464.patch
  SPECS/haproxy/haproxy.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Patch openssh for CVE-2025-32728 [MEDIUM] (#13451)
  SPECS/openssh/CVE-2025-32728.patch
  SPECS/openssh/openssh.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Patch telegraf for CVE-2025-30215 [CRITICAL] (#13457)
  SPECS/telegraf/CVE-2025-30215.patch
  SPECS/telegraf/telegraf.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Patch giflib for CVE-2025-31344 [HIGH] (#13425)
  SPECS/giflib/CVE-2025-31344.patch
  SPECS/giflib/giflib.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Upgrade erlang to 26.2.5.11 for CVE-2025-32433 [CRITICAL] (#13458)
  SPECS/erlang/erlang.signatures.json
  SPECS/erlang/erlang.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-stable-maintainers

Patch telegraf for CVE-2025-30215 [CRITICAL] (#13465)
  SPECS/telegraf/CVE-2025-30215.patch
  SPECS/telegraf/telegraf.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Upgrade erlang to 25.3.2.20 for CVE-2025-32433 [CRITICAL] (#13471)
  SPECS/erlang/CVE-2023-48795.patch
  SPECS/erlang/CVE-2025-26618.patch
  SPECS/erlang/CVE-2025-30211.patch
  SPECS/erlang/erlang.signatures.json
  SPECS/erlang/erlang.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-stable-maintainers

[AUTO-PR] azure-core/azurelinux:anphel/2-perl-cve (#13485)
  SPECS/perl/CVE-2024-56406.patch
  SPECS/perl/perl.spec
  toolkit/resources/manifests/package/pkggen_core_aarch64.txt
  toolkit/resources/manifests/package/pkggen_core_x86_64.txt
  toolkit/resources/manifests/package/toolchain_aarch64.txt
  toolkit/resources/manifests/package/toolchain_x86_64.txt
Owners: @microsoft/cbl-mariner-stable-maintainers

[AUTO-PR] azure-core/azurelinux:anphel/3-perl-cve (#13484)
  SPECS/perl/CVE-2024-56406.patch
  SPECS/perl/perl.spec
  toolkit/resources/manifests/package/pkggen_core_aarch64.txt
  toolkit/resources/manifests/package/pkggen_core_x86_64.txt
  toolkit/resources/manifests/package/toolchain_aarch64.txt
  toolkit/resources/manifests/package/toolchain_x86_64.txt
Owners: @microsoft/cbl-mariner-stable-maintainers

Patch giflib for CVE-2025-31344 [HIGH] (#13425)
  SPECS/giflib/CVE-2025-31344.patch
  SPECS/giflib/giflib.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Patch telegraf for CVE-2025-30215 [CRITICAL] (#13465)
  SPECS/telegraf/CVE-2025-30215.patch
  SPECS/telegraf/telegraf.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Upgrade erlang to 25.3.2.20 for CVE-2025-32433 [CRITICAL] (#13471)
  SPECS/erlang/CVE-2023-48795.patch
  SPECS/erlang/CVE-2025-26618.patch
  SPECS/erlang/CVE-2025-30211.patch
  SPECS/erlang/erlang.signatures.json
  SPECS/erlang/erlang.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-stable-maintainers

[AUTO-PR] azure-core/azurelinux:anphel/2-perl-cve (#13485)
  SPECS/perl/CVE-2024-56406.patch
  SPECS/perl/perl.spec
  toolkit/resources/manifests/package/pkggen_core_aarch64.txt
  toolkit/resources/manifests/package/pkggen_core_x86_64.txt
  toolkit/resources/manifests/package/toolchain_aarch64.txt
  toolkit/resources/manifests/package/toolchain_x86_64.txt
Owners: @microsoft/cbl-mariner-stable-maintainers

[AUTO-PR] azure-core/azurelinux:anphel/3-perl-cve (#13484)
  SPECS/perl/CVE-2024-56406.patch
  SPECS/perl/perl.spec
  toolkit/resources/manifests/package/pkggen_core_aarch64.txt
  toolkit/resources/manifests/package/pkggen_core_x86_64.txt
  toolkit/resources/manifests/package/toolchain_aarch64.txt
  toolkit/resources/manifests/package/toolchain_x86_64.txt
Owners: @microsoft/cbl-mariner-stable-maintainers

Patch golang-1.18 for CVE-2024-34158 [HIGH] (#13474)
  SPECS/golang/CVE-2024-34158.patch
  SPECS/golang/golang-1.18.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

[High] Patch libsoup for CVE-2025-32913, CVE-2025-32906 (#13447)
  SPECS/libsoup/CVE-2025-32906.patch
  SPECS/libsoup/CVE-2025-32913.patch
  SPECS/libsoup/libsoup.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Patch golang-1.18 for CVE-2024-34158 [HIGH] (#13474)
  SPECS/golang/CVE-2024-34158.patch
  SPECS/golang/golang-1.18.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

[High] Patch libsoup for CVE-2025-32913, CVE-2025-32906 (#13447)
  SPECS/libsoup/CVE-2025-32906.patch
  SPECS/libsoup/CVE-2025-32913.patch
  SPECS/libsoup/libsoup.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

[Medium] Patch libsoup for CVE-2025-32909
  SPECS/libsoup/CVE-2025-32909.patch
  SPECS/libsoup/libsoup.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

[Medium] Patch libsoup for CVE-2025-32910
  SPECS/libsoup/CVE-2025-32910.patch
  SPECS/libsoup/libsoup.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

[Medium] Patch libsoup for CVE-2025-32912
  SPECS/libsoup/CVE-2025-32912.patch
  SPECS/libsoup/libsoup.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Addressing CVE-2025-32414
  SPECS/libxml2/CVE-2025-32414.patch
  SPECS/libxml2/libxml2.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

[Medium] Patch libsoup for CVE-2025-32909
  SPECS/libsoup/CVE-2025-32909.patch
  SPECS/libsoup/libsoup.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

[Medium] Patch libsoup for CVE-2025-32910
  SPECS/libsoup/CVE-2025-32910.patch
  SPECS/libsoup/libsoup.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

[Medium] Patch libsoup for CVE-2025-32912
  SPECS/libsoup/CVE-2025-32912.patch
  SPECS/libsoup/libsoup.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Fixing specs generating duplicate SRPMs (#13314)
  .github/workflows/check-srpm-duplicates.yml
  SPECS-SIGNED/fwctl-signed/fwctl-signed.spec
  SPECS-SIGNED/iser-signed/iser-signed.spec
  SPECS-SIGNED/isert-signed/isert-signed.spec
  SPECS-SIGNED/knem-modules-signed/knem-modules-signed.spec
  SPECS-SIGNED/mft_kernel-signed/mft_kernel-signed.spec
  SPECS-SIGNED/mlnx-nfsrdma-signed/mlnx-nfsrdma-signed.spec
  SPECS-SIGNED/mlnx-ofa_kernel-modules-signed/mlnx-ofa_kernel-modules-signed.spec
  SPECS-SIGNED/srp-signed/srp-signed.spec
  SPECS-SIGNED/systemd-boot-signed/systemd-boot-signed.spec
  SPECS-SIGNED/xpmem-modules-signed/xpmem-modules-signed.spec
  SPECS/fwctl/fwctl.spec
  SPECS/iser/iser.spec
  SPECS/isert/isert.spec
  SPECS/knem/knem.spec
  SPECS/mft_kernel/mft_kernel.spec
  SPECS/mlnx-nfsrdma/mlnx-nfsrdma.spec
  SPECS/mlnx-ofa_kernel/mlnx-ofa_kernel.spec
  SPECS/srp/srp.spec
  SPECS/systemd/systemd.spec
  SPECS/xpmem/xpmem.spec
  toolkit/scripts/check_srpm_duplicates.py
Owners: @microsoft/cbl-mariner-stable-maintainers

Fixed: manifest files
  toolkit/resources/manifests/package/pkggen_core_aarch64.txt
  toolkit/resources/manifests/package/pkggen_core_x86_64.txt
  toolkit/resources/manifests/package/toolchain_aarch64.txt
  toolkit/resources/manifests/package/toolchain_x86_64.txt
Owners: @microsoft/cbl-mariner-stable-maintainers

Upgrade: openwsman version to 2.7.2
  SPECS-EXTENDED/openwsman/openwsman-2.4.12-ruby-binding-build.patch
  SPECS-EXTENDED/openwsman/openwsman-2.6.2-openssl-1.1-fix.patch
  SPECS-EXTENDED/openwsman/openwsman-2.6.5-libcurl-error-codes-update.patch
  SPECS-EXTENDED/openwsman/openwsman-2.6.8-CVE-2019-3816.patch
  SPECS-EXTENDED/openwsman/openwsman-2.6.8-CVE-2019-3833.patch
  SPECS-EXTENDED/openwsman/openwsman-2.6.8-update-ssleay-conf.patch
  SPECS-EXTENDED/openwsman/openwsman-2.7.2-fix-ftbfs.patch
  SPECS-EXTENDED/openwsman/openwsman.signatures.json
  SPECS-EXTENDED/openwsman/openwsman.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-stable-maintainers

Add CVE Patches
  SPECS/rust/Ignore_failing_ci_tests.patch
  SPECS/rust/generate_source_tarball-1.75
  SPECS/rust/rust-1.75.signatures.json
  SPECS/rust/rust-1.75.spec
  SPECS/rust/rust.signatures.json
  cgmanifest.json
Owners: @microsoft/cbl-mariner-stable-maintainers

update cgmanifest url
  cgmanifest.json
Owners: @microsoft/cbl-mariner-stable-maintainers

Remove patch
  SPECS/rust/rust.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Update tests
  SPECS/nginx/nginx.signatures.json
  SPECS/nginx/nginx.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Change to 1.85
  SPECS/rust/CVE-2024-9681.patch
  SPECS/rust/rust.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Build fix for jboss-interceptors
  SPECS-EXTENDED/jboss-interceptors-1.2-api/jboss-interceptors-1.2-api-build.xml
  SPECS-EXTENDED/jboss-interceptors-1.2-api/jboss-interceptors-1.2-api.signatures.json
Owners: @microsoft/cbl-mariner-devs

Update signatures
  SPECS/rust/rust.signatures.json
Owners: @microsoft/cbl-mariner-stable-maintainers
