Repository microsoft/azurelinux, changes with the owners that .github/CODEOWNERS names for each.
All owners: @microsoft/cbl-mariner-stable-maintainers, @microsoft/cbl-mariner-admins, @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-imagecustomizer

.github/CODEOWNERS:

# For stable release branches, ensure stable release maintainers are added as code reviewers
* @microsoft/cbl-mariner-stable-maintainers

# Modification to this file require admin approval.
/.github/CODEOWNERS @microsoft/cbl-mariner-admins

# Modifications to the build pipelines require admin approval.
/.pipelines/* @microsoft/cbl-mariner-admins

# Modifications to the CredScan exceptions require admin approval.
/.config/CredScanSuppressions.json @microsoft/cbl-mariner-admins

/SPECS-EXTENDED/ @microsoft/cbl-mariner-devs

# Image Customizer
/toolkit/tools/imagecustomizer/ @microsoft/cbl-mariner-imagecustomizer
/toolkit/tools/imagecustomizerapi/ @microsoft/cbl-mariner-imagecustomizer
/toolkit/tools/osmodifier @microsoft/cbl-mariner-imagecustomizer
/toolkit/tools/pkg/imagecustomizerlib/ @microsoft/cbl-mariner-imagecustomizer
/toolkit/tools/pkg/osmodifierlib @microsoft/cbl-mariner-imagecustomizer
/toolkit/scripts/build_tag_imagecustomizer.mk @microsoft/cbl-mariner-imagecustomizer

Update kernel-hci config
  SPECS/kernel-hci/config
  SPECS/kernel-hci/kernel-hci.signatures.json
Owners: @microsoft/cbl-mariner-stable-maintainers

Kernel upgrade to 5.15.179.1 (#13279)
  SPECS-SIGNED/kernel-azure-signed/kernel-azure-signed.spec
  SPECS-SIGNED/kernel-hci-signed/kernel-hci-signed.spec
  SPECS-SIGNED/kernel-signed/kernel-signed.spec
  SPECS/hyperv-daemons/hyperv-daemons.signatures.json
  SPECS/hyperv-daemons/hyperv-daemons.spec
  SPECS/kernel-azure/config
  SPECS/kernel-azure/config_aarch64
  SPECS/kernel-azure/kernel-azure.signatures.json
  SPECS/kernel-azure/kernel-azure.spec
  SPECS/kernel-hci/0002-net-mlx5-Introduce-port-selection-namespace.patch
  SPECS/kernel-hci/config
  SPECS/kernel-hci/kernel-hci.signatures.json
  SPECS/kernel-hci/kernel-hci.spec
  SPECS/kernel-headers/kernel-headers.signatures.json
  SPECS/kernel-headers/kernel-headers.spec
  SPECS/kernel/config
  SPECS/kernel/config_aarch64
  SPECS/kernel/kernel.signatures.json
  SPECS/kernel/kernel.spec
  cgmanifest.json
  toolkit/resources/manifests/package/pkggen_core_aarch64.txt
  toolkit/resources/manifests/package/pkggen_core_x86_64.txt
  toolkit/resources/manifests/package/toolchain_aarch64.txt
  toolkit/resources/manifests/package/toolchain_x86_64.txt
Owners: @microsoft/cbl-mariner-stable-maintainers

Remove patch which reverts serial 8250 timeout adjustment for FIFO mode
  SPECS-EXTENDED/kernel-ipe/Revert-serial-8250-Adjust-the-timeout-for-FIFO-mode.patch
  SPECS-EXTENDED/kernel-ipe/kernel-ipe.spec
  SPECS/kernel-64k/Revert-serial-8250-Adjust-the-timeout-for-FIFO-mode.patch
  SPECS/kernel-64k/kernel-64k.spec
  SPECS/kernel/Revert-serial-8250-Adjust-the-timeout-for-FIFO-mode.patch
  SPECS/kernel/kernel.spec
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-stable-maintainers

Kernel-rt upgrade to 6.6.85.1 version
  SPECS-EXTENDED/kernel-rt/config
  SPECS-EXTENDED/kernel-rt/kernel-rt.signatures.json
  SPECS-EXTENDED/kernel-rt/kernel-rt.spec
  SPECS-EXTENDED/kernel-rt/patch-6.6.85-rt53.patch
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-stable-maintainers

Upgraded lua-filesystem to version 1.8.0
  SPECS-EXTENDED/lua-filesystem/lua-filesystem.signatures.json
  SPECS-EXTENDED/lua-filesystem/lua-filesystem.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-stable-maintainers

Upgraded lua-expat to version 1.5.2
  SPECS-EXTENDED/lua-expat/lua-expat.signatures.json
  SPECS-EXTENDED/lua-expat/lua-expat.spec
  SPECS-EXTENDED/lua-expat/luaexpat-1.3.0.tar.gz.asc
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-stable-maintainers

Upgraded m17n-lib to version 1.8.5
  SPECS-EXTENDED/m17n-lib/Fix-segmentation-fault-when-using-ibus-m17n-with-vi-telex-in-gedit-in-wayland.patch
  SPECS-EXTENDED/m17n-lib/m17n-lib.signatures.json
  SPECS-EXTENDED/m17n-lib/m17n-lib.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-stable-maintainers

Patch CVE-2023-31130 in grpc
  SPECS/grpc/CVE-2023-31130.patch
  SPECS/grpc/grpc.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Patch cmake for CVE-2024-48615 [High]
  SPECS/cmake/CVE-2024-48615.patch
  SPECS/cmake/cmake.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Update perl-XML-Writer.spec
  SPECS-EXTENDED/perl-XML-Writer/perl-XML-Writer.spec
Owners: @microsoft/cbl-mariner-devs

Update perl-XML-Writer.signatures.json
  SPECS-EXTENDED/perl-XML-Writer/perl-XML-Writer.signatures.json
Owners: @microsoft/cbl-mariner-devs

Upgrade usbguard to 1.1.3 Upgrade extended package
  SPECS-EXTENDED/usbguard/usbguard.signatures.json
  SPECS-EXTENDED/usbguard/usbguard.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-stable-maintainers

Integrate review comments
  SPECS/reaper/CVE-2024-12905.patch
  SPECS/reaper/reaper.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

cmake: update manifests
  SPECS/cmake/cmake.spec
  toolkit/resources/manifests/package/toolchain_aarch64.txt
  toolkit/resources/manifests/package/toolchain_x86_64.txt
Owners: @microsoft/cbl-mariner-stable-maintainers

ansible-freeipa: Update to 1.13.2
  SPECS-EXTENDED/ansible-freeipa/ansible-freeipa.signatures.json
  SPECS-EXTENDED/ansible-freeipa/ansible-freeipa.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-stable-maintainers

Patch cmake for CVE-2024-48615 [High]
  SPECS/cmake/CVE-2024-48615.patch
  SPECS/cmake/cmake.spec
  toolkit/resources/manifests/package/toolchain_aarch64.txt
  toolkit/resources/manifests/package/toolchain_x86_64.txt
Owners: @microsoft/cbl-mariner-stable-maintainers

Adding upstream patch details for CVE-2023-31130
  SPECS/grpc/CVE-2023-31130.patch
Owners: @microsoft/cbl-mariner-stable-maintainers

Patch libarchive for CVE-2024-48615 [High]
  SPECS/libarchive/CVE-2024-48615.patch
  SPECS/libarchive/libarchive.spec
  toolkit/resources/manifests/package/pkggen_core_aarch64.txt
  toolkit/resources/manifests/package/pkggen_core_x86_64.txt
  toolkit/resources/manifests/package/toolchain_aarch64.txt
  toolkit/resources/manifests/package/toolchain_x86_64.txt
Owners: @microsoft/cbl-mariner-stable-maintainers

Add reference link to CVE patch
  SPECS/cmake/CVE-2024-48615.patch
Owners: @microsoft/cbl-mariner-stable-maintainers

Upgrade kyotocabinet version from 1.2.78 to 1.2.80 Added changelog
  SPECS-EXTENDED/kyotocabinet/kyotocabinet-1.2.78-random-failures.patch
  SPECS-EXTENDED/kyotocabinet/kyotocabinet.signatures.json
  SPECS-EXTENDED/kyotocabinet/kyotocabinet.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-stable-maintainers

libguestfs: Adding guestfsd dependencies for supermin images
  SPECS/libguestfs/libguestfs.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Upgraded langtable version to 0.0.68
  SPECS-EXTENDED/langtable/langtable.signatures.json
  SPECS-EXTENDED/langtable/langtable.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-stable-maintainers

Removing outdated 'blacklist' folders from 'ca-certificates'.
  SPECS/ca-certificates/ca-certificates.spec
  SPECS/prebuilt-ca-certificates-base/prebuilt-ca-certificates-base.spec
  SPECS/prebuilt-ca-certificates/prebuilt-ca-certificates.spec
  toolkit/resources/manifests/package/pkggen_core_aarch64.txt
  toolkit/resources/manifests/package/pkggen_core_x86_64.txt
  toolkit/resources/manifests/package/toolchain_aarch64.txt
  toolkit/resources/manifests/package/toolchain_x86_64.txt
Owners: @microsoft/cbl-mariner-stable-maintainers

Updating docs.
  SPECS/ca-certificates/update-ca-trust.8.txt
Owners: @microsoft/cbl-mariner-stable-maintainers

Upgrade ladspa from version 1.13 to 1.17
  SPECS-EXTENDED/ladspa/ladspa-1.13-plugindir.patch
  SPECS-EXTENDED/ladspa/ladspa-1.17.patch
  SPECS-EXTENDED/ladspa/ladspa.signatures.json
  SPECS-EXTENDED/ladspa/ladspa.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-stable-maintainers

Updating signatures.
  SPECS/ca-certificates/ca-certificates.signatures.json
Owners: @microsoft/cbl-mariner-stable-maintainers

Add missing EOF for inline patch call.
  SPECS/flux/flux.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Fix, rather than suppress, warning.
  SPECS/flux/0001-libflux-unblock-build-by-allowing-warnings.patch
  SPECS/flux/fix-build-warnings.patch
  SPECS/flux/flux.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

bump spec
  SPECS/flux/flux.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

add patch to resolve CVE-2025-21614 for cri-o
  SPECS/cri-o/CVE-2025-21614.patch
  SPECS/cri-o/cri-o.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Addressing CVE-2024-45310
  SPECS/kubernetes/CVE-2024-45310.patch
  SPECS/kubernetes/kubernetes.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Adding config and systemd service file
  SPECS-EXTENDED/azl-otel-collector/azl-otel-collector.service
  SPECS-EXTENDED/azl-otel-collector/azl-otel-collector.signatures.json
  SPECS-EXTENDED/azl-otel-collector/azl-otel-collector.spec
  SPECS-EXTENDED/azl-otel-collector/config.yml
Owners: @microsoft/cbl-mariner-devs

ansible-freeipa: fix the build error.
  SPECS-EXTENDED/ansible-freeipa/ansible-freeipa.signatures.json
  SPECS-EXTENDED/ansible-freeipa/ansible-freeipa.spec
Owners: @microsoft/cbl-mariner-devs

imageconfig: set nvme io timeout to 240 on Azure images
  toolkit/imageconfigs/marketplace-gen1-fips.json
  toolkit/imageconfigs/marketplace-gen1.json
  toolkit/imageconfigs/marketplace-gen2-aarch64-fips.json
  toolkit/imageconfigs/marketplace-gen2-aarch64.json
  toolkit/imageconfigs/marketplace-gen2-fips.json
  toolkit/imageconfigs/marketplace-gen2.json
Owners: @microsoft/cbl-mariner-stable-maintainers

bump qtsvg
  SPECS/qtsvg/qtsvg.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Update the Patch file
  SPECS/kubernetes/CVE-2024-45310.patch
Owners: @microsoft/cbl-mariner-stable-maintainers

Upgrade: usbguard version to 1.1.3
  SPECS-EXTENDED/usbguard/usbguard-0.7.6-libqb.patch
  SPECS-EXTENDED/usbguard/usbguard-revert-catch.patch
  SPECS-EXTENDED/usbguard/usbguard.signatures.json
  SPECS-EXTENDED/usbguard/usbguard.spec
Owners: @microsoft/cbl-mariner-devs

added cgmanifest file
  cgmanifest.json
Owners: @microsoft/cbl-mariner-stable-maintainers

Upgraded lua-term to version 0.08
  SPECS-EXTENDED/lua-term/lua-term.signatures.json
  SPECS-EXTENDED/lua-term/lua-term.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-stable-maintainers

Patch git-lfs for CVE-2025-22870 [Medium]
  SPECS/git-lfs/CVE-2025-22870.patch
  SPECS/git-lfs/git-lfs.spec
Owners: @microsoft/cbl-mariner-stable-maintainers
