Repository microsoft/azurelinux, changes with the owners that .github/CODEOWNERS names for each.
All owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-admins, @microsoft/cbl-mariner-kernel, @microsoft/cbl-mariner-kata-containers, @microsoft/cbl-mariner-bootloader, @microsoft/cbl-mariner-dracut, @microsoft/cbl-mariner-systemd, @microsoft/cbl-mariner-debug-tools, @microsoft/cbl-mariner-openssl, @microsoft/cbl-mariner-package-managers, @microsoft/cbl-mariner-container-runtime, @microsoft/cbl-mariner-virtualization, @microsoft/cbl-mariner-provisioning, @microsoft/cbl-mariner-tooling, @microsoft/cbl-mariner-toolchain, @microsoft/cbl-mariner-imagecustomizer

.github/CODEOWNERS:

# By default, all files require a review by at least one member of the Azure Linux developers team.
# See teams here: https://github.com/orgs/microsoft/teams?query=mariner
* @microsoft/cbl-mariner-devs

# Modification to this file require admin approval.
/.github/CODEOWNERS @microsoft/cbl-mariner-admins

# Modifications to the build pipelines require admin approval.
/.pipelines/* @microsoft/cbl-mariner-admins

# Modifications to the CredScan exceptions require admin approval.
/.config/CredScanSuppressions.json @microsoft/cbl-mariner-admins

# Modification to what is considered "core packages" require admin approval.
/SPECS/core-packages/* @microsoft/cbl-mariner-admins

# Modification to specific packages go to specific teams
/SPECS/kernel/* @microsoft/cbl-mariner-kernel
/SPECS/kernel-headers/* @microsoft/cbl-mariner-kernel
/SPECS/kernel-mshv/* @microsoft/cbl-mariner-kata-containers
/SPECS/kernel-uvm/* @microsoft/cbl-mariner-kata-containers
/SPECS-SIGNED/kernel-signed/* @microsoft/cbl-mariner-kernel
/SPECS-SIGNED/kernel-mstflint-signed/* @microsoft/cbl-mariner-kernel

/SPECS/grub2/* @microsoft/cbl-mariner-bootloader
/SPECS/grubby/* @microsoft/cbl-mariner-bootloader
/SPECS/shim/* @microsoft/cbl-mariner-bootloader
/SPECS/shim-unsigned/* @microsoft/cbl-mariner-bootloader
/SPECS/shim-unsigned-x64/* @microsoft/cbl-mariner-bootloader
/SPECS/shim-unsigned-aarch64/* @microsoft/cbl-mariner-bootloader
/SPECS-SIGNED/grub2-efi-binary-signed/* @microsoft/cbl-mariner-bootloader

/SPECS/dracut/* @microsoft/cbl-mariner-dracut
/SPECS/initramfs/* @microsoft/cbl-mariner-dracut
/SPECS/verity-read-only-root/* @microsoft/cbl-mariner-dracut

/SPECS/systemd/* @microsoft/cbl-mariner-systemd

/SPECS/bcc/* @microsoft/cbl-mariner-debug-tools
/SPECS/bpftrace/* @microsoft/cbl-mariner-debug-tools
/SPECS/crash/* @microsoft/cbl-mariner-debug-tools
/SPECS/gdb/* @microsoft/cbl-mariner-debug-tools
/SPECS/kexec-tools/* @microsoft/cbl-mariner-debug-tools

/SPECS/openssl/* @microsoft/cbl-mariner-openssl
/SPECS/SymCrypt-OpenSSL/* @microsoft/cbl-mariner-openssl
/SPECS/SymCrypt/* @microsoft/cbl-mariner-openssl

/SPECS/dnf/* @microsoft/cbl-mariner-package-managers
/SPECS/dnf-plugins-core/* @microsoft/cbl-mariner-package-managers
/SPECS/rpm/* @microsoft/cbl-mariner-package-managers
/SPECS/tdnf/* @microsoft/cbl-mariner-package-managers

/SPECS/containerd/* @microsoft/cbl-mariner-container-runtime
/SPECS/docker-buildx/* @microsoft/cbl-mariner-container-runtime
/SPECS/docker-cli/* @microsoft/cbl-mariner-container-runtime
/SPECS/kata-containers/* @microsoft/cbl-mariner-kata-containers
/SPECS/kata-containers-cc/* @microsoft/cbl-mariner-kata-containers
/SPECS/moby-containerd-cc/* @microsoft/cbl-mariner-kata-containers
/SPECS/moby-engine/* @microsoft/cbl-mariner-container-runtime
/SPECS/runc/* @microsoft/cbl-mariner-container-runtime
/SPECS/virtiofsd/* @microsoft/cbl-mariner-kata-containers

/SPECS/cloud-hypervisor/* @microsoft/cbl-mariner-virtualization
/SPECS/hvloader/* @microsoft/cbl-mariner-kata-containers

/SPECS/cloud-init/* @microsoft/cbl-mariner-provisioning
/SPECS/walinuxagent/* @microsoft/cbl-mariner-provisioning

# Modifications to the toolkit requires reviews from the toolkit team
/toolkit/ @microsoft/cbl-mariner-tooling

# Docs to be reviewed by general Azure Linux devs
/toolkit/docs/ @microsoft/cbl-mariner-devs

# Default image configurations to be reviewed by general Azure Linux devs
/toolkit/imageconfigs/ @microsoft/cbl-mariner-devs

# Package and toolchain manifests to be reviewed by toolchain team
/toolkit/resources/manifests/package/pkggen_core_aarch64.txt @microsoft/cbl-mariner-toolchain
/toolkit/resources/manifests/package/pkggen_core_x86_64.txt @microsoft/cbl-mariner-toolchain
/toolkit/resources/manifests/package/toolchain_aarch64.txt @microsoft/cbl-mariner-toolchain
/toolkit/resources/manifests/package/toolchain_x86_64.txt @microsoft/cbl-mariner-toolchain

# Modifications to the raw toolchain require admin approval.
/toolkit/scripts/toolchain/container/* @microsoft/cbl-mariner-admins
/toolkit/scripts/toolchain/cgmanifest.json @microsoft/cbl-mariner-admins
/toolkit/scripts/toolchain/create_toolchain_in_container.sh @microsoft/cbl-mariner-admins

# Image Customizer
/toolkit/tools/imagecustomizer/ @microsoft/cbl-mariner-imagecustomizer
/toolkit/tools/imagecustomizerapi/ @microsoft/cbl-mariner-imagecustomizer
/toolkit/tools/osmodifier @microsoft/cbl-mariner-imagecustomizer
/toolkit/tools/pkg/imagecustomizerlib/ @microsoft/cbl-mariner-imagecustomizer
/toolkit/tools/pkg/osmodifierlib @microsoft/cbl-mariner-imagecustomizer

Re-Enable GUI Installer for 3.0-dev (#8548)
  SPECS/calamares/calamares.signatures.json
  SPECS/calamares/calamares.spec
  SPECS/dbus/dbus.spec
  toolkit/tools/imagegen/attendedinstaller/views/installerview/installerview.go
  toolkit/tools/liveinstaller/liveinstaller.go
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-tooling

Image customizer: kernel module API refactor (#8495)
  toolkit/tools/imagecustomizer/docs/configuration.md
  toolkit/tools/imagecustomizerapi/module.go
  toolkit/tools/imagecustomizerapi/moduleLoadMode.go
  toolkit/tools/imagecustomizerapi/os.go
  toolkit/tools/pkg/imagecustomizerlib/customizeutils.go
  toolkit/tools/pkg/imagecustomizerlib/kernelmoduleutils.go
  toolkit/tools/pkg/imagecustomizerlib/kernelmoduleutils_test.go
  toolkit/tools/pkg/imagecustomizerlib/testdata/modules-config.yaml
Owners: @microsoft/cbl-mariner-imagecustomizer

Upgrade rpm to version 4.18.2 for bugfixes (#8532)
  SPECS/rpm/rpm.signatures.json
  SPECS/rpm/rpm.spec
  cgmanifest.json
  toolkit/resources/manifests/package/pkggen_core_aarch64.txt
  toolkit/resources/manifests/package/pkggen_core_x86_64.txt
  toolkit/resources/manifests/package/toolchain_aarch64.txt
  toolkit/resources/manifests/package/toolchain_x86_64.txt
  toolkit/scripts/toolchain/container/toolchain-remote-wget-list
  toolkit/scripts/toolchain/container/toolchain-sha256sums
  toolkit/scripts/toolchain/container/toolchain_build_in_chroot.sh
Owners: @microsoft/cbl-mariner-package-managers, @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-toolchain, @microsoft/cbl-mariner-admins

remove srpm_pack_list_file (#8415)
  .github/workflows/check-spec.yml
  toolkit/scripts/check_spec_guidelines.py
  toolkit/scripts/pkggen.mk
  toolkit/scripts/srpm_pack.mk
  toolkit/scripts/toolchain.mk
  toolkit/scripts/toolchain/check_manifests.sh
  toolkit/scripts/toolchain/list_toolchain_specs.sh
  toolkit/tools/internal/packlist/packagelist.go
  toolkit/tools/specreader/specreader.go
  toolkit/tools/srpmpacker/srpmpacker.go
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-tooling

Update hdf5 to v1.14.3 for AzL 3.0 (#8574)
  SPECS/hdf5/Fix-Werror-removal.patch
  SPECS/hdf5/hdf5-build.patch
  SPECS/hdf5/hdf5-wrappers.patch
  SPECS/hdf5/hdf5.signatures.json
  SPECS/hdf5/hdf5.spec
  SPECS/python-h5py/0001-Fix-compiling-fileobj-file-driver-with-Cython-3.0.patch
  SPECS/python-h5py/Cython-3-support.patch
  SPECS/python-h5py/python-h5py.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs

Update rubygems packages (#8540)
  SPECS/rubygem-multipart-post/fix-file_list.patch
  SPECS/rubygem-multipart-post/rubygem-multipart-post.signatures.json
  SPECS/rubygem-multipart-post/rubygem-multipart-post.spec
  SPECS/rubygem-parallel/fix-file_list.patch
  SPECS/rubygem-parallel/rubygem-parallel.signatures.json
  SPECS/rubygem-parallel/rubygem-parallel.spec
  SPECS/rubygem-public_suffix/fix-file_list.patch
  SPECS/rubygem-public_suffix/rubygem-public_suffix.signatures.json
  SPECS/rubygem-public_suffix/rubygem-public_suffix.spec
  SPECS/rubygem-rdiscount/rubygem-rdiscount.signatures.json
  SPECS/rubygem-rdiscount/rubygem-rdiscount.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs

filesystem: remove /srv and /var/srv
  SPECS/filesystem/filesystem.spec
  toolkit/resources/manifests/package/pkggen_core_aarch64.txt
  toolkit/resources/manifests/package/pkggen_core_x86_64.txt
  toolkit/resources/manifests/package/toolchain_aarch64.txt
  toolkit/resources/manifests/package/toolchain_x86_64.txt
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-toolchain

Add libarrow to AzureLinux (#8519)
  SPECS/LICENSES-AND-NOTICES/LICENSES-MAP.md
  SPECS/LICENSES-AND-NOTICES/data/licenses.json
  SPECS/libarrow/0001-python-pyproject.toml.patch
  SPECS/libarrow/libarrow.signatures.json
  SPECS/libarrow/libarrow.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs

Image Customizer: Bump version to v0.2.0 (#8552)
  toolkit/scripts/build_tag.mk
Owners: @microsoft/cbl-mariner-tooling

Fix build breaks with fio and cri-o (#8347)
  SPECS/cri-o/cri-o.spec
  SPECS/fio/fio.spec
Owners: @microsoft/cbl-mariner-devs

IsoMaker: Fix unmount (#8522)
  toolkit/tools/pkg/isomakerlib/isomaker.go
Owners: @microsoft/cbl-mariner-tooling

Add a PR check for source signatures (#8542)
  .github/workflows/check-entangled-specs.yml
  .github/workflows/check-kernel-config.yml
  .github/workflows/check-license-map.yml
  .github/workflows/check-signatures.yml
  .github/workflows/check-source-signatures.yml
  .github/workflows/check-spec.yml
  .github/workflows/check-static-glibc.yml
  .github/workflows/lint-specs.yml
Owners: @microsoft/cbl-mariner-devs

[AUTOPATCHER-kernel] Kernel upgrade to version 6.6.22.1 - branch 3.0-dev (#8544)
  SPECS-SIGNED/kernel-signed/kernel-signed.spec
  SPECS/hyperv-daemons/hyperv-daemons.signatures.json
  SPECS/hyperv-daemons/hyperv-daemons.spec
  SPECS/kernel-headers/kernel-headers.signatures.json
  SPECS/kernel-headers/kernel-headers.spec
  SPECS/kernel/config
  SPECS/kernel/config_aarch64
  SPECS/kernel/kernel.signatures.json
  SPECS/kernel/kernel.spec
  cgmanifest.json
  toolkit/resources/manifests/package/pkggen_core_aarch64.txt
  toolkit/resources/manifests/package/pkggen_core_x86_64.txt
  toolkit/resources/manifests/package/toolchain_aarch64.txt
  toolkit/resources/manifests/package/toolchain_x86_64.txt
  toolkit/scripts/toolchain/container/Dockerfile
  toolkit/scripts/toolchain/container/toolchain-sha256sums
  toolkit/scripts/toolchain/container/toolchain_build_temp_tools.sh
Owners: @microsoft/cbl-mariner-kernel, @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-toolchain, @microsoft/cbl-mariner-admins

[AUTOPATCHER-CORE] Upgrade libmemcached-awesome to 1.1.4 3.0 upgrade (#7959)
  SPECS/libmemcached-awesome/libmemcached-awesome.signatures.json
  SPECS/libmemcached-awesome/libmemcached-awesome.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs

Update google-guice to 5.1.0 (#8578)
  SPECS/google-guice/google-guice.signatures.json
  SPECS/google-guice/google-guice.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs

k8s - Fix build break due to golang version upgrade (#8537)
  SPECS/kubernetes/kubernetes.spec
Owners: @microsoft/cbl-mariner-devs

Update Maven Packages (#8419)
  SPECS/LICENSES-AND-NOTICES/LICENSES-MAP.md
  SPECS/LICENSES-AND-NOTICES/data/licenses.json
  SPECS/javapackages-bootstrap/0001-Bind-to-OpenJDK-11-for-runtime.patch
  SPECS/javapackages-bootstrap/0001-Remove-usage-of-ArchiveStreamFactory.patch
  SPECS/javapackages-bootstrap/CVE-2023-37460.patch
  SPECS/javapackages-bootstrap/javapackages-bootstrap-PACKAGE-LICENSING
  SPECS/javapackages-bootstrap/javapackages-bootstrap.signatures.json
  SPECS/javapackages-bootstrap/javapackages-bootstrap.spec
  SPECS/jurand/jurand.signatures.json
  SPECS/jurand/jurand.spec
  SPECS/maven-compiler-plugin/0001-plexus-languages-1.0.patch
  SPECS/maven-compiler-plugin/0002-MCOMPILER-359-Fix-for-NPE.patch
  SPECS/maven-compiler-plugin/maven-compiler-plugin.signatures.json
  SPECS/maven-compiler-plugin/maven-compiler-plugin.spec
  SPECS/maven-jar-plugin/maven-jar-plugin.signatures.json
  SPECS/maven-jar-plugin/maven-jar-plugin.spec
  SPECS/maven-resolver/0001-Remove-use-of-deprecated-SHA-1-and-MD5-algorithms.patch
  SPECS/maven-resolver/maven-resolver.signatures.json
  SPECS/maven-resolver/maven-resolver.spec
  SPECS/maven-surefire/0001-Port-to-TestNG-6.11.patch
  SPECS/maven-surefire/0001-Port-to-TestNG-7.4.0.patch
  SPECS/maven-surefire/0002-Disable-JUnit-4.8-test-grouping.patch
  SPECS/maven-surefire/0003-Port-to-maven-shared-utils-3.3.3.patch
  SPECS/maven-surefire/maven-surefire.signatures.json
  SPECS/maven-surefire/maven-surefire.spec
  SPECS/plexus-interpolation/0001-Use-PATH-env-variable-instead-of-JAVA_HOME.patch
  SPECS/plexus-interpolation/plexus-interpolation.spec
  SPECS/sisu/sisu-inject.pom
  SPECS/sisu/sisu-plexus.pom
  SPECS/sisu/sisu.signatures.json
  SPECS/sisu/sisu.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs

Image Customizer: Apply missing camelCase to ISO struct. (#8577)
  toolkit/tools/imagecustomizerapi/iso.go
  toolkit/tools/pkg/imagecustomizerlib/imagecustomizer.go
Owners: @microsoft/cbl-mariner-imagecustomizer

Image Customizer: Improve file system checks. (#8543)
  toolkit/tools/pkg/imagecustomizerlib/checkfilesystem.go
  toolkit/tools/pkg/imagecustomizerlib/extractpartitions.go
  toolkit/tools/pkg/imagecustomizerlib/imagecustomizer.go
  toolkit/tools/pkg/imagecustomizerlib/testdata/files/sshd-keygen.service
  toolkit/tools/pkg/imagecustomizerlib/testdata/scripts/ssh-move-host-keys.sh
  toolkit/tools/pkg/imagecustomizerlib/testdata/verity-config.yaml
Owners: @microsoft/cbl-mariner-imagecustomizer

Fix missing nobody user/group for nfs squash (#8358)
  SPECS/nfs-utils/nfs-utils.spec
Owners: @microsoft/cbl-mariner-devs

upgrade erlang to version 26.2.3 (#8510)
  SPECS/erlang/erlang.signatures.json
  SPECS/erlang/erlang.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs

Fix vimrc bindings (#8504)
  SPECS/vim/vim.spec
Owners: @microsoft/cbl-mariner-devs

Image Customizer: Move fileSystemType to fileSystem type. (#8512)
  toolkit/tools/imagecustomizer/docs/configuration.md
  toolkit/tools/imagecustomizerapi/config_test.go
  toolkit/tools/imagecustomizerapi/disk_test.go
  toolkit/tools/imagecustomizerapi/filesystem.go
  toolkit/tools/imagecustomizerapi/filesystem_test.go
  toolkit/tools/imagecustomizerapi/partition.go
  toolkit/tools/imagecustomizerapi/partition_test.go
  toolkit/tools/imagecustomizerapi/storage.go
  toolkit/tools/imagecustomizerapi/storage_test.go
  toolkit/tools/internal/sliceutils/sliceutils.go
  toolkit/tools/pkg/imagecustomizerlib/imagecustomizer_test.go
  toolkit/tools/pkg/imagecustomizerlib/imageutils.go
  toolkit/tools/pkg/imagecustomizerlib/testdata/legacyboot-config.yaml
  toolkit/tools/pkg/imagecustomizerlib/testdata/mshvkernel-config.yaml
  toolkit/tools/pkg/imagecustomizerlib/testdata/partitions-config.yaml
  toolkit/tools/pkg/imagecustomizerlib/typeConversion.go
Owners: @microsoft/cbl-mariner-imagecustomizer, @microsoft/cbl-mariner-tooling

Smaller base images (baremetal & qemu-guest) (#8389)
  toolkit/imageconfigs/additionalconfigs/macros.excludedocs
  toolkit/imageconfigs/baremetal.json
  toolkit/imageconfigs/packagelists/base-image-packages.json
  toolkit/imageconfigs/qemu-guest.json
  toolkit/imageconfigs/scripts/cleanup.sh
Owners: @microsoft/cbl-mariner-devs

Exclude overlayfs module from main dracut package. (#8525)
  SPECS/dracut/dracut.spec
Owners: @microsoft/cbl-mariner-dracut

Upgrade vte291 to 0.74.2 (#8521)
  SPECS/vte291/vte291-cntnr-precmd-preexec-scroll.patch
  SPECS/vte291/vte291.signatures.json
  SPECS/vte291/vte291.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs

Fix build break for atinject (#8515)
  SPECS/atinject/atinject.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs

Add workflow to check for circular deps (3.0 only) (#8528)
  .github/workflows/check-circular-deps.yml
Owners: @microsoft/cbl-mariner-devs

Upgrade netplan to 1.0 (#8560)
  SPECS/netplan/netplan.signatures.json
  SPECS/netplan/netplan.spec
  SPECS/netplan/remove-flakes-check.patch
  SPECS/netplan/skip-ovs-tests.patch
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs

perl-Test-File: fix macro issue (#8598)
  SPECS-EXTENDED/perl-Test-File/perl-Test-File.spec
Owners: @microsoft/cbl-mariner-devs

iptables, flush and restore raw table (#8501)
  SPECS/iptables/iptables
  SPECS/iptables/iptables.signatures.json
  SPECS/iptables/iptables.spec
  SPECS/iptables/iptables.stop
Owners: @microsoft/cbl-mariner-devs

php-pecl-zip: upgrade to version 1.22.3 and fix tests (#8628)
  SPECS/php-pecl-zip/php-pecl-zip.signatures.json
  SPECS/php-pecl-zip/php-pecl-zip.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs

move busybox from core to golden container (#8559)
  .pipelines/containerSourceData/busybox/Dockerfile-Busybox
  .pipelines/containerSourceData/busybox/busybox.pkg
  .pipelines/containerSourceData/scripts/BuildBaseContainers.sh
  .pipelines/containerSourceData/scripts/BuildGoldenContainer.sh
Owners: @microsoft/cbl-mariner-devs

MIC ISO: minor doc updates. (#8591)
  toolkit/tools/imagecustomizer/docs/configuration.md
  toolkit/tools/imagecustomizer/docs/iso.md
Owners: @microsoft/cbl-mariner-imagecustomizer

btrfs-progs: disable zstd (#8605)
  SPECS/btrfs-progs/btrfs-progs.spec
Owners: @microsoft/cbl-mariner-devs

Image Customizer: Fix modify existing user. (#8622)
  toolkit/tools/imagegen/installutils/installutils.go
  toolkit/tools/internal/userutils/userutils.go
  toolkit/tools/pkg/imagecustomizerlib/customizeutils.go
  toolkit/tools/pkg/imagecustomizerlib/testdata/users-config.yaml
Owners: @microsoft/cbl-mariner-tooling, @microsoft/cbl-mariner-imagecustomizer

Remove references to CBL-Mariner in .github folder (#8613)
  .github/workflows/check-clean-stage.yml
  .github/workflows/check-entangled-specs.yml
  .github/workflows/check-kernel-config.yml
  .github/workflows/check-signatures.yml
  .github/workflows/check-source-signatures.yml
  .github/workflows/check-spec.yml
  .github/workflows/check-static-glibc.yml
  toolkit/scripts/os-required-configs.json
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-tooling

Upgraded `gnupg2` to version 2.4.4. (#8621)
  SPECS/gnupg2/gnupg2.signatures.json
  SPECS/gnupg2/gnupg2.spec
  cgmanifest.json
  toolkit/resources/manifests/package/pkggen_core_aarch64.txt
  toolkit/resources/manifests/package/pkggen_core_x86_64.txt
  toolkit/resources/manifests/package/toolchain_aarch64.txt
  toolkit/resources/manifests/package/toolchain_x86_64.txt
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-toolchain

Fixing setting of `MAX_CASCADING_REBUILDS` in the `PackageBuild.yml` template. (CP: #8564) (#8580)
  .pipelines/templates/PackageBuild.yml
Owners: @microsoft/cbl-mariner-devs

openssl: remove now unneeded cert-creation scripts (#8642)
  SPECS/openssl/make-dummy-cert
  SPECS/openssl/openssl.spec
  SPECS/openssl/renew-dummy-cert
Owners: @microsoft/cbl-mariner-openssl
