Repository microsoft/azurelinux, changes with the owners that .github/CODEOWNERS names for each.
All owners: @microsoft/cbl-mariner-stable-maintainers, @microsoft/cbl-mariner-admins, @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-imagecustomizer

Add service start
  SPECS-EXTENDED/azl-otel-collector/azl-otel-collector.spec
Owners: @microsoft/cbl-mariner-devs

fix spacing
  SPECS/tar/tar.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

fix ptest
  SPECS/python-platformdirs/python-platformdirs.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

align tests with updated python3.12.9 version
  SPECS/future/future.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

fix python-jwt ptest
  SPECS/python-jwt/python-jwt.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Reduce precacher concurrency
  .pipelines/templates/PackageBuild.yml
  toolkit/scripts/precache.mk
Owners: @microsoft/cbl-mariner-stable-maintainers

[Medium] Patch qemu for CVE-2023-6693
  SPECS/qemu/CVE-2023-6693.patch
  SPECS/qemu/qemu.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

add test_urllib tests to skip for python3.12.9
  SPECS/future/future.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

fix ptest
  SPECS/python-typing-extensions/python-typing-extensions.spec
  SPECS/python-typing-extensions/test_generic_protocols_special_from_protocol.patch
Owners: @microsoft/cbl-mariner-stable-maintainers

fix python-iniparse ptest
  SPECS/python-iniparse/0001-Fix-tests-with-python-3.12.1.patch
  SPECS/python-iniparse/python-iniparse.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

upgrade python-toolz to 0.12.1 for python 3.12 support and ptest fix
  SPECS/python-toolz/python-toolz.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-stable-maintainers

Revert "upgrade python-toolz to 0.12.1 for python 3.12 support and ptest fix"
  SPECS/python-toolz/python-toolz.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-stable-maintainers

change nose tests to pytest
  SPECS/python-toolz/python-toolz.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

[Medium] Patch qemu for CVE-2021-20255
  SPECS/qemu/CVE-2021-20255.patch
  SPECS/qemu/qemu.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

remove auto start of systemd service
  SPECS-EXTENDED/azl-otel-collector/azl-otel-collector.spec
Owners: @microsoft/cbl-mariner-devs

add PYTHONPATH
  SPECS/python-toolz/python-toolz.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Fix ptest zsh (#13307)
  SPECS/zsh/zsh.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Fix tar Ptest (#13308)
  SPECS/tar/tar-1.33-fix-capabilities-test.patch
  SPECS/tar/tar-1.35-add-forgotten-tests-from-upstream.patch
  SPECS/tar/tar.spec
  toolkit/resources/manifests/package/pkggen_core_aarch64.txt
  toolkit/resources/manifests/package/pkggen_core_x86_64.txt
  toolkit/resources/manifests/package/toolchain_aarch64.txt
  toolkit/resources/manifests/package/toolchain_x86_64.txt
Owners: @microsoft/cbl-mariner-stable-maintainers

fix python-jwt ptest (#13310)
  SPECS/python-jwt/python-jwt.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

De-uplicating SRPM names.
  SPECS-SIGNED/fwctl-signed/fwctl-signed.spec
  SPECS-SIGNED/iser-signed/iser-signed.spec
  SPECS-SIGNED/isert-signed/isert-signed.spec
  SPECS-SIGNED/mft_kernel-signed/mft_kernel-signed.spec
  SPECS-SIGNED/mlnx-nfsrdma-signed/mlnx-nfsrdma-signed.spec
  SPECS-SIGNED/mlnx-ofa_kernel-modules-signed/mlnx-ofa_kernel-modules-signed.spec
  SPECS-SIGNED/srp-signed/srp-signed.spec
  SPECS/mft_kernel/mft_kernel.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Updating 'Release' tags.
  SPECS-SIGNED/fwctl-signed/fwctl-signed.spec
  SPECS-SIGNED/iser-signed/iser-signed.spec
  SPECS-SIGNED/isert-signed/isert-signed.spec
  SPECS-SIGNED/mft_kernel-signed/mft_kernel-signed.spec
  SPECS-SIGNED/mlnx-nfsrdma-signed/mlnx-nfsrdma-signed.spec
  SPECS-SIGNED/mlnx-ofa_kernel-modules-signed/mlnx-ofa_kernel-modules-signed.spec
  SPECS-SIGNED/srp-signed/srp-signed.spec
  SPECS/fwctl/fwctl.spec
  SPECS/iser/iser.spec
  SPECS/isert/isert.spec
  SPECS/mft_kernel/mft_kernel.spec
  SPECS/mlnx-nfsrdma/mlnx-nfsrdma.spec
  SPECS/mlnx-ofa_kernel/mlnx-ofa_kernel.spec
  SPECS/srp/srp.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

add test patch to fix testing
  SPECS/python-toolz/python-3.12.9-test_wrapped-fix.patch
  SPECS/python-toolz/python-toolz.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Adding SRPMs duplicates check.
  .github/workflows/check-srpm-duplicates.yml
  toolkit/scripts/check_srpms_duplicates.py
Owners: @microsoft/cbl-mariner-stable-maintainers

Updated lua-json to version 1.3.4
  SPECS-EXTENDED/lua-json/48.patch
  SPECS-EXTENDED/lua-json/lua-json.signatures.json
  SPECS-EXTENDED/lua-json/lua-json.spec
  SPECS-EXTENDED/lua-json/luajson-lua-5.2.patch
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-stable-maintainers

Fixing a bug and refactoring.
  .github/workflows/check-srpm-duplicates.yml
  toolkit/scripts/check_srpms_duplicates.py
Owners: @microsoft/cbl-mariner-stable-maintainers

Clean-up.
  .github/workflows/check-srpm-duplicates.yml
Owners: @microsoft/cbl-mariner-stable-maintainers

Upgraded mod_intercept_form_submit to version 1.2.0
  SPECS-EXTENDED/mod_intercept_form_submit/mod_intercept_form_submit.signatures.json
  SPECS-EXTENDED/mod_intercept_form_submit/mod_intercept_form_submit.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-stable-maintainers

Changed requires to provides to resolve dependency issues
  SPECS-EXTENDED/mod_intercept_form_submit/mod_intercept_form_submit.spec
Owners: @microsoft/cbl-mariner-devs

Added newline at the end of spec and signature file
  SPECS-EXTENDED/mod_intercept_form_submit/mod_intercept_form_submit.signatures.json
  SPECS-EXTENDED/mod_intercept_form_submit/mod_intercept_form_submit.spec
Owners: @microsoft/cbl-mariner-devs

Switch to having default config come from source and only enable service
  SPECS-EXTENDED/azl-otel-collector/azl-otel-collector.service
  SPECS-EXTENDED/azl-otel-collector/azl-otel-collector.signatures.json
  SPECS-EXTENDED/azl-otel-collector/azl-otel-collector.spec
  SPECS-EXTENDED/azl-otel-collector/config.yml
Owners: @microsoft/cbl-mariner-devs

Re-naming script.
  toolkit/scripts/check_srpm_duplicates.py
Owners: @microsoft/cbl-mariner-stable-maintainers

moved back httpd-mmn under requires and removed version check for it
  SPECS-EXTENDED/mod_intercept_form_submit/mod_intercept_form_submit.spec
Owners: @microsoft/cbl-mariner-devs

TEST: should find SRPM duplicates in 'srp'.
  SPECS-SIGNED/srp-signed/srp-signed.spec
  SPECS/srp/srp.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Revert "TEST: should find SRPM duplicates in 'srp'."
  SPECS-SIGNED/srp-signed/srp-signed.spec
  SPECS/srp/srp.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Moved httpd-mmn under Requires and removed macro _httpd_mmn
  SPECS-EXTENDED/mod_authnz_pam/mod_authnz_pam.spec
Owners: @microsoft/cbl-mariner-devs

Added newline at the end of spec and signature file
  SPECS-EXTENDED/mod_authnz_pam/mod_authnz_pam.signatures.json
  SPECS-EXTENDED/mod_authnz_pam/mod_authnz_pam.spec
Owners: @microsoft/cbl-mariner-devs

moved httpd-mmn under provides to resolve dependency issue
  SPECS-EXTENDED/mod_authnz_pam/mod_authnz_pam.spec
Owners: @microsoft/cbl-mariner-devs

Upgraded mod_authnz_pam to version 1.2.3
  SPECS-EXTENDED/mod_authnz_pam/mod_authnz_pam.signatures.json
  SPECS-EXTENDED/mod_authnz_pam/mod_authnz_pam.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-stable-maintainers

corrected to https url in manifest file
  cgmanifest.json
Owners: @microsoft/cbl-mariner-stable-maintainers

patch perl cve
  SPECS/perl/CVE-2024-56406.patch
  SPECS/perl/perl.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

.github/CODEOWNERS:

# For stable release branches, ensure stable release maintainers are added as code reviewers
* @microsoft/cbl-mariner-stable-maintainers

# Modification to this file require admin approval.
/.github/CODEOWNERS @microsoft/cbl-mariner-admins

# Modifications to the build pipelines require admin approval.
/.pipelines/* @microsoft/cbl-mariner-admins

# Modifications to the CredScan exceptions require admin approval.
/.config/CredScanSuppressions.json @microsoft/cbl-mariner-admins

/SPECS-EXTENDED/ @microsoft/cbl-mariner-devs

# Image Customizer
/toolkit/tools/imagecustomizer/ @microsoft/cbl-mariner-imagecustomizer
/toolkit/tools/imagecustomizerapi/ @microsoft/cbl-mariner-imagecustomizer
/toolkit/tools/osmodifier @microsoft/cbl-mariner-imagecustomizer
/toolkit/tools/pkg/imagecustomizerlib/ @microsoft/cbl-mariner-imagecustomizer
/toolkit/tools/pkg/osmodifierlib @microsoft/cbl-mariner-imagecustomizer
/toolkit/scripts/build_tag_imagecustomizer.mk @microsoft/cbl-mariner-imagecustomizer
