Repository microsoft/azurelinux, changes with the owners that .github/CODEOWNERS names for each.
All owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-admins, @microsoft/cbl-mariner-kernel, @microsoft/cbl-mariner-kata-containers, @microsoft/cbl-mariner-bootloader, @microsoft/cbl-mariner-dracut, @microsoft/cbl-mariner-systemd, @microsoft/cbl-mariner-debug-tools, @microsoft/cbl-mariner-openssl, @microsoft/cbl-mariner-package-managers, @microsoft/cbl-mariner-container-runtime, @microsoft/cbl-mariner-virtualization, @microsoft/cbl-mariner-provisioning, @microsoft/cbl-mariner-tooling, @microsoft/cbl-mariner-toolchain, @microsoft/cbl-mariner-imagecustomizer

openssl: remove make-dummy-certs and renew-dummy-cert scripts (#8496)
  SPECS/openssl/openssl.signatures.json
  SPECS/openssl/openssl.spec
  toolkit/resources/manifests/package/pkggen_core_aarch64.txt
  toolkit/resources/manifests/package/pkggen_core_x86_64.txt
  toolkit/resources/manifests/package/toolchain_aarch64.txt
  toolkit/resources/manifests/package/toolchain_x86_64.txt
Owners: @microsoft/cbl-mariner-openssl, @microsoft/cbl-mariner-toolchain

Cython: fix package test by using python312 requirements (#8505)
  SPECS/Cython/Cython.spec
  SPECS/Cython/fix_testcycache.patch
  toolkit/resources/manifests/package/toolchain_aarch64.txt
  toolkit/resources/manifests/package/toolchain_x86_64.txt
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-toolchain

add network and kernel print config files to full-aarch.json (#8470)
  toolkit/imageconfigs/full-aarch64.json
Owners: @microsoft/cbl-mariner-devs

moby-engine: fix userland-proxy service failure (#8513)
  SPECS/moby-engine/daemon.json
  SPECS/moby-engine/moby-engine.signatures.json
  SPECS/moby-engine/moby-engine.spec
Owners: @microsoft/cbl-mariner-container-runtime

Fix py-crypto, tpm2-pytss, tpm2-pkcs11 because openssl isn't building what they expect (#8424)
  SPECS/python-cryptography/0001-remove-openssl-cipher-Cipher-chacha20_poly1305.patch
  SPECS/python-cryptography/0002-remove-poly1305-tests.patch
  SPECS/python-cryptography/python-cryptography.signatures.json
  SPECS/python-cryptography/python-cryptography.spec
  SPECS/tpm2-pytss/0001-remove-tests-for-unsupported-openssl.patch
  SPECS/tpm2-pytss/tpm2-pytss.signatures.json
  SPECS/tpm2-pytss/tpm2-pytss.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs

systemd: require our "bootstrap" macros when building
  SPECS/systemd/systemd.spec
Owners: @microsoft/cbl-mariner-systemd

Bump golang version to 1.21.8-1, build version to 1.21.8-2 (#8500)
  SPECS/golang/golang.signatures.json
  SPECS/golang/golang.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs

Image Customizer: Add storage struct. (#8463)
  toolkit/tools/imagecustomizerapi/boottype.go
  toolkit/tools/imagecustomizerapi/config.go
  toolkit/tools/imagecustomizerapi/config_test.go
  toolkit/tools/imagecustomizerapi/os.go
  toolkit/tools/imagecustomizerapi/os_test.go
  toolkit/tools/imagecustomizerapi/storage.go
  toolkit/tools/imagecustomizerapi/storage_test.go
  toolkit/tools/pkg/imagecustomizerlib/customizepartitionsfilecopy.go
  toolkit/tools/pkg/imagecustomizerlib/customizeutils.go
  toolkit/tools/pkg/imagecustomizerlib/imagecustomizer.go
  toolkit/tools/pkg/imagecustomizerlib/testdata/legacyboot-config.yaml
  toolkit/tools/pkg/imagecustomizerlib/testdata/mshvkernel-config.yaml
  toolkit/tools/pkg/imagecustomizerlib/testdata/partitions-config.yaml
Owners: @microsoft/cbl-mariner-imagecustomizer

fix tmpfiles.d conf to avoid "Line references path below legacy directory /var/run/" warnings
  SPECS/dbus/dbus.spec
  SPECS/libselinux/libselinux.spec
  toolkit/resources/manifests/package/pkggen_core_aarch64.txt
  toolkit/resources/manifests/package/pkggen_core_x86_64.txt
  toolkit/resources/manifests/package/toolchain_aarch64.txt
  toolkit/resources/manifests/package/toolchain_x86_64.txt
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-toolchain

Add thrift package to Azure Linux (#8448)
  SPECS/LICENSES-AND-NOTICES/LICENSES-MAP.md
  SPECS/LICENSES-AND-NOTICES/data/licenses.json
  SPECS/thrift/configure-java-prefix.patch
  SPECS/thrift/thrift.signatures.json
  SPECS/thrift/thrift.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs

Update format idtype function. (#8478)
  toolkit/tools/pkg/imagecustomizerlib/customizeverity.go
Owners: @microsoft/cbl-mariner-imagecustomizer

Add zstd to the prereqs (#8480)
  toolkit/docs/building/prerequisites-mariner.md
  toolkit/docs/building/prerequisites-ubuntu.md
Owners: @microsoft/cbl-mariner-devs

Build Break: Fix signature for dhcp (#8498)
  SPECS/dhcp/dhcp.signatures.json
Owners: @microsoft/cbl-mariner-devs

Update usbip to 6.6.14.1 (#8476)
  SPECS/usbip/extract_usbip.sh
  SPECS/usbip/usbip.signatures.json
  SPECS/usbip/usbip.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs

Remove nmi package (#8416)
  SPECS/LICENSES-AND-NOTICES/LICENSES-MAP.md
  SPECS/LICENSES-AND-NOTICES/data/licenses.json
  SPECS/nmi/modify-go-build-option.patch
  SPECS/nmi/nmi.signatures.json
  SPECS/nmi/nmi.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs

docker-compose: fix license to ASL 2.0 (#8473)
  SPECS/docker-compose/docker-compose.spec
Owners: @microsoft/cbl-mariner-devs

qemu: patch to skip migration tests, pcre2 move (#8493)
  SPECS/qemu/0002-disable-migration-tests.patch
  SPECS/qemu/qemu.spec
Owners: @microsoft/cbl-mariner-devs

dhcp: update to final isc-dhcp version, which has been EOL since Dec 2022
  SPECS/dhcp/dhcp.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs

Add config files to allow the iso install to connect to the network and remove audit messages (#8459)
  toolkit/imageconfigs/additionalconfigs/99-dhcp-en.network
  toolkit/imageconfigs/full.json
  toolkit/resources/imageconfigs/additionalfiles/iso_initrd/10-console-messages.conf
  toolkit/resources/imageconfigs/iso_initrd.json
  toolkit/resources/imageconfigs/iso_initrd_arm64.json
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-tooling

Split off mkconfig from grub2 package to reduce image footprint (#8485)
  SPECS-SIGNED/grub2-efi-binary-signed/grub2-efi-binary-signed.spec
  SPECS/grub2/grub2.spec
  toolkit/imageconfigs/packagelists/core-packages-image-aarch64.json
  toolkit/imageconfigs/packagelists/core-packages-image.json
  toolkit/tools/imageconfigvalidator/imageconfigvalidator.go
Owners: @microsoft/cbl-mariner-bootloader, @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-tooling

Image Customizer: Check for file system errors. (#8484)
  toolkit/tools/imagecustomizer/README.md
  toolkit/tools/pkg/imagecustomizerlib/checkfilesystem.go
  toolkit/tools/pkg/imagecustomizerlib/imagecustomizer.go
Owners: @microsoft/cbl-mariner-imagecustomizer

Supplement the documentation content of Verity and Overlay. (#8509)
  toolkit/tools/imagecustomizer/docs/configuration.md
Owners: @microsoft/cbl-mariner-imagecustomizer

Remove pcre2-doc subpackage as runtime dependency for both pcre2 and pcre2-tools (#8487)
  SPECS/pcre2/pcre2.spec
  toolkit/resources/manifests/package/toolchain_aarch64.txt
  toolkit/resources/manifests/package/toolchain_x86_64.txt
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-toolchain

Revert "systemd: add Provides: for the "bootstrap" package names" (#8514)
  SPECS/systemd/systemd.spec
Owners: @microsoft/cbl-mariner-systemd

Remove set -ex from the overlay script. (#8481)
  SPECS/dracut/20overlayfs/overlayfs-mount.sh
  SPECS/dracut/dracut.signatures.json
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-dracut

systemd: add Provides: for the "bootstrap" package names
  SPECS/systemd/systemd.spec
Owners: @microsoft/cbl-mariner-systemd

python-setuptools_scm: fix signature file mismatch causing build failure (#8518)
  SPECS/python-setuptools_scm/python-setuptools_scm.signatures.json
Owners: @microsoft/cbl-mariner-devs

Fix Disk Not Ejecting Post Install on Gen-1 Hyper-v VM (#8506)
  toolkit/tools/liveinstaller/liveinstaller.go
Owners: @microsoft/cbl-mariner-tooling

coreutils: fix serial-console.sh
  SPECS/coreutils/coreutils.signatures.json
  SPECS/coreutils/coreutils.spec
  SPECS/coreutils/serial-console.sh
  toolkit/resources/manifests/package/pkggen_core_aarch64.txt
  toolkit/resources/manifests/package/pkggen_core_x86_64.txt
  toolkit/resources/manifests/package/toolchain_aarch64.txt
  toolkit/resources/manifests/package/toolchain_x86_64.txt
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-toolchain

Image Customizer: Add FileSystem and MountPoint struct. (#8491)
  toolkit/tools/imagecustomizer/docs/configuration.md
  toolkit/tools/imagecustomizerapi/config_test.go
  toolkit/tools/imagecustomizerapi/disk.go
  toolkit/tools/imagecustomizerapi/disk_test.go
  toolkit/tools/imagecustomizerapi/filesystem.go
  toolkit/tools/imagecustomizerapi/mountidentifiertype.go
  toolkit/tools/imagecustomizerapi/mountpoint.go
  toolkit/tools/imagecustomizerapi/mountpoint_test.go
  toolkit/tools/imagecustomizerapi/partition.go
  toolkit/tools/imagecustomizerapi/partition_test.go
  toolkit/tools/imagecustomizerapi/partitionsetting.go
  toolkit/tools/imagecustomizerapi/storage.go
  toolkit/tools/imagecustomizerapi/storage_test.go
  toolkit/tools/pkg/imagecustomizerlib/customizepartitionsfilecopy.go
  toolkit/tools/pkg/imagecustomizerlib/customizeutils.go
  toolkit/tools/pkg/imagecustomizerlib/imagecustomizer_test.go
  toolkit/tools/pkg/imagecustomizerlib/imageutils.go
  toolkit/tools/pkg/imagecustomizerlib/testdata/legacyboot-config.yaml
  toolkit/tools/pkg/imagecustomizerlib/testdata/mshvkernel-config.yaml
  toolkit/tools/pkg/imagecustomizerlib/testdata/partitions-config.yaml
  toolkit/tools/pkg/imagecustomizerlib/typeConversion.go
Owners: @microsoft/cbl-mariner-imagecustomizer

[AUTOPATCHER-CORE] Upgrade python-setuptools_scm to 8.0.3 3.0 package upgrade (#7981)
  SPECS/python-setuptools_scm/python-setuptools_scm.signatures.json
  SPECS/python-setuptools_scm/python-setuptools_scm.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs

Fix Build Break: Missing sha256 sum for new file (#8479)
  SPECS/azurelinux-release/azurelinux-release.signatures.json
Owners: @microsoft/cbl-mariner-devs

cryptsetup: enable ssh-token
  SPECS/cryptsetup/cryptsetup.spec
Owners: @microsoft/cbl-mariner-devs

retroactively "fix" version number in previous changelog entry
  SPECS-SIGNED/kernel-signed/kernel-signed.spec
Owners: @microsoft/cbl-mariner-kernel

Remove kernel-mshv-tools (#8536)
  SPECS/kernel-mshv/kernel-mshv.spec
Owners: @microsoft/cbl-mariner-kata-containers

Upgrade xmvn to 4.2.0 (#8545)
  SPECS/xmvn/xmvn.signatures.json
  SPECS/xmvn/xmvn.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs

abseil-cpp: upgrade to 20240116.0, opentelemetry-cpp: upgrade to 1.14.2, nginx: upgrade to 1.25.4 (#8555)
  SPECS/abseil-cpp/abseil-cpp.signatures.json
  SPECS/abseil-cpp/abseil-cpp.spec
  SPECS/grpc/grpc.spec
  SPECS/nginx/nginx.signatures.json
  SPECS/nginx/nginx.spec
  SPECS/opentelemetry-cpp/opentelemetry-cpp.signatures.json
  SPECS/opentelemetry-cpp/opentelemetry-cpp.spec
  SPECS/protobuf-c/protobuf-c.spec
  SPECS/protobuf/protobuf.spec
  SPECS/re2/re2.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs

add libgcc back in distroless base image (#8520)
  SPECS/distroless-packages/distroless-packages.spec
Owners: @microsoft/cbl-mariner-devs

docs: Add documentation on how to add a new package. (#8178)
  toolkit/README.md
  toolkit/docs/building/add-package.md
Owners: @microsoft/cbl-mariner-tooling, @microsoft/cbl-mariner-devs

Fix build issues with OpenIPMI 2.0.32 in 3.0 (#8566)
  SPECS/OpenIPMI/OpenIPMI.spec
Owners: @microsoft/cbl-mariner-devs

.github/CODEOWNERS:

# By default, all files require a review by at least one member of the Azure Linux developers team.
# See teams here: https://github.com/orgs/microsoft/teams?query=mariner
* @microsoft/cbl-mariner-devs

# Modification to this file require admin approval.
/.github/CODEOWNERS @microsoft/cbl-mariner-admins

# Modifications to the build pipelines require admin approval.
/.pipelines/* @microsoft/cbl-mariner-admins

# Modifications to the CredScan exceptions require admin approval.
/.config/CredScanSuppressions.json @microsoft/cbl-mariner-admins

# Modification to what is considered "core packages" require admin approval.
/SPECS/core-packages/* @microsoft/cbl-mariner-admins

# Modification to specific packages go to specific teams
/SPECS/kernel/* @microsoft/cbl-mariner-kernel
/SPECS/kernel-headers/* @microsoft/cbl-mariner-kernel
/SPECS/kernel-mshv/* @microsoft/cbl-mariner-kata-containers
/SPECS/kernel-uvm/* @microsoft/cbl-mariner-kata-containers
/SPECS-SIGNED/kernel-signed/* @microsoft/cbl-mariner-kernel
/SPECS-SIGNED/kernel-mstflint-signed/* @microsoft/cbl-mariner-kernel

/SPECS/grub2/* @microsoft/cbl-mariner-bootloader
/SPECS/grubby/* @microsoft/cbl-mariner-bootloader
/SPECS/shim/* @microsoft/cbl-mariner-bootloader
/SPECS/shim-unsigned/* @microsoft/cbl-mariner-bootloader
/SPECS/shim-unsigned-x64/* @microsoft/cbl-mariner-bootloader
/SPECS/shim-unsigned-aarch64/* @microsoft/cbl-mariner-bootloader
/SPECS-SIGNED/grub2-efi-binary-signed/* @microsoft/cbl-mariner-bootloader

/SPECS/dracut/* @microsoft/cbl-mariner-dracut
/SPECS/initramfs/* @microsoft/cbl-mariner-dracut
/SPECS/verity-read-only-root/* @microsoft/cbl-mariner-dracut

/SPECS/systemd/* @microsoft/cbl-mariner-systemd

/SPECS/bcc/* @microsoft/cbl-mariner-debug-tools
/SPECS/bpftrace/* @microsoft/cbl-mariner-debug-tools
/SPECS/crash/* @microsoft/cbl-mariner-debug-tools
/SPECS/gdb/* @microsoft/cbl-mariner-debug-tools
/SPECS/kexec-tools/* @microsoft/cbl-mariner-debug-tools

/SPECS/openssl/* @microsoft/cbl-mariner-openssl
/SPECS/SymCrypt-OpenSSL/* @microsoft/cbl-mariner-openssl
/SPECS/SymCrypt/* @microsoft/cbl-mariner-openssl

/SPECS/dnf/* @microsoft/cbl-mariner-package-managers
/SPECS/dnf-plugins-core/* @microsoft/cbl-mariner-package-managers
/SPECS/rpm/* @microsoft/cbl-mariner-package-managers
/SPECS/tdnf/* @microsoft/cbl-mariner-package-managers

/SPECS/containerd/* @microsoft/cbl-mariner-container-runtime
/SPECS/docker-buildx/* @microsoft/cbl-mariner-container-runtime
/SPECS/docker-cli/* @microsoft/cbl-mariner-container-runtime
/SPECS/kata-containers/* @microsoft/cbl-mariner-kata-containers
/SPECS/kata-containers-cc/* @microsoft/cbl-mariner-kata-containers
/SPECS/moby-containerd-cc/* @microsoft/cbl-mariner-kata-containers
/SPECS/moby-engine/* @microsoft/cbl-mariner-container-runtime
/SPECS/runc/* @microsoft/cbl-mariner-container-runtime
/SPECS/virtiofsd/* @microsoft/cbl-mariner-kata-containers

/SPECS/cloud-hypervisor/* @microsoft/cbl-mariner-virtualization
/SPECS/hvloader/* @microsoft/cbl-mariner-kata-containers

/SPECS/cloud-init/* @microsoft/cbl-mariner-provisioning
/SPECS/walinuxagent/* @microsoft/cbl-mariner-provisioning

# Modifications to the toolkit requires reviews from the toolkit team
/toolkit/ @microsoft/cbl-mariner-tooling

# Docs to be reviewed by general Azure Linux devs
/toolkit/docs/ @microsoft/cbl-mariner-devs

# Default image configurations to be reviewed by general Azure Linux devs
/toolkit/imageconfigs/ @microsoft/cbl-mariner-devs

# Package and toolchain manifests to be reviewed by toolchain team
/toolkit/resources/manifests/package/pkggen_core_aarch64.txt @microsoft/cbl-mariner-toolchain
/toolkit/resources/manifests/package/pkggen_core_x86_64.txt @microsoft/cbl-mariner-toolchain
/toolkit/resources/manifests/package/toolchain_aarch64.txt @microsoft/cbl-mariner-toolchain
/toolkit/resources/manifests/package/toolchain_x86_64.txt @microsoft/cbl-mariner-toolchain

# Modifications to the raw toolchain require admin approval.
/toolkit/scripts/toolchain/container/* @microsoft/cbl-mariner-admins
/toolkit/scripts/toolchain/cgmanifest.json @microsoft/cbl-mariner-admins
/toolkit/scripts/toolchain/create_toolchain_in_container.sh @microsoft/cbl-mariner-admins

# Image Customizer
/toolkit/tools/imagecustomizer/ @microsoft/cbl-mariner-imagecustomizer
/toolkit/tools/imagecustomizerapi/ @microsoft/cbl-mariner-imagecustomizer
/toolkit/tools/osmodifier @microsoft/cbl-mariner-imagecustomizer
/toolkit/tools/pkg/imagecustomizerlib/ @microsoft/cbl-mariner-imagecustomizer
/toolkit/tools/pkg/osmodifierlib @microsoft/cbl-mariner-imagecustomizer
