Repository microsoft/azurelinux, changes with the owners that .github/CODEOWNERS names for each.
All owners: @microsoft/cbl-mariner-stable-maintainers, @microsoft/cbl-mariner-admins, @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-imagecustomizer

[AUTO-CHERRYPICK] [Low] patch application-gateway-kubernetes-ingress for CVE-2024-51744 - branch main (#13362)
  SPECS/application-gateway-kubernetes-ingress/CVE-2024-51744.patch
  SPECS/application-gateway-kubernetes-ingress/application-gateway-kubernetes-ingress.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

[AUTO-CHERRYPICK] [Low] Patch curl for CVE-2025-0167 - branch main (#13363)
  SPECS/curl/CVE-2025-0167.patch
  SPECS/curl/curl.spec
  toolkit/resources/manifests/package/pkggen_core_aarch64.txt
  toolkit/resources/manifests/package/pkggen_core_x86_64.txt
  toolkit/resources/manifests/package/toolchain_aarch64.txt
  toolkit/resources/manifests/package/toolchain_x86_64.txt
Owners: @microsoft/cbl-mariner-stable-maintainers

[AUTO-CHERRYPICK] [Low] Patch kubernetes for CVE-2024-51744 - branch main (#13364)
  SPECS/kubernetes/CVE-2024-51744.patch
  SPECS/kubernetes/kubernetes.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

[MEDIUM] Patch numpy to fix CVE-2018-1999024 (#12348)
  SPECS/numpy/CVE-2018-1999024.patch
  SPECS/numpy/numpy.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

[Medium] Patch dietlibc for CVE-2015-1473 (#12432)
  SPECS/dietlibc/CVE-2015-1473.patch
  SPECS/dietlibc/dietlibc.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Patch gnutls for CVE-2024-12133 [Medium] (#12639)
  SPECS/gnutls/CVE-2024-12133.patch
  SPECS/gnutls/gnutls.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

[Medium] Patch vitess for CVE-2025-22870 (#12932)
  SPECS/vitess/CVE-2025-22870.patch
  SPECS/vitess/vitess.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Patch `ceph` for CVE-2021-28361 [High] (#13342)
  SPECS/ceph/CVE-2021-28361.patch
  SPECS/ceph/ceph.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

[MEDIUM] Patch numpy to fix CVE-2018-1999024 (#12348)
  SPECS/numpy/CVE-2018-1999024.patch
  SPECS/numpy/numpy.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

[Medium] Patch dietlibc for CVE-2015-1473 (#12432)
  SPECS/dietlibc/CVE-2015-1473.patch
  SPECS/dietlibc/dietlibc.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Patch gnutls for CVE-2024-12133 [Medium] (#12639)
  SPECS/gnutls/CVE-2024-12133.patch
  SPECS/gnutls/gnutls.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

[Low] Patch subversion for CVE-2024-46901 (#12862)
  SPECS/subversion/CVE-2024-46901-advisory.patch
  SPECS/subversion/subversion.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

[AUTO-CHERRYPICK] [LOW] Patch unzip to fix CVE-2021-4217 - branch main (#13358)
  SPECS/unzip/CVE-2021-4217.patch
  SPECS/unzip/unzip.spec
  toolkit/resources/manifests/package/pkggen_core_aarch64.txt
  toolkit/resources/manifests/package/pkggen_core_x86_64.txt
  toolkit/resources/manifests/package/toolchain_aarch64.txt
  toolkit/resources/manifests/package/toolchain_x86_64.txt
Owners: @microsoft/cbl-mariner-stable-maintainers

[Medium] patch memcached for CVE-2021-44647 (#13056)
  SPECS/memcached/CVE-2021-44647.patch
  SPECS/memcached/memcached.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Patch expat for CVE-2024-8176 [HIGH] (#13062)
  SPECS/expat/CVE-2024-50602.patch
  SPECS/expat/CVE-2024-8176.patch
  SPECS/expat/expat.signatures.json
  SPECS/expat/expat.spec
  cgmanifest.json
  toolkit/resources/manifests/package/pkggen_core_aarch64.txt
  toolkit/resources/manifests/package/pkggen_core_x86_64.txt
  toolkit/resources/manifests/package/toolchain_aarch64.txt
  toolkit/resources/manifests/package/toolchain_x86_64.txt
Owners: @microsoft/cbl-mariner-stable-maintainers

Patch prometheus-node-exporter for CVE-2025-22870 [Medium] (#13304)
  SPECS/prometheus-node-exporter/CVE-2025-22870.patch
  SPECS/prometheus-node-exporter/prometheus-node-exporter.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Upgrade libssh2 to 1.11.1 for CVE-2023-48795 [Medium] (#13274)
  SPECS/libssh2/libssh2.signatures.json
  SPECS/libssh2/libssh2.spec
  cgmanifest.json
  toolkit/resources/manifests/package/pkggen_core_aarch64.txt
  toolkit/resources/manifests/package/pkggen_core_x86_64.txt
  toolkit/resources/manifests/package/toolchain_aarch64.txt
  toolkit/resources/manifests/package/toolchain_x86_64.txt
Owners: @microsoft/cbl-mariner-stable-maintainers

[Medium] Patch vitess for CVE-2025-22870 (#12932)
  SPECS/vitess/CVE-2025-22870.patch
  SPECS/vitess/vitess.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Patch `ceph` for CVE-2021-28361 [High] (#13342)
  SPECS/ceph/CVE-2021-28361.patch
  SPECS/ceph/ceph.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Upgrade `mysql` to 8.0.41 for CVE-2025-21490 & CVE-2024-11053 [High] (#13115)
  SPECS/mysql/CVE-2024-9681.patch
  SPECS/mysql/CVE-2025-0725.patch
  SPECS/mysql/mysql.signatures.json
  SPECS/mysql/mysql.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-stable-maintainers

Patch `blobfuse2` for CVE-2025-30204 [High] (#13174)
  SPECS/blobfuse2/CVE-2025-30204.patch
  SPECS/blobfuse2/blobfuse2.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

[Low] Patch subversion for CVE-2024-46901 (#12862)
  SPECS/subversion/CVE-2024-46901-advisory.patch
  SPECS/subversion/subversion.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

[Medium] patch memcached for CVE-2021-44647 (#13056)
  SPECS/memcached/CVE-2021-44647.patch
  SPECS/memcached/memcached.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Patch prometheus-node-exporter for CVE-2025-22870 [Medium] (#13304)
  SPECS/prometheus-node-exporter/CVE-2025-22870.patch
  SPECS/prometheus-node-exporter/prometheus-node-exporter.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Patch expat for CVE-2024-8176 [HIGH] (#13062)
  SPECS/expat/CVE-2024-50602.patch
  SPECS/expat/CVE-2024-8176.patch
  SPECS/expat/expat.signatures.json
  SPECS/expat/expat.spec
  cgmanifest.json
  toolkit/resources/manifests/package/pkggen_core_aarch64.txt
  toolkit/resources/manifests/package/pkggen_core_x86_64.txt
  toolkit/resources/manifests/package/toolchain_aarch64.txt
  toolkit/resources/manifests/package/toolchain_x86_64.txt
Owners: @microsoft/cbl-mariner-stable-maintainers

[Medium] Patch qemu for CVE-2023-3019
  SPECS/qemu/CVE-2023-3019.patch
  SPECS/qemu/qemu.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Upgrade libssh2 to 1.11.1 for CVE-2023-48795 [Medium] (#13274)
  SPECS/libssh2/libssh2.signatures.json
  SPECS/libssh2/libssh2.spec
  cgmanifest.json
  toolkit/resources/manifests/package/pkggen_core_aarch64.txt
  toolkit/resources/manifests/package/pkggen_core_x86_64.txt
  toolkit/resources/manifests/package/toolchain_aarch64.txt
  toolkit/resources/manifests/package/toolchain_x86_64.txt
Owners: @microsoft/cbl-mariner-stable-maintainers

Patch `blobfuse2` for CVE-2025-30204 [High] (#13174)
  SPECS/blobfuse2/CVE-2025-30204.patch
  SPECS/blobfuse2/blobfuse2.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Upgrade `mysql` to 8.0.41 for CVE-2025-21490 & CVE-2024-11053 [High] (#13115)
  SPECS/mysql/CVE-2024-9681.patch
  SPECS/mysql/CVE-2025-0725.patch
  SPECS/mysql/mysql.signatures.json
  SPECS/mysql/mysql.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-stable-maintainers

Fixing error printing
  toolkit/scripts/check_srpm_duplicates.py
Owners: @microsoft/cbl-mariner-stable-maintainers

Fixing error printing
  toolkit/scripts/check_srpm_duplicates.py
Owners: @microsoft/cbl-mariner-stable-maintainers

Upgrade zziplib to 0.13.74 (#12780)
  SPECS-EXTENDED/zziplib/zziplib.signatures.json
  SPECS-EXTENDED/zziplib/zziplib.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-stable-maintainers

Upgrade: perl-Class-Data-Inheritable version to 0.09 (#11708)
  SPECS-EXTENDED/perl-Class-Data-Inheritable/perl-Class-Data-Inheritable.signatures.json
  SPECS-EXTENDED/perl-Class-Data-Inheritable/perl-Class-Data-Inheritable.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-stable-maintainers

Patch CVE-2025-31498 for `fluent-bit` [High]
  SPECS/fluent-bit/CVE-2025-31498.patch
  SPECS/fluent-bit/fluent-bit.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Upgrade: powertop to version 2.15 (#11608)
  SPECS-EXTENDED/powertop/powertop.signatures.json
  SPECS-EXTENDED/powertop/powertop.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-stable-maintainers

Upgrade: python-colorama version to 0.4.6 (#12627)
  SPECS-EXTENDED/python-colorama/python-colorama.signatures.json
  SPECS-EXTENDED/python-colorama/python-colorama.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-stable-maintainers

added new package to SPECS-EXTENDED: rubygem-sys-filesystem version 1.4.3
  SPECS-EXTENDED/rubygem-sys-filesystem/rubygem-sys-filesystem.signatures.json
  SPECS-EXTENDED/rubygem-sys-filesystem/rubygem-sys-filesystem.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-stable-maintainers

rubygem-sys-filesystem: Updated License
  LICENSES-AND-NOTICES/SPECS/LICENSES-MAP.md
  LICENSES-AND-NOTICES/SPECS/data/licenses.json
  SPECS-EXTENDED/rubygem-sys-filesystem/rubygem-sys-filesystem.signatures.json
  SPECS-EXTENDED/rubygem-sys-filesystem/rubygem-sys-filesystem.spec
  cgmanifest.json
  toolkit/freeraduis_cmd.log1
Owners: @microsoft/cbl-mariner-stable-maintainers, @microsoft/cbl-mariner-devs

Upgrade: perl-Archive-Extract version to 0.88 (#11598)
  SPECS-EXTENDED/perl-Archive-Extract/perl-Archive-Extract.signatures.json
  SPECS-EXTENDED/perl-Archive-Extract/perl-Archive-Extract.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-stable-maintainers

Upgrade: perl-Date-Manip version to 6.95 (#11522)
  SPECS-EXTENDED/perl-Date-Manip/perl-Date-Manip.signatures.json
  SPECS-EXTENDED/perl-Date-Manip/perl-Date-Manip.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-stable-maintainers

.github/CODEOWNERS:

# For stable release branches, ensure stable release maintainers are added as code reviewers
* @microsoft/cbl-mariner-stable-maintainers

# Modification to this file require admin approval.
/.github/CODEOWNERS @microsoft/cbl-mariner-admins

# Modifications to the build pipelines require admin approval.
/.pipelines/* @microsoft/cbl-mariner-admins

# Modifications to the CredScan exceptions require admin approval.
/.config/CredScanSuppressions.json @microsoft/cbl-mariner-admins

/SPECS-EXTENDED/ @microsoft/cbl-mariner-devs

# Image Customizer
/toolkit/tools/imagecustomizer/ @microsoft/cbl-mariner-imagecustomizer
/toolkit/tools/imagecustomizerapi/ @microsoft/cbl-mariner-imagecustomizer
/toolkit/tools/osmodifier @microsoft/cbl-mariner-imagecustomizer
/toolkit/tools/pkg/imagecustomizerlib/ @microsoft/cbl-mariner-imagecustomizer
/toolkit/tools/pkg/osmodifierlib @microsoft/cbl-mariner-imagecustomizer
/toolkit/scripts/build_tag_imagecustomizer.mk @microsoft/cbl-mariner-imagecustomizer
