Repository microsoft/azurelinux, changes with the owners that .github/CODEOWNERS names for each.
All owners: @microsoft/cbl-mariner-stable-maintainers, @microsoft/cbl-mariner-admins, @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-imagecustomizer

[Low] Patch dcos-cli for CVE-2024-51744 (#12908)
  SPECS/dcos-cli/CVE-2024-51744.patch
  SPECS/dcos-cli/dcos-cli.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

[Low] patch libtiff for CVE-2023-6228 (#13000)
  SPECS/libtiff/CVE-2023-6228.patch
  SPECS/libtiff/libtiff.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

[Low] patch bpftrace for CVE-2024-2313 (#12999)
  SPECS/bpftrace/CVE-2024-2313.patch
  SPECS/bpftrace/bpftrace.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

[LOW] Patch cf-cli to fix CVE-2024-51744 (#13099)
  SPECS/cf-cli/CVE-2024-51744.patch
  SPECS/cf-cli/cf-cli.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

[Low] Patch prometheus for CVE-2024-51744 (#13050)
  SPECS/prometheus/CVE-2024-51744.patch
  SPECS/prometheus/prometheus.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

[LOW] Patch unzip to fix CVE-2021-4217 (#13103)
  SPECS/unzip/CVE-2021-4217.patch
  SPECS/unzip/unzip.spec
  toolkit/resources/manifests/package/pkggen_core_aarch64.txt
  toolkit/resources/manifests/package/pkggen_core_x86_64.txt
  toolkit/resources/manifests/package/toolchain_aarch64.txt
  toolkit/resources/manifests/package/toolchain_x86_64.txt
Owners: @microsoft/cbl-mariner-stable-maintainers

[Low]patch jx for CVE-2024-51744 (#13051)
  SPECS/jx/CVE-2024-51744.patch
  SPECS/jx/jx.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

[LOW] Patch rook to fix CVE-2024-51744 (#13054)
  SPECS/rook/CVE-2024-51744.patch
  SPECS/rook/rook.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Patch `wpa_supplicant` for CVE-2025-24912 [Low] (#13121)
  SPECS/wpa_supplicant/CVE-2025-24912.patch
  SPECS/wpa_supplicant/wpa_supplicant.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

[LOW] Patch cf-cli to fix CVE-2024-51744 (#13099)
  SPECS/cf-cli/CVE-2024-51744.patch
  SPECS/cf-cli/cf-cli.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

[Low] patch cert-manager for CVE-2024-51744 (#13139)
  SPECS/cert-manager/CVE-2024-51744.patch
  SPECS/cert-manager/cert-manager.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Remove e2fsprogs
  SPECS/kata-packages-uvm/kata-packages-uvm.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

[LOW] Patch unzip to fix CVE-2021-4217 (#13103)
  SPECS/unzip/CVE-2021-4217.patch
  SPECS/unzip/unzip.spec
  toolkit/resources/manifests/package/pkggen_core_aarch64.txt
  toolkit/resources/manifests/package/pkggen_core_x86_64.txt
  toolkit/resources/manifests/package/toolchain_aarch64.txt
  toolkit/resources/manifests/package/toolchain_x86_64.txt
Owners: @microsoft/cbl-mariner-stable-maintainers

[Low]patch kube-vip-cloud-provider for CVE-2024-51744 (#13164)
  SPECS/kube-vip-cloud-provider/CVE-2024-51744.patch
  SPECS/kube-vip-cloud-provider/kube-vip-cloud-provider.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Patch `wpa_supplicant` for CVE-2025-24912 [Low] (#13121)
  SPECS/wpa_supplicant/CVE-2025-24912.patch
  SPECS/wpa_supplicant/wpa_supplicant.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

[Low] patch application-gateway-kubernetes-ingress for CVE-2024-51744 (#13165)
  SPECS/application-gateway-kubernetes-ingress/CVE-2024-51744.patch
  SPECS/application-gateway-kubernetes-ingress/application-gateway-kubernetes-ingress.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

[Low] Patch curl for CVE-2025-0167 (#13182)
  SPECS/curl/CVE-2025-0167.patch
  SPECS/curl/curl.spec
  toolkit/resources/manifests/package/pkggen_core_aarch64.txt
  toolkit/resources/manifests/package/pkggen_core_x86_64.txt
  toolkit/resources/manifests/package/toolchain_aarch64.txt
  toolkit/resources/manifests/package/toolchain_x86_64.txt
Owners: @microsoft/cbl-mariner-stable-maintainers

[Low] patch cert-manager for CVE-2024-51744 (#13139)
  SPECS/cert-manager/CVE-2024-51744.patch
  SPECS/cert-manager/cert-manager.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

[Low]patch kube-vip-cloud-provider for CVE-2024-51744 (#13164)
  SPECS/kube-vip-cloud-provider/CVE-2024-51744.patch
  SPECS/kube-vip-cloud-provider/kube-vip-cloud-provider.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

[Low] patch application-gateway-kubernetes-ingress for CVE-2024-51744 (#13165)
  SPECS/application-gateway-kubernetes-ingress/CVE-2024-51744.patch
  SPECS/application-gateway-kubernetes-ingress/application-gateway-kubernetes-ingress.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

[Low] Patch curl for CVE-2025-0167 (#13182)
  SPECS/curl/CVE-2025-0167.patch
  SPECS/curl/curl.spec
  toolkit/resources/manifests/package/pkggen_core_aarch64.txt
  toolkit/resources/manifests/package/pkggen_core_x86_64.txt
  toolkit/resources/manifests/package/toolchain_aarch64.txt
  toolkit/resources/manifests/package/toolchain_x86_64.txt
Owners: @microsoft/cbl-mariner-stable-maintainers

Added newline at the end of spec and signature file
  SPECS-EXTENDED/mdds/mdds.signatures.json
  SPECS-EXTENDED/mdds/mdds.spec
Owners: @microsoft/cbl-mariner-devs

fixed urls to use https
  SPECS-EXTENDED/mdds/mdds.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-stable-maintainers

Upgraded mdds to version 2.1.1
  SPECS-EXTENDED/mdds/mdds.signatures.json
  SPECS-EXTENDED/mdds/mdds.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-stable-maintainers

[Low] Patch kubernetes for CVE-2024-51744 (#13255)
  SPECS/kubernetes/CVE-2024-51744.patch
  SPECS/kubernetes/kubernetes.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

[AUTO-CHERRYPICK] [Low] Patch python3 for CVE-2025-1795 - branch main (#13335)
  SPECS/python3/CVE-2025-1795.patch
  SPECS/python3/python3.spec
  toolkit/resources/manifests/package/pkggen_core_aarch64.txt
  toolkit/resources/manifests/package/pkggen_core_x86_64.txt
  toolkit/resources/manifests/package/toolchain_aarch64.txt
  toolkit/resources/manifests/package/toolchain_x86_64.txt
Owners: @microsoft/cbl-mariner-stable-maintainers

[AUTO-CHERRYPICK] [High] Patch qemu for CVE-2023-1544, CVE-2023-2861 - branch main (#13348)
  SPECS/qemu/CVE-2023-1544.patch
  SPECS/qemu/CVE-2023-2861.patch
  SPECS/qemu/qemu.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Added newline at the ed of spec and signature file
  SPECS-EXTENDED/libXScrnSaver/libXScrnSaver.signatures.json
  SPECS-EXTENDED/libXScrnSaver/libXScrnSaver.spec
Owners: @microsoft/cbl-mariner-devs

Upgraded libXScrnSaver to version 1.2.4
  SPECS-EXTENDED/libXScrnSaver/libXScrnSaver.signatures.json
  SPECS-EXTENDED/libXScrnSaver/libXScrnSaver.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-stable-maintainers

[AUTO-CHERRYPICK] Patch reaper for CVE-2024-12905 [HIGH] - branch main (#13350)
  SPECS/reaper/CVE-2024-12905.patch
  SPECS/reaper/reaper.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

[AUTO-CHERRYPICK] [Low] Patch dcos-cli for CVE-2024-51744 - branch main (#13351)
  SPECS/dcos-cli/CVE-2024-51744.patch
  SPECS/dcos-cli/dcos-cli.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

[AUTO-CHERRYPICK] [Low] patch libtiff for CVE-2023-6228 - branch main (#13352)
  SPECS/libtiff/CVE-2023-6228.patch
  SPECS/libtiff/libtiff.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

[AUTO-CHERRYPICK] [Low] patch bpftrace for CVE-2024-2313 - branch main (#13353)
  SPECS/bpftrace/CVE-2024-2313.patch
  SPECS/bpftrace/bpftrace.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

[AUTO-CHERRYPICK] [Low] Patch prometheus for CVE-2024-51744 - branch main (#13354)
  SPECS/prometheus/CVE-2024-51744.patch
  SPECS/prometheus/prometheus.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

[AUTO-CHERRYPICK] [LOW] Patch rook to fix CVE-2024-51744 - branch main (#13356)
  SPECS/rook/CVE-2024-51744.patch
  SPECS/rook/rook.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

[AUTO-CHERRYPICK] [LOW] Patch cf-cli to fix CVE-2024-51744 - branch main (#13357)
  SPECS/cf-cli/CVE-2024-51744.patch
  SPECS/cf-cli/cf-cli.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

[Low] Patch kubernetes for CVE-2024-51744 (#13255)
  SPECS/kubernetes/CVE-2024-51744.patch
  SPECS/kubernetes/kubernetes.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

[AUTO-CHERRYPICK] Patch `wpa_supplicant` for CVE-2025-24912 [Low] - branch main (#13359)
  SPECS/wpa_supplicant/CVE-2025-24912.patch
  SPECS/wpa_supplicant/wpa_supplicant.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

[AUTO-CHERRYPICK] [Low] patch cert-manager for CVE-2024-51744 - branch main (#13360)
  SPECS/cert-manager/CVE-2024-51744.patch
  SPECS/cert-manager/cert-manager.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

[AUTO-CHERRYPICK] [Low]patch kube-vip-cloud-provider for CVE-2024-51744 - branch main (#13361)
  SPECS/kube-vip-cloud-provider/CVE-2024-51744.patch
  SPECS/kube-vip-cloud-provider/kube-vip-cloud-provider.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

.github/CODEOWNERS:

# For stable release branches, ensure stable release maintainers are added as code reviewers
* @microsoft/cbl-mariner-stable-maintainers

# Modification to this file require admin approval.
/.github/CODEOWNERS @microsoft/cbl-mariner-admins

# Modifications to the build pipelines require admin approval.
/.pipelines/* @microsoft/cbl-mariner-admins

# Modifications to the CredScan exceptions require admin approval.
/.config/CredScanSuppressions.json @microsoft/cbl-mariner-admins

/SPECS-EXTENDED/ @microsoft/cbl-mariner-devs

# Image Customizer
/toolkit/tools/imagecustomizer/ @microsoft/cbl-mariner-imagecustomizer
/toolkit/tools/imagecustomizerapi/ @microsoft/cbl-mariner-imagecustomizer
/toolkit/tools/osmodifier @microsoft/cbl-mariner-imagecustomizer
/toolkit/tools/pkg/imagecustomizerlib/ @microsoft/cbl-mariner-imagecustomizer
/toolkit/tools/pkg/osmodifierlib @microsoft/cbl-mariner-imagecustomizer
/toolkit/scripts/build_tag_imagecustomizer.mk @microsoft/cbl-mariner-imagecustomizer
