Repository microsoft/azurelinux, changes with the owners that .github/CODEOWNERS names for each.
All owners: @microsoft/cbl-mariner-stable-maintainers, @microsoft/cbl-mariner-admins, @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-imagecustomizer

.github/CODEOWNERS:

# For stable release branches, ensure stable release maintainers are added as code reviewers
* @microsoft/cbl-mariner-stable-maintainers

# Modification to this file require admin approval.
/.github/CODEOWNERS @microsoft/cbl-mariner-admins

# Modifications to the build pipelines require admin approval.
/.pipelines/* @microsoft/cbl-mariner-admins

# Modifications to the CredScan exceptions require admin approval.
/.config/CredScanSuppressions.json @microsoft/cbl-mariner-admins

/SPECS-EXTENDED/ @microsoft/cbl-mariner-devs

# Image Customizer
/toolkit/tools/imagecustomizer/ @microsoft/cbl-mariner-imagecustomizer
/toolkit/tools/imagecustomizerapi/ @microsoft/cbl-mariner-imagecustomizer
/toolkit/tools/osmodifier @microsoft/cbl-mariner-imagecustomizer
/toolkit/tools/pkg/imagecustomizerlib/ @microsoft/cbl-mariner-imagecustomizer
/toolkit/tools/pkg/osmodifierlib @microsoft/cbl-mariner-imagecustomizer
/toolkit/scripts/build_tag_imagecustomizer.mk @microsoft/cbl-mariner-imagecustomizer

Upgrade: rubygem-rouge version to 4.4.0
  SPECS-EXTENDED/rubygem-rouge/bundler.rb
  SPECS-EXTENDED/rubygem-rouge/rouge-create-missing-test-files.sh
  SPECS-EXTENDED/rubygem-rouge/rubygem-rouge.signatures.json
  SPECS-EXTENDED/rubygem-rouge/rubygem-rouge.spec
  SPECS-EXTENDED/rubygem-rouge/spec_helper_assert.rb
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-stable-maintainers

Patch golang-1.18 for CVE-2024-34158 [HIGH]
  SPECS/golang/CVE-2024-34158.patch
  SPECS/golang/golang-1.18.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Patch perl for CVE-2024-56406
  SPECS/perl/CVE-2024-56406.patch
  SPECS/perl/perl.spec
  toolkit/resources/manifests/package/pkggen_core_aarch64.txt
  toolkit/resources/manifests/package/pkggen_core_x86_64.txt
  toolkit/resources/manifests/package/toolchain_aarch64.txt
  toolkit/resources/manifests/package/toolchain_x86_64.txt
Owners: @microsoft/cbl-mariner-stable-maintainers

Update libsrtp.signatures.json
  SPECS-EXTENDED/libsrtp/libsrtp.signatures.json
Owners: @microsoft/cbl-mariner-devs

Update libsrtp.spec
  SPECS-EXTENDED/libsrtp/libsrtp.spec
Owners: @microsoft/cbl-mariner-devs

Update libsrtp.spec
  SPECS-EXTENDED/libsrtp/libsrtp.spec
Owners: @microsoft/cbl-mariner-devs

Upgrades perl-File-MimeInfo to version 0.35
  SPECS-EXTENDED/perl-File-MimeInfo/perl-File-MimeInfo.signatures.json
  SPECS-EXTENDED/perl-File-MimeInfo/perl-File-MimeInfo.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-stable-maintainers

Update libproxy.signatures.json
  SPECS-EXTENDED/libproxy/libproxy.signatures.json
Owners: @microsoft/cbl-mariner-devs

Update libproxy.spec
  SPECS-EXTENDED/libproxy/libproxy.spec
Owners: @microsoft/cbl-mariner-devs

build with .tar.gz
  SPECS-EXTENDED/rubygem-rouge/rouge-create-missing-test-files.sh
  SPECS-EXTENDED/rubygem-rouge/rubygem-rouge.signatures.json
  SPECS-EXTENDED/rubygem-rouge/rubygem-rouge.spec
Owners: @microsoft/cbl-mariner-devs

Remove fluentd related plugins.
  LICENSES-AND-NOTICES/SPECS/LICENSES-MAP.md
  LICENSES-AND-NOTICES/SPECS/data/licenses.json
  SPECS/rubygem-fluent-config-regexp-type/fix-file_list.patch
  SPECS/rubygem-fluent-config-regexp-type/rubygem-fluent-config-regexp-type.signatures.json
  SPECS/rubygem-fluent-config-regexp-type/rubygem-fluent-config-regexp-type.spec
  SPECS/rubygem-fluent-logger/fix-file_list.patch
  SPECS/rubygem-fluent-logger/rubygem-fluent-logger.signatures.json
  SPECS/rubygem-fluent-logger/rubygem-fluent-logger.spec
  SPECS/rubygem-fluent-plugin-elasticsearch/fix-file_list.patch
  SPECS/rubygem-fluent-plugin-elasticsearch/rubygem-fluent-plugin-elasticsearch.signatures.json
  SPECS/rubygem-fluent-plugin-elasticsearch/rubygem-fluent-plugin-elasticsearch.spec
  SPECS/rubygem-fluent-plugin-kafka/fix-file_list.patch
  SPECS/rubygem-fluent-plugin-kafka/rubygem-fluent-plugin-kafka.signatures.json
  SPECS/rubygem-fluent-plugin-kafka/rubygem-fluent-plugin-kafka.spec
  SPECS/rubygem-fluent-plugin-prometheus/fix-file_list.patch
  SPECS/rubygem-fluent-plugin-prometheus/rubygem-fluent-plugin-prometheus.signatures.json
  SPECS/rubygem-fluent-plugin-prometheus/rubygem-fluent-plugin-prometheus.spec
  SPECS/rubygem-fluent-plugin-prometheus_pushgateway/fix-file_list.patch
  SPECS/rubygem-fluent-plugin-prometheus_pushgateway/rubygem-fluent-plugin-prometheus_pushgateway.signatures.json
  SPECS/rubygem-fluent-plugin-prometheus_pushgateway/rubygem-fluent-plugin-prometheus_pushgateway.spec
  SPECS/rubygem-fluent-plugin-record-modifier/fix-file_list.patch
  SPECS/rubygem-fluent-plugin-record-modifier/rubygem-fluent-plugin-record-modifier.signatures.json
  SPECS/rubygem-fluent-plugin-record-modifier/rubygem-fluent-plugin-record-modifier.spec
  SPECS/rubygem-fluent-plugin-rewrite-tag-filter/fix-file_list.patch
  SPECS/rubygem-fluent-plugin-rewrite-tag-filter/rubygem-fluent-plugin-rewrite-tag-filter.signatures.json
  SPECS/rubygem-fluent-plugin-rewrite-tag-filter/rubygem-fluent-plugin-rewrite-tag-filter.spec
  SPECS/rubygem-fluent-plugin-systemd/rubygem-fluent-plugin-systemd.signatures.json
  SPECS/rubygem-fluent-plugin-systemd/rubygem-fluent-plugin-systemd.spec
  SPECS/rubygem-fluent-plugin-webhdfs/fix-file_list.patch
  SPECS/rubygem-fluent-plugin-webhdfs/rubygem-fluent-plugin-webhdfs.signatures.json
  SPECS/rubygem-fluent-plugin-webhdfs/rubygem-fluent-plugin-webhdfs.spec
  SPECS/rubygem-fluent-plugin-windows-exporter/rubygem-fluent-plugin-windows-exporter.signatures.json
  SPECS/rubygem-fluent-plugin-windows-exporter/rubygem-fluent-plugin-windows-exporter.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-stable-maintainers

modified cgmanifest
  SPECS-EXTENDED/rubygem-rouge/rubygem-rouge.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-stable-maintainers

Update perl-GD.spec
  SPECS-EXTENDED/perl-GD/perl-GD.spec
Owners: @microsoft/cbl-mariner-devs

Update perl-GD.spec
  SPECS-EXTENDED/perl-GD/perl-GD.spec
Owners: @microsoft/cbl-mariner-devs

Update perl-GD.signatures.json
  SPECS-EXTENDED/perl-GD/perl-GD.signatures.json
Owners: @microsoft/cbl-mariner-devs

Update perl-IO-Compress-Lzma.spec
  SPECS-EXTENDED/perl-IO-Compress-Lzma/perl-IO-Compress-Lzma.spec
Owners: @microsoft/cbl-mariner-devs

Update perl-CBOR-XS.spec
  SPECS-EXTENDED/perl-CBOR-XS/perl-CBOR-XS.spec
Owners: @microsoft/cbl-mariner-devs

Also remove fluentd
  LICENSES-AND-NOTICES/SPECS/LICENSES-MAP.md
  LICENSES-AND-NOTICES/SPECS/data/licenses.json
  SPECS/rubygem-fluentd/file-list.patch
  SPECS/rubygem-fluentd/rubygem-fluentd.signatures.json
  SPECS/rubygem-fluentd/rubygem-fluentd.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-stable-maintainers

Restore fluentd. Moved to a separate PR
  LICENSES-AND-NOTICES/SPECS/LICENSES-MAP.md
  LICENSES-AND-NOTICES/SPECS/data/licenses.json
  SPECS/rubygem-fluentd/file-list.patch
  SPECS/rubygem-fluentd/rubygem-fluentd.signatures.json
  SPECS/rubygem-fluentd/rubygem-fluentd.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-stable-maintainers

Update pkcs11-helper.signatures.json
  SPECS-EXTENDED/pkcs11-helper/pkcs11-helper.signatures.json
Owners: @microsoft/cbl-mariner-devs

Update pkcs11-helper.spec
  SPECS-EXTENDED/pkcs11-helper/pkcs11-helper.spec
Owners: @microsoft/cbl-mariner-devs

Update libselinux.spec
  SPECS/libselinux/libselinux.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Added Package to toolchain list
  toolkit/resources/manifests/package/pkggen_core_aarch64.txt
  toolkit/resources/manifests/package/toolchain_aarch64.txt
Owners: @microsoft/cbl-mariner-stable-maintainers

Added subpackages to toolchiain manifest
  toolkit/resources/manifests/package/toolchain_aarch64.txt
  toolkit/resources/manifests/package/toolchain_x86_64.txt
Owners: @microsoft/cbl-mariner-stable-maintainers

Update perl-libnet.spec
  SPECS-EXTENDED/perl-libnet/perl-libnet.spec
Owners: @microsoft/cbl-mariner-devs

Update perl-libnet.signatures.json
  SPECS-EXTENDED/perl-libnet/perl-libnet.signatures.json
Owners: @microsoft/cbl-mariner-devs

Update satyr.signatures.json
  SPECS-EXTENDED/satyr/satyr.signatures.json
Owners: @microsoft/cbl-mariner-devs

Update satyr.spec
  SPECS-EXTENDED/satyr/satyr.spec
Owners: @microsoft/cbl-mariner-devs

Fixes broken build of perl-File-DesktopEntry
  SPECS-EXTENDED/perl-File-DesktopEntry/perl-File-DesktopEntry.spec
Owners: @microsoft/cbl-mariner-devs

Update to lpg-innovate/6.6.85.1 kernel
  SPECS-EXTENDED/kernel-lpg-innovate/kernel-lpg-innovate.normal.config
  SPECS-EXTENDED/kernel-lpg-innovate/kernel-lpg-innovate.secure.config
  SPECS-EXTENDED/kernel-lpg-innovate/kernel-lpg-innovate.signatures.json
  SPECS-EXTENDED/kernel-lpg-innovate/kernel-lpg-innovate.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-stable-maintainers

dev work
  SPECS-SIGNED/fwctl-signed/fwctl-signed.spec
  SPECS/fwctl/fwctl.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

kernel-mshv: Introduce headers subpackage
  SPECS/kernel-mshv/kernel-mshv.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

dev work
  SPECS-SIGNED/fwctl-signed/fwctl-signed.spec
  SPECS/fwctl/fwctl.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

[Medium] Patch nodejs for CVE-2024-34064, CVE-2020-28493 (#12259)
  SPECS/nodejs/CVE-2020-28493.patch
  SPECS/nodejs/CVE-2024-34064.patch
  SPECS/nodejs/nodejs.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Patch prometheus for CVE-2024-35255 [Medium]. (#12686)
  SPECS/prometheus/CVE-2024-35255.patch
  SPECS/prometheus/prometheus.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

[Medium] Patch gnutls for CVE-2024-12243 (#12882)
  SPECS/gnutls/CVE-2024-12243.patch
  SPECS/gnutls/gnutls.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

[Low] Patch kubernetes for CVE-2024-51744 (#13072)
  SPECS/kubernetes/CVE-2024-51744.patch
  SPECS/kubernetes/kubernetes.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

[Medium] Patch haproxy for CVE-2025-32464 (#13398)
  SPECS/haproxy/CVE-2025-32464.patch
  SPECS/haproxy/haproxy.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Patch openssh for CVE-2025-32728 [MEDIUM] (#13451)
  SPECS/openssh/CVE-2025-32728.patch
  SPECS/openssh/openssh.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Patch telegraf for CVE-2025-30215 [CRITICAL] (#13457)
  SPECS/telegraf/CVE-2025-30215.patch
  SPECS/telegraf/telegraf.spec
Owners: @microsoft/cbl-mariner-stable-maintainers
