Repository microsoft/azurelinux, changes with the owners that .github/CODEOWNERS names for each.
All owners: @microsoft/cbl-mariner-stable-maintainers, @microsoft/cbl-mariner-admins, @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-imagecustomizer

Patch CVE-2025-22871 for golang [High]
  SPECS/golang/CVE-2025-22871.patch
  SPECS/golang/golang-1.18.spec
  SPECS/golang/golang.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Patch libsoup for CVE-2025-32911 [CRITICAL]
  SPECS/libsoup/CVE-2025-32911.patch
  SPECS/libsoup/libsoup.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

upgrade: python-trio to version 0.23.1
  SPECS-EXTENDED/python-trio/python-trio.signatures.json
  SPECS-EXTENDED/python-trio/python-trio.spec
  SPECS-EXTENDED/python-trio/python3.13-PR-2959.patch
  SPECS-EXTENDED/python-trio/python3.13-PR-3005.patch
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-stable-maintainers

Update signatures
  SPECS/nginx/nginx.signatures.json
Owners: @microsoft/cbl-mariner-stable-maintainers

Update licenses
  LICENSES-AND-NOTICES/SPECS/LICENSES-MAP.md
  LICENSES-AND-NOTICES/SPECS/data/licenses.json
Owners: @microsoft/cbl-mariner-stable-maintainers

update cgmanifest
  cgmanifest.json
Owners: @microsoft/cbl-mariner-stable-maintainers

Pin rust in dependent packages
  SPECS-EXTENDED/389-ds-base/389-ds-base.spec
  SPECS-EXTENDED/ripgrep/ripgrep.spec
  SPECS-EXTENDED/rust-cbindgen/rust-cbindgen.spec
  SPECS/clamav/clamav.spec
  SPECS/cloud-hypervisor-cvm/cloud-hypervisor-cvm.spec
  SPECS/flux/flux.spec
  SPECS/influxdb/influxdb.spec
  SPECS/kata-containers-cc/kata-containers-cc.spec
  SPECS/kata-containers/kata-containers.spec
  SPECS/librsvg2/librsvg2.spec
  SPECS/mesa/mesa.spec
  SPECS/netavark/netavark.spec
  SPECS/rpm-ostree/rpm-ostree.spec
  SPECS/virtiofsd/virtiofsd.spec
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-stable-maintainers

Upgrade stunnel for work item 56658178
  SPECS-EXTENDED/stunnel/stunnel-5.56-curves-doc-update.patch
  SPECS-EXTENDED/stunnel/stunnel.spec
Owners: @microsoft/cbl-mariner-devs

Update cgmanifest
  cgmanifest.json
Owners: @microsoft/cbl-mariner-stable-maintainers

Patch gcc for CVE-2021-32256
  SPECS/gcc/CVE-2021-32256.patch
  SPECS/gcc/gcc.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Updating manifest files
  toolkit/resources/manifests/package/pkggen_core_aarch64.txt
  toolkit/resources/manifests/package/pkggen_core_x86_64.txt
  toolkit/resources/manifests/package/toolchain_aarch64.txt
  toolkit/resources/manifests/package/toolchain_x86_64.txt
Owners: @microsoft/cbl-mariner-stable-maintainers

Patch graphviz for CVE-2023-46045 [High]
  SPECS/graphviz/CVE-2023-46045.patch
  SPECS/graphviz/graphviz.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Fix license check
  SPECS/graphviz/graphviz.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Patch gdb for CVE-2022-47673, CVE-2022-47696 [High]
  SPECS/gdb/CVE-2022-47673.patch
  SPECS/gdb/CVE-2022-47696.patch
  SPECS/gdb/gdb.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

use specific version of tox
  SPECS/python-attrs/python-attrs.spec
  SPECS/python-requests/python-requests.spec
  SPECS/python-responses/python-responses.spec
  SPECS/python-setuptools_scm/python-setuptools_scm.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

use specific version of tox
  SPECS/python-attrs/python-attrs.spec
  SPECS/python-setuptools_scm/python-setuptools_scm.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Update gdb-10.2-3.tar.gz to address CVE-2021-20197, CVE-2022-47673, CVE-2022-47696
  SPECS/crash/crash.signatures.json
  SPECS/crash/crash.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Update gdb-10.2-3.tar.gz to address CVE-2021-20197, CVE-2022-47673, CVE-2022-47696
  SPECS/crash/crash.signatures.json
  SPECS/crash/crash.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

[Medium] patch qemu for CVE-2021-20255, CVE-2023-6693, CVE-2023-6683 (#13071)
  SPECS/qemu/CVE-2021-20255.patch
  SPECS/qemu/CVE-2023-6683.patch
  SPECS/qemu/CVE-2023-6693.patch
  SPECS/qemu/qemu.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

[Medium] Patch influxdb for CVE-2025-22870 and CVE-2024-51744 (#13095)
  SPECS/influxdb/CVE-2024-51744.patch
  SPECS/influxdb/CVE-2025-22870.patch
  SPECS/influxdb/influxdb.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

[Medium] Patch packer for CVE-2025-22870 and CVE-2024-51744 (#13110)
  SPECS/packer/CVE-2024-51744.patch
  SPECS/packer/CVE-2025-22870.patch
  SPECS/packer/packer.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

[LOW] Patch ceph for CVE-2020-14378 (#13166)
  SPECS/ceph/CVE-2020-14378.patch
  SPECS/ceph/ceph.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Patch golang for CVE-2025-22871[High] (#13403)
  SPECS/golang/CVE-2025-22871.patch
  SPECS/golang/golang-1.18.spec
  SPECS/golang/golang.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Patch giflib for CVE-2025-31344 [HIGH] (#13423)
  SPECS/giflib/CVE-2025-31344.patch
  SPECS/giflib/giflib.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

[Medium] patch qemu for CVE-2021-20255, CVE-2023-6693, CVE-2023-6683 (#13071)
  SPECS/qemu/CVE-2021-20255.patch
  SPECS/qemu/CVE-2023-6683.patch
  SPECS/qemu/CVE-2023-6693.patch
  SPECS/qemu/qemu.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Patch openssh for CVE-2025-32728 [MEDIUM] (#13472)
  SPECS/openssh/CVE-2025-32728.patch
  SPECS/openssh/openssh.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Patch `graphviz` for CVE-2023-46045 [High] (#13504)
  SPECS/graphviz/CVE-2023-46045.patch
  SPECS/graphviz/graphviz.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Patch `gdb` for CVE-2022-47673, CVE-2022-47696 [High] (#13505)
  SPECS/gdb/CVE-2022-47673.patch
  SPECS/gdb/CVE-2022-47696.patch
  SPECS/gdb/gdb.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

[Medium] Patch influxdb for CVE-2025-22870 and CVE-2024-51744 (#13095)
  SPECS/influxdb/CVE-2024-51744.patch
  SPECS/influxdb/CVE-2025-22870.patch
  SPECS/influxdb/influxdb.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

[Medium] Patch packer for CVE-2025-22870 and CVE-2024-51744 (#13110)
  SPECS/packer/CVE-2024-51744.patch
  SPECS/packer/CVE-2025-22870.patch
  SPECS/packer/packer.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

[LOW] Patch ceph for CVE-2020-14378 (#13166)
  SPECS/ceph/CVE-2020-14378.patch
  SPECS/ceph/ceph.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

[AUTO-CHERRYPICK] Patch `ruby` CVE-2025-27219, CVE-2025-27220, CVE-2025-27221 [Medium] - branch 3.0-dev (#13459)
  SPECS/ruby/CVE-2025-27219.patch
  SPECS/ruby/CVE-2025-27220.patch
  SPECS/ruby/CVE-2025-27221.patch
  SPECS/ruby/ruby.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

[AUTO-CHERRYPICK] [Medium] Patch azcopy for CVE-2025-22870 and CVE-2024-51744 - branch 3.0-dev (#13460)
  SPECS/azcopy/CVE-2024-51744.patch
  SPECS/azcopy/CVE-2025-22870.patch
  SPECS/azcopy/azcopy.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

[AUTO-CHERRYPICK] Patch `elfutils` for CVE-2025-1372, CVE-2025-1376 & CVE-2025-1377 [Medium] - branch 3.0-dev (#13461)
  SPECS/elfutils/CVE-2025-1372.patch
  SPECS/elfutils/CVE-2025-1376.patch
  SPECS/elfutils/CVE-2025-1377.patch
  SPECS/elfutils/elfutils.spec
  toolkit/resources/manifests/package/pkggen_core_aarch64.txt
  toolkit/resources/manifests/package/pkggen_core_x86_64.txt
  toolkit/resources/manifests/package/toolchain_aarch64.txt
  toolkit/resources/manifests/package/toolchain_x86_64.txt
Owners: @microsoft/cbl-mariner-stable-maintainers

Patch golang for CVE-2025-22871[High] (#13403)
  SPECS/golang/CVE-2025-22871.patch
  SPECS/golang/golang-1.18.spec
  SPECS/golang/golang.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

[AUTO-CHERRYPICK] Patch msft-golang for CVE-2025-22871 [High] - branch main (#13462)
  SPECS/msft-golang/CVE-2025-22871.patch
  SPECS/msft-golang/msft-golang.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

[AUTO-CHERRYPICK] [LOW] Patch coredns to fix CVE-2024-51744 - branch main (#13463)
  SPECS/coredns/CVE-2024-51744.patch
  SPECS/coredns/coredns.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

[AUTO-CHERRYPICK] Patch keda for CVE-2024-51744, CVE-2025-22870 and fix CVE-2025-29923 [Medium] - branch 3.0-dev (#13464)
  SPECS/keda/CVE-2024-51744.patch
  SPECS/keda/CVE-2025-22870.patch
  SPECS/keda/CVE-2025-29923.patch
  SPECS/keda/keda.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

[AUTO-CHERRYPICK] [Medium] Patch nodejs for CVE-2024-34064, CVE-2020-28493 - branch 3.0-dev (#13479)
  SPECS/nodejs/CVE-2020-28493.patch
  SPECS/nodejs/CVE-2024-34064.patch
  SPECS/nodejs/nodejs.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

[AUTO-CHERRYPICK] Patch prometheus for CVE-2024-35255 [Medium]. - branch 3.0-dev (#13480)
  SPECS/prometheus/CVE-2024-35255.patch
  SPECS/prometheus/prometheus.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

.github/CODEOWNERS:

# For stable release branches, ensure stable release maintainers are added as code reviewers
* @microsoft/cbl-mariner-stable-maintainers

# Modification to this file require admin approval.
/.github/CODEOWNERS @microsoft/cbl-mariner-admins

# Modifications to the build pipelines require admin approval.
/.pipelines/* @microsoft/cbl-mariner-admins

# Modifications to the CredScan exceptions require admin approval.
/.config/CredScanSuppressions.json @microsoft/cbl-mariner-admins

/SPECS-EXTENDED/ @microsoft/cbl-mariner-devs

# Image Customizer
/toolkit/tools/imagecustomizer/ @microsoft/cbl-mariner-imagecustomizer
/toolkit/tools/imagecustomizerapi/ @microsoft/cbl-mariner-imagecustomizer
/toolkit/tools/osmodifier @microsoft/cbl-mariner-imagecustomizer
/toolkit/tools/pkg/imagecustomizerlib/ @microsoft/cbl-mariner-imagecustomizer
/toolkit/tools/pkg/osmodifierlib @microsoft/cbl-mariner-imagecustomizer
/toolkit/scripts/build_tag_imagecustomizer.mk @microsoft/cbl-mariner-imagecustomizer
