Repository microsoft/azurelinux, changes with the owners that .github/CODEOWNERS names for each.
All owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-admins, @microsoft/cbl-mariner-kernel, @microsoft/cbl-mariner-kata-containers, @microsoft/cbl-mariner-bootloader, @microsoft/cbl-mariner-dracut, @microsoft/cbl-mariner-systemd, @microsoft/cbl-mariner-debug-tools, @microsoft/cbl-mariner-openssl, @microsoft/cbl-mariner-package-managers, @microsoft/cbl-mariner-container-runtime, @microsoft/cbl-mariner-virtualization, @microsoft/cbl-mariner-provisioning, @microsoft/cbl-mariner-tooling, @microsoft/cbl-mariner-toolchain, @microsoft/cbl-mariner-imagecustomizer

[3.0] Upgrade libnvidia-container and remove unneeded packages (#8938)
  LICENSES-AND-NOTICES/SPECS/LICENSES-MAP.md
  LICENSES-AND-NOTICES/SPECS/data/licenses.json
  SPECS/libnvidia-container/libnvidia-container.signatures.json
  SPECS/libnvidia-container/libnvidia-container.spec
  SPECS/nvidia-container-runtime/nvidia-container-runtime.signatures.json
  SPECS/nvidia-container-runtime/nvidia-container-runtime.spec
  SPECS/nvidia-docker2/nvidia-docker2.signatures.json
  SPECS/nvidia-docker2/nvidia-docker2.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs

[AUTOPATCHER-CORE] Upgrade zlib to 1.3.1 address CVE-2023-45853 (#8998)
  SPECS/zlib/zlib.signatures.json
  SPECS/zlib/zlib.spec
  cgmanifest.json
  toolkit/resources/manifests/package/pkggen_core_aarch64.txt
  toolkit/resources/manifests/package/pkggen_core_x86_64.txt
  toolkit/resources/manifests/package/toolchain_aarch64.txt
  toolkit/resources/manifests/package/toolchain_x86_64.txt
  toolkit/scripts/toolchain/container/toolchain-remote-wget-list
  toolkit/scripts/toolchain/container/toolchain-sha256sums
  toolkit/scripts/toolchain/container/toolchain_build_in_chroot.sh
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-toolchain, @microsoft/cbl-mariner-admins

python3-pytest-asyncio: upgrade to 0.23.6 (#9038)
  SPECS/python3-pytest-asyncio/python3-pytest-asyncio.signatures.json
  SPECS/python3-pytest-asyncio/python3-pytest-asyncio.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs

PTest Fix for python-fastjsonschema (#9053)
  SPECS/python-fastjsonschema/python-fastjsonschema.spec
Owners: @microsoft/cbl-mariner-devs

Kata: uprade to 3.2.0.azl1 (#9006)
  SPECS/kata-containers-cc/kata-containers-cc.signatures.json
  SPECS/kata-containers-cc/kata-containers-cc.spec
  SPECS/kata-containers/kata-containers.signatures.json
  SPECS/kata-containers/kata-containers.spec
  SPECS/kata-packages-uvm/kata-packages-uvm.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-kata-containers, @microsoft/cbl-mariner-devs

[mic][iso] Added the ability to customize an existing mic-generated iso. (#8785)
  toolkit/tools/imagecustomizer/docs/iso.md
  toolkit/tools/imagecustomizerapi/config.go
  toolkit/tools/imagecustomizerapi/config_test.go
  toolkit/tools/pkg/imagecustomizerlib/customizeutils.go
  toolkit/tools/pkg/imagecustomizerlib/imagecustomizer.go
  toolkit/tools/pkg/imagecustomizerlib/imagecustomizer_test.go
  toolkit/tools/pkg/imagecustomizerlib/liveosisobuilder.go
  toolkit/tools/pkg/imagecustomizerlib/liveosisobuilder_test.go
Owners: @microsoft/cbl-mariner-imagecustomizer

Bump golang version to 1.21.9-1 (#8688)
  SPECS/golang/golang.signatures.json
  SPECS/golang/golang.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs

Upgrading `python-filelock` to `3.14.0` (#8928)
  SPECS/python-filelock/python-filelock.signatures.json
  SPECS/python-filelock/python-filelock.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs

PTest Fix for python-cstruct (#9046)
  SPECS/python-cstruct/python-cstruct.spec
Owners: @microsoft/cbl-mariner-devs

refactor downloader (#9030)
  toolkit/tools/downloader/downloader.go
  toolkit/tools/pkg/downloader/downloader.go
Owners: @microsoft/cbl-mariner-tooling

Disabled keyboxd for `gnupg2`. (#9039)
  SPECS/gnupg2/gnupg2.spec
  toolkit/resources/manifests/package/pkggen_core_aarch64.txt
  toolkit/resources/manifests/package/pkggen_core_x86_64.txt
  toolkit/resources/manifests/package/toolchain_aarch64.txt
  toolkit/resources/manifests/package/toolchain_x86_64.txt
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-toolchain

Image Customizer: Handle removal of mkinitrd in 3.0. (#9016)
  toolkit/tools/internal/file/file.go
  toolkit/tools/internal/file/file_test.go
  toolkit/tools/pkg/imagecustomizerlib/customizeboot.go
Owners: @microsoft/cbl-mariner-tooling, @microsoft/cbl-mariner-imagecustomizer

Fall back to using all repo files in precacher for repoquery (#9057)
  toolkit/tools/internal/packagerepo/repoutils/repoquery.go
Owners: @microsoft/cbl-mariner-tooling

PTest fix for python-flit (#9059)
  SPECS/python-flit/python-flit.spec
Owners: @microsoft/cbl-mariner-devs

use DOCKER_BUILDKIT=0 (#9069)
  .pipelines/containerSourceData/scripts/BuildGoldenDistrolessContainer.sh
Owners: @microsoft/cbl-mariner-devs

Ptest Fix for python-attrs (#9021)
  SPECS/python-attrs/0001-Add-version-limit-to-pytest-dep.patch
  SPECS/python-attrs/0001-add-version-limits.patch
  SPECS/python-attrs/fix-mypy-tests.patch
  SPECS/python-attrs/python-attrs.spec
Owners: @microsoft/cbl-mariner-devs

openssl: Update package and raw toolchain 3.3.0 (#9036)
  SPECS/openssl/0003-Do-not-install-html-docs.patch
  SPECS/openssl/0009-Add-Kernel-FIPS-mode-flag-support.patch
  SPECS/openssl/0010-Add-changes-to-ectest-and-eccurve.patch
  SPECS/openssl/0011-Remove-EC-curves.patch
  SPECS/openssl/0013-skipped-tests-EC-curves.patch
  SPECS/openssl/0032-Force-fips.patch
  SPECS/openssl/0049-Allow-disabling-of-SHA1-signatures.patch
  SPECS/openssl/0052-Allow-SHA1-in-seclevel-1-if-rh-allow-sha1-signatures.patch
  SPECS/openssl/openssl.signatures.json
  SPECS/openssl/openssl.spec
  cgmanifest.json
  toolkit/resources/manifests/package/pkggen_core_aarch64.txt
  toolkit/resources/manifests/package/pkggen_core_x86_64.txt
  toolkit/resources/manifests/package/toolchain_aarch64.txt
  toolkit/resources/manifests/package/toolchain_x86_64.txt
  toolkit/scripts/toolchain/container/toolchain-sha256sums
  toolkit/scripts/toolchain/container/toolchain_build_in_chroot.sh
Owners: @microsoft/cbl-mariner-openssl, @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-toolchain, @microsoft/cbl-mariner-admins

golang: remove explicit Go env variable defaults (#9058)
  SPECS/golang/golang.spec
Owners: @microsoft/cbl-mariner-devs

.github/CODEOWNERS:

# By default, all files require a review by at least one member of the Azure Linux developers team.
# See teams here: https://github.com/orgs/microsoft/teams?query=mariner
* @microsoft/cbl-mariner-devs

# Modification to this file require admin approval.
/.github/CODEOWNERS @microsoft/cbl-mariner-admins

# Modifications to the build pipelines require admin approval.
/.pipelines/* @microsoft/cbl-mariner-admins

# Modifications to the CredScan exceptions require admin approval.
/.config/CredScanSuppressions.json @microsoft/cbl-mariner-admins

# Modification to what is considered "core packages" require admin approval.
/SPECS/core-packages/* @microsoft/cbl-mariner-admins

# Modification to specific packages go to specific teams
/SPECS/kernel/* @microsoft/cbl-mariner-kernel
/SPECS/kernel-headers/* @microsoft/cbl-mariner-kernel
/SPECS/kernel-mshv/* @microsoft/cbl-mariner-kata-containers
/SPECS/kernel-uvm/* @microsoft/cbl-mariner-kata-containers
/SPECS-SIGNED/kernel-signed/* @microsoft/cbl-mariner-kernel
/SPECS-SIGNED/kernel-mstflint-signed/* @microsoft/cbl-mariner-kernel

/SPECS/grub2/* @microsoft/cbl-mariner-bootloader
/SPECS/grubby/* @microsoft/cbl-mariner-bootloader
/SPECS/shim/* @microsoft/cbl-mariner-bootloader
/SPECS/shim-unsigned/* @microsoft/cbl-mariner-bootloader
/SPECS/shim-unsigned-x64/* @microsoft/cbl-mariner-bootloader
/SPECS/shim-unsigned-aarch64/* @microsoft/cbl-mariner-bootloader
/SPECS-SIGNED/grub2-efi-binary-signed/* @microsoft/cbl-mariner-bootloader

/SPECS/dracut/* @microsoft/cbl-mariner-dracut
/SPECS/initramfs/* @microsoft/cbl-mariner-dracut
/SPECS/verity-read-only-root/* @microsoft/cbl-mariner-dracut

/SPECS/systemd/* @microsoft/cbl-mariner-systemd

/SPECS/bcc/* @microsoft/cbl-mariner-debug-tools
/SPECS/bpftrace/* @microsoft/cbl-mariner-debug-tools
/SPECS/crash/* @microsoft/cbl-mariner-debug-tools
/SPECS/gdb/* @microsoft/cbl-mariner-debug-tools
/SPECS/kexec-tools/* @microsoft/cbl-mariner-debug-tools

/SPECS/openssl/* @microsoft/cbl-mariner-openssl
/SPECS/SymCrypt-OpenSSL/* @microsoft/cbl-mariner-openssl
/SPECS/SymCrypt/* @microsoft/cbl-mariner-openssl

/SPECS/dnf/* @microsoft/cbl-mariner-package-managers
/SPECS/dnf-plugins-core/* @microsoft/cbl-mariner-package-managers
/SPECS/rpm/* @microsoft/cbl-mariner-package-managers
/SPECS/tdnf/* @microsoft/cbl-mariner-package-managers

/SPECS/containerd/* @microsoft/cbl-mariner-container-runtime
/SPECS/docker-buildx/* @microsoft/cbl-mariner-container-runtime
/SPECS/docker-cli/* @microsoft/cbl-mariner-container-runtime
/SPECS/kata-containers/* @microsoft/cbl-mariner-kata-containers
/SPECS/kata-containers-cc/* @microsoft/cbl-mariner-kata-containers
/SPECS/moby-containerd-cc/* @microsoft/cbl-mariner-kata-containers
/SPECS/moby-engine/* @microsoft/cbl-mariner-container-runtime
/SPECS/runc/* @microsoft/cbl-mariner-container-runtime
/SPECS/virtiofsd/* @microsoft/cbl-mariner-kata-containers

/SPECS/cloud-hypervisor/* @microsoft/cbl-mariner-virtualization
/SPECS/hvloader/* @microsoft/cbl-mariner-kata-containers

/SPECS/cloud-init/* @microsoft/cbl-mariner-provisioning
/SPECS/walinuxagent/* @microsoft/cbl-mariner-provisioning

# Modifications to the toolkit requires reviews from the toolkit team
/toolkit/ @microsoft/cbl-mariner-tooling

# Docs to be reviewed by general Azure Linux devs
/toolkit/docs/ @microsoft/cbl-mariner-devs

# Default image configurations to be reviewed by general Azure Linux devs
/toolkit/imageconfigs/ @microsoft/cbl-mariner-devs

# Package and toolchain manifests to be reviewed by toolchain team
/toolkit/resources/manifests/package/pkggen_core_aarch64.txt @microsoft/cbl-mariner-toolchain
/toolkit/resources/manifests/package/pkggen_core_x86_64.txt @microsoft/cbl-mariner-toolchain
/toolkit/resources/manifests/package/toolchain_aarch64.txt @microsoft/cbl-mariner-toolchain
/toolkit/resources/manifests/package/toolchain_x86_64.txt @microsoft/cbl-mariner-toolchain

# Modifications to the raw toolchain require admin approval.
/toolkit/scripts/toolchain/container/* @microsoft/cbl-mariner-admins
/toolkit/scripts/toolchain/cgmanifest.json @microsoft/cbl-mariner-admins
/toolkit/scripts/toolchain/create_toolchain_in_container.sh @microsoft/cbl-mariner-admins

# Image Customizer
/toolkit/tools/imagecustomizer/ @microsoft/cbl-mariner-imagecustomizer
/toolkit/tools/imagecustomizerapi/ @microsoft/cbl-mariner-imagecustomizer
/toolkit/tools/osmodifier @microsoft/cbl-mariner-imagecustomizer
/toolkit/tools/pkg/imagecustomizerlib/ @microsoft/cbl-mariner-imagecustomizer
/toolkit/tools/pkg/osmodifierlib @microsoft/cbl-mariner-imagecustomizer
