Repository microsoft/azurelinux, changes with the owners that .github/CODEOWNERS names for each.
All owners: @microsoft/cbl-mariner-stable-maintainers, @microsoft/cbl-mariner-admins, @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-imagecustomizer

.github/CODEOWNERS:

# For stable release branches, ensure stable release maintainers are added as code reviewers
* @microsoft/cbl-mariner-stable-maintainers

# Modification to this file require admin approval.
/.github/CODEOWNERS @microsoft/cbl-mariner-admins

# Modifications to the build pipelines require admin approval.
/.pipelines/* @microsoft/cbl-mariner-admins

# Modifications to the CredScan exceptions require admin approval.
/.config/CredScanSuppressions.json @microsoft/cbl-mariner-admins

/SPECS-EXTENDED/ @microsoft/cbl-mariner-devs

# Image Customizer
/toolkit/tools/imagecustomizer/ @microsoft/cbl-mariner-imagecustomizer
/toolkit/tools/imagecustomizerapi/ @microsoft/cbl-mariner-imagecustomizer
/toolkit/tools/osmodifier @microsoft/cbl-mariner-imagecustomizer
/toolkit/tools/pkg/imagecustomizerlib/ @microsoft/cbl-mariner-imagecustomizer
/toolkit/tools/pkg/osmodifierlib @microsoft/cbl-mariner-imagecustomizer
/toolkit/scripts/build_tag_imagecustomizer.mk @microsoft/cbl-mariner-imagecustomizer

updated Release tag
  SPECS-EXTENDED/corosync-qdevice/corosync-qdevice.spec
Owners: @microsoft/cbl-mariner-devs

Upgrade: corosync-qdevice version to 3.0.3
  SPECS-EXTENDED/corosync-qdevice/corosync-qdevice.signatures.json
  SPECS-EXTENDED/corosync-qdevice/corosync-qdevice.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-stable-maintainers

modified spec for PR checks
  SPECS-EXTENDED/corosync-qdevice/corosync-qdevice.spec
Owners: @microsoft/cbl-mariner-devs

Upgrade: corosync version to 3.1.9
  SPECS-EXTENDED/corosync/corosync.signatures.json
  SPECS-EXTENDED/corosync/corosync.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-stable-maintainers

removed extra spaces in .spec
  SPECS-EXTENDED/corosync/corosync.spec
Owners: @microsoft/cbl-mariner-devs

Removing unnecessary conditions
  SPECS-EXTENDED/python-dns/python-dns.spec
Owners: @microsoft/cbl-mariner-devs

Upgrade python-isodate to 0.6.1 Upgrade Extended
  SPECS-EXTENDED/python-isodate/python-isodate.signatures.json
  SPECS-EXTENDED/python-isodate/python-isodate.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-stable-maintainers

xpp3: Fixed Build
  SPECS-EXTENDED/xpp3/xpp3-link-docs-locally.patch
  SPECS-EXTENDED/xpp3/xpp3-sourcetarget.patch
  SPECS-EXTENDED/xpp3/xpp3.signatures.json
  SPECS-EXTENDED/xpp3/xpp3.spec
Owners: @microsoft/cbl-mariner-devs

Updating spec and signature file
  SPECS-EXTENDED/xpp3/xpp3.signatures.json
  SPECS-EXTENDED/xpp3/xpp3.spec
Owners: @microsoft/cbl-mariner-devs

Updating license files
  LICENSES-AND-NOTICES/SPECS/LICENSES-MAP.md
  LICENSES-AND-NOTICES/SPECS/data/licenses.json
  SPECS-EXTENDED/xpp3/xpp3.signatures.json
  SPECS-EXTENDED/xpp3/xpp3.spec
Owners: @microsoft/cbl-mariner-stable-maintainers, @microsoft/cbl-mariner-devs

Upgrade: perl-File-Find-Object-Rule version to 0.0313
  SPECS-EXTENDED/perl-File-Find-Object-Rule/perl-File-Find-Object-Rule.signatures.json
  SPECS-EXTENDED/perl-File-Find-Object-Rule/perl-File-Find-Object-Rule.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-stable-maintainers

Fix PR checks
  cgmanifest.json
Owners: @microsoft/cbl-mariner-stable-maintainers

Upgrade: perl-File-TreeCreate version to 0.0.1
  SPECS-EXTENDED/perl-File-TreeCreate/perl-File-TreeCreate.signatures.json
  SPECS-EXTENDED/perl-File-TreeCreate/perl-File-TreeCreate.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-stable-maintainers

Updating license files
  LICENSES-AND-NOTICES/SPECS/LICENSES-MAP.md
  LICENSES-AND-NOTICES/SPECS/data/licenses.json
Owners: @microsoft/cbl-mariner-stable-maintainers

Upgrade: uglify-js version to 3.19.3
  SPECS-EXTENDED/uglify-js/uglify-js-esfuzz.patch
  SPECS-EXTENDED/uglify-js/uglify-js.signatures.json
  SPECS-EXTENDED/uglify-js/uglify-js.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-stable-maintainers

Upgrade: xfconf version to 4.18.3
  SPECS-EXTENDED/xfconf/xfconf.signatures.json
  SPECS-EXTENDED/xfconf/xfconf.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-stable-maintainers

Addressing comments.
  SPECS-SIGNED/knem-modules-signed/knem-modules-signed.spec
  SPECS-SIGNED/xpmem-modules-signed/xpmem-modules-signed.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Unifying 'signed' SRPMs naming.
  SPECS-SIGNED/systemd-boot-signed/systemd-boot-signed.spec
  SPECS/systemd/systemd.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Fixing scripts.
  SPECS-SIGNED/fwctl-signed/fwctl-signed.spec
  SPECS-SIGNED/iser-signed/iser-signed.spec
  SPECS-SIGNED/isert-signed/isert-signed.spec
  SPECS-SIGNED/mft_kernel-signed/mft_kernel-signed.spec
  SPECS-SIGNED/mlnx-nfsrdma-signed/mlnx-nfsrdma-signed.spec
  SPECS-SIGNED/mlnx-ofa_kernel-modules-signed/mlnx-ofa_kernel-modules-signed.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

ocaml-xml-light: upgrade to 2.5
  SPECS-EXTENDED/ocaml-xml-light/ocaml-xml-light.signatures.json
  SPECS-EXTENDED/ocaml-xml-light/ocaml-xml-light.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-stable-maintainers

Source download error fix.
  SPECS-EXTENDED/ocaml-xml-light/ocaml-xml-light.signatures.json
  SPECS-EXTENDED/ocaml-xml-light/ocaml-xml-light.spec
Owners: @microsoft/cbl-mariner-devs

ocaml-xml-light: fix the PR check fail
  SPECS-EXTENDED/ocaml-xml-light/ocaml-xml-light.spec
Owners: @microsoft/cbl-mariner-devs

upgrade python-testtools version to 2.7.1
  SPECS-EXTENDED/python-testtools/SOURCES/testtools-2.4.0-fix_py39_test.patch
  SPECS-EXTENDED/python-testtools/SOURCES/testtools-2.4.0-remove_backports.patch
  SPECS-EXTENDED/python-testtools/Treat-methodName-runTest-similar-to-unittest.TestCas.patch
  SPECS-EXTENDED/python-testtools/python-testtools.signatures.json
  SPECS-EXTENDED/python-testtools/python-testtools.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-stable-maintainers

Update changelog with CVE patches
  SPECS/ruby/ruby.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Upgrade: qpdf version to 11.9.1
  SPECS-EXTENDED/qpdf/qpdf-doc.patch
  SPECS-EXTENDED/qpdf/qpdf-erase-tests-with-generated-object-stream.patch
  SPECS-EXTENDED/qpdf/qpdf-relax.patch
  SPECS-EXTENDED/qpdf/qpdf.signatures.json
  SPECS-EXTENDED/qpdf/qpdf.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-stable-maintainers

updated %install section
  SPECS-EXTENDED/qpdf/qpdf.spec
Owners: @microsoft/cbl-mariner-devs

removed extra spaces in spec file
  SPECS-EXTENDED/qpdf/qpdf.spec
Owners: @microsoft/cbl-mariner-devs

ghc-srpm-macros: update the cgmanifest
  cgmanifest.json
Owners: @microsoft/cbl-mariner-stable-maintainers

ghc-srpm-macros: License verified
  SPECS-EXTENDED/ghc-srpm-macros/ghc-srpm-macros.signatures.json
  SPECS-EXTENDED/ghc-srpm-macros/ghc-srpm-macros.spec
  SPECS-EXTENDED/ghc-srpm-macros/macros.ghc-srpm
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-stable-maintainers

ghc-srpm-macros: remove the extra line
  SPECS-EXTENDED/ghc-srpm-macros/ghc-srpm-macros.signatures.json
Owners: @microsoft/cbl-mariner-devs

ghc-srpm-macros: ghc-srpm-macros: Removing the package after the reviewer's approval, including the license.
  LICENSES-AND-NOTICES/SPECS/data/licenses.json
  SPECS-EXTENDED/ghc-srpm-macros/ghc-srpm-macros.signatures.json
  SPECS-EXTENDED/ghc-srpm-macros/ghc-srpm-macros.spec
  SPECS-EXTENDED/ghc-srpm-macros/macros.ghc-srpm
  cgmanifest.json
Owners: @microsoft/cbl-mariner-stable-maintainers, @microsoft/cbl-mariner-devs

ghc-srpm-macros: Upgrade to 1.9.2-1
  SPECS-EXTENDED/ghc-srpm-macros/ghc-srpm-macros.spec
Owners: @microsoft/cbl-mariner-devs

Fix to include idmapd.conf and id_resolver.conf in nfs-utils for 3.0 (#13249)
  SPECS/nfs-utils/nfs-utils.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

ghc-srpm-macros: fix the LICENSES-MAP.md error
  LICENSES-AND-NOTICES/SPECS/LICENSES-MAP.md
Owners: @microsoft/cbl-mariner-stable-maintainers

ghc-srpm-macros: fix the merge conflicts
  cgmanifest.json
Owners: @microsoft/cbl-mariner-stable-maintainers

[Medium] patch dwarves for CVE-2025-29481 (#13384)
  SPECS/dwarves/0001-btf-Remove-ftrace-filter.patch
  SPECS/dwarves/CVE-2025-29481.patch
  SPECS/dwarves/dwarves.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

[Medium] patch libbpf for CVE-2025-29481 (#13383)
  SPECS/libbpf/CVE-2025-29481.patch
  SPECS/libbpf/libbpf.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

[Medium] Patch libbpf for CVE-2025-29481 (#13382)
  SPECS/libbpf/CVE-2025-29481.patch
  SPECS/libbpf/libbpf.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

- Bump release for consistency with edk2 spec.
  SPECS-SIGNED/edk2-hvloader-signed/edk2-hvloader-signed.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

[High] Patch CVE-2025-22871 for golang
  SPECS/golang/CVE-2025-22871.patch
  SPECS/golang/golang-1.18.spec
  SPECS/golang/golang.spec
Owners: @microsoft/cbl-mariner-stable-maintainers
