Repository microsoft/azurelinux, changes with the owners that .github/CODEOWNERS names for each.
All owners: @microsoft/cbl-mariner-stable-maintainers, @microsoft/cbl-mariner-admins, @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-imagecustomizer

[High] Patch libsoup for CVE-2025-32906
  SPECS/libsoup/CVE-2025-32906.patch
  SPECS/libsoup/libsoup.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Add upstream reference
  SPECS/giflib/CVE-2025-31344.patch
Owners: @microsoft/cbl-mariner-stable-maintainers

Remove ig package. This is now available in the cloud-native repository
  LICENSES-AND-NOTICES/SPECS/LICENSES-MAP.md
  LICENSES-AND-NOTICES/SPECS/data/licenses.json
  SPECS/ig/CVE-2025-27144.patch
  SPECS/ig/CVE-2025-29786.patch
  SPECS/ig/generate_source_tarball.sh
  SPECS/ig/ig.signatures.json
  SPECS/ig/ig.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-stable-maintainers

Fix CVE-2025-31344 for giflib
  SPECS/giflib/CVE-2025-31344.patch
  SPECS/giflib/giflib.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Add upstream reference
  SPECS/giflib/CVE-2025-31344.patch
Owners: @microsoft/cbl-mariner-stable-maintainers

Remove helm package. This is now available in the cloud-native repository
  LICENSES-AND-NOTICES/SPECS/LICENSES-MAP.md
  LICENSES-AND-NOTICES/SPECS/data/licenses.json
  SPECS/helm/CVE-2024-45338.patch
  SPECS/helm/generate_source_tarball.sh
  SPECS/helm/helm.signatures.json
  SPECS/helm/helm.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-stable-maintainers

Remove prometheus package. This is now available in the cloud-native repository
  LICENSES-AND-NOTICES/SPECS/LICENSES-MAP.md
  LICENSES-AND-NOTICES/SPECS/data/licenses.json
  SPECS/prometheus/0001-Fix-exit-condition-of-TestQuerierIndexQueriesRace.patch
  SPECS/prometheus/0002-Improve-sensitivity-of-TestQuerierIndexQueriesRace.patch
  SPECS/prometheus/02-Default_settings.patch
  SPECS/prometheus/CVE-2023-44487.patch
  SPECS/prometheus/CVE-2023-45288.patch
  SPECS/prometheus/CVE-2024-24786.patch
  SPECS/prometheus/CVE-2024-6104.patch
  SPECS/prometheus/CVE-2025-22868.patch
  SPECS/prometheus/CVE-2025-30204.patch
  SPECS/prometheus/generate_source_tarball.sh
  SPECS/prometheus/prometheus.conf
  SPECS/prometheus/prometheus.logrotate
  SPECS/prometheus/prometheus.service
  SPECS/prometheus/prometheus.signatures.json
  SPECS/prometheus/prometheus.spec
  SPECS/prometheus/prometheus.sysconfig
  SPECS/prometheus/prometheus.yml
  cgmanifest.json
Owners: @microsoft/cbl-mariner-stable-maintainers

Remove blobfuse2 package. This is now available in the ms-oss repository.
  LICENSES-AND-NOTICES/SPECS/LICENSES-MAP.md
  LICENSES-AND-NOTICES/SPECS/data/licenses.json
  SPECS/blobfuse2/CVE-2025-30204.patch
  SPECS/blobfuse2/blobfuse2.signatures.json
  SPECS/blobfuse2/blobfuse2.spec
  SPECS/blobfuse2/generate_source_tarball.sh
  cgmanifest.json
Owners: @microsoft/cbl-mariner-stable-maintainers

Patch telegraf for CVE-2025-30215
  SPECS/telegraf/CVE-2025-30215.patch
  SPECS/telegraf/telegraf.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Remove fluentd package. This package is no longer supported by Azure Linux. Use fluentbit instead
  LICENSES-AND-NOTICES/SPECS/LICENSES-MAP.md
  LICENSES-AND-NOTICES/SPECS/data/licenses.json
  SPECS/rubygem-fluentd/file-list.patch
  SPECS/rubygem-fluentd/rubygem-fluentd.signatures.json
  SPECS/rubygem-fluentd/rubygem-fluentd.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-stable-maintainers

Upgrade release of entangled specs
  SPECS/fwctl/fwctl.spec
  SPECS/iser/iser.spec
  SPECS/isert/isert.spec
  SPECS/knem/knem.spec
  SPECS/mft_kernel/mft_kernel.spec
  SPECS/mlnx-nfsrdma/mlnx-nfsrdma.spec
  SPECS/mlnx-ofa_kernel/mlnx-ofa_kernel.spec
  SPECS/srp/srp.spec
  SPECS/xpmem/xpmem.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Remove node-problem-detector package. This is now available in the cloud-native repository
  LICENSES-AND-NOTICES/SPECS/LICENSES-MAP.md
  LICENSES-AND-NOTICES/SPECS/data/licenses.json
  SPECS/node-problem-detector/0001-remove-arch-specific-logic-from-makefile.patch
  SPECS/node-problem-detector/CVE-2024-45338.patch
  SPECS/node-problem-detector/CVE-2025-22868.patch
  SPECS/node-problem-detector/CVE-2025-22869.patch
  SPECS/node-problem-detector/node-problem-detector.signatures.json
  SPECS/node-problem-detector/node-problem-detector.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-stable-maintainers

Remove local-path-provisioner package. This package is now available in the cloud-native repository
  LICENSES-AND-NOTICES/SPECS/LICENSES-MAP.md
  LICENSES-AND-NOTICES/SPECS/data/licenses.json
  SPECS/local-path-provisioner/CVE-2020-8565.patch
  SPECS/local-path-provisioner/CVE-2023-39325.patch
  SPECS/local-path-provisioner/CVE-2023-44487.patch
  SPECS/local-path-provisioner/CVE-2023-45288.patch
  SPECS/local-path-provisioner/local-path-provisioner.signatures.json
  SPECS/local-path-provisioner/local-path-provisioner.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-stable-maintainers

Add seed vhdx image configuration
  toolkit/imageconfigs/packagelists/seed-packages.json
  toolkit/imageconfigs/seed.json
Owners: @microsoft/cbl-mariner-stable-maintainers

Add seed vhdx image configuration
  toolkit/imageconfigs/packagelists/seed-packages.json
  toolkit/imageconfigs/seed.json
Owners: @microsoft/cbl-mariner-stable-maintainers

Strip out needless python2 handling
  SPECS-EXTENDED/python-mimeparse/python-mimeparse.spec
Owners: @microsoft/cbl-mariner-devs

Upgrade espeak-ng to 1.52.0 remove chrome extension which used unverified function
  SPECS/espeak-ng/espeak-ng.signatures.json
  SPECS/espeak-ng/espeak-ng.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-stable-maintainers

remove not needed patch file for CVE-2023-49990
  SPECS/espeak-ng/espeak-ng-1.51-CVE-2023-49990-4.patch
  SPECS/espeak-ng/espeak-ng.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

update source0 url
  SPECS/espeak-ng/espeak-ng.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

fix changelog reference
  SPECS/espeak-ng/espeak-ng.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

add back build requirement
  SPECS/espeak-ng/espeak-ng.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

revert back some changes
  SPECS/espeak-ng/espeak-ng.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

adding ruby dep for espeak-ng
  SPECS-EXTENDED/rubygem-rouge/rubygem-rouge.signatures.json
  SPECS/rubygem-kramdown/rubygem-kramdown.signatures.json
  SPECS/rubygem-kramdown/rubygem-kramdown.spec
  SPECS/rubygem-rouge/bundler.rb
  SPECS/rubygem-rouge/generate_source_tarball.sh
  SPECS/rubygem-rouge/rubygem-rouge.signatures.json
  SPECS/rubygem-rouge/rubygem-rouge.spec
  SPECS/rubygem-rouge/spec_helper_assert.rb
  SPECS/rubygem-stringex/rubygem-stringex.signatures.json
  SPECS/rubygem-stringex/rubygem-stringex.spec
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-stable-maintainers

making espeak-ng like fedora
  SPECS/espeak-ng/espeak-ng.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

use backport from containers/storage@2.51.x
  SPECS/cri-o/CVE-2024-9676.old.patch
  SPECS/cri-o/cri-o.signatures.json
  SPECS/cri-o/cri-o.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Upgrade erlang to 25.3.2.20 for CVE-2025-32433 [CRITICAL]
  SPECS/erlang/CVE-2023-48795.patch
  SPECS/erlang/CVE-2025-26618.patch
  SPECS/erlang/CVE-2025-30211.patch
  SPECS/erlang/erlang.signatures.json
  SPECS/erlang/erlang.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-stable-maintainers

unicode-emoji: add the copyright file
  SPECS-EXTENDED/unicode-emoji/copyright.html
  SPECS-EXTENDED/unicode-emoji/unicode-emoji.signatures.json
  SPECS-EXTENDED/unicode-emoji/unicode-emoji.spec
Owners: @microsoft/cbl-mariner-devs

Update libspiro.spec
  SPECS-EXTENDED/libspiro/libspiro.spec
Owners: @microsoft/cbl-mariner-devs

Update libspiro.signatures.json
  SPECS-EXTENDED/libspiro/libspiro.signatures.json
Owners: @microsoft/cbl-mariner-devs

Update cgmanifest.json
  cgmanifest.json
Owners: @microsoft/cbl-mariner-stable-maintainers

Update librevenge.spec
  SPECS-EXTENDED/librevenge/librevenge.spec
Owners: @microsoft/cbl-mariner-devs

Upgrade: containernetworking-plugins version to 1.6.1
  SPECS-EXTENDED/containernetworking-plugins/containernetworking-plugins.signatures.json
  SPECS-EXTENDED/containernetworking-plugins/containernetworking-plugins.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-stable-maintainers

Update perl-Cpanel-JSON-XS.spec
  SPECS-EXTENDED/perl-Cpanel-JSON-XS/perl-Cpanel-JSON-XS.spec
Owners: @microsoft/cbl-mariner-devs

Fix CVE-2025-32728 for openssh
  SPECS/openssh/CVE-2025-32728.patch
  SPECS/openssh/openssh.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Add upstream reference
  SPECS/openssh/CVE-2025-32728.patch
Owners: @microsoft/cbl-mariner-stable-maintainers

Patch openssh for CVE-2025-32728
  SPECS/openssh/CVE-2025-32728.patch
  SPECS/openssh/openssh.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Patch perl for CVE-2024-56406
  SPECS/perl/CVE-2024-56406.patch
  SPECS/perl/perl.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Update toolchain manifests
  toolkit/resources/manifests/package/pkggen_core_aarch64.txt
  toolkit/resources/manifests/package/pkggen_core_x86_64.txt
  toolkit/resources/manifests/package/toolchain_aarch64.txt
  toolkit/resources/manifests/package/toolchain_x86_64.txt
Owners: @microsoft/cbl-mariner-stable-maintainers

Update toolchain manifests
  toolkit/resources/manifests/package/pkggen_core_aarch64.txt
  toolkit/resources/manifests/package/pkggen_core_x86_64.txt
  toolkit/resources/manifests/package/toolchain_aarch64.txt
  toolkit/resources/manifests/package/toolchain_x86_64.txt
Owners: @microsoft/cbl-mariner-stable-maintainers

Required changes are done
  SPECS-EXTENDED/rubygem-rouge/rubygem-rouge.signatures.json
  SPECS-EXTENDED/rubygem-rouge/rubygem-rouge.spec
Owners: @microsoft/cbl-mariner-devs

.github/CODEOWNERS:

# For stable release branches, ensure stable release maintainers are added as code reviewers
* @microsoft/cbl-mariner-stable-maintainers

# Modification to this file require admin approval.
/.github/CODEOWNERS @microsoft/cbl-mariner-admins

# Modifications to the build pipelines require admin approval.
/.pipelines/* @microsoft/cbl-mariner-admins

# Modifications to the CredScan exceptions require admin approval.
/.config/CredScanSuppressions.json @microsoft/cbl-mariner-admins

/SPECS-EXTENDED/ @microsoft/cbl-mariner-devs

# Image Customizer
/toolkit/tools/imagecustomizer/ @microsoft/cbl-mariner-imagecustomizer
/toolkit/tools/imagecustomizerapi/ @microsoft/cbl-mariner-imagecustomizer
/toolkit/tools/osmodifier @microsoft/cbl-mariner-imagecustomizer
/toolkit/tools/pkg/imagecustomizerlib/ @microsoft/cbl-mariner-imagecustomizer
/toolkit/tools/pkg/osmodifierlib @microsoft/cbl-mariner-imagecustomizer
/toolkit/scripts/build_tag_imagecustomizer.mk @microsoft/cbl-mariner-imagecustomizer
