Repository microsoft/azurelinux, changes with the owners that .github/CODEOWNERS names for each.
All owners: @microsoft/cbl-mariner-stable-maintainers, @microsoft/cbl-mariner-admins, @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-tooling, @microsoft/cbl-mariner-imagecustomizer

Update package list for minimal-os.
  toolkit/imageconfigs/packagelists/minimal-os-packages.json
Owners: @microsoft/cbl-mariner-stable-maintainers

Update the spec file with %patch macro
  SPECS/python3/python3.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

curl: Add patch for fixing CVE-2024-7264
  SPECS/curl/CVE-2024-7264.patch
  SPECS/curl/curl.spec
  toolkit/resources/manifests/package/pkggen_core_aarch64.txt
  toolkit/resources/manifests/package/pkggen_core_x86_64.txt
  toolkit/resources/manifests/package/toolchain_aarch64.txt
  toolkit/resources/manifests/package/toolchain_x86_64.txt
Owners: @microsoft/cbl-mariner-stable-maintainers

curl: Add patch for fixing CVE-2024-7264
  SPECS/curl/CVE-2024-7264.patch
  SPECS/curl/curl.spec
  toolkit/resources/manifests/package/pkggen_core_aarch64.txt
  toolkit/resources/manifests/package/pkggen_core_x86_64.txt
  toolkit/resources/manifests/package/toolchain_aarch64.txt
  toolkit/resources/manifests/package/toolchain_x86_64.txt
Owners: @microsoft/cbl-mariner-stable-maintainers

golang: bump Go version to 1.22.8-1
  SPECS/golang/golang.signatures.json
  SPECS/golang/golang.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-stable-maintainers

fix CVE-2024-24786 for kubernetes
  SPECS/kubernetes/CVE-2024-24786.patch
  SPECS/kubernetes/kubernetes.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

golang: bump Go version to 1.23.2-1
  SPECS/golang/golang.signatures.json
  SPECS/golang/golang.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-stable-maintainers

Enable nfsd v4 security label
  SPECS-SIGNED/kernel-signed/kernel-signed.spec
  SPECS-SIGNED/kernel-uki-signed/kernel-uki-signed.spec
  SPECS/kernel-headers/kernel-headers.spec
  SPECS/kernel/config
  SPECS/kernel/config_aarch64
  SPECS/kernel/kernel-uki.spec
  SPECS/kernel/kernel.signatures.json
  SPECS/kernel/kernel.spec
  toolkit/resources/manifests/package/pkggen_core_aarch64.txt
  toolkit/resources/manifests/package/pkggen_core_x86_64.txt
  toolkit/resources/manifests/package/toolchain_aarch64.txt
  toolkit/resources/manifests/package/toolchain_x86_64.txt
Owners: @microsoft/cbl-mariner-stable-maintainers

Enable nfsd v4 security label (#10605)
  SPECS-SIGNED/kernel-signed/kernel-signed.spec
  SPECS-SIGNED/kernel-uki-signed/kernel-uki-signed.spec
  SPECS/kernel-headers/kernel-headers.spec
  SPECS/kernel/config
  SPECS/kernel/config_aarch64
  SPECS/kernel/kernel-uki.spec
  SPECS/kernel/kernel.signatures.json
  SPECS/kernel/kernel.spec
  toolkit/resources/manifests/package/pkggen_core_aarch64.txt
  toolkit/resources/manifests/package/pkggen_core_x86_64.txt
  toolkit/resources/manifests/package/toolchain_aarch64.txt
  toolkit/resources/manifests/package/toolchain_x86_64.txt
Owners: @microsoft/cbl-mariner-stable-maintainers

ImageCustomizer - Service and Overlay recommendations for Verity-enabled images.
  toolkit/tools/imagecustomizer/docs/configuration.md
Owners: @microsoft/cbl-mariner-imagecustomizer

Add provided.
  toolkit/tools/imagecustomizer/docs/configuration.md
Owners: @microsoft/cbl-mariner-imagecustomizer

PR revisions
  toolkit/tools/pkg/imagecustomizerlib/cleanUpImage.go
  toolkit/tools/pkg/imagecustomizerlib/customizeos.go
Owners: @microsoft/cbl-mariner-imagecustomizer

upgrade cloud-init to 24.3.1
  SPECS/cloud-init/cloud-init.signatures.json
  SPECS/cloud-init/cloud-init.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-stable-maintainers

[2.0] Use Toolchain RPMS when building Golden Container (#10473)
  .pipelines/containerSourceData/scripts/BuildGoldenContainer.sh
Owners: @microsoft/cbl-mariner-stable-maintainers

Remove repos.
  toolkit/imageconfigs/packagelists/minimal-os-packages.json
Owners: @microsoft/cbl-mariner-stable-maintainers

CVE-2024-42297 CVE-2024-43829
  SPECS/kernel/CVE-2024-42297.nopatch
  SPECS/kernel/CVE-2024-43829.nopatch
Owners: @microsoft/cbl-mariner-stable-maintainers

[3.0] Use Toolchain RPMS when building Golden Container (#10474)
  .pipelines/containerSourceData/scripts/BuildGoldenContainer.sh
Owners: @microsoft/cbl-mariner-stable-maintainers

use build type RelWithDebInfo to generate debug info with sources
  SPECS/SymCrypt-OpenSSL/SymCrypt-OpenSSL.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Enable iptables by default (#10597)
  SPECS/azurelinux-release/90-default.preset
  SPECS/azurelinux-release/azurelinux-release.signatures.json
  SPECS/azurelinux-release/azurelinux-release.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Make e1000 drivers modules instead of built-in
  SPECS-SIGNED/kernel-signed/kernel-signed.spec
  SPECS-SIGNED/kernel-uki-signed/kernel-uki-signed.spec
  SPECS/kernel-headers/kernel-headers.spec
  SPECS/kernel/config
  SPECS/kernel/kernel-uki.spec
  SPECS/kernel/kernel.signatures.json
  SPECS/kernel/kernel.spec
  toolkit/resources/manifests/package/pkggen_core_aarch64.txt
  toolkit/resources/manifests/package/pkggen_core_x86_64.txt
  toolkit/resources/manifests/package/toolchain_aarch64.txt
  toolkit/resources/manifests/package/toolchain_x86_64.txt
Owners: @microsoft/cbl-mariner-stable-maintainers

Enable virtio console by default
  SPECS/kernel/config
  SPECS/kernel/kernel.signatures.json
  SPECS/kernel/kernel.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Saulparedes/kata spec rebuild squash m3 pr (#10592)
  SPECS/kata-containers-cc/kata-containers-cc.signatures.json
  SPECS/kata-containers-cc/kata-containers-cc.spec
  SPECS/kata-containers/kata-containers.signatures.json
Owners: @microsoft/cbl-mariner-stable-maintainers

Update CONFIG_DRM as loadable module and create sub-package for in-tree amdgpu modules
  SPECS-SIGNED/kernel-signed/kernel-signed.spec
  SPECS-SIGNED/kernel-uki-signed/kernel-uki-signed.spec
  SPECS/kernel-headers/kernel-headers.spec
  SPECS/kernel/config
  SPECS/kernel/config_aarch64
  SPECS/kernel/kernel-uki.spec
  SPECS/kernel/kernel.signatures.json
  SPECS/kernel/kernel.spec
  toolkit/resources/manifests/package/pkggen_core_aarch64.txt
  toolkit/resources/manifests/package/pkggen_core_x86_64.txt
  toolkit/resources/manifests/package/toolchain_aarch64.txt
  toolkit/resources/manifests/package/toolchain_x86_64.txt
Owners: @microsoft/cbl-mariner-stable-maintainers

curl: Add patch for fixing CVE-2024-7264
  SPECS/curl/CVE-2024-7264.patch
  SPECS/curl/curl.spec
  toolkit/resources/manifests/package/pkggen_core_aarch64.txt
  toolkit/resources/manifests/package/pkggen_core_x86_64.txt
  toolkit/resources/manifests/package/toolchain_aarch64.txt
  toolkit/resources/manifests/package/toolchain_x86_64.txt
Owners: @microsoft/cbl-mariner-stable-maintainers

binutils: Add patches to fix CVE-2022-47007, CVE-2022-47008, CVE-2022-47010, CVE-2022-47011
  SPECS/binutils/CVE-2022-47007.patch
  SPECS/binutils/CVE-2022-47008.patch
  SPECS/binutils/CVE-2022-47010.patch
  SPECS/binutils/CVE-2022-47011.patch
  SPECS/binutils/binutils.spec
  toolkit/resources/manifests/package/pkggen_core_aarch64.txt
  toolkit/resources/manifests/package/pkggen_core_x86_64.txt
  toolkit/resources/manifests/package/toolchain_aarch64.txt
  toolkit/resources/manifests/package/toolchain_x86_64.txt
Owners: @microsoft/cbl-mariner-stable-maintainers

heimdal: Add backported patch for fixing CVE-2022-3116 (#10588)
  SPECS/heimdal/CVE-2022-3116.patch
  SPECS/heimdal/heimdal.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

heimdal: Add backported patch for fixing CVE-2022-3116 (#10588)
  SPECS/heimdal/CVE-2022-3116.patch
  SPECS/heimdal/heimdal.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

vim: Add patch for fixing CVE-2024-43802
  SPECS/vim/CVE-2024-43802.patch
  SPECS/vim/vim.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Fix typo in pip install line
  SPECS/python-platformdirs/python-platformdirs.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Update changelog
  SPECS/python-platformdirs/python-platformdirs.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Install iniconfig using pip under check section
  SPECS/python-platformdirs/python-platformdirs.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Enable check section in python-platformdirs
  SPECS/python-platformdirs/python-platformdirs.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

python3: Add patch for CVE-2024-4032 (#10589)
  SPECS/python3/CVE-2024-4032.patch
  SPECS/python3/python3.spec
  toolkit/resources/manifests/package/pkggen_core_aarch64.txt
  toolkit/resources/manifests/package/pkggen_core_x86_64.txt
  toolkit/resources/manifests/package/toolchain_aarch64.txt
  toolkit/resources/manifests/package/toolchain_x86_64.txt
Owners: @microsoft/cbl-mariner-stable-maintainers

python3: Add patch for CVE-2024-4032 (#10589)
  SPECS/python3/CVE-2024-4032.patch
  SPECS/python3/python3.spec
  toolkit/resources/manifests/package/pkggen_core_aarch64.txt
  toolkit/resources/manifests/package/pkggen_core_x86_64.txt
  toolkit/resources/manifests/package/toolchain_aarch64.txt
  toolkit/resources/manifests/package/toolchain_x86_64.txt
Owners: @microsoft/cbl-mariner-stable-maintainers

Add epoch stripping function.
  toolkit/tools/internal/rpm/rpm.go
  toolkit/tools/internal/rpm/rpm_test.go
  toolkit/tools/precacher/precacher.go
  toolkit/tools/scheduler/schedulerutils/preparerequest.go
Owners: @microsoft/cbl-mariner-tooling

dropping journald log cleanup
  toolkit/tools/pkg/imagecustomizerlib/cleanUpImage.go
  toolkit/tools/pkg/imagecustomizerlib/customizeos.go
  toolkit/tools/pkg/imagecustomizerlib/customizepackages.go
Owners: @microsoft/cbl-mariner-imagecustomizer

initial changes to toolkit for tdnf snapshots
  toolkit/Makefile
  toolkit/scripts/pkggen.mk
  toolkit/scripts/utils.mk
  toolkit/tools/grapher/grapher.go
  toolkit/tools/graphpkgfetcher/graphpkgfetcher.go
  toolkit/tools/imagepkgfetcher/imagepkgfetcher.go
  toolkit/tools/internal/packagerepo/repocloner/rpmrepocloner/rpmrepocloner.go
  toolkit/tools/internal/tdnf/tdnf.go
  toolkit/tools/internal/tdnf/tdnf_test.go
Owners: @microsoft/cbl-mariner-tooling

use tdnf.go functions for snapshot arg creation
  toolkit/tools/internal/packagerepo/repocloner/rpmrepocloner/rpmrepocloner.go
  toolkit/tools/internal/tdnf/tdnf.go
Owners: @microsoft/cbl-mariner-tooling

add flags to remove cache/checksum issues from run to run when REPO_SNAPSHOT_TIME changes
  toolkit/scripts/imggen.mk
  toolkit/scripts/pkggen.mk
Owners: @microsoft/cbl-mariner-tooling

fix bug with tdnf snapshot config
  SPECS/tdnf/tdnf.spec
  SPECS/tdnf/virtual-repo-snapshot.patch
Owners: @microsoft/cbl-mariner-stable-maintainers

.github/CODEOWNERS:

# For stable release branches, ensure stable release maintainers are added as code reviewers
* @microsoft/cbl-mariner-stable-maintainers

# Modification to this file require admin approval.
/.github/CODEOWNERS @microsoft/cbl-mariner-admins

# Modifications to the build pipelines require admin approval.
/.pipelines/* @microsoft/cbl-mariner-admins

# Modifications to the CredScan exceptions require admin approval.
/.config/CredScanSuppressions.json @microsoft/cbl-mariner-admins

/SPECS-EXTENDED/ @microsoft/cbl-mariner-devs

# Modifications to the toolkit requires reviews from the toolkit team
/toolkit/ @microsoft/cbl-mariner-tooling

/toolkit/docs/ @microsoft/cbl-mariner-stable-maintainers

/toolkit/imageconfigs/ @microsoft/cbl-mariner-stable-maintainers

/toolkit/resources/manifests/package/pkggen_core_aarch64.txt @microsoft/cbl-mariner-stable-maintainers
/toolkit/resources/manifests/package/pkggen_core_x86_64.txt @microsoft/cbl-mariner-stable-maintainers
/toolkit/resources/manifests/package/toolchain_aarch64.txt @microsoft/cbl-mariner-stable-maintainers
/toolkit/resources/manifests/package/toolchain_x86_64.txt @microsoft/cbl-mariner-stable-maintainers

# Modifications to the raw toolchain require admin approval.
/toolkit/scripts/toolchain/container/* @microsoft/cbl-mariner-admins
/toolkit/scripts/toolchain/cgmanifest.json @microsoft/cbl-mariner-admins
/toolkit/scripts/toolchain/create_toolchain_in_container.sh @microsoft/cbl-mariner-admins

# Image Customizer
/toolkit/tools/imagecustomizer/ @microsoft/cbl-mariner-imagecustomizer
/toolkit/tools/imagecustomizerapi/ @microsoft/cbl-mariner-imagecustomizer
/toolkit/tools/osmodifier @microsoft/cbl-mariner-imagecustomizer
/toolkit/tools/pkg/imagecustomizerlib/ @microsoft/cbl-mariner-imagecustomizer
/toolkit/tools/pkg/osmodifierlib @microsoft/cbl-mariner-imagecustomizer
/toolkit/scripts/build_tag_imagecustomizer.mk @microsoft/cbl-mariner-imagecustomizer
