Repository microsoft/azurelinux, changes with the owners that .github/CODEOWNERS names for each.
All owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-admins, @microsoft/cbl-mariner-kernel, @microsoft/cbl-mariner-kata-containers, @microsoft/cbl-mariner-bootloader, @microsoft/cbl-mariner-dracut, @microsoft/cbl-mariner-systemd, @microsoft/cbl-mariner-debug-tools, @microsoft/cbl-mariner-openssl, @microsoft/cbl-mariner-package-managers, @microsoft/cbl-mariner-container-runtime, @microsoft/cbl-mariner-virtualization, @microsoft/cbl-mariner-provisioning, @microsoft/cbl-mariner-tooling, @microsoft/cbl-mariner-toolchain, @microsoft/cbl-mariner-imagecustomizer

kernel: Align arm hv,xen,virtio modules with x86 to fix arm boot (#8579)
  SPECS-SIGNED/kernel-signed/kernel-signed.spec
  SPECS/dracut/defaults.conf
  SPECS/dracut/dracut.signatures.json
  SPECS/dracut/dracut.spec
  SPECS/hyperv-daemons/hyperv-daemons.spec
  SPECS/kernel-headers/kernel-headers.spec
  SPECS/kernel/config_aarch64
  SPECS/kernel/kernel.signatures.json
  SPECS/kernel/kernel.spec
  toolkit/resources/manifests/package/pkggen_core_aarch64.txt
  toolkit/resources/manifests/package/pkggen_core_x86_64.txt
  toolkit/resources/manifests/package/toolchain_aarch64.txt
  toolkit/resources/manifests/package/toolchain_x86_64.txt
Owners: @microsoft/cbl-mariner-kernel, @microsoft/cbl-mariner-dracut, @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-toolchain

Removed the `runOnHost` flag to fix the fast-track PR check pipelines… (#8437)
  .pipelines/prchecks/PackageBuildPRCheck.yml
Owners: @microsoft/cbl-mariner-devs

Removed 'reaper'. (#8615)
  SPECS/LICENSES-AND-NOTICES/LICENSES-MAP.md
  SPECS/LICENSES-AND-NOTICES/data/licenses.json
  SPECS/reaper/CVE-2018-11694.patch
  SPECS/reaper/CVE-2022-37601.patch
  SPECS/reaper/CVE-2023-28155.patch
  SPECS/reaper/Readme
  SPECS/reaper/reaper.signatures.json
  SPECS/reaper/reaper.spec
  SPECS/reaper/reaper_build_caches.sh
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs

Fix edge cases in PR source signature PR gate (#8614)
  .github/workflows/check-source-signatures.yml
Owners: @microsoft/cbl-mariner-devs

Use azurelinux instead of mariner pacakges in base-image-packages.json (#8599)
  toolkit/imageconfigs/packagelists/base-image-packages.json
Owners: @microsoft/cbl-mariner-devs

upgrade prometheus to 2.45.4 (#8604)
  SPECS/prometheus/prometheus.signatures.json
  SPECS/prometheus/prometheus.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs

btrfs-progs: upgrade to 6.8 (#8603)
  SPECS/btrfs-progs/btrfs-progs.signatures.json
  SPECS/btrfs-progs/btrfs-progs.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs

llvm: update to build with llvmgold.so (#8582)
  SPECS/llvm/llvm.spec
Owners: @microsoft/cbl-mariner-devs

Update to jakarta-servlet v5.0.0 for AzL v3.0 (#8611)
  SPECS/LICENSES-AND-NOTICES/LICENSES-MAP.md
  SPECS/LICENSES-AND-NOTICES/data/licenses.json
  SPECS/glassfish-servlet-api/LICENSE-2.0.txt
  SPECS/glassfish-servlet-api/glassfish-servlet-api-build.properties
  SPECS/glassfish-servlet-api/glassfish-servlet-api-build.xml
  SPECS/glassfish-servlet-api/glassfish-servlet-api.signatures.json
  SPECS/glassfish-servlet-api/glassfish-servlet-api.spec
  SPECS/jakarta-servlet/jakarta-servlet.signatures.json
  SPECS/jakarta-servlet/jakarta-servlet.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs

upgrade OpenIPMI to 2.0.33 for 3.0-dev (#8594)
  SPECS/OpenIPMI/OpenIPMI.signatures.json
  SPECS/OpenIPMI/OpenIPMI.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs

Moved the `SPECS/LICENSES-AND-NOTICES` folder. (#8618)
  .gitattributes
  .github/pull_request_template.md
  .github/workflows/check-license-map.yml
  CONTRIBUTING.md
  LICENSES-AND-NOTICES/LICENSES-MAP.md
  LICENSES-AND-NOTICES/SPECS/LICENSE-EXCEPTIONS.PHOTON
  LICENSES-AND-NOTICES/SPECS/LICENSE-LGPLv2.md
  LICENSES-AND-NOTICES/SPECS/LICENSE-PHOTON.md
  LICENSES-AND-NOTICES/SPECS/LICENSES-MAP.md
  LICENSES-AND-NOTICES/SPECS/NOTICE.APACHE2
  LICENSES-AND-NOTICES/SPECS/data/licenses.json
  toolkit/scripts/livepatching/generate_livepatch-signed_spec.sh
  toolkit/scripts/livepatching/generate_livepatch_spec.sh
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-tooling

fix: enable python3 %check tests (#8497)
  SPECS/python3/python3.spec
  toolkit/resources/manifests/package/pkggen_core_aarch64.txt
  toolkit/resources/manifests/package/pkggen_core_x86_64.txt
  toolkit/resources/manifests/package/toolchain_aarch64.txt
  toolkit/resources/manifests/package/toolchain_x86_64.txt
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-toolchain

Upgrade virglrenderer and dependency packages (#8639)
  SPECS-EXTENDED/libXv/libXv.signatures.json
  SPECS-EXTENDED/libva/libva.signatures.json
  SPECS/libXv/libXv.signatures.json
  SPECS/libXv/libXv.spec
  SPECS/libva/baselibs.conf
  SPECS/libva/libva.signatures.json
  SPECS/libva/libva.spec
  SPECS/libva/propagate-dpy.patch
  SPECS/virglrenderer/CVE-2022-0135.patch
  SPECS/virglrenderer/CVE-2022-0175.patch
  SPECS/virglrenderer/virglrenderer.signatures.json
  SPECS/virglrenderer/virglrenderer.spec
  SPECS/vulkan-headers/vulkan-headers.signatures.json
  SPECS/vulkan-headers/vulkan-headers.spec
  SPECS/vulkan-loader/vulkan-loader.signatures.json
  SPECS/vulkan-loader/vulkan-loader.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs

Image Customizer: Fix .repo extension detection. (#8623)
  toolkit/tools/pkg/imagecustomizerlib/rpmsourcesmounts.go
Owners: @microsoft/cbl-mariner-imagecustomizer

Upgrade perl-HTTP-Cookies and perl-HTTP-Daemon to the Latest Version (#8576)
  SPECS/perl-HTTP-Cookies/perl-HTTP-Cookies.signatures.json
  SPECS/perl-HTTP-Cookies/perl-HTTP-Cookies.spec
  SPECS/perl-HTTP-Daemon/HTTP-Daemon-6.04-EU-MM-is-not-deprecated.patch
  SPECS/perl-HTTP-Daemon/perl-HTTP-Daemon.signatures.json
  SPECS/perl-HTTP-Daemon/perl-HTTP-Daemon.spec
Owners: @microsoft/cbl-mariner-devs

moby-containerd-cc: remove obsoletes containerd (#8643)
  SPECS/moby-containerd-cc/moby-containerd-cc.spec
Owners: @microsoft/cbl-mariner-kata-containers

Remove swupdate package (#8610)
  SPECS/LICENSES-AND-NOTICES/LICENSES-MAP.md
  SPECS/LICENSES-AND-NOTICES/data/licenses.json
  SPECS/swupdate/.config
  SPECS/swupdate/swupdate.signatures.json
  SPECS/swupdate/swupdate.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs

Upgrade policycoreutils to 3.6 (#7372)
  SPECS/policycoreutils/policycoreutils.signatures.json
  SPECS/policycoreutils/policycoreutils.spec
  SPECS/policycoreutils/selinux-autorelabel
  SPECS/policycoreutils/selinux-autorelabel-generator.sh
  SPECS/policycoreutils/selinux-autorelabel-mark.service
  SPECS/policycoreutils/selinux-autorelabel.service
  SPECS/policycoreutils/selinux-autorelabel.target
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs

Update keras and add runtime Keras dependencies (#8624)
  LICENSES-AND-NOTICES/SPECS/LICENSES-MAP.md
  LICENSES-AND-NOTICES/SPECS/data/licenses.json
  SPECS-EXTENDED/poetry/00-setup-requirements-fixes.patch
  SPECS-EXTENDED/poetry/poetry.signatures.json
  SPECS/keras/keras.signatures.json
  SPECS/keras/keras.spec
  SPECS/poetry/poetry.signatures.json
  SPECS/poetry/poetry.spec
  SPECS/python-fastjsonschema/python-fastjsonschema.signatures.json
  SPECS/python-fastjsonschema/python-fastjsonschema.spec
  SPECS/python-lark/python-lark.signatures.json
  SPECS/python-lark/python-lark.spec
  SPECS/python-markdown-it-py/python-markdown-it-py.signatures.json
  SPECS/python-markdown-it-py/python-markdown-it-py.spec
  SPECS/python-mdurl/python-mdurl.signatures.json
  SPECS/python-mdurl/python-mdurl.spec
  SPECS/python-namex/python-namex.signatures.json
  SPECS/python-namex/python-namex.spec
  SPECS/python-optree/python-optree.signatures.json
  SPECS/python-optree/python-optree.spec
  SPECS/python-poetry-core/poetry-core-1.9.0-devendor.patch
  SPECS/python-poetry-core/python-poetry-core.signatures.json
  SPECS/python-poetry-core/python-poetry-core.spec
  SPECS/python-rich/3229.patch
  SPECS/python-rich/python-rich.signatures.json
  SPECS/python-rich/python-rich.spec
  SPECS/tensorflow/tensorflow.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs

upgrade ceph to 18.2.1 (#8562)
  SPECS/ceph/0032-cmake-modules-BuildBoost.cmake.patch
  SPECS/ceph/0034-src-pybind-rbd-rbd.pyx.patch
  SPECS/ceph/ceph.signatures.json
  SPECS/ceph/ceph.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs

Update rubygem-msgpack (#8641)
  SPECS/rubygem-msgpack/fix-file_list.patch
  SPECS/rubygem-msgpack/rubygem-msgpack.signatures.json
  SPECS/rubygem-msgpack/rubygem-msgpack.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs

kexec-tools: remove implicit perl dependency (#8698)
  SPECS/kexec-tools/kexec-tools.spec
Owners: @microsoft/cbl-mariner-debug-tools

Fix ephemeral-disk-warning.service not running in mariner 3.0 (#8658)
  SPECS/WALinuxAgent/WALinuxAgent.signatures.json
  SPECS/WALinuxAgent/WALinuxAgent.spec
  SPECS/WALinuxAgent/ephemeral-disk-warning.service
Owners: @microsoft/cbl-mariner-devs

azurelinux-sysinfo: package to deploy systemd service that writes system info to log (#8696)
  .github/workflows/validate-cg-manifest.sh
  LICENSES-AND-NOTICES/SPECS/LICENSES-MAP.md
  LICENSES-AND-NOTICES/SPECS/data/licenses.json
  SPECS/azurelinux-sysinfo/azurelinux-sysinfo.service
  SPECS/azurelinux-sysinfo/azurelinux-sysinfo.signatures.json
  SPECS/azurelinux-sysinfo/azurelinux-sysinfo.spec
  SPECS/azurelinux-sysinfo/collect-sysinfo
  SPECS/azurelinux-sysinfo/sysinfo-schema-v1.json
Owners: @microsoft/cbl-mariner-devs

perftest: Upgrade to 24.01.0 version (#8674)
  SPECS/perftest/perftest.signatures.json
  SPECS/perftest/perftest.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs

Image Customizer: Change partition flags to partitionType. (#8662)
  toolkit/tools/imagecustomizer/docs/configuration.md
  toolkit/tools/imagecustomizerapi/config_test.go
  toolkit/tools/imagecustomizerapi/disk.go
  toolkit/tools/imagecustomizerapi/disk_test.go
  toolkit/tools/imagecustomizerapi/partition.go
  toolkit/tools/imagecustomizerapi/partition_test.go
  toolkit/tools/imagecustomizerapi/partitionflag.go
  toolkit/tools/imagecustomizerapi/partitiontype.go
  toolkit/tools/imagecustomizerapi/storage_test.go
  toolkit/tools/pkg/imagecustomizerlib/imagecustomizer_test.go
  toolkit/tools/pkg/imagecustomizerlib/testdata/legacyboot-config.yaml
  toolkit/tools/pkg/imagecustomizerlib/testdata/mshvkernel-config.yaml
  toolkit/tools/pkg/imagecustomizerlib/testdata/partitions-config.yaml
  toolkit/tools/pkg/imagecustomizerlib/testdata/verity-config.yaml
  toolkit/tools/pkg/imagecustomizerlib/typeConversion.go
Owners: @microsoft/cbl-mariner-imagecustomizer

Remove TrouSerS, tpm-tools, tpm-quote-tools packages and drop TPM 1.x support (#8619)
  LICENSES-AND-NOTICES/SPECS/LICENSES-MAP.md
  LICENSES-AND-NOTICES/SPECS/data/licenses.json
  SPECS-EXTENDED/opencryptoki/opencryptoki.spec
  SPECS-EXTENDED/tpm-quote-tools/tpm-quote-tools.signatures.json
  SPECS-EXTENDED/tpm-quote-tools/tpm-quote-tools.spec
  SPECS-EXTENDED/tpm-tools/0001-Fix-build-with-OpenSSL-1.1-due-to-EVP_PKEY-being-an-.patch
  SPECS-EXTENDED/tpm-tools/0002-Fix-build-with-OpenSSL-1.1-due-to-RSA-being-an-opaqu.patch
  SPECS-EXTENDED/tpm-tools/0003-Allocate-OpenSSL-cipher-contexts-for-seal-unseal.patch
  SPECS-EXTENDED/tpm-tools/tpm-tools.signatures.json
  SPECS-EXTENDED/tpm-tools/tpm-tools.spec
  SPECS/trousers/CVE-2020-24330.patch
  SPECS/trousers/CVE-2020-24331.nopatch
  SPECS/trousers/CVE-2020-24332.nopatch
  SPECS/trousers/trousers.signatures.json
  SPECS/trousers/trousers.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs

update rb-rdkafka (#8644)
  SPECS/ruby/macros.rubygems
  SPECS/ruby/ruby.signatures.json
  SPECS/ruby/ruby.spec
  SPECS/rubygem-rdkafka/fix-file_list.patch
  SPECS/rubygem-rdkafka/librdkafka.patch
  SPECS/rubygem-rdkafka/rubygem-rdkafka.signatures.json
  SPECS/rubygem-rdkafka/rubygem-rdkafka.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs

rust: enable profiler support (#8656)
  SPECS/rust/rust.spec
Owners: @microsoft/cbl-mariner-devs

containerized-rpmbuild: fix typo in installing packages string (#8704)
  toolkit/scripts/containerized-build/resources/azl.Dockerfile
Owners: @microsoft/cbl-mariner-tooling

Update rubygem-hoe and rubygem-http_parser (#8664)
  LICENSES-AND-NOTICES/SPECS/LICENSES-MAP.md
  LICENSES-AND-NOTICES/SPECS/data/licenses.json
  SPECS/rubygem-hoe/hoe.gemspec
  SPECS/rubygem-hoe/rubygem-hoe.signatures.json
  SPECS/rubygem-hoe/rubygem-hoe.spec
  SPECS/rubygem-http_parser.rb/rubygem-http_parser.rb.signatures.json
  SPECS/rubygem-http_parser/generate_source_tarball.sh
  SPECS/rubygem-http_parser/rubygem-http_parser.signatures.json
  SPECS/rubygem-http_parser/rubygem-http_parser.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs

[3.0] Upgrade python-tqdm to v4.66.2 (#8565)
  SPECS/python-tqdm/python-tqdm.signatures.json
  SPECS/python-tqdm/python-tqdm.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs

Dropping Rook package in 3.0-dev (#8625)
  LICENSES-AND-NOTICES/SPECS/LICENSES-MAP.md
  LICENSES-AND-NOTICES/SPECS/data/licenses.json
  SPECS/rook/README
  SPECS/rook/flexvolume-dir.patch
  SPECS/rook/rook.signatures.json
  SPECS/rook/rook.spec
  SPECS/rook/update-tarball.sh
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs

add named args to check-manifest.sh (#8617)
  .github/workflows/check-manifests.yml
  toolkit/scripts/toolchain.mk
  toolkit/scripts/toolchain/check_manifests.sh
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-tooling

softhsm: fix tests (#8632)
  SPECS/softhsm/softhsm-openssl3-tests.patch
  SPECS/softhsm/softhsm.spec
Owners: @microsoft/cbl-mariner-devs

Build fix for xorg-x11-server in 3.0-dev (#8657)
  SPECS/xorg-x11-server/0001-hw-Rename-boolean-config-value-field-from-bool-to-bo.patch
  SPECS/xorg-x11-server/0001-render-Fix-build-with-gcc-12.patch
  SPECS/xorg-x11-server/xorg-x11-server.spec
Owners: @microsoft/cbl-mariner-devs

add systemd-rpm-macros BuildRequires to dconf (#8647)
  SPECS/dconf/dconf.spec
Owners: @microsoft/cbl-mariner-devs

[AUTOPATCHER-CORE] Upgrade plexus-sec-dispatcher to 2 3.0 package upgrade (#7852)
  SPECS/plexus-sec-dispatcher/plexus-sec-dispatcher-pom.patch
  SPECS/plexus-sec-dispatcher/plexus-sec-dispatcher.signatures.json
  SPECS/plexus-sec-dispatcher/plexus-sec-dispatcher.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs

libguestfs: upgrade to 1.52.0, ocaml-augeas: add the package (#8620)
  LICENSES-AND-NOTICES/SPECS/LICENSES-MAP.md
  LICENSES-AND-NOTICES/SPECS/data/licenses.json
  SPECS/libguestfs/README-replacement.in
  SPECS/libguestfs/libguestfs-config-rpm.patch
  SPECS/libguestfs/libguestfs-file-5.40.patch
  SPECS/libguestfs/libguestfs-ocaml413compat.patch
  SPECS/libguestfs/libguestfs.signatures.json
  SPECS/libguestfs/libguestfs.spec
  SPECS/libguestfs/tdnf-build-cache.repo
  SPECS/ocaml-augeas/macros.ocaml-rpm
  SPECS/ocaml-augeas/ocaml-augeas.signatures.json
  SPECS/ocaml-augeas/ocaml-augeas.spec
  SPECS/ocaml-augeas/ocaml_files.py
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs

[AUTOPATCHER-CORE] Upgrade python-virtualenv to 20.25.0 3.0 package upgrade (#7980)
  SPECS/python-virtualenv/0001-replace-to-flit.patch
  SPECS/python-virtualenv/python-virtualenv.signatures.json
  SPECS/python-virtualenv/python-virtualenv.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs

.github/CODEOWNERS:

# By default, all files require a review by at least one member of the Azure Linux developers team.
# See teams here: https://github.com/orgs/microsoft/teams?query=mariner
* @microsoft/cbl-mariner-devs

# Modification to this file require admin approval.
/.github/CODEOWNERS @microsoft/cbl-mariner-admins

# Modifications to the build pipelines require admin approval.
/.pipelines/* @microsoft/cbl-mariner-admins

# Modifications to the CredScan exceptions require admin approval.
/.config/CredScanSuppressions.json @microsoft/cbl-mariner-admins

# Modification to what is considered "core packages" require admin approval.
/SPECS/core-packages/* @microsoft/cbl-mariner-admins

# Modification to specific packages go to specific teams
/SPECS/kernel/* @microsoft/cbl-mariner-kernel
/SPECS/kernel-headers/* @microsoft/cbl-mariner-kernel
/SPECS/kernel-mshv/* @microsoft/cbl-mariner-kata-containers
/SPECS/kernel-uvm/* @microsoft/cbl-mariner-kata-containers
/SPECS-SIGNED/kernel-signed/* @microsoft/cbl-mariner-kernel
/SPECS-SIGNED/kernel-mstflint-signed/* @microsoft/cbl-mariner-kernel

/SPECS/grub2/* @microsoft/cbl-mariner-bootloader
/SPECS/grubby/* @microsoft/cbl-mariner-bootloader
/SPECS/shim/* @microsoft/cbl-mariner-bootloader
/SPECS/shim-unsigned/* @microsoft/cbl-mariner-bootloader
/SPECS/shim-unsigned-x64/* @microsoft/cbl-mariner-bootloader
/SPECS/shim-unsigned-aarch64/* @microsoft/cbl-mariner-bootloader
/SPECS-SIGNED/grub2-efi-binary-signed/* @microsoft/cbl-mariner-bootloader

/SPECS/dracut/* @microsoft/cbl-mariner-dracut
/SPECS/initramfs/* @microsoft/cbl-mariner-dracut
/SPECS/verity-read-only-root/* @microsoft/cbl-mariner-dracut

/SPECS/systemd/* @microsoft/cbl-mariner-systemd

/SPECS/bcc/* @microsoft/cbl-mariner-debug-tools
/SPECS/bpftrace/* @microsoft/cbl-mariner-debug-tools
/SPECS/crash/* @microsoft/cbl-mariner-debug-tools
/SPECS/gdb/* @microsoft/cbl-mariner-debug-tools
/SPECS/kexec-tools/* @microsoft/cbl-mariner-debug-tools

/SPECS/openssl/* @microsoft/cbl-mariner-openssl
/SPECS/SymCrypt-OpenSSL/* @microsoft/cbl-mariner-openssl
/SPECS/SymCrypt/* @microsoft/cbl-mariner-openssl

/SPECS/dnf/* @microsoft/cbl-mariner-package-managers
/SPECS/dnf-plugins-core/* @microsoft/cbl-mariner-package-managers
/SPECS/rpm/* @microsoft/cbl-mariner-package-managers
/SPECS/tdnf/* @microsoft/cbl-mariner-package-managers

/SPECS/containerd/* @microsoft/cbl-mariner-container-runtime
/SPECS/docker-buildx/* @microsoft/cbl-mariner-container-runtime
/SPECS/docker-cli/* @microsoft/cbl-mariner-container-runtime
/SPECS/kata-containers/* @microsoft/cbl-mariner-kata-containers
/SPECS/kata-containers-cc/* @microsoft/cbl-mariner-kata-containers
/SPECS/moby-containerd-cc/* @microsoft/cbl-mariner-kata-containers
/SPECS/moby-engine/* @microsoft/cbl-mariner-container-runtime
/SPECS/runc/* @microsoft/cbl-mariner-container-runtime
/SPECS/virtiofsd/* @microsoft/cbl-mariner-kata-containers

/SPECS/cloud-hypervisor/* @microsoft/cbl-mariner-virtualization
/SPECS/hvloader/* @microsoft/cbl-mariner-kata-containers

/SPECS/cloud-init/* @microsoft/cbl-mariner-provisioning
/SPECS/walinuxagent/* @microsoft/cbl-mariner-provisioning

# Modifications to the toolkit requires reviews from the toolkit team
/toolkit/ @microsoft/cbl-mariner-tooling

# Docs to be reviewed by general Azure Linux devs
/toolkit/docs/ @microsoft/cbl-mariner-devs

# Default image configurations to be reviewed by general Azure Linux devs
/toolkit/imageconfigs/ @microsoft/cbl-mariner-devs

# Package and toolchain manifests to be reviewed by toolchain team
/toolkit/resources/manifests/package/pkggen_core_aarch64.txt @microsoft/cbl-mariner-toolchain
/toolkit/resources/manifests/package/pkggen_core_x86_64.txt @microsoft/cbl-mariner-toolchain
/toolkit/resources/manifests/package/toolchain_aarch64.txt @microsoft/cbl-mariner-toolchain
/toolkit/resources/manifests/package/toolchain_x86_64.txt @microsoft/cbl-mariner-toolchain

# Modifications to the raw toolchain require admin approval.
/toolkit/scripts/toolchain/container/* @microsoft/cbl-mariner-admins
/toolkit/scripts/toolchain/cgmanifest.json @microsoft/cbl-mariner-admins
/toolkit/scripts/toolchain/create_toolchain_in_container.sh @microsoft/cbl-mariner-admins

# Image Customizer
/toolkit/tools/imagecustomizer/ @microsoft/cbl-mariner-imagecustomizer
/toolkit/tools/imagecustomizerapi/ @microsoft/cbl-mariner-imagecustomizer
/toolkit/tools/osmodifier @microsoft/cbl-mariner-imagecustomizer
/toolkit/tools/pkg/imagecustomizerlib/ @microsoft/cbl-mariner-imagecustomizer
/toolkit/tools/pkg/osmodifierlib @microsoft/cbl-mariner-imagecustomizer
