Repository microsoft/azurelinux, changes with the owners that .github/CODEOWNERS names for each.
All owners: @microsoft/cbl-mariner-stable-maintainers, @microsoft/cbl-mariner-admins, @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-imagecustomizer

Fix rubygem-rake ptest (#13420)
  SPECS/rubygem-rake/rubygem-rake.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Fix Ptest for python-ecdsa (#13414)
  SPECS/python-ecdsa/308.patch
  SPECS/python-ecdsa/python-ecdsa.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Fix ptest python-greenlet (#13413)
  SPECS/python-greenlet/greenlet-py39.patch
  SPECS/python-greenlet/python-greenlet.spec
  SPECS/python-greenlet/skip-leak-checks.patch
Owners: @microsoft/cbl-mariner-stable-maintainers

Add patch fixing tests for python-cytoolz (#13333)
  SPECS/python-cytoolz/cytoolz-test-py313.patch
  SPECS/python-cytoolz/python-cytoolz.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Fixed: Review comments.
  SPECS-EXTENDED/perl-Mojolicious/perl-Mojolicious.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-stable-maintainers

Fixed: Review comments.
  SPECS-EXTENDED/libtevent/libtevent.spec
Owners: @microsoft/cbl-mariner-devs

corrected urls to use https
  SPECS-EXTENDED/libwps/libwps.signatures.json
  SPECS-EXTENDED/libwps/libwps.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-stable-maintainers

corrected urls to use https
  SPECS-EXTENDED/m17n-db/m17n-db.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-stable-maintainers

corrected the url to use https
  SPECS-EXTENDED/m17n-lib/m17n-lib.signatures.json
  SPECS-EXTENDED/m17n-lib/m17n-lib.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-stable-maintainers

Patch tinyxml2 for CVE-2024-50614 & CVE-2024-50615
  SPECS/tinyxml2/CVE-2024-50614.patch
  SPECS/tinyxml2/CVE-2024-50615.patch
  SPECS/tinyxml2/tinyxml2.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

patch bcc fpr CVE-2025-29481
  SPECS/bcc/CVE-2025-29481.patch
  SPECS/bcc/bcc.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

amtk: upgrade to 5.6.1 (#12935)
  SPECS-EXTENDED/amtk/amtk.signatures.json
  SPECS-EXTENDED/amtk/amtk.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-stable-maintainers

Upgrade: python-kdcproxy version to 1.0.0 (#12939)
  SPECS-EXTENDED/python-kdcproxy/Drop-coverage-from-tests.patch
  SPECS-EXTENDED/python-kdcproxy/python-kdcproxy.signatures.json
  SPECS-EXTENDED/python-kdcproxy/python-kdcproxy.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-stable-maintainers

Upgrade: python-lazy-object-proxy version to 1.10.0 (#12940)
  SPECS-EXTENDED/python-lazy-object-proxy/python-lazy-object-proxy.signatures.json
  SPECS-EXTENDED/python-lazy-object-proxy/python-lazy-object-proxy.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-stable-maintainers

Patch glib for CVE-2025-3360
  SPECS/glib/CVE-2025-3360.patch
  SPECS/glib/glib.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Updating manifest files
  SPECS/glib/CVE-2025-3360.patch
  toolkit/resources/manifests/package/pkggen_core_aarch64.txt
  toolkit/resources/manifests/package/pkggen_core_x86_64.txt
  toolkit/resources/manifests/package/toolchain_aarch64.txt
  toolkit/resources/manifests/package/toolchain_x86_64.txt
Owners: @microsoft/cbl-mariner-stable-maintainers

Patch glib for CVE-2025-3360
  SPECS/glib/CVE-2025-3360.patch
  SPECS/glib/glib.spec
  toolkit/resources/manifests/package/pkggen_core_aarch64.txt
  toolkit/resources/manifests/package/pkggen_core_x86_64.txt
  toolkit/resources/manifests/package/toolchain_aarch64.txt
  toolkit/resources/manifests/package/toolchain_x86_64.txt
Owners: @microsoft/cbl-mariner-stable-maintainers

Combining both patches into one - CVE-2024-50615.patch
  SPECS/tinyxml2/CVE-2024-50614.nopatch
  SPECS/tinyxml2/CVE-2024-50614.patch
  SPECS/tinyxml2/CVE-2024-50615.patch
  SPECS/tinyxml2/tinyxml2.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Upgrade: python-varlink version to 31.0.0
  SPECS-EXTENDED/python-varlink/python-varlink.signatures.json
  SPECS-EXTENDED/python-varlink/python-varlink.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-stable-maintainers

modified %changelog to retrigger build
  SPECS-EXTENDED/python-varlink/python-varlink.spec
Owners: @microsoft/cbl-mariner-devs

Patch hdf5 to add support for aarch64 _Float16 16-bit floating point type
  SPECS/hdf5/add_support_for_aarch64.patch
  SPECS/hdf5/hdf5.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Upgrade: rubygem-rspec-support version to 3.13.1
  SPECS-EXTENDED/rubygem-rspec-support/rubygem-rspec-support-3.2.1-callerfilter-searchpath-regex.patch
  SPECS-EXTENDED/rubygem-rspec-support/rubygem-rspec-support.signatures.json
  SPECS-EXTENDED/rubygem-rspec-support/rubygem-rspec-support.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-stable-maintainers

Address CVE-2024-50614 & CVE-2024-50615
  SPECS/tinyxml2/CVE-2024-50614.nopatch
  SPECS/tinyxml2/CVE-2024-50615.patch
  SPECS/tinyxml2/tinyxml2.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Modified Source0 URL
  SPECS-EXTENDED/python-varlink/python-varlink.signatures.json
  SPECS-EXTENDED/python-varlink/python-varlink.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-stable-maintainers

!!! TEST-AUTOUPGRADE: DO NOT MERGE - topic to be deleted -> "test_GithubClass" !!!
  ToBeDeleted1.txt
Owners: @microsoft/cbl-mariner-stable-maintainers

!!! TEST-AUTOUPGRADE: DO NOT MERGE - topic to be deleted -> "test_GithubClass" !!!
  ToBeDeleted2.txt
Owners: @microsoft/cbl-mariner-stable-maintainers

apache-commons-digester: Build error fix
  SPECS-EXTENDED/apache-commons-digester/apache-commons-digester-2.1-build-java-error-fix1.patch
  SPECS-EXTENDED/apache-commons-digester/apache-commons-digester.signatures.json
  SPECS-EXTENDED/apache-commons-digester/apache-commons-digester.spec
Owners: @microsoft/cbl-mariner-devs

apache-commons-digester: remove the extra patch and use the autoseup
  SPECS-EXTENDED/apache-commons-digester/apache-commons-digester.spec
Owners: @microsoft/cbl-mariner-devs

!!! TEST-AUTOUPGRADE: DO NOT MERGE - topic to be deleted -> "test_GithubClass" !!!
  ToBeDeleted1.txt
Owners: @microsoft/cbl-mariner-stable-maintainers

!!! TEST-AUTOUPGRADE: DO NOT MERGE - topic to be deleted -> "test_GithubClass" !!!
  ToBeDeleted2.txt
Owners: @microsoft/cbl-mariner-stable-maintainers

[AUTO-CHERRYPICK] [Low] patch vitess for CVE-2024-53257 - branch 3.0-dev (#13400)
  SPECS/vitess/CVE-2024-53257.patch
  SPECS/vitess/vitess.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

!!! TEST-AUTOUPGRADE: DO NOT MERGE - topic to be deleted -> "test_GithubClass" !!!
  ToBeDeleted1.txt
Owners: @microsoft/cbl-mariner-stable-maintainers

!!! TEST-AUTOUPGRADE: DO NOT MERGE - topic to be deleted -> "test_GithubClass" !!!
  ToBeDeleted2.txt
Owners: @microsoft/cbl-mariner-stable-maintainers

grub: Replace fgrep with grep
  SPECS/grub2/0203-fgrep-with-grep.patch
  SPECS/grub2/grub2.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Fixed: Source from ftp to https.
  SPECS-EXTENDED/libutempter/libutempter.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-stable-maintainers

added cgmanifest file
  cgmanifest.json
Owners: @microsoft/cbl-mariner-stable-maintainers

modified spec file
  SPECS-EXTENDED/usbguard/usbguard.spec
Owners: @microsoft/cbl-mariner-devs

Upgrade: usbguard version to 1.1.3
  SPECS-EXTENDED/usbguard/usbguard-0.7.6-libqb.patch
  SPECS-EXTENDED/usbguard/usbguard-revert-catch.patch
  SPECS-EXTENDED/usbguard/usbguard.signatures.json
  SPECS-EXTENDED/usbguard/usbguard.spec
Owners: @microsoft/cbl-mariner-devs

modified spec
  SPECS-EXTENDED/usbguard/usbguard.spec
Owners: @microsoft/cbl-mariner-devs

removed conditional statements
  SPECS-EXTENDED/usbguard/usbguard.spec
Owners: @microsoft/cbl-mariner-devs

.github/CODEOWNERS:

# For stable release branches, ensure stable release maintainers are added as code reviewers
* @microsoft/cbl-mariner-stable-maintainers

# Modification to this file require admin approval.
/.github/CODEOWNERS @microsoft/cbl-mariner-admins

# Modifications to the build pipelines require admin approval.
/.pipelines/* @microsoft/cbl-mariner-admins

# Modifications to the CredScan exceptions require admin approval.
/.config/CredScanSuppressions.json @microsoft/cbl-mariner-admins

/SPECS-EXTENDED/ @microsoft/cbl-mariner-devs

# Image Customizer
/toolkit/tools/imagecustomizer/ @microsoft/cbl-mariner-imagecustomizer
/toolkit/tools/imagecustomizerapi/ @microsoft/cbl-mariner-imagecustomizer
/toolkit/tools/osmodifier @microsoft/cbl-mariner-imagecustomizer
/toolkit/tools/pkg/imagecustomizerlib/ @microsoft/cbl-mariner-imagecustomizer
/toolkit/tools/pkg/osmodifierlib @microsoft/cbl-mariner-imagecustomizer
/toolkit/scripts/build_tag_imagecustomizer.mk @microsoft/cbl-mariner-imagecustomizer
