Repository microsoft/azurelinux, changes with the owners that .github/CODEOWNERS names for each.
All owners: @microsoft/cbl-mariner-stable-maintainers, @microsoft/cbl-mariner-admins, @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-imagecustomizer

Upgrades logwatch to version 7.12
  SPECS-EXTENDED/logwatch/dnf-rpm.conf
  SPECS-EXTENDED/logwatch/logwatch.signatures.json
  SPECS-EXTENDED/logwatch/logwatch.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-stable-maintainers

Upgrade logwatch to version 7.11
  SPECS-EXTENDED/logwatch/logwatch.signatures.json
  SPECS-EXTENDED/logwatch/logwatch.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-stable-maintainers

Upgraded perl-File-BOM to version 0.18
  SPECS-EXTENDED/perl-File-BOM/perl-File-BOM.signatures.json
  SPECS-EXTENDED/perl-File-BOM/perl-File-BOM.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-stable-maintainers

Patch erlang to fix CVE-2025-30211 [High]
  SPECS/erlang/CVE-2025-30211.patch
  SPECS/erlang/erlang.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Patch reaper to fix CVE-2024-12905 [HIGH]
  SPECS/reaper/CVE-2024-12905.patch
  SPECS/reaper/reaper.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Bump release for consistency with edk2 spec
  SPECS-SIGNED/edk2-hvloader-signed/edk2-hvloader-signed.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

libsndfile: patch CVE-2024-50612 (#11805)
  SPECS/libsndfile/CVE-2024-50612.patch
  SPECS/libsndfile/libsndfile.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Bug 51837515: Fix mariadb package installation broken and import spec from Fedora
  LICENSES-AND-NOTICES/SPECS/LICENSES-MAP.md
  LICENSES-AND-NOTICES/SPECS/data/licenses.json
  SPECS/mariadb/LICENSE.clustercheck
  SPECS/mariadb/README.mariadb-docs
  SPECS/mariadb/README.md
  SPECS/mariadb/README.wsrep_sst_rsync_tunnel
  SPECS/mariadb/clustercheck.sh
  SPECS/mariadb/gating.yaml
  SPECS/mariadb/mariadb-check-socket.sh
  SPECS/mariadb/mariadb-check-upgrade.sh
  SPECS/mariadb/mariadb-libfmt.patch
  SPECS/mariadb/mariadb-logrotate.patch
  SPECS/mariadb/mariadb-mtr.patch
  SPECS/mariadb/mariadb-ownsetup.patch
  SPECS/mariadb/mariadb-prepare-db-dir.sh
  SPECS/mariadb/mariadb-scripts-common.sh
  SPECS/mariadb/mariadb-scripts.patch
  SPECS/mariadb/mariadb-server-galera.te
  SPECS/mariadb/mariadb-ssl-cypher.patch
  SPECS/mariadb/mariadb.rpmlintrc
  SPECS/mariadb/mariadb.signatures.json
  SPECS/mariadb/mariadb.spec
  SPECS/mariadb/mariadb.tmpfiles.d.in
  SPECS/mariadb/my.cnf.in
  SPECS/mariadb/mysql.service.in
  SPECS/mariadb/mysql@.service.in
  SPECS/mariadb/mysql_config_multilib.sh
  SPECS/mariadb/rh-skipped-tests-arm.list
  SPECS/mariadb/rh-skipped-tests-base.list
  SPECS/mariadb/rh-skipped-tests-ppc.list
  SPECS/mariadb/rh-skipped-tests-s390.list
  SPECS/mariadb/rocksdb-6.8-gcc13.patch
  SPECS/mariadb/rpminspect.yaml
  SPECS/mariadb/wsrep_sst_rsync_tunnel
  cgmanifest.json
Owners: @microsoft/cbl-mariner-stable-maintainers

[3.0] Fix ptest for `sysbench` (#13260)
  SPECS/sysbench/sysbench-1.0.20-fix_deprecated_egrep_call.patch
  SPECS/sysbench/sysbench.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

Implement review comments
  SPECS/erlang/erlang.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

terraform: Patch CVE-2023-48795
  SPECS/terraform/CVE-2023-48795.patch
  SPECS/terraform/terraform.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

kubevirt: Patch CVE-2023-48795
  SPECS/kubevirt/CVE-2023-48795.patch
  SPECS/kubevirt/kubevirt.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

libssh2: Bump patch version to fix CVE-2023-48795
  SPECS/libssh2/libssh2.signatures.json
  SPECS/libssh2/libssh2.spec
  cgmanifest.json
  toolkit/resources/manifests/package/pkggen_core_aarch64.txt
  toolkit/resources/manifests/package/pkggen_core_x86_64.txt
  toolkit/resources/manifests/package/toolchain_aarch64.txt
  toolkit/resources/manifests/package/toolchain_x86_64.txt
Owners: @microsoft/cbl-mariner-stable-maintainers

Upgrade SDL2 to version 2.30.9
  SPECS-EXTENDED/SDL2/SDL2-2.0.22-prefer-wayland.patch
  SPECS-EXTENDED/SDL2/SDL2-2.0.9-khrplatform.patch
  SPECS-EXTENDED/SDL2/SDL2-2.30.1-prefer-wayland.patch
  SPECS-EXTENDED/SDL2/SDL2.signatures.json
  SPECS-EXTENDED/SDL2/SDL2.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-stable-maintainers

Replace and Upgrade: SDL to sdl12-compat version 1.2.68
  LICENSES-AND-NOTICES/SPECS/LICENSES-MAP.md
  LICENSES-AND-NOTICES/SPECS/data/licenses.json
  SPECS-EXTENDED/SDL/SDL-1.2.10-GrabNotViewable.patch
  SPECS-EXTENDED/SDL/SDL-1.2.12-multilib.patch
  SPECS-EXTENDED/SDL/SDL-1.2.15-CVE-2019-13616-validate_image_size_when_loading_BMP_files.patch
  SPECS-EXTENDED/SDL/SDL-1.2.15-CVE-2019-7572-Fix-a-buffer-overread-in-IMA_ADPCM_nib.patch
  SPECS-EXTENDED/SDL/SDL-1.2.15-CVE-2019-7572-Fix-a-buffer-overwrite-in-IMA_ADPCM_de.patch
  SPECS-EXTENDED/SDL/SDL-1.2.15-CVE-2019-7573-CVE-2019-7576-Fix-buffer-overreads-in-.patch
  SPECS-EXTENDED/SDL/SDL-1.2.15-CVE-2019-7574-Fix-a-buffer-overread-in-IMA_ADPCM_dec.patch
  SPECS-EXTENDED/SDL/SDL-1.2.15-CVE-2019-7575-Fix-a-buffer-overwrite-in-MS_ADPCM_dec.patch
  SPECS-EXTENDED/SDL/SDL-1.2.15-CVE-2019-7577-Fix-a-buffer-overread-in-MS_ADPCM_deco.patch
  SPECS-EXTENDED/SDL/SDL-1.2.15-CVE-2019-7577-Fix-a-buffer-overread-in-MS_ADPCM_nibb.patch
  SPECS-EXTENDED/SDL/SDL-1.2.15-CVE-2019-7578-Fix-a-buffer-overread-in-InitIMA_ADPCM.patch
  SPECS-EXTENDED/SDL/SDL-1.2.15-CVE-2019-7635-Reject-BMP-images-with-pixel-colors-ou.patch
  SPECS-EXTENDED/SDL/SDL-1.2.15-CVE-2019-7637-Fix-in-integer-overflow-in-SDL_Calcula.patch
  SPECS-EXTENDED/SDL/SDL-1.2.15-CVE-2019-7638-CVE-2019-7636-Refuse-loading-BMP-image.patch
  SPECS-EXTENDED/SDL/SDL-1.2.15-Fixed-bug-4108-Missing-break-statements-in-SDL_CDRes.patch
  SPECS-EXTENDED/SDL/SDL-1.2.15-Reject-2-3-5-6-7-bpp-BMP-images.patch
  SPECS-EXTENDED/SDL/SDL-1.2.15-SDL_EnableUNICODE_drops_keyboard_events.patch
  SPECS-EXTENDED/SDL/SDL-1.2.15-Use-system-glext.h.patch
  SPECS-EXTENDED/SDL/SDL-1.2.15-add_sdl_config_man.patch
  SPECS-EXTENDED/SDL/SDL-1.2.15-const_XData32.patch
  SPECS-EXTENDED/SDL/SDL-1.2.15-fix-small-errors-detected-by-coverity.patch
  SPECS-EXTENDED/SDL/SDL-1.2.15-fix_copy_paste_mistakes_in_commit_9b0e5c555c0f.patch
  SPECS-EXTENDED/SDL/SDL-1.2.15-ignore_insane_joystick_axis.patch
  SPECS-EXTENDED/SDL/SDL-1.2.15-no-default-backing-store.patch
  SPECS-EXTENDED/SDL/SDL-1.2.15-vec_perm-ppc64le.patch
  SPECS-EXTENDED/SDL/SDL.signatures.json
  SPECS-EXTENDED/SDL/SDL.spec
  SPECS-EXTENDED/sdl12-compat/SDL_config.h
  SPECS-EXTENDED/sdl12-compat/sdl12-compat-sdlconfig-multilib.patch
  SPECS-EXTENDED/sdl12-compat/sdl12-compat.signatures.json
  SPECS-EXTENDED/sdl12-compat/sdl12-compat.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-stable-maintainers, @microsoft/cbl-mariner-devs

added tags
  SPECS-EXTENDED/sdl12-compat/sdl12-compat.spec
Owners: @microsoft/cbl-mariner-devs

Added HTTPS Endpoint
  SPECS-EXTENDED/powertop/powertop.spec
Owners: @microsoft/cbl-mariner-devs

Update cgmanifest.json
  cgmanifest.json
Owners: @microsoft/cbl-mariner-stable-maintainers

libsepol: Install chkcon tool in libsepol-devel.
  SPECS/libsepol/libsepol.spec
  toolkit/resources/manifests/package/pkggen_core_aarch64.txt
  toolkit/resources/manifests/package/pkggen_core_x86_64.txt
  toolkit/resources/manifests/package/toolchain_aarch64.txt
  toolkit/resources/manifests/package/toolchain_x86_64.txt
Owners: @microsoft/cbl-mariner-stable-maintainers

Removed XSAccessor based options
  SPECS-EXTENDED/perl-PPI/perl-PPI.spec
Owners: @microsoft/cbl-mariner-devs

Update perl-Class-Tiny.signatures.json
  SPECS-EXTENDED/perl-Class-Tiny/perl-Class-Tiny.signatures.json
Owners: @microsoft/cbl-mariner-devs

Update perl-Class-Tiny.spec
  SPECS-EXTENDED/perl-Class-Tiny/perl-Class-Tiny.spec
Owners: @microsoft/cbl-mariner-devs

Update perl-Config-AutoConf.signatures.json
  SPECS-EXTENDED/perl-Config-AutoConf/perl-Config-AutoConf.signatures.json
Owners: @microsoft/cbl-mariner-devs

Update perl-Config-AutoConf.spec
  SPECS-EXTENDED/perl-Config-AutoConf/perl-Config-AutoConf.spec
Owners: @microsoft/cbl-mariner-devs

Update python-IPy.signatures.json
  SPECS-EXTENDED/python-IPy/python-IPy.signatures.json
Owners: @microsoft/cbl-mariner-devs

Update pyparted.signatures.json
  SPECS-EXTENDED/pyparted/pyparted.signatures.json
Owners: @microsoft/cbl-mariner-devs

Update pyparted.spec
  SPECS-EXTENDED/pyparted/pyparted.spec
Owners: @microsoft/cbl-mariner-devs

Upgrades aspell-en to version 2020.12.07
  SPECS-EXTENDED/aspell-en/aspell-en.signatures.json
  SPECS-EXTENDED/aspell-en/aspell-en.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-stable-maintainers

Corrected source path to use https
  SPECS-EXTENDED/aspell-en/aspell-en.spec
  cgmanifest.json
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-stable-maintainers

Adding new patch file from Nexus - v2
  SPECS/cloud-provider-kubevirt/cloud-provider-kubevirt.signatures.json
  SPECS/cloud-provider-kubevirt/cloud-provider-kubevirt.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

kernel-mshv: Remove vmlinuz copy in /boot/efi
  SPECS/kernel-mshv/kernel-mshv.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

selinux-policy: Add fix for gpg-agent use in rpm scripts for watching root's secrets dir.
  SPECS/selinux-policy/0041-rpm-Allow-gpg-agent-run-in-rpm-scripts-to-watch-secr.patch
  SPECS/selinux-policy/selinux-policy.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

update last-known kernel macro to have release
  SPECS/fwctl/fwctl.spec
  SPECS/iser/iser.spec
  SPECS/isert/isert.spec
  SPECS/knem/knem.spec
  SPECS/mft_kernel/mft_kernel.spec
  SPECS/mlnx-nfsrdma/mlnx-nfsrdma.spec
  SPECS/mlnx-ofa_kernel/mlnx-ofa_kernel.spec
  SPECS/srp/srp.spec
  SPECS/xpmem/xpmem.spec
Owners: @microsoft/cbl-mariner-stable-maintainers

removed epoch value check for aspell
  SPECS-EXTENDED/aspell-en/aspell-en.spec
Owners: @microsoft/cbl-mariner-devs

Remove patch which reverts serial 8250 timeout adjustment for FIFO mode
  SPECS-EXTENDED/kernel-ipe/Revert-serial-8250-Adjust-the-timeout-for-FIFO-mode.patch
  SPECS-EXTENDED/kernel-ipe/kernel-ipe.spec
  SPECS/kernel-64k/Revert-serial-8250-Adjust-the-timeout-for-FIFO-mode.patch
  SPECS/kernel-64k/kernel-64k.spec
  SPECS/kernel/Revert-serial-8250-Adjust-the-timeout-for-FIFO-mode.patch
  SPECS/kernel/kernel.spec
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-stable-maintainers

Fixed build issues
  SPECS-EXTENDED/dbus-c++/dbus-c++-template-operators.patch
  SPECS-EXTENDED/dbus-c++/dbus-c++.spec
Owners: @microsoft/cbl-mariner-devs

Adding cloud-provider-kubevirt as a new package to SPECS (#12587)
  .pipelines/containerSourceData/cloudproviderkubevirt/Dockerfile-cloud-provider-kubevirt
  .pipelines/containerSourceData/cloudproviderkubevirt/cloudproviderkubevirt.name
  .pipelines/containerSourceData/cloudproviderkubevirt/cloudproviderkubevirt.pkg
  LICENSES-AND-NOTICES/SPECS/LICENSES-MAP.md
  LICENSES-AND-NOTICES/SPECS/data/licenses.json
  SPECS/cloud-provider-kubevirt/cloud-provider-kubevirt.signatures.json
  SPECS/cloud-provider-kubevirt/cloud-provider-kubevirt.spec
  SPECS/cloud-provider-kubevirt/generate-source-tarball.sh
  SPECS/cloud-provider-kubevirt/golang-version-upgrade.patch
  SPECS/cloud-provider-kubevirt/initialization-and-configuration-handling.patch
  SPECS/cloud-provider-kubevirt/instanceexists-watches-vms-instead-of-vmis.patch
  SPECS/cloud-provider-kubevirt/single-ip-address-for-node.patch
  cgmanifest.json
Owners: @microsoft/cbl-mariner-stable-maintainers

Fix SPECS/kernel-hci/0002-net-mlx5-Introduce-port-selection-namespace.patch
  SPECS/kernel-hci/0002-net-mlx5-Introduce-port-selection-namespace.patch
Owners: @microsoft/cbl-mariner-stable-maintainers

Switch to custom azl otel collector distro
  SPECS-EXTENDED/azl-otel-collector/azl-otel-collector.signatures.json
  SPECS-EXTENDED/azl-otel-collector/azl-otel-collector.spec
  cgmanifest.json
  toolkit/resources/manifests/package/pkggen_core_x86_64.txt
  toolkit/resources/manifests/package/toolchain_x86_64.txt
Owners: @microsoft/cbl-mariner-devs, @microsoft/cbl-mariner-stable-maintainers

Update license files
  LICENSES-AND-NOTICES/SPECS/LICENSES-MAP.md
Owners: @microsoft/cbl-mariner-stable-maintainers

.github/CODEOWNERS:

# For stable release branches, ensure stable release maintainers are added as code reviewers
* @microsoft/cbl-mariner-stable-maintainers

# Modification to this file require admin approval.
/.github/CODEOWNERS @microsoft/cbl-mariner-admins

# Modifications to the build pipelines require admin approval.
/.pipelines/* @microsoft/cbl-mariner-admins

# Modifications to the CredScan exceptions require admin approval.
/.config/CredScanSuppressions.json @microsoft/cbl-mariner-admins

/SPECS-EXTENDED/ @microsoft/cbl-mariner-devs

# Image Customizer
/toolkit/tools/imagecustomizer/ @microsoft/cbl-mariner-imagecustomizer
/toolkit/tools/imagecustomizerapi/ @microsoft/cbl-mariner-imagecustomizer
/toolkit/tools/osmodifier @microsoft/cbl-mariner-imagecustomizer
/toolkit/tools/pkg/imagecustomizerlib/ @microsoft/cbl-mariner-imagecustomizer
/toolkit/tools/pkg/osmodifierlib @microsoft/cbl-mariner-imagecustomizer
/toolkit/scripts/build_tag_imagecustomizer.mk @microsoft/cbl-mariner-imagecustomizer
