Repository microsoft/azurelinux, pull requests merged in 2025-02, with the labels that each got.

#12188 Fix ptest for subunit via pip installs
  SPECS/subunit/subunit.spec
Labels: Packaging, 3.0-dev

#12189 Enable UCX KNEM & XPMEM subpackages
  SPECS-EXTENDED/ucx/ucx.spec
Labels: Packaging, specs-extended, 3.0-dev

#12192 Update MOFED signed SPECS to avoid stripping signatures off OOT kernel modules by os_install_post macro
  SPECS-SIGNED/fwctl-signed/fwctl-signed.spec
  SPECS-SIGNED/iser-signed/iser-signed.spec
  SPECS-SIGNED/isert-signed/isert-signed.spec
  SPECS-SIGNED/knem-modules-signed/knem-modules-signed.spec
  SPECS-SIGNED/mft_kernel-signed/mft_kernel-signed.spec
  SPECS-SIGNED/mlnx-nfsrdma-signed/mlnx-nfsrdma-signed.spec
  SPECS-SIGNED/mlnx-ofa_kernel-modules-signed/mlnx-ofa_kernel-modules-signed.spec
  SPECS-SIGNED/srp-signed/srp-signed.spec
  SPECS-SIGNED/xpmem-modules-signed/xpmem-modules-signed.spec
Labels: Packaging, 3.0-dev

#12123 [Medium] Patch ceph to fix CVE-2014-5461
  SPECS/ceph/CVE-2012-6708.patch
  SPECS/ceph/CVE-2014-5461.patch
  SPECS/ceph/CVE-2015-9251.patch
  SPECS/ceph/CVE-2020-22217.patch
  SPECS/ceph/ceph.spec
Labels: Packaging, fasttrack/3.0

#12144 [Medium] patch hwloc to fix CVE-2022-47022
  SPECS/hwloc/CVE-2022-47022.patch
  SPECS/hwloc/hwloc.spec
Labels: Packaging, fasttrack/3.0

#12145 [Medium] patch m2crypto to fix CVE-2019-11358
  SPECS/m2crypto/CVE-2019-11358.patch
  SPECS/m2crypto/m2crypto.spec
Labels: Packaging, fasttrack/3.0

#12172 vitess: Fix CVE-2024-45339
  SPECS/vitess/CVE-2024-45339.patch
  SPECS/vitess/vitess.spec
Labels: security, Packaging, fasttrack/3.0

#11674 Upgrade: python-dbus-client-gen version to 0.5.1
  SPECS-EXTENDED/python-dbus-client-gen/python-dbus-client-gen.signatures.json
  SPECS-EXTENDED/python-dbus-client-gen/python-dbus-client-gen.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#11591 Upgrade: perl-Class-C3-XS version to 0.15
  SPECS-EXTENDED/perl-Class-C3-XS/perl-Class-C3-XS.signatures.json
  SPECS-EXTENDED/perl-Class-C3-XS/perl-Class-C3-XS.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#11589 Upgrade: pywbem version to 0.17.6
  SPECS-EXTENDED/pywbem/0001-use-unittest-mock.patch
  SPECS-EXTENDED/pywbem/0002-coverity-deadcode.patch
  SPECS-EXTENDED/pywbem/0003-coverity-forward-null.patch
  SPECS-EXTENDED/pywbem/0004-coverity-identifier-typo.patch
  SPECS-EXTENDED/pywbem/0005-python3_12.patch
  SPECS-EXTENDED/pywbem/pywbem.signatures.json
  SPECS-EXTENDED/pywbem/pywbem.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#11520 Upgrade: re2c version to 3.1
  SPECS-EXTENDED/re2c/re2c.signatures.json
  SPECS-EXTENDED/re2c/re2c.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#11514 Upgrade: recode version to 3.7.14
  SPECS-EXTENDED/recode/0001-src-task.c-only-close-input-stream-when-we-opened-it.patch
  SPECS-EXTENDED/recode/recode-3.7.1-Rename-coliding-hash-functions.patch
  SPECS-EXTENDED/recode/recode-3.7.13-Rename-coliding-hash-functions.patch
  SPECS-EXTENDED/recode/recode.signatures.json
  SPECS-EXTENDED/recode/recode.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#11172 Update blosc to 1.21.6-1
  SPECS-EXTENDED/blosc/blosc.signatures.json
  SPECS-EXTENDED/blosc/blosc.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#10982 fabtests: update version to 1.18.0
  SPECS-EXTENDED/fabtests/fabtests.signatures.json
  SPECS-EXTENDED/fabtests/fabtests.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#10980 Update liblouis to 3.31.0
  SPECS-EXTENDED/liblouis/liblouis.signatures.json
  SPECS-EXTENDED/liblouis/liblouis.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#10952 volume_key: fix build
  SPECS-EXTENDED/volume_key/volume_key-0.3.12-fix_resource_leaks.patch
  SPECS-EXTENDED/volume_key/volume_key.spec
Labels: Packaging, specs-extended, 3.0-dev

#11596 numatop: update to 2.4
  SPECS-EXTENDED/numatop/0001-common-Use-sym_type_t-in-elf64_binary_read-signature.patch
  SPECS-EXTENDED/numatop/0002-common-Add-format-strings-to-mvwprintw-calls.patch
  SPECS-EXTENDED/numatop/0003-common-Remove-unnecessary-temp-buffer.patch
  SPECS-EXTENDED/numatop/0004-common-Use-memcpy-to-the-process-name-to-a-line.patch
  SPECS-EXTENDED/numatop/0005-common-Replace-malloc-strncpy-with-strdup.patch
  SPECS-EXTENDED/numatop/0006-common-Build-node-string-with-bound-checks.patch
  SPECS-EXTENDED/numatop/0007-common-Increase-node-string-buffer-size.patch
  SPECS-EXTENDED/numatop/0008-x86-Add-missing-fields-to-s_emr_config.patch
  SPECS-EXTENDED/numatop/as-needed.patch
  SPECS-EXTENDED/numatop/fix-format-security.patch
  SPECS-EXTENDED/numatop/numatop.signatures.json
  SPECS-EXTENDED/numatop/numatop.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#11484 neon: update to 0.33.0
  SPECS-EXTENDED/neon/neon-0.32.2-multilib.patch
  SPECS-EXTENDED/neon/neon.signatures.json
  SPECS-EXTENDED/neon/neon.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#12175 sriov-network-device-plugin: Fix CVE-2024-45339
  SPECS/sriov-network-device-plugin/CVE-2024-45339.patch
  SPECS/sriov-network-device-plugin/sriov-network-device-plugin.spec
Labels: security, Packaging, fasttrack/2.0

#10922 deltarpm: Update Version from 3.6.2 -> 3.6.5
  SPECS-EXTENDED/deltarpm/deltarpm.signatures.json
  SPECS-EXTENDED/deltarpm/deltarpm.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#10618 Upgrade LibRaw version to 0.21.3
  SPECS-EXTENDED/LibRaw/CVE-2020-15503.patch
  SPECS-EXTENDED/LibRaw/LibRaw-0.6.0-pkgconfig.patch
  SPECS-EXTENDED/LibRaw/LibRaw-pkgconfig.patch
  SPECS-EXTENDED/LibRaw/LibRaw.signatures.json
  SPECS-EXTENDED/LibRaw/LibRaw.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#12026 fix golang post install and post uninstall sriptlets
  SPECS/golang/golang-1.22.spec
  SPECS/golang/golang.spec
Labels: Packaging, 3.0-dev

#12221 Revert ZONE_DMA option to avoid memory ussage overuse
  SPECS-SIGNED/fwctl-signed/fwctl-signed.spec
  SPECS-SIGNED/iser-signed/iser-signed.spec
  SPECS-SIGNED/isert-signed/isert-signed.spec
  SPECS-SIGNED/kernel-64k-signed/kernel-64k-signed.spec
  SPECS-SIGNED/kernel-signed/kernel-signed.spec
  SPECS-SIGNED/kernel-uki-signed/kernel-uki-signed.spec
  SPECS-SIGNED/knem-modules-signed/knem-modules-signed.spec
  SPECS-SIGNED/mft_kernel-signed/mft_kernel-signed.spec
  SPECS-SIGNED/mlnx-nfsrdma-signed/mlnx-nfsrdma-signed.spec
  SPECS-SIGNED/mlnx-ofa_kernel-modules-signed/mlnx-ofa_kernel-modules-signed.spec
  SPECS-SIGNED/srp-signed/srp-signed.spec
  SPECS-SIGNED/xpmem-modules-signed/xpmem-modules-signed.spec
  SPECS/fwctl/fwctl.spec
  SPECS/iser/iser.spec
  SPECS/isert/isert.spec
  SPECS/kernel-64k/kernel-64k.spec
  SPECS/kernel-headers/kernel-headers.spec
  SPECS/kernel/config
  SPECS/kernel/kernel-uki.spec
  SPECS/kernel/kernel.signatures.json
  SPECS/kernel/kernel.spec
  SPECS/knem/knem.spec
  SPECS/mft_kernel/mft_kernel.spec
  SPECS/mlnx-nfsrdma/mlnx-nfsrdma.spec
  SPECS/mlnx-ofa_kernel/mlnx-ofa_kernel.spec
  SPECS/srp/srp.spec
  SPECS/xpmem/xpmem.spec
  toolkit/resources/manifests/package/pkggen_core_aarch64.txt
  toolkit/resources/manifests/package/pkggen_core_x86_64.txt
  toolkit/resources/manifests/package/toolchain_aarch64.txt
  toolkit/resources/manifests/package/toolchain_x86_64.txt
Labels: Packaging, 3.0-dev

#12215 Upgrade application-gateway-kubernetes-ingress to v1.7.7
  SPECS/application-gateway-kubernetes-ingress/CVE-2022-21698.patch
  SPECS/application-gateway-kubernetes-ingress/CVE-2022-41273.patch
  SPECS/application-gateway-kubernetes-ingress/CVE-2024-45338.patch
  SPECS/application-gateway-kubernetes-ingress/application-gateway-kubernetes-ingress.signatures.json
  SPECS/application-gateway-kubernetes-ingress/application-gateway-kubernetes-ingress.spec
  SPECS/application-gateway-kubernetes-ingress/generate_source_tarball.sh
  cgmanifest.json
Labels: Packaging, 3.0-dev

#12213 Patch msft-golang for CVE-2024-45336, CVE-2024-45341 [High]
  SPECS/msft-golang/CVE-2024-45336.patch
  SPECS/msft-golang/CVE-2024-45341.patch
  SPECS/msft-golang/msft-golang.spec
Labels: Packaging, fasttrack/2.0

#12212 Patch golang for CVE-2024-45336, CVE-2024-45341 [High]
  SPECS/golang/CVE-2024-45336.patch
  SPECS/golang/CVE-2024-45341.patch
  SPECS/golang/golang-1.18.spec
  SPECS/golang/golang.spec
Labels: Packaging, fasttrack/2.0

#12214 cdi: Renaming binaries in the SPEC file to align with upstream naming conventions
  .pipelines/containerSourceData/cdi/Dockerfile-cdi-apiserver
  .pipelines/containerSourceData/cdi/Dockerfile-cdi-controller
  .pipelines/containerSourceData/cdi/Dockerfile-cdi-importer
  .pipelines/containerSourceData/cdi/Dockerfile-cdi-operator
  .pipelines/containerSourceData/cdi/Dockerfile-cdi-uploadproxy
  .pipelines/containerSourceData/cdi/Dockerfile-cdi-uploadserver
  SPECS/containerized-data-importer/containerized-data-importer.spec
Labels: Packaging, 3.0-dev

#12244 BuildNvidiaDriverContainers.sh: fix processing of cuda RPM version
  .pipelines/containerSourceData/scripts/BuildNvidiaDriverContainers.sh
Labels: 3.0-dev

#12239 apply patch to fix jitterentropy init in kernel and kernel-64k
  SPECS-SIGNED/fwctl-signed/fwctl-signed.spec
  SPECS-SIGNED/iser-signed/iser-signed.spec
  SPECS-SIGNED/isert-signed/isert-signed.spec
  SPECS-SIGNED/kernel-64k-signed/kernel-64k-signed.spec
  SPECS-SIGNED/kernel-signed/kernel-signed.spec
  SPECS-SIGNED/kernel-uki-signed/kernel-uki-signed.spec
  SPECS-SIGNED/knem-modules-signed/knem-modules-signed.spec
  SPECS-SIGNED/mft_kernel-signed/mft_kernel-signed.spec
  SPECS-SIGNED/mlnx-nfsrdma-signed/mlnx-nfsrdma-signed.spec
  SPECS-SIGNED/mlnx-ofa_kernel-modules-signed/mlnx-ofa_kernel-modules-signed.spec
  SPECS-SIGNED/srp-signed/srp-signed.spec
  SPECS-SIGNED/xpmem-modules-signed/xpmem-modules-signed.spec
  SPECS/fwctl/fwctl.spec
  SPECS/iser/iser.spec
  SPECS/isert/isert.spec
  SPECS/kernel-64k/config_aarch64
  SPECS/kernel-64k/jent-init-fix.patch
  SPECS/kernel-64k/kernel-64k.signatures.json
  SPECS/kernel-64k/kernel-64k.spec
  SPECS/kernel-headers/kernel-headers.spec
  SPECS/kernel/config
  SPECS/kernel/config_aarch64
  SPECS/kernel/jent-init-fix.patch
  SPECS/kernel/kernel-uki.spec
  SPECS/kernel/kernel.signatures.json
  SPECS/kernel/kernel.spec
  SPECS/knem/knem.spec
  SPECS/mft_kernel/mft_kernel.spec
  SPECS/mlnx-nfsrdma/mlnx-nfsrdma.spec
  SPECS/mlnx-ofa_kernel/mlnx-ofa_kernel.spec
  SPECS/srp/srp.spec
  SPECS/xpmem/xpmem.spec
  toolkit/resources/manifests/package/pkggen_core_aarch64.txt
  toolkit/resources/manifests/package/pkggen_core_x86_64.txt
  toolkit/resources/manifests/package/toolchain_aarch64.txt
  toolkit/resources/manifests/package/toolchain_x86_64.txt
Labels: Packaging, 3.0-dev

#10762 Xaw3d : update version to 1.6.6
  SPECS-EXTENDED/Xaw3d/Xaw3d-1.6.1-fontset.patch
  SPECS-EXTENDED/Xaw3d/Xaw3d-1.6.5-fontset.patch
  SPECS-EXTENDED/Xaw3d/Xaw3d.signatures.json
  SPECS-EXTENDED/Xaw3d/Xaw3d.spec
  SPECS-EXTENDED/Xaw3d/alan.coopersmith.asc
  SPECS-EXTENDED/Xaw3d/libXaw3d-1.6.6.tar.xz.sig
  SPECS-EXTENDED/Xaw3d/mattst88.asc
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#10696 acpid : Update version to 2.0.34
  SPECS-EXTENDED/acpid/acpid.signatures.json
  SPECS-EXTENDED/acpid/acpid.socket
  SPECS-EXTENDED/acpid/acpid.spec
  cgmanifest.json
Labels: specs-extended, 3.0-dev

#10765 adobe-mappings-cmap: Update to version 20231115
  SPECS-EXTENDED/adobe-mappings-cmap/adobe-mappings-cmap.signatures.json
  SPECS-EXTENDED/adobe-mappings-cmap/adobe-mappings-cmap.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#10792 adobe-mappings-pdf: Update version to 20230118
  SPECS-EXTENDED/adobe-mappings-pdf/adobe-mappings-pdf.signatures.json
  SPECS-EXTENDED/adobe-mappings-pdf/adobe-mappings-pdf.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#10671 aopalliance: Updating javac source and javac target from 1.6 to 1.8.
  SPECS-EXTENDED/aopalliance/aopalliance.spec
Labels: Packaging, specs-extended, 3.0-dev

#10920 diffstat: Update Version from 1.63 -> 1.66
  SPECS-EXTENDED/diffstat/diffstat.signatures.json
  SPECS-EXTENDED/diffstat/diffstat.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#10796 exempi: Update version to 2.6.5
  SPECS-EXTENDED/exempi/exempi-e23c213-typeinfos.patch
  SPECS-EXTENDED/exempi/exempi.signatures.json
  SPECS-EXTENDED/exempi/exempi.spec
  cgmanifest.json
Labels: specs-extended

#10950 gdisk: Update to 1.0.10-1
  SPECS-EXTENDED/gdisk/gdisk-libuuid.patch
  SPECS-EXTENDED/gdisk/gdisk.signatures.json
  SPECS-EXTENDED/gdisk/gdisk.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#10871 glew: Update to 2.2.0
  SPECS-EXTENDED/glew/glew-2.2.0-gcc12-cplusplus.patch
  SPECS-EXTENDED/glew/glew.signatures.json
  SPECS-EXTENDED/glew/glew.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#10964 libbytesize: update version to 2.11
  SPECS-EXTENDED/libbytesize/libbytesize.signatures.json
  SPECS-EXTENDED/libbytesize/libbytesize.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#10658 Update libdeflate version to 1.22
  SPECS-EXTENDED/libdeflate/libdeflate.signatures.json
  SPECS-EXTENDED/libdeflate/libdeflate.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#10918 libexttextcat: Update to 3.4.6-11
  SPECS-EXTENDED/libexttextcat/libexttextcat.signatures.json
  SPECS-EXTENDED/libexttextcat/libexttextcat.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#11680 ocaml-zarith: update to 1.14
  SPECS-EXTENDED/ocaml-zarith/ocaml-zarith.signatures.json
  SPECS-EXTENDED/ocaml-zarith/ocaml-zarith.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#11485 Upgrade: orc version to 0.4.39
  SPECS-EXTENDED/orc/0001-powerpc-fix-div255w-which-still-used-the-inexact-sub.patch
  SPECS-EXTENDED/orc/orc.signatures.json
  SPECS-EXTENDED/orc/orc.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#10766 accountsservice: Update to version 23.13.9
  SPECS-EXTENDED/accountsservice/0001-mocklibc-Fix-compiler-warning.patch
  SPECS-EXTENDED/accountsservice/0002-user-manager-Fix-another-compiler-warning.patch
  SPECS-EXTENDED/accountsservice/accountsservice.signatures.json
  SPECS-EXTENDED/accountsservice/accountsservice.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#11519 Upgrade: parallel version to 20240922
  SPECS-EXTENDED/parallel/parallel.signatures.json
  SPECS-EXTENDED/parallel/parallel.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#11521 Upgarde: perl-Algorithm-Diff version to 1.201
  SPECS-EXTENDED/perl-Algorithm-Diff/perl-Algorithm-Diff.signatures.json
  SPECS-EXTENDED/perl-Algorithm-Diff/perl-Algorithm-Diff.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#11546 Upgrade: perl-Class-Singleton version to 1.6
  SPECS-EXTENDED/perl-Class-Singleton/perl-Class-Singleton.signatures.json
  SPECS-EXTENDED/perl-Class-Singleton/perl-Class-Singleton.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#11544 Upgrade: perl-Config-IniFiles version to 3.000003
  SPECS-EXTENDED/perl-Config-IniFiles/perl-Config-IniFiles.signatures.json
  SPECS-EXTENDED/perl-Config-IniFiles/perl-Config-IniFiles.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#11668 Upgrade: python-dbus-signature-pyparsing version to 0.4.1
  SPECS-EXTENDED/python-dbus-signature-pyparsing/python-dbus-signature-pyparsing.signatures.json
  SPECS-EXTENDED/python-dbus-signature-pyparsing/python-dbus-signature-pyparsing.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#11638 Upgrade: python-into-dbus-python version to 0.8.2
  SPECS-EXTENDED/python-into-dbus-python/python-into-dbus-python.signatures.json
  SPECS-EXTENDED/python-into-dbus-python/python-into-dbus-python.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#11594 Upgrade: python-justbases version to 0.15.2
  SPECS-EXTENDED/python-justbases/python-justbases.signatures.json
  SPECS-EXTENDED/python-justbases/python-justbases.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#11597 Upgrade: python-justbytes version to 0.15.2
  SPECS-EXTENDED/python-justbytes/python-justbytes.signatures.json
  SPECS-EXTENDED/python-justbytes/python-justbytes.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#11636 Upgrade: python-kmod version to 0.9.2
  SPECS-EXTENDED/python-kmod/python-kmod.signatures.json
  SPECS-EXTENDED/python-kmod/python-kmod.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#11635 Upgrade: python-sphinxcontrib-apidoc version to 0.3.0
  SPECS-EXTENDED/python-sphinxcontrib-apidoc/python-sphinxcontrib-apidoc.signatures.json
  SPECS-EXTENDED/python-sphinxcontrib-apidoc/python-sphinxcontrib-apidoc.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#11669 Upgrade: python-uritemplate version to 4.1.1
  SPECS-EXTENDED/python-uritemplate/python-uritemplate.signatures.json
  SPECS-EXTENDED/python-uritemplate/python-uritemplate.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#11592 Upgrade: python-xmltodict version to 0.13.0
  SPECS-EXTENDED/python-xmltodict/python-xmltodict.signatures.json
  SPECS-EXTENDED/python-xmltodict/python-xmltodict.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#11900 Upgraded xapian-core to version 1.4.26
  SPECS-EXTENDED/xapian-core/xapian-core.signatures.json
  SPECS-EXTENDED/xapian-core/xapian-core.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#11599 ocaml-libvirt: update to 0.6.1.7
  SPECS-EXTENDED/ocaml-libvirt/0001-Make-const-the-return-value-of-caml_named_value.patch
  SPECS-EXTENDED/ocaml-libvirt/0001-block_peek-memory_peek-Use-bytes-for-return-buffer.patch
  SPECS-EXTENDED/ocaml-libvirt/0002-String_val-returns-const-char-in-OCaml-4.10.patch
  SPECS-EXTENDED/ocaml-libvirt/0003-Don-t-try-to-memcpy-into-a-String_val.patch
  SPECS-EXTENDED/ocaml-libvirt/ocaml-libvirt.signatures.json
  SPECS-EXTENDED/ocaml-libvirt/ocaml-libvirt.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#12217 Modify toolkit's `build_go_vendor_cache.sh` script to be used for most go packages
  toolkit/scripts/build_go_vendor_cache.sh
Labels: Tools, 3.0-dev

#12246 Remove bluez5-codec-aac support
  SPECS-EXTENDED/pipewire/pipewire.spec
Labels: Packaging, specs-extended, fasttrack/2.0

#11755 glm: update to 1.0.1
  SPECS-EXTENDED/glm/glm-0.9.9.6-install.patch
  SPECS-EXTENDED/glm/glm-0.9.9.6-noarch.patch
  SPECS-EXTENDED/glm/glm-1.0.1-noarch.patch
  SPECS-EXTENDED/glm/glm-1.0.1-without-werror.patch
  SPECS-EXTENDED/glm/glm.signatures.json
  SPECS-EXTENDED/glm/glm.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#11695 Update perl-IO-AIO to version 4.81-1
  SPECS-EXTENDED/perl-IO-AIO/perl-IO-AIO.signatures.json
  SPECS-EXTENDED/perl-IO-AIO/perl-IO-AIO.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#12274 [MANUAL-CHERRYPICK] Patch CVE-2023-27043 in python3 by patching (#12147)
  SPECS/python3/CVE-2023-27043.patch
  SPECS/python3/python3.spec
  toolkit/resources/manifests/package/pkggen_core_aarch64.txt
  toolkit/resources/manifests/package/pkggen_core_x86_64.txt
  toolkit/resources/manifests/package/toolchain_aarch64.txt
  toolkit/resources/manifests/package/toolchain_x86_64.txt
Labels: Packaging, 3.0-dev

#12275 fix merge issue with release bump down for python3 libs in toolchain manifests
  toolkit/resources/manifests/package/toolchain_aarch64.txt
  toolkit/resources/manifests/package/toolchain_x86_64.txt
Labels: fasttrack/3.0

#12267 Patch mysql for CVE-2025-0725
  SPECS/mysql/CVE-2025-0725.patch
  SPECS/mysql/mysql.spec
Labels: Packaging, fasttrack/3.0

#12284 nginx: add patch to fix MEDIUM CVE-2025-23419
  SPECS/nginx/CVE-2025-23419.patch
  SPECS/nginx/nginx.spec
Labels: Packaging, 3.0-dev, fasttrack/3.0

#12012 Selectively build base container for fasttrack/3.0
  .pipelines/containerSourceData/scripts/BuildBaseContainers.sh
Labels: fasttrack/3.0

#11777 Selectively build base container for fasttrack/2.0
  .pipelines/containerSourceData/scripts/BuildBaseContainers.sh
Labels: fasttrack/2.0

#12231 Patch nodejs18 for CVE-2025-22150, CVE-2025-23085, CVE-2024-22020, CVE-2024-22195 [Medium]
  SPECS/nodejs/CVE-2024-22020.patch
  SPECS/nodejs/CVE-2024-22195.patch
  SPECS/nodejs/CVE-2025-22150.patch
  SPECS/nodejs/CVE-2025-23085.patch
  SPECS/nodejs/nodejs18.spec
Labels: Packaging, fasttrack/2.0

#12268 [High] Patch mysql for CVE-2025-0725
  SPECS/mysql/CVE-2025-0725.patch
  SPECS/mysql/mysql.spec
Labels: Packaging, fasttrack/2.0

#12200 [Medium] patch python-twisted to fix CVE-2023-46137
  SPECS/python-twisted/CVE-2023-46137.patch
  SPECS/python-twisted/python-twisted.spec
Labels: Packaging, fasttrack/2.0

#12293 Patch flannel to fix CVE-2023-44487
  SPECS/flannel/CVE-2023-44487.patch
  SPECS/flannel/flannel.spec
Labels: security, Packaging, fasttrack/3.0

#12264 [Medium] patch ntopng to fix CVE-2021-44647 and CVE-2021-43519
  SPECS/ntopng/CVE-2021-43519.patch
  SPECS/ntopng/CVE-2021-44647.patch
  SPECS/ntopng/ntopng.spec
Labels: Packaging, fasttrack/3.0

#12230 Patch nodejs for CVE-2025-22150, CVE-2025-23085, CVE-2024-22020, CVE-2024-22195 [Medium]
  SPECS/nodejs/CVE-2024-22020.patch
  SPECS/nodejs/CVE-2024-22195.patch
  SPECS/nodejs/CVE-2025-22150.patch
  SPECS/nodejs/CVE-2025-23085.patch
  SPECS/nodejs/nodejs.spec
Labels: Packaging, fasttrack/3.0

#12229 Patch memcached for CVE-2021-43519
  SPECS/memcached/CVE-2021-43519.patch
  SPECS/memcached/memcached.spec
Labels: Packaging, fasttrack/3.0

#12018 tensorflow: Fix CVE-2024-5569 and CVE-2024-6923
  SPECS/tensorflow/CVE-2024-5569.patch
  SPECS/tensorflow/CVE-2024-6923.patch
  SPECS/tensorflow/tensorflow.spec
Labels: security, Packaging, fasttrack/3.0

#12218 avoid dracut collision between [mktemp] and [find -not -path '*.ko*']
  SPECS/dracut/avoid-mktemp-collisions-with-find-not-path.patch
  SPECS/dracut/dracut.spec
Labels: Packaging, 3.0-dev

#12052 Bump curl version to 8.11.1 to address CVE-2024-11053
  SPECS/cifs-utils/cifs-utils.spec
  SPECS/curl/CVE-2024-6197.patch
  SPECS/curl/CVE-2024-8096.patch
  SPECS/curl/CVE-2024-9681.patch
  SPECS/curl/curl.signatures.json
  SPECS/curl/curl.spec
  cgmanifest.json
  toolkit/resources/manifests/package/pkggen_core_aarch64.txt
  toolkit/resources/manifests/package/pkggen_core_x86_64.txt
  toolkit/resources/manifests/package/toolchain_aarch64.txt
  toolkit/resources/manifests/package/toolchain_x86_64.txt
  toolkit/resources/manifests/package/update_manifests.sh
Labels: Packaging, 3.0-dev

#12206 containerd2: fix ptest after adding tardev-snapshotter patch
  SPECS/containerd2/add-tardev-support.patch
  SPECS/containerd2/containerd2.spec
Labels: Packaging, 3.0-dev

#11081 Toolkit: provide mechanism to auto-install build deps
  toolkit/docs/building/prerequisites-mariner.md
  toolkit/docs/building/prerequisites-mariner.sh
  toolkit/docs/building/prerequisites-ubuntu.md
  toolkit/docs/building/prerequisites-ubuntu.sh
  toolkit/scripts/toolkit.mk
Labels: documentation, Tools, github_actions, main, DevEx, 3.0-dev

#12352 Patch busybox to fix CVE-2022-48174 [Critical]
  SPECS/busybox/CVE-2022-48174.patch
  SPECS/busybox/busybox.spec
Labels: Packaging, fasttrack/2.0

#12347 Patch avahi to fix CVE-2024-52616 [Medium]
  SPECS/avahi/CVE-2024-52616.patch
  SPECS/avahi/avahi.spec
Labels: Packaging, fasttrack/2.0

#12253 PR check for terraform, redis, fdk-aac-free, opus and packer
  .github/workflows/check-package-update-gate.yml
  .github/workflows/packagelist-gate.csv
Labels: Packaging, 3.0-dev

#12343 Update 0%{azl} macro to 0%{?azl} macro for parsing on build machines for srp.spec
  SPECS-SIGNED/srp-signed/srp-signed.spec
  SPECS/srp/srp.spec
Labels: Packaging, fasttrack/3.0

#12137 Patch moby-containerd-cc for CVE-2024-28180 [Medium]
  SPECS/moby-containerd-cc/CVE-2024-28180.patch
  SPECS/moby-containerd-cc/moby-containerd-cc.spec
Labels: Packaging, fasttrack/2.0

#12232 [Medium] Fix CVE-2025-0840 for binutils
  SPECS/binutils/CVE-2025-0840.patch
  SPECS/binutils/binutils.spec
  toolkit/resources/manifests/package/pkggen_core_aarch64.txt
  toolkit/resources/manifests/package/pkggen_core_x86_64.txt
  toolkit/resources/manifests/package/toolchain_aarch64.txt
  toolkit/resources/manifests/package/toolchain_x86_64.txt
Labels: Packaging, fasttrack/2.0

#12233 [Medium] Fix CVE-2023-3978 for kubevirt
  SPECS/kubevirt/CVE-2023-3978.patch
  SPECS/kubevirt/kubevirt.spec
Labels: Packaging, fasttrack/2.0

#12286 nginx: add patch to fix MEDIUM CVE-2025-23419
  SPECS/nginx/CVE-2025-23419.patch
  SPECS/nginx/nginx.spec
Labels: Packaging, fasttrack/2.0

#12369 Patch rabbitmq-server to fix CVE-2023-50966 [Medium]
  SPECS/rabbitmq-server/CVE-2023-50966.patch
  SPECS/rabbitmq-server/rabbitmq-server.spec
Labels: Packaging, fasttrack/2.0

#10858 Build fix of the package clucene
  SPECS-EXTENDED/clucene/0001-Fix-missing-include-time.h.patch
  SPECS-EXTENDED/clucene/0001-Make-sure-to-return-value-from-non-void-function.patch
  SPECS-EXTENDED/clucene/0002-Avoid-deadlock-in-TestIndexSearcher.patch
  SPECS-EXTENDED/clucene/clucene.spec
Labels: Packaging, specs-extended, 3.0-dev

#12047 Patch cri-o for CVE-2023-6476 & CVE-2023-0778 [MEDIUM]
  SPECS/cri-o/CVE-2023-0778.patch
  SPECS/cri-o/CVE-2023-6476.patch
  SPECS/cri-o/cri-o.spec
Labels: Packaging, fasttrack/2.0

#12249 [Medium] xorg-x11-server: Fix CVE-2024-0408
  SPECS/xorg-x11-server/CVE-2024-0408.patch
  SPECS/xorg-x11-server/xorg-x11-server.spec
Labels: Packaging, fasttrack/2.0

#12342 curl: patch CVE-2024-11053
  SPECS/curl/CVE-2024-11053.patch
  SPECS/curl/curl.spec
  toolkit/resources/manifests/package/pkggen_core_aarch64.txt
  toolkit/resources/manifests/package/pkggen_core_x86_64.txt
  toolkit/resources/manifests/package/toolchain_aarch64.txt
  toolkit/resources/manifests/package/toolchain_x86_64.txt
Labels: Packaging, fasttrack/2.0

#12311 [Medium] Patch mdadm to fix CVE-2023-28736
  SPECS/mdadm/CVE-2023-28736.patch
  SPECS/mdadm/mdadm.spec
Labels: Packaging, fasttrack/2.0

#12398 Fix binutils CVE-2025-1176 CVE-2025-1181 CVE-2025-1182
  SPECS/binutils/CVE-2025-1176.patch
  SPECS/binutils/CVE-2025-1181.patch
  SPECS/binutils/CVE-2025-1182.patch
  SPECS/binutils/binutils.spec
  toolkit/resources/manifests/package/pkggen_core_aarch64.txt
  toolkit/resources/manifests/package/pkggen_core_x86_64.txt
  toolkit/resources/manifests/package/toolchain_aarch64.txt
  toolkit/resources/manifests/package/toolchain_x86_64.txt
Labels: Packaging, fasttrack/2.0

#12283 Add ptest for coredns from 2.0 to 3.0
  SPECS/coredns/coredns-example-net-test.patch
  SPECS/coredns/coredns.spec
Labels: Packaging, 3.0-dev

#12282 Patch coredns to fix its %check
  SPECS/coredns/coredns-example-net-test.patch
  SPECS/coredns/coredns.spec
Labels: Packaging, main

#12411 Patch giflib for CVE-2023-39742 in 2.0
  SPECS/giflib/CVE-2023-39742.patch
  SPECS/giflib/giflib.spec
Labels: Packaging, fasttrack/2.0

#12314 systemd-bootchart.: Update to version 235
  SPECS-EXTENDED/systemd-bootchart/systemd-bootchart.signatures.json
  SPECS-EXTENDED/systemd-bootchart/systemd-bootchart.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#12271 Upgrade: python-PyMySQL version to 1.1.1
  SPECS-EXTENDED/python-PyMySQL/python-PyMySQL.signatures.json
  SPECS-EXTENDED/python-PyMySQL/python-PyMySQL.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#11822 Upgrade: sdparm version to 1.12
  SPECS-EXTENDED/sdparm/sdparm.signatures.json
  SPECS-EXTENDED/sdparm/sdparm.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#11821 Upgrade: sbc version to 2.0
  SPECS-EXTENDED/sbc/sbc.signatures.json
  SPECS-EXTENDED/sbc/sbc.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#11691 Update perl-File-Remove to version 1.61-1
  SPECS-EXTENDED/perl-File-Remove/perl-File-Remove.signatures.json
  SPECS-EXTENDED/perl-File-Remove/perl-File-Remove.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#11645 Upgrade:wavpack to version 5.7.0
  SPECS-EXTENDED/wavpack/wavpack.signatures.json
  SPECS-EXTENDED/wavpack/wavpack.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#11634 perl-Test-Synopsis: Update Version from 0.16 -> 0.17
  SPECS-EXTENDED/perl-Test-Synopsis/perl-Test-Synopsis.signatures.json
  SPECS-EXTENDED/perl-Test-Synopsis/perl-Test-Synopsis.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#11562 ocaml-calendar: update to 3.0.0
  SPECS-EXTENDED/ocaml-calendar/ocaml-calendar.signatures.json
  SPECS-EXTENDED/ocaml-calendar/ocaml-calendar.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#11542 Upgrade: perl-Crypt-OpenSSL-Guess to 0.15
  SPECS-EXTENDED/perl-Crypt-OpenSSL-Guess/perl-Crypt-OpenSSL-Guess.signatures.json
  SPECS-EXTENDED/perl-Crypt-OpenSSL-Guess/perl-Crypt-OpenSSL-Guess.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#11536 Upgrade: perl-Data-UUID version to 1.227
  SPECS-EXTENDED/perl-Data-UUID/perl-Data-UUID.signatures.json
  SPECS-EXTENDED/perl-Data-UUID/perl-Data-UUID.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#11530 perl-Test-File: Update Version from 1.44.3 -> 1.99.3
  SPECS-EXTENDED/perl-Test-File/perl-Test-File.signatures.json
  SPECS-EXTENDED/perl-Test-File/perl-Test-File.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#11525 perl-Test-EOL: Update Version from 2.00 -> 2.02
  SPECS-EXTENDED/perl-Test-EOL/perl-Test-EOL.signatures.json
  SPECS-EXTENDED/perl-Test-EOL/perl-Test-EOL.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#11493 Upgrade: qhull version to 8.0.2
  SPECS-EXTENDED/qhull/0001-Link-executables-against-shared-libs.patch
  SPECS-EXTENDED/qhull/0002-Install-docs-into-subdirs.patch
  SPECS-EXTENDED/qhull/qhull-install.patch
  SPECS-EXTENDED/qhull/qhull-lib64.patch
  SPECS-EXTENDED/qhull/qhull-staticr-pic.patch
  SPECS-EXTENDED/qhull/qhull.signatures.json
  SPECS-EXTENDED/qhull/qhull.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#11487 nilfs-utils: update to 2.2.11
  SPECS-EXTENDED/nilfs-utils/8B055AE86DEFF458.asc
  SPECS-EXTENDED/nilfs-utils/nilfs-utils-2.2.11.tar.bz2.asc
  SPECS-EXTENDED/nilfs-utils/nilfs-utils.signatures.json
  SPECS-EXTENDED/nilfs-utils/nilfs-utils.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#11267 Upgrade: fltk version to 1.3.8
  SPECS-EXTENDED/fltk/fltk-1.3.4-fltk_config.patch
  SPECS-EXTENDED/fltk/fltk-1.3.4-x-fluid_mimetype.patch
  SPECS-EXTENDED/fltk/fltk-cmake.patch
  SPECS-EXTENDED/fltk/fltk-config.sh
  SPECS-EXTENDED/fltk/fltk.signatures.json
  SPECS-EXTENDED/fltk/fltk.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#11155 gom: update to 0.5.3
  SPECS-EXTENDED/gom/gom.signatures.json
  SPECS-EXTENDED/gom/gom.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#11142 Upgrade: libdmx version to 1.1.5
  SPECS-EXTENDED/libdmx/libdmx.signatures.json
  SPECS-EXTENDED/libdmx/libdmx.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#11101 libuninameslist: Update Version from 20200313 -> 20230916
  SPECS-EXTENDED/libuninameslist/libuninameslist.signatures.json
  SPECS-EXTENDED/libuninameslist/libuninameslist.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#11089 libverto: Update Version from 0.3.0 -> 0.3.2
  SPECS-EXTENDED/libverto/Work-around-libev-not-being-c89-compliant.patch
  SPECS-EXTENDED/libverto/libverto.signatures.json
  SPECS-EXTENDED/libverto/libverto.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#11088 libtommath: Update Version from 1.1.0 -> 1.3.1~rc1
  SPECS-EXTENDED/libtommath/CVE-2023-36328.patch
  SPECS-EXTENDED/libtommath/libtommath.signatures.json
  SPECS-EXTENDED/libtommath/libtommath.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#11052 Upgrade: libdap version to 3.21.0.27
  SPECS-EXTENDED/libdap/libdap-offline.patch
  SPECS-EXTENDED/libdap/libdap.signatures.json
  SPECS-EXTENDED/libdap/libdap.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#11048 Upgrade: libdatrie version to 0.2.13
  SPECS-EXTENDED/libdatrie/libdatrie-fixes-docs.patch
  SPECS-EXTENDED/libdatrie/libdatrie.signatures.json
  SPECS-EXTENDED/libdatrie/libdatrie.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#11036 Update libmediaart to 1.9.6-1
  SPECS-EXTENDED/libmediaart/libmediaart.signatures.json
  SPECS-EXTENDED/libmediaart/libmediaart.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#11026 Upgrade: libcmis version to 0.6.2
  SPECS-EXTENDED/libcmis/libcmis.signatures.json
  SPECS-EXTENDED/libcmis/libcmis.spec
  SPECS-EXTENDED/libcmis/libxmis-0.6.2-libxml2-2.12.0-includes.patch
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#11024 Upgrade: libcli version to 1.10.7
  SPECS-EXTENDED/libcli/calloc.patch
  SPECS-EXTENDED/libcli/libcli-win32issue.patch
  SPECS-EXTENDED/libcli/libcli.signatures.json
  SPECS-EXTENDED/libcli/libcli.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#11021 Upgrade: libraqm version to 0.8.0
  SPECS-EXTENDED/libraqm/libraqm-3f50e35.patch
  SPECS-EXTENDED/libraqm/libraqm.signatures.json
  SPECS-EXTENDED/libraqm/libraqm.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#11015 Update libmad to 0.16.4-1
  SPECS-EXTENDED/libmad/Provide-Thumb-2-alternative-code-for-MAD_F_MLN.diff
  SPECS-EXTENDED/libmad/length-check.patch
  SPECS-EXTENDED/libmad/libmad-0.15.1b-cflags-O2.patch
  SPECS-EXTENDED/libmad/libmad-0.15.1b-cflags.patch
  SPECS-EXTENDED/libmad/libmad-0.15.1b-multiarch.patch
  SPECS-EXTENDED/libmad/libmad-0.15.1b-ppc.patch
  SPECS-EXTENDED/libmad/libmad.signatures.json
  SPECS-EXTENDED/libmad/libmad.spec
  SPECS-EXTENDED/libmad/libmad.thumb.diff
  SPECS-EXTENDED/libmad/md_size.diff
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#11008 Upgrade: iprutils version to 2.4.19
  SPECS-EXTENDED/iprutils/iprutils-2.4.19-covscan.patch
  SPECS-EXTENDED/iprutils/iprutils.signatures.json
  SPECS-EXTENDED/iprutils/iprutils.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#11004 Upgrade: ipcalc version to 1.0.3
  SPECS-EXTENDED/ipcalc/ipcalc.signatures.json
  SPECS-EXTENDED/ipcalc/ipcalc.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#10943 Update libjcat to 0.2.2
  SPECS-EXTENDED/libjcat/libjcat.signatures.json
  SPECS-EXTENDED/libjcat/libjcat.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#10921 fuse-overlayfs: Update to 1.14
  SPECS-EXTENDED/fuse-overlayfs/fuse-overlayfs.signatures.json
  SPECS-EXTENDED/fuse-overlayfs/fuse-overlayfs.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#10861 Upgrade: pyatspi version to 2.46.1
  SPECS-EXTENDED/pyatspi/pyatspi.signatures.json
  SPECS-EXTENDED/pyatspi/pyatspi.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#11003 Upgrade: ioping version to 1.3
  SPECS-EXTENDED/ioping/ioping.signatures.json
  SPECS-EXTENDED/ioping/ioping.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#12351 Upgrade: python-augeas version to 1.1.0
  SPECS-EXTENDED/python-augeas/python-augeas-test-package-installation.patch
  SPECS-EXTENDED/python-augeas/python-augeas.signatures.json
  SPECS-EXTENDED/python-augeas/python-augeas.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#11175 google-api-python-client: update to 2.140.0
  SPECS-EXTENDED/google-api-python-client/google-api-python-client.signatures.json
  SPECS-EXTENDED/google-api-python-client/google-api-python-client.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#11227 libgee: update to 0.20.6-1
  SPECS-EXTENDED/libgee/libgee.signatures.json
  SPECS-EXTENDED/libgee/libgee.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#11531 ocaml-csv: update to 2.4
  SPECS-EXTENDED/ocaml-csv/ocaml-csv-bytes.patch
  SPECS-EXTENDED/ocaml-csv/ocaml-csv.signatures.json
  SPECS-EXTENDED/ocaml-csv/ocaml-csv.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#11835 Upgrade: soundtouch version to 2.3.3
  SPECS-EXTENDED/soundtouch/soundtouch.signatures.json
  SPECS-EXTENDED/soundtouch/soundtouch.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#11922 Upgrade: tlog version to 14
  SPECS-EXTENDED/tlog/tlog.signatures.json
  SPECS-EXTENDED/tlog/tlog.spec
  SPECS-EXTENDED/tlog/tlog.sysusers
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#12280 Remove guava20 from SPECS-EXTENDED
  LICENSES-AND-NOTICES/SPECS/LICENSES-MAP.md
  LICENSES-AND-NOTICES/SPECS/data/licenses.json
  SPECS-EXTENDED/guava20/0001-Avoid-presizing-arrays.patch
  SPECS-EXTENDED/guava20/guava20-java8compat.patch
  SPECS-EXTENDED/guava20/guava20.signatures.json
  SPECS-EXTENDED/guava20/guava20.spec
  SPECS-EXTENDED/guava20/osgi-manifest.txt
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#11593 Upgrade : perl-B-Keywords version to 1.27
  SPECS-EXTENDED/perl-B-Keywords/perl-B-Keywords.signatures.json
  SPECS-EXTENDED/perl-B-Keywords/perl-B-Keywords.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#11978 Fix CVE-2023-3164 in libtiff for 2.0
  SPECS/libtiff/CVE-2023-3164.patch
  SPECS/libtiff/libtiff.spec
Labels: Packaging, fasttrack/2.0

#12421 Patch `emacs` for CVE-2025-1244 [High]
  SPECS/emacs/CVE-2025-1244.patch
  SPECS/emacs/emacs.spec
Labels: Packaging, fasttrack/2.0

#12173 vitess: Fix CVE-2024-45339 [HIGH]
  SPECS/vitess/CVE-2024-45339.patch
  SPECS/vitess/vitess.spec
Labels: security, Packaging, fasttrack/2.0

#12420 Patch `emacs` for CVE-2025-1244 [High]
  SPECS/emacs/CVE-2025-1244.patch
  SPECS/emacs/emacs.spec
Labels: Packaging, fasttrack/3.0

#12404 Patch prometheus-node-exporter to fix CVE-2023-45288 [High]
  SPECS/prometheus-node-exporter/CVE-2023-45288.patch
  SPECS/prometheus-node-exporter/prometheus-node-exporter.spec
Labels: Packaging, fasttrack/3.0

#12402 Patch cf-cli to fix CVE-2023-45288 [High]
  SPECS/cf-cli/CVE-2023-45288.patch
  SPECS/cf-cli/cf-cli.spec
Labels: Packaging, fasttrack/3.0

#12401 Patch kured to fix CVE-2023-45288 [High]
  SPECS/kured/CVE-2023-45288.patch
  SPECS/kured/kured.spec
Labels: Packaging, fasttrack/3.0

#12400 Patch node-problem-detector to fix CVE-2023-45288 [High]
  SPECS/node-problem-detector/CVE-2023-45288.patch
  SPECS/node-problem-detector/node-problem-detector.spec
Labels: Packaging, fasttrack/3.0

#12399 Patch flannel to fix CVE-2023-45288 [High]
  SPECS/flannel/CVE-2023-45288.patch
  SPECS/flannel/flannel.spec
Labels: Packaging, fasttrack/3.0

#12396 Patch moby-engine to fix CVE-2023-45288 [High]
  SPECS/moby-engine/CVE-2023-45288.patch
  SPECS/moby-engine/moby-engine.spec
Labels: Packaging, fasttrack/3.0

#12410 Patch giflib for CVE-2023-39742 in 3.0 branch
  SPECS/giflib/CVE-2023-39742.patch
  SPECS/giflib/giflib.spec
Labels: Packaging, fasttrack/3.0
