Repository microsoft/azurelinux, pull requests merged in 2025-03, with the labels that each got.

#12553 kernel: disable AX25 amateur radio protocol support in response to CVE-2024-35887
  SPECS-SIGNED/kernel-azure-signed/kernel-azure-signed.spec
  SPECS-SIGNED/kernel-signed/kernel-signed.spec
  SPECS/kernel-azure/config_aarch64
  SPECS/kernel-azure/kernel-azure.signatures.json
  SPECS/kernel-azure/kernel-azure.spec
  SPECS/kernel-headers/kernel-headers.spec
  SPECS/kernel/config_aarch64
  SPECS/kernel/kernel.signatures.json
  SPECS/kernel/kernel.spec
  toolkit/resources/manifests/package/pkggen_core_aarch64.txt
  toolkit/resources/manifests/package/pkggen_core_x86_64.txt
  toolkit/resources/manifests/package/toolchain_aarch64.txt
  toolkit/resources/manifests/package/toolchain_x86_64.txt
Labels: Packaging, main

#12623 Upgarde: python-soupsieve to version 2.6
  SPECS-EXTENDED/python-soupsieve/python-soupsieve.signatures.json
  SPECS-EXTENDED/python-soupsieve/python-soupsieve.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#12672 python-isort: Upgrade Version from 4.3.21 -> 5.13.2
  SPECS-EXTENDED/python-isort/python-isort.signatures.json
  SPECS-EXTENDED/python-isort/python-isort.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#12574 Added python-sphinxygen to SPEC_EXTENDED
  LICENSES-AND-NOTICES/SPECS/LICENSES-MAP.md
  LICENSES-AND-NOTICES/SPECS/data/licenses.json
  SPECS-EXTENDED/python-sphinxygen/anonymous-struct.patch
  SPECS-EXTENDED/python-sphinxygen/python-sphinxygen.signatures.json
  SPECS-EXTENDED/python-sphinxygen/python-sphinxygen.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#12520 Upgrade: python-openstackdocstheme version to 3.0.0
  SPECS-EXTENDED/python-openstackdocstheme/0001-Remove-all-Google-Analytics-tracking.patch
  SPECS-EXTENDED/python-openstackdocstheme/python-openstackdocstheme.signatures.json
  SPECS-EXTENDED/python-openstackdocstheme/python-openstackdocstheme.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#12566 python-testscenarios: fixed build
  SPECS-EXTENDED/python-testscenarios/python-testscenarios.signatures.json
  SPECS-EXTENDED/python-testscenarios/python-testscenarios.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#12479 Upgrade: uriparser to version 0.9.8
  SPECS-EXTENDED/uriparser/uriparser-inet-ntop.patch
  SPECS-EXTENDED/uriparser/uriparser.signatures.json
  SPECS-EXTENDED/uriparser/uriparser.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#12473 Upgrade: python-tornado to version 6.3.3
  SPECS-EXTENDED/python-tornado/3374.patch
  SPECS-EXTENDED/python-tornado/Do-not-turn-DeprecationWarning-into-Exception.patch
  SPECS-EXTENDED/python-tornado/python-tornado-Python-3.12.patch
  SPECS-EXTENDED/python-tornado/python-tornado.signatures.json
  SPECS-EXTENDED/python-tornado/python-tornado.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#12341 Upgrade python-humanize to version 4.11.0
  SPECS-EXTENDED/python-humanize/python-humanize.signatures.json
  SPECS-EXTENDED/python-humanize/python-humanize.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#12316 Upgrade: mt-st to version 1.7
  SPECS-EXTENDED/mt-st/mt-st-0.7-config-files.patch
  SPECS-EXTENDED/mt-st/mt-st-0.9b-manfix.patch
  SPECS-EXTENDED/mt-st/mt-st-1.1-SDLT.patch
  SPECS-EXTENDED/mt-st/mt-st-1.1-include.patch
  SPECS-EXTENDED/mt-st/mt-st-1.1-man.patch
  SPECS-EXTENDED/mt-st/mt-st-1.1-options.patch
  SPECS-EXTENDED/mt-st/mt-st-1.1-redhat.patch
  SPECS-EXTENDED/mt-st/mt-st.signatures.json
  SPECS-EXTENDED/mt-st/mt-st.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#12010 uthash: update to 2.3.0
  SPECS-EXTENDED/uthash/uthash.signatures.json
  SPECS-EXTENDED/uthash/uthash.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#11918 Upgrade: slirp4netns version to 1.3.1
  SPECS-EXTENDED/slirp4netns/slirp4netns.signatures.json
  SPECS-EXTENDED/slirp4netns/slirp4netns.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#11898 Upgrade: scl-utils version to 2.0.3
  SPECS-EXTENDED/scl-utils/BZ-2056462-do-not-error-out-on-SIGINT.patch
  SPECS-EXTENDED/scl-utils/BZ-2091000-remove-tmp-file.patch
  SPECS-EXTENDED/scl-utils/brp-python-hardlink.patch
  SPECS-EXTENDED/scl-utils/rpm-bare-words.patch
  SPECS-EXTENDED/scl-utils/scl-utils.signatures.json
  SPECS-EXTENDED/scl-utils/scl-utils.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#12310 Upgrades python-testpath to version 0.6.0
  SPECS-EXTENDED/python-testpath/python-testpath.signatures.json
  SPECS-EXTENDED/python-testpath/python-testpath.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#11893 Upgrade: tn5250 version to 0.17.6
  SPECS-EXTENDED/tn5250/tn5250.signatures.json
  SPECS-EXTENDED/tn5250/tn5250.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#11888 Upgrade: udftools version to 2.3
  SPECS-EXTENDED/udftools/udftools-2.3-backported_fixes.patch
  SPECS-EXTENDED/udftools/udftools.signatures.json
  SPECS-EXTENDED/udftools/udftools.spec
  SPECS-EXTENDED/udftools/wrudf.1
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#11887 Upgrade: uchardet version to 0.0.8
  SPECS-EXTENDED/uchardet/uchardet.signatures.json
  SPECS-EXTENDED/uchardet/uchardet.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#11885 Upgrade: twolame version to 0.4.0
  SPECS-EXTENDED/twolame/twolame.signatures.json
  SPECS-EXTENDED/twolame/twolame.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#11883 Upgrade: tss2 version to 2.3.2
  SPECS-EXTENDED/tss2/tss2.signatures.json
  SPECS-EXTENDED/tss2/tss2.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#11844 Upgrade: speexdsp version to 1.2.1
  SPECS-EXTENDED/speexdsp/speexdsp.signatures.json
  SPECS-EXTENDED/speexdsp/speexdsp.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#11837 Upgrade: sip version 4.19.25
  SPECS-EXTENDED/sip/sip-4.18-no_rpath.patch
  SPECS-EXTENDED/sip/sip-4.18-no_strip.patch
  SPECS-EXTENDED/sip/sip-4.19.18-no_hardcode_sip_so.patch
  SPECS-EXTENDED/sip/sip-4.19.25-py_ssize_t_clean.patch
  SPECS-EXTENDED/sip/sip-4.19.25-pyframe_getback.patch
  SPECS-EXTENDED/sip/sip.signatures.json
  SPECS-EXTENDED/sip/sip.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#11672 Upgrade: python-configshell to version 1.1.30
  SPECS-EXTENDED/python-configshell/python-configshell.signatures.json
  SPECS-EXTENDED/python-configshell/python-configshell.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#11614 Upgrade: pyserial to version 3.5
  SPECS-EXTENDED/pyserial/pyserial.signatures.json
  SPECS-EXTENDED/pyserial/pyserial.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#11611 Upgrade: ps_mem to version 3.14
  SPECS-EXTENDED/ps_mem/ps_mem.1
  SPECS-EXTENDED/ps_mem/ps_mem.py
  SPECS-EXTENDED/ps_mem/ps_mem.signatures.json
  SPECS-EXTENDED/ps_mem/ps_mem.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#11610 Upgrade: procmail to version 3.24
  SPECS-EXTENDED/procmail/procmail-3.24-coverity-scan-fixes.patch
  SPECS-EXTENDED/procmail/procmail-3.24-gcc-14-fix.patch
  SPECS-EXTENDED/procmail/procmail-3.24-ipv6.patch
  SPECS-EXTENDED/procmail/procmail-3.24-rhconfig.patch
  SPECS-EXTENDED/procmail/procmail.signatures.json
  SPECS-EXTENDED/procmail/procmail.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#11687 Upgrade:hunspell-nl to version 2.20.19
  SPECS-EXTENDED/hunspell-nl/hunspell-nl.signatures.json
  SPECS-EXTENDED/hunspell-nl/hunspell-nl.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#11627 perl-Test-Manifest: Update Version from 2.021 -> 2.024
  SPECS-EXTENDED/perl-Test-Manifest/perl-Test-Manifest.signatures.json
  SPECS-EXTENDED/perl-Test-Manifest/perl-Test-Manifest.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#11603 perl-Razor-Agent: Update Version from 2.85 -> 2.86
  SPECS-EXTENDED/perl-Razor-Agent/perl-Razor-Agent-2.85-mandir.patch
  SPECS-EXTENDED/perl-Razor-Agent/perl-Razor-Agent-2.85-parallel-make.patch
  SPECS-EXTENDED/perl-Razor-Agent/perl-Razor-Agent-2.86-digest-sha.patch
  SPECS-EXTENDED/perl-Razor-Agent/perl-Razor-Agent-2.86-parallel-make.patch
  SPECS-EXTENDED/perl-Razor-Agent/perl-Razor-Agent.signatures.json
  SPECS-EXTENDED/perl-Razor-Agent/perl-Razor-Agent.spec
  SPECS-EXTENDED/perl-Razor-Agent/razor-agents-2.85-use-sha-not-sha1.patch
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#11543 Upgrade: perl-Convert-ASN1 version to 0.34
  SPECS-EXTENDED/perl-Convert-ASN1/Convert-ASN1-0.27-CVE-2013-7488.patch
  SPECS-EXTENDED/perl-Convert-ASN1/Convert-ASN1-0.27-Correct-shebangs-in-tests.patch
  SPECS-EXTENDED/perl-Convert-ASN1/perl-Convert-ASN1.signatures.json
  SPECS-EXTENDED/perl-Convert-ASN1/perl-Convert-ASN1.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#11529 Upgraded mobile-broadband-provider-info to version 20240407
  SPECS-EXTENDED/mobile-broadband-provider-info/mobile-broadband-provider-info.signatures.json
  SPECS-EXTENDED/mobile-broadband-provider-info/mobile-broadband-provider-info.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#11552 perl-Mail-IMAPTalk: Upgrade Version from 4.04 -> 4.06
  SPECS-EXTENDED/perl-Mail-IMAPTalk/perl-Mail-IMAPTalk.signatures.json
  SPECS-EXTENDED/perl-Mail-IMAPTalk/perl-Mail-IMAPTalk.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#11585 perl-PAR-Dist: Update Version from 0.51 -> 0.53
  SPECS-EXTENDED/perl-PAR-Dist/perl-PAR-Dist.signatures.json
  SPECS-EXTENDED/perl-PAR-Dist/perl-PAR-Dist.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#12563 Added python-flaky to SPECS-EXTENDED
  LICENSES-AND-NOTICES/SPECS/LICENSES-MAP.md
  LICENSES-AND-NOTICES/SPECS/data/licenses.json
  SPECS-EXTENDED/python-flaky/python-flaky.signatures.json
  SPECS-EXTENDED/python-flaky/python-flaky.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#11512 Upgraded meanwhile to version 1.1.1
  SPECS-EXTENDED/meanwhile/meanwhile-crash.patch
  SPECS-EXTENDED/meanwhile/meanwhile-fix-glib-headers.patch
  SPECS-EXTENDED/meanwhile/meanwhile-format-security-fix.patch
  SPECS-EXTENDED/meanwhile/meanwhile-status-timestamp-workaround.patch
  SPECS-EXTENDED/meanwhile/meanwhile.signatures.json
  SPECS-EXTENDED/meanwhile/meanwhile.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#11524 perl-Object-HashBase: Update Version from 0.009 -> 0.013
  SPECS-EXTENDED/perl-Object-HashBase/perl-Object-HashBase.signatures.json
  SPECS-EXTENDED/perl-Object-HashBase/perl-Object-HashBase.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#11510 Upgraded mcelog to version 175
  SPECS-EXTENDED/mcelog/mcelog.signatures.json
  SPECS-EXTENDED/mcelog/mcelog.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#11503 perl-String-CRC32: Update Version from 0.18 -> 2.100
  SPECS-EXTENDED/perl-String-CRC32/perl-String-CRC32.signatures.json
  SPECS-EXTENDED/perl-String-CRC32/perl-String-CRC32.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#11483 perl-Parallel-Iterator: Update Version from 1.00 -> 1.002
  SPECS-EXTENDED/perl-Parallel-Iterator/perl-Parallel-Iterator.signatures.json
  SPECS-EXTENDED/perl-Parallel-Iterator/perl-Parallel-Iterator.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#11482 perl-Regexp-Pattern-Perl: Update Version from 0.006 -> 0.007
  SPECS-EXTENDED/perl-Regexp-Pattern-Perl/perl-Regexp-Pattern-Perl.signatures.json
  SPECS-EXTENDED/perl-Regexp-Pattern-Perl/perl-Regexp-Pattern-Perl.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#11481 perl-Mozilla-CA: Update Version from 20200520 -> 20240730
  SPECS-EXTENDED/perl-Mozilla-CA/Mozilla-CA-20240730-Redirect-to-ca-certificates-bundle.patch
  SPECS-EXTENDED/perl-Mozilla-CA/perl-Mozilla-CA.signatures.json
  SPECS-EXTENDED/perl-Mozilla-CA/perl-Mozilla-CA.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#11478 perl-Net-Daemon: Update Version from 0.48 -> 0.49
  SPECS-EXTENDED/perl-Net-Daemon/perl-Net-Daemon.signatures.json
  SPECS-EXTENDED/perl-Net-Daemon/perl-Net-Daemon.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#11476 perl-MRO-Compat: Update Version from 0.13 -> 0.15
  SPECS-EXTENDED/perl-MRO-Compat/perl-MRO-Compat.signatures.json
  SPECS-EXTENDED/perl-MRO-Compat/perl-MRO-Compat.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#11477 perl-Math-Int64: Update Version from 0.54 -> 0.57
  SPECS-EXTENDED/perl-Math-Int64/perl-Math-Int64.signatures.json
  SPECS-EXTENDED/perl-Math-Int64/perl-Math-Int64.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#11391 perl-Net-LibIDN2: Upgrade to 1.02
  SPECS-EXTENDED/perl-Net-LibIDN2/perl-Net-LibIDN2.signatures.json
  SPECS-EXTENDED/perl-Net-LibIDN2/perl-Net-LibIDN2.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#11358 Upgrade: hiera version to 3.12.0
  SPECS-EXTENDED/hiera/fix-puppetlab-paths.patch
  SPECS-EXTENDED/hiera/hiera-3.12.0.tar.gz.asc
  SPECS-EXTENDED/hiera/hiera.signatures.json
  SPECS-EXTENDED/hiera/hiera.spec
  SPECS-EXTENDED/hiera/puppet-gpg-signing-key-20250406.pub
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#11425 Update perl-ColorThemeBase-Static to version 0.009
  SPECS-EXTENDED/perl-ColorThemeBase-Static/perl-ColorThemeBase-Static.signatures.json
  SPECS-EXTENDED/perl-ColorThemeBase-Static/perl-ColorThemeBase-Static.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#11398 Update perl-Color-ANSI-Util to 0.165
  SPECS-EXTENDED/perl-Color-ANSI-Util/perl-Color-ANSI-Util.signatures.json
  SPECS-EXTENDED/perl-Color-ANSI-Util/perl-Color-ANSI-Util.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#11160 go-rpm-macros: update to 3.6.0
  SPECS-EXTENDED/go-rpm-macros/go-rpm-macros.signatures.json
  SPECS-EXTENDED/go-rpm-macros/go-rpm-macros.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#11148 libvarlink: Update Version from 18 -> 23
  SPECS-EXTENDED/libvarlink/libvarlink.signatures.json
  SPECS-EXTENDED/libvarlink/libvarlink.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#11132 Update babl to 0.1.108-1
  SPECS-EXTENDED/babl/babl.signatures.json
  SPECS-EXTENDED/babl/babl.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#11073 Upgrade: libdvdread version to 6.1.3
  SPECS-EXTENDED/libdvdread/libdvdread-6.1.3.tar.bz2.asc
  SPECS-EXTENDED/libdvdread/libdvdread.signatures.json
  SPECS-EXTENDED/libdvdread/libdvdread.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#11064 libthai: Update Version from 0.1.28 -> 0.1.29
  SPECS-EXTENDED/libthai/libthai.signatures.json
  SPECS-EXTENDED/libthai/libthai.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#11057 Upgrade: libsmbios version to 2.4.3
  SPECS-EXTENDED/libsmbios/0001-libsmbios-fix-more-places-with-loop-iterators-with-b.patch
  SPECS-EXTENDED/libsmbios/libsmbios.signatures.json
  SPECS-EXTENDED/libsmbios/libsmbios.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#11056 Upgrade: libsigsegv version to 2.14
  SPECS-EXTENDED/libsigsegv/libsigsegv.signatures.json
  SPECS-EXTENDED/libsigsegv/libsigsegv.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#11046 Upgrade: libsigc++20 version to 2.12.1
  SPECS-EXTENDED/libsigc++20/libsigc++20.signatures.json
  SPECS-EXTENDED/libsigc++20/libsigc++20.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#11018 Upgrade: librabbitmq version to 0.14.0
  SPECS-EXTENDED/librabbitmq/librabbitmq.signatures.json
  SPECS-EXTENDED/librabbitmq/librabbitmq.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#11023 Upgrade: libsass version to 3.6.6
  SPECS-EXTENDED/libsass/libsass.signatures.json
  SPECS-EXTENDED/libsass/libsass.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#11001 Upgrade: intel-cmt-cat version to 24.05
  SPECS-EXTENDED/intel-cmt-cat/0001-alter-install-paths.patch
  SPECS-EXTENDED/intel-cmt-cat/0002-remove-build-and-install-of-examples.patch
  SPECS-EXTENDED/intel-cmt-cat/0003-allow-debian-flags-to-be-added.patch
  SPECS-EXTENDED/intel-cmt-cat/intel-cmt-cat.signatures.json
  SPECS-EXTENDED/intel-cmt-cat/intel-cmt-cat.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#11040 libteam: Upgrade Version from 1.30 -> 1.32
  SPECS-EXTENDED/libteam/libteam.signatures.json
  SPECS-EXTENDED/libteam/libteam.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#10953 libbsd :update version to 0.12.2
  SPECS-EXTENDED/libbsd/4F3E74F436050C10F5696574B972BF3EA4AE57A3
  SPECS-EXTENDED/libbsd/libbsd-0.12.2.tar.xz.asc
  SPECS-EXTENDED/libbsd/libbsd-0.8.3-deprecated.patch
  SPECS-EXTENDED/libbsd/libbsd-0.8.6-compat.patch
  SPECS-EXTENDED/libbsd/libbsd-cdefs.h
  SPECS-EXTENDED/libbsd/libbsd.signatures.json
  SPECS-EXTENDED/libbsd/libbsd.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#10939 Update libipt to 2.1.1-1
  SPECS-EXTENDED/libipt/libipt.signatures.json
  SPECS-EXTENDED/libipt/libipt.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#11014 Upgrade: libpinyin version to 2.9.92
  SPECS-EXTENDED/libpinyin/libpinyin-2.8.x-head.patch
  SPECS-EXTENDED/libpinyin/libpinyin.signatures.json
  SPECS-EXTENDED/libpinyin/libpinyin.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#11000 Upgrade: indent version to 2.2.13
  SPECS-EXTENDED/indent/indent-2.2.12-Add-m4-ax_cc_for_build.m4-for-CC_FOR_BUILD.patch
  SPECS-EXTENDED/indent/indent-2.2.12-Recognize-binary-integer-literals.patch
  SPECS-EXTENDED/indent/indent-2.2.12-doc-Fix-dont-cuddle-else-short-option-and-index-remo.patch
  SPECS-EXTENDED/indent/indent-2.2.13-Check-for-setlocale-function.patch
  SPECS-EXTENDED/indent/indent-2.2.13-Fix-a-heap-buffer-overwrite-in-search_brace-CVE-2023.patch
  SPECS-EXTENDED/indent/indent-2.2.13-Fix-a-heap-buffer-underread-in-set_buf_break.patch
  SPECS-EXTENDED/indent/indent-2.2.13-Fix-an-out-of-buffer-read-in-search_brace-lexi-on-an.patch
  SPECS-EXTENDED/indent/indent-2.2.13.tar.xz.sig
  SPECS-EXTENDED/indent/indent.signatures.json
  SPECS-EXTENDED/indent/indent.spec
  SPECS-EXTENDED/indent/key.pgp
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#10928 Upgrade: efi-rpm-macros version to 5
  SPECS-EXTENDED/efi-rpm-macros/0001-Don-t-have-arm-as-an-alt-arch-of-aarch64.patch
  SPECS-EXTENDED/efi-rpm-macros/0002-Makefile-fix-permission-on-boot-efi-EFI.patch
  SPECS-EXTENDED/efi-rpm-macros/efi-rpm-macros.signatures.json
  SPECS-EXTENDED/efi-rpm-macros/efi-rpm-macros.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#10884 Upgrade libplist to 2.6.0
  SPECS-EXTENDED/libplist/libplist.signatures.json
  SPECS-EXTENDED/libplist/libplist.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#10864 Upgrade hdf to 4.3.0
  SPECS-EXTENDED/hdf/hdf-4.2.4-sparc.patch
  SPECS-EXTENDED/hdf/hdf-aarch64.patch
  SPECS-EXTENDED/hdf/hdf-arm.patch
  SPECS-EXTENDED/hdf/hdf-build.patch
  SPECS-EXTENDED/hdf/hdf-destdir.patch
  SPECS-EXTENDED/hdf/hdf-examplesdir.patch
  SPECS-EXTENDED/hdf/hdf-ppc.patch
  SPECS-EXTENDED/hdf/hdf-ppc64le.patch
  SPECS-EXTENDED/hdf/hdf-s390.patch
  SPECS-EXTENDED/hdf/hdf.signatures.json
  SPECS-EXTENDED/hdf/hdf.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#10860 Upgrade: edac-utils version to 0.18
  SPECS-EXTENDED/edac-utils/13.patch
  SPECS-EXTENDED/edac-utils/edac-utils.signatures.json
  SPECS-EXTENDED/edac-utils/edac-utils.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#10856 fetchmail: Update to version 6.4.39
  SPECS-EXTENDED/fetchmail/fetchmail-6.4.39.tar.xz.asc
  SPECS-EXTENDED/fetchmail/fetchmail-6.4.8.tar.xz.asc
  SPECS-EXTENDED/fetchmail/fetchmail.service
  SPECS-EXTENDED/fetchmail/fetchmail.signatures.json
  SPECS-EXTENDED/fetchmail/fetchmail.spec
  SPECS-EXTENDED/fetchmail/fetchmailrc.example
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#10847 Upgrade: drpm version to 0.5.2
  SPECS-EXTENDED/drpm/drpm-0.3.0-workaround-ppc64le-gcc.patch
  SPECS-EXTENDED/drpm/drpm.signatures.json
  SPECS-EXTENDED/drpm/drpm.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#10844 discount: Update Version from 2.2.4 -> 2.2.7
  SPECS-EXTENDED/discount/define_destructor.patch
  SPECS-EXTENDED/discount/discount-c99.patch
  SPECS-EXTENDED/discount/discount.signatures.json
  SPECS-EXTENDED/discount/discount.spec
  SPECS-EXTENDED/discount/set_deps.patch
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#10842 Upgrade: dropwatch version to 1.5.4
  SPECS-EXTENDED/dropwatch/dropwatch-Fix-license-specifiers.patch
  SPECS-EXTENDED/dropwatch/dropwatch-configure-update-obsoleted-m4-macros.patch
  SPECS-EXTENDED/dropwatch/dropwatch-gcc11.patch
  SPECS-EXTENDED/dropwatch/dropwatch-install-dwdump-manpage.patch
  SPECS-EXTENDED/dropwatch/dropwatch.signatures.json
  SPECS-EXTENDED/dropwatch/dropwatch.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#10820 exiv2: Update to version 0.28.3
  SPECS-EXTENDED/exiv2/exiv2.signatures.json
  SPECS-EXTENDED/exiv2/exiv2.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#10791 Upgrade gssntlmssp to 1.3.1-1
  SPECS-EXTENDED/gssntlmssp/gssntlmssp.signatures.json
  SPECS-EXTENDED/gssntlmssp/gssntlmssp.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#10790 Upgrade gssdp to 1.6.3
  SPECS-EXTENDED/gssdp/gssdp.signatures.json
  SPECS-EXTENDED/gssdp/gssdp.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#10843 libid3tag: Update to 0.16.3
  SPECS-EXTENDED/libid3tag/cmake-hook-genre.dat-and-gperf-files-generation.patch
  SPECS-EXTENDED/libid3tag/libid3tag-0.15.1b-fix_overflow.patch
  SPECS-EXTENDED/libid3tag/libid3tag-0.15.1b-gperf-size_t.patch
  SPECS-EXTENDED/libid3tag/libid3tag-0.15.1b-handle-unknown-encoding.patch
  SPECS-EXTENDED/libid3tag/libid3tag-0.15.1b-id3v1-zero-padding.patch
  SPECS-EXTENDED/libid3tag/libid3tag-0.15.1b-id3v2-endless-loop.patch
  SPECS-EXTENDED/libid3tag/libid3tag.signatures.json
  SPECS-EXTENDED/libid3tag/libid3tag.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#10779 Upgrade graphene to 1.10.8-1
  SPECS-EXTENDED/graphene/graphene.signatures.json
  SPECS-EXTENDED/graphene/graphene.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#10775 Upgrade libgphoto2 to latest upstream
  SPECS-EXTENDED/libgphoto2/gphoto2-device-return.patch
  SPECS-EXTENDED/libgphoto2/libgphoto2.signatures.json
  SPECS-EXTENDED/libgphoto2/libgphoto2.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#10752 Upgrade: dotconf version to 1.4.1
  SPECS-EXTENDED/dotconf/dotconf.signatures.json
  SPECS-EXTENDED/dotconf/dotconf.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#10744 Upgrade SuperLU version to 7.0.0
  SPECS-EXTENDED/SuperLU/SuperLU-5.2.1-set_soname.patch
  SPECS-EXTENDED/SuperLU/SuperLU-fedora-make.inc.in
  SPECS-EXTENDED/SuperLU/SuperLU-fix_example_builds.patch
  SPECS-EXTENDED/SuperLU/SuperLU.signatures.json
  SPECS-EXTENDED/SuperLU/SuperLU.spec
  SPECS-EXTENDED/SuperLU/superlu-cmake-includedir.patch
  SPECS-EXTENDED/SuperLU/superlu-removemc64.patch
  cgmanifest.json
Labels: specs-extended, 3.0-dev

#10697 advancecomp: Upgraded to 2.6 version
  SPECS-EXTENDED/advancecomp/advancecomp.signatures.json
  SPECS-EXTENDED/advancecomp/advancecomp.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#11782 Added new package to SPECS-EXTENDED :perl-BDB
  LICENSES-AND-NOTICES/SPECS/LICENSES-MAP.md
  LICENSES-AND-NOTICES/SPECS/data/licenses.json
  SPECS-EXTENDED/perl-BDB/perl-BDB.signatures.json
  SPECS-EXTENDED/perl-BDB/perl-BDB.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#12718 Patch `blobfuse2` for CVE-2025-22868 [High]
  SPECS/blobfuse2/CVE-2025-22868.patch
  SPECS/blobfuse2/blobfuse2.spec
Labels: Packaging, fasttrack/2.0

#12719 Patch `node-problem-detector` for CVE-2025-22868 [High]
  SPECS/node-problem-detector/CVE-2025-22868.patch
  SPECS/node-problem-detector/node-problem-detector.spec
Labels: security, Packaging, fasttrack/2.0

#12721 Patch `coredns` for CVE-2025-22868 [High]
  SPECS/coredns/CVE-2025-22868.patch
  SPECS/coredns/coredns.spec
Labels: security, Packaging, fasttrack/2.0

#12659 python3: patch CVE-2024-9287 [Medium]
  SPECS/python3/CVE-2024-9287.patch
  SPECS/python3/python3.spec
  toolkit/resources/manifests/package/pkggen_core_aarch64.txt
  toolkit/resources/manifests/package/pkggen_core_x86_64.txt
  toolkit/resources/manifests/package/toolchain_aarch64.txt
  toolkit/resources/manifests/package/toolchain_x86_64.txt
Labels: Packaging, fasttrack/2.0

#12695 Patch `moby-containerd` for CVE-2025-27144 [Medium]
  SPECS/moby-containerd/CVE-2025-27144.patch
  SPECS/moby-containerd/moby-containerd.spec
Labels: security, Packaging, fasttrack/2.0

#12300 bind: fix file conflicts
  SPECS/bind/bind.spec
Labels: Packaging, 3.0-dev

#12694 Patch `kubernetes` for CVE-2025-22868, CVE-2025-22869 & CVE-2025-27144 [High]
  SPECS/kubernetes/CVE-2025-22868.patch
  SPECS/kubernetes/CVE-2025-22869.patch
  SPECS/kubernetes/CVE-2025-27144.patch
  SPECS/kubernetes/kubernetes.spec
Labels: security, Packaging, fasttrack/2.0

#12727 Patch `node-problem-detector` for CVE-2025-22868 & CVE-2025-22869 [High]
  SPECS/node-problem-detector/0001-add-Mariner-and-Azure-Linux-OS-Versions.patch
  SPECS/node-problem-detector/CVE-2023-45288.patch
  SPECS/node-problem-detector/CVE-2024-24786.patch
  SPECS/node-problem-detector/CVE-2025-22868.patch
  SPECS/node-problem-detector/CVE-2025-22869.patch
  SPECS/node-problem-detector/node-problem-detector.signatures.json
  SPECS/node-problem-detector/node-problem-detector.spec
Labels: security, Packaging, fasttrack/3.0

#12681 Patch `containerized-data-importer` for CVE-2025-22868 & CVE-2025-27144 [High]
  SPECS/containerized-data-importer/CVE-2025-22868.patch
  SPECS/containerized-data-importer/CVE-2025-27144.patch
  SPECS/containerized-data-importer/containerized-data-importer.spec
Labels: security, Packaging, fasttrack/3.0

#12683 Patch `influxdb` for CVE-2025-22868 & CVE-2025-27144 [High]
  SPECS/influxdb/CVE-2025-22868.patch
  SPECS/influxdb/CVE-2025-27144.patch
  SPECS/influxdb/influxdb.spec
Labels: security, Packaging, fasttrack/3.0

#12685 Patch `cert-manager` for CVE-2025-22868, CVE-2025-22869 & CVE-2025-27144 [High]
  SPECS/cert-manager/CVE-2025-22868.patch
  SPECS/cert-manager/CVE-2025-22869.patch
  SPECS/cert-manager/CVE-2025-27144.patch
  SPECS/cert-manager/cert-manager.spec
Labels: security, Packaging, fasttrack/3.0

#12687 Patch `keda` for CVE-2025-22868 & CVE-2025-27144 [High]
  SPECS/keda/CVE-2025-22868.patch
  SPECS/keda/CVE-2025-27144.patch
  SPECS/keda/keda.spec
Labels: security, Packaging, fasttrack/3.0

#12716 Patch `kubevirt` for CVE-2025-22869 [High]
  SPECS/kubevirt/CVE-2025-22869.patch
  SPECS/kubevirt/kubevirt.spec
Labels: security, Packaging, fasttrack/3.0

#12725 Patch `docker-compose` for CVE-2025-22869 & CVE-2024-10846 [High]
  SPECS/docker-compose/CVE-2024-10846.patch
  SPECS/docker-compose/CVE-2025-22869.patch
  SPECS/docker-compose/docker-compose.spec
Labels: security, Packaging, fasttrack/3.0

#12726 Patch `cf-cli` for CVE-2025-22869 [High]
  SPECS/cf-cli/CVE-2025-22869.patch
  SPECS/cf-cli/cf-cli.spec
Labels: security, Packaging, fasttrack/3.0

#12692 Patch `gh` for CVE-2025-27144, CVE-2025-22869 [High]
  SPECS/gh/CVE-2025-22869.patch
  SPECS/gh/CVE-2025-27144.patch
  SPECS/gh/gh.spec
Labels: security, Packaging, fasttrack/3.0

#12728 Patch `docker-buildx` for CVE-2025-22869 [High]
  SPECS/docker-buildx/CVE-2025-22869.patch
  SPECS/docker-buildx/docker-buildx.spec
Labels: security, Packaging, fasttrack/3.0

#12729 Patch `vitess` for CVE-2025-22868 [High]
  SPECS/vitess/CVE-2025-22868.patch
  SPECS/vitess/vitess.spec
Labels: security, Packaging, fasttrack/3.0

#12768 Patch `azcopy` for CVE-2025-22868 [High]
  SPECS/azcopy/CVE-2025-22868.patch
  SPECS/azcopy/azcopy.spec
Labels: Packaging, fasttrack/3.0

#12808 Fix CVE-2023-44487 in local-path-provisioner
  SPECS/local-path-provisioner/CVE-2023-44487.patch
  SPECS/local-path-provisioner/local-path-provisioner.spec
Labels: security, Packaging, fasttrack/3.0

#12742 Patch kubevirt for CVE-2023-44487
  SPECS/kubevirt/CVE-2023-44487.patch
  SPECS/kubevirt/kubevirt.spec
Labels: security, Packaging, fasttrack/3.0

#12693 Patch `kubernetes` for CVE-2025-22868, CVE-2025-22869 & CVE-2025-27144 [High]
  SPECS/kubernetes/CVE-2025-22868.patch
  SPECS/kubernetes/CVE-2025-22869.patch
  SPECS/kubernetes/CVE-2025-27144.patch
  SPECS/kubernetes/kubernetes.spec
Labels: security, Packaging, fasttrack/3.0

#12720 Patch `coredns` for CVE-2025-22868 [High]
  SPECS/coredns/CVE-2025-22868.patch
  SPECS/coredns/coredns.spec
Labels: security, Packaging, fasttrack/3.0

#12814 Fix CVE-2023-44487 for prometheus
  SPECS/prometheus/CVE-2023-44487.patch
  SPECS/prometheus/prometheus.spec
Labels: security, Packaging, fasttrack/3.0

#12350 Patch curl to fix CVE-2025-0665, CVE-2025-0167, CVE-2025-0725 [High]
  SPECS/curl/CVE-2025-0167.patch
  SPECS/curl/CVE-2025-0665.patch
  SPECS/curl/CVE-2025-0725.patch
  SPECS/curl/curl.spec
  toolkit/resources/manifests/package/pkggen_core_aarch64.txt
  toolkit/resources/manifests/package/pkggen_core_x86_64.txt
  toolkit/resources/manifests/package/toolchain_aarch64.txt
  toolkit/resources/manifests/package/toolchain_x86_64.txt
Labels: security, Packaging, 3.0-dev

#12409 golang: bump Go version to 1.24.0-1
  LICENSES-AND-NOTICES/SPECS/LICENSES-MAP.md
  LICENSES-AND-NOTICES/SPECS/data/licenses.json
  SPECS/golang/golang-1.23.signatures.json
  SPECS/golang/golang-1.23.spec
  SPECS/golang/golang.signatures.json
  SPECS/golang/golang.spec
  cgmanifest.json
Labels: Packaging, 3.0-dev

#12820 Enable to tui for perf
  SPECS-SIGNED/fwctl-signed/fwctl-signed.spec
  SPECS-SIGNED/iser-signed/iser-signed.spec
  SPECS-SIGNED/isert-signed/isert-signed.spec
  SPECS-SIGNED/kernel-64k-signed/kernel-64k-signed.spec
  SPECS-SIGNED/kernel-signed/kernel-signed.spec
  SPECS-SIGNED/kernel-uki-signed/kernel-uki-signed.spec
  SPECS-SIGNED/knem-modules-signed/knem-modules-signed.spec
  SPECS-SIGNED/mft_kernel-signed/mft_kernel-signed.spec
  SPECS-SIGNED/mlnx-nfsrdma-signed/mlnx-nfsrdma-signed.spec
  SPECS-SIGNED/mlnx-ofa_kernel-modules-signed/mlnx-ofa_kernel-modules-signed.spec
  SPECS-SIGNED/srp-signed/srp-signed.spec
  SPECS-SIGNED/xpmem-modules-signed/xpmem-modules-signed.spec
  SPECS/fwctl/fwctl.spec
  SPECS/iser/iser.spec
  SPECS/isert/isert.spec
  SPECS/kernel-64k/kernel-64k.spec
  SPECS/kernel-headers/kernel-headers.spec
  SPECS/kernel/kernel-uki.spec
  SPECS/kernel/kernel.spec
  SPECS/knem/knem.spec
  SPECS/mft_kernel/mft_kernel.spec
  SPECS/mlnx-nfsrdma/mlnx-nfsrdma.spec
  SPECS/mlnx-ofa_kernel/mlnx-ofa_kernel.spec
  SPECS/srp/srp.spec
  SPECS/xpmem/xpmem.spec
  toolkit/resources/manifests/package/pkggen_core_aarch64.txt
  toolkit/resources/manifests/package/pkggen_core_x86_64.txt
  toolkit/resources/manifests/package/toolchain_aarch64.txt
  toolkit/resources/manifests/package/toolchain_x86_64.txt
Labels: Packaging, 3.0-dev

#12810 Upgrade pcp to 6.3.2 and libpfm to 4.13.0
  SPECS-EXTENDED/libpfm/libpfm.signatures.json
  SPECS-EXTENDED/libpfm/libpfm.spec
  SPECS-EXTENDED/pcp/pcp-gcc15.patch
  SPECS-EXTENDED/pcp/pcp-xsos-fixes.patch
  SPECS-EXTENDED/pcp/pcp.signatures.json
  SPECS-EXTENDED/pcp/pcp.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#12850 Patch `python-jinja2` for CVE-2025-27516 [High]
  SPECS/python-jinja2/CVE-2025-27516.patch
  SPECS/python-jinja2/python-jinja2.spec
  toolkit/resources/manifests/package/toolchain_aarch64.txt
  toolkit/resources/manifests/package/toolchain_x86_64.txt
Labels: security, Packaging, fasttrack/2.0

#12796 Patch `xorg-x11-server` for CVE-2025-26594, CVE-2025-26595, CVE-2025-26596, CVE-2025-26597, CVE-2025-26598, CVE-2025-26599, CVE-2025-26600, CVE-2025-26601 [High]
  SPECS/xorg-x11-server/CVE-2025-26594.patch
  SPECS/xorg-x11-server/CVE-2025-26595.patch
  SPECS/xorg-x11-server/CVE-2025-26596.patch
  SPECS/xorg-x11-server/CVE-2025-26597.patch
  SPECS/xorg-x11-server/CVE-2025-26598.patch
  SPECS/xorg-x11-server/CVE-2025-26599.patch
  SPECS/xorg-x11-server/CVE-2025-26600.patch
  SPECS/xorg-x11-server/CVE-2025-26601.patch
  SPECS/xorg-x11-server/xorg-x11-server.spec
Labels: security, Packaging, fasttrack/2.0

#12767 Patch `azcopy` for CVE-2025-22868 [High]
  SPECS/azcopy/CVE-2025-22868.patch
  SPECS/azcopy/azcopy.spec
Labels: security, Packaging, fasttrack/2.0

#12821 Patch `telegraf` for CVE-2025-22868, CVE-2025-22869 [High]
  SPECS/telegraf/CVE-2025-22868.patch
  SPECS/telegraf/CVE-2025-22869.patch
  SPECS/telegraf/telegraf.spec
Labels: security, Packaging, fasttrack/2.0

#12576 [High] hvloader: Patch assorted CVEs
  SPECS-SIGNED/hvloader-signed/hvloader-signed.spec
  SPECS/hvloader/CVE-2023-45229.patch
  SPECS/hvloader/CVE-2023-45230.patch
  SPECS/hvloader/CVE-2023-45231.patch
  SPECS/hvloader/CVE-2023-45232_CVE-2023-45233.patch
  SPECS/hvloader/CVE-2023-45234.patch
  SPECS/hvloader/CVE-2023-45235.patch
  SPECS/hvloader/hvloader.spec
Labels: Packaging, fasttrack/2.0

#12794 Patch `cloud-hypervisor` for CVE-2025-1744 [Critical]
  SPECS/cloud-hypervisor/CVE-2025-1744.patch
  SPECS/cloud-hypervisor/cloud-hypervisor.spec
Labels: security, Packaging, fasttrack/2.0

#12774 jbigkit :fixed build
  SPECS-EXTENDED/jbigkit/jbigkit-2.1-shlib.patch
  SPECS-EXTENDED/jbigkit/jbigkit-ldflags.patch
  SPECS-EXTENDED/jbigkit/jbigkit.spec
Labels: Packaging, specs-extended, 3.0-dev

#12468 Upgrade: smc-tools to version 1.8.4
  SPECS-EXTENDED/smc-tools/smc-tools-1.2.0-s390.patch
  SPECS-EXTENDED/smc-tools/smc-tools-gcc15.patch
  SPECS-EXTENDED/smc-tools/smc-tools.signatures.json
  SPECS-EXTENDED/smc-tools/smc-tools.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#12476 Upgrade: python-semantic_version to version 2.10.0
  SPECS-EXTENDED/python-semantic_version/python-semantic_version.signatures.json
  SPECS-EXTENDED/python-semantic_version/python-semantic_version.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#11211 Upgrade: irssi version to 1.4.5
  SPECS-EXTENDED/irssi/gpgkey-7EE65E3082A5FB06AC7C368D00CCB587DDBEF0E1.asc
  SPECS-EXTENDED/irssi/irssi-1.2.2-ctrl-space-fix.patch
  SPECS-EXTENDED/irssi/irssi-1.4.1-botti-perl-link-fix.patch
  SPECS-EXTENDED/irssi/irssi-1.4.5.tar.xz.asc
  SPECS-EXTENDED/irssi/irssi.signatures.json
  SPECS-EXTENDED/irssi/irssi.spec
  SPECS-EXTENDED/libotr/libotr-4.1.1-socket-h.patch
  SPECS-EXTENDED/libotr/libotr-4.1.1-versioning.patch
  SPECS-EXTENDED/libotr/libotr.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#12654 apache-commons-daemon: Fix the build error
  SPECS-EXTENDED/apache-commons-daemon/apache-commons-daemon-build.xml
  SPECS-EXTENDED/apache-commons-daemon/apache-commons-daemon.signatures.json
  SPECS-EXTENDED/apache-commons-daemon/apache-commons-daemon.spec
Labels: Packaging, specs-extended, 3.0-dev

#12757 Upgrade: perl-File-Find-Rule-Perl version to 1.16
  SPECS-EXTENDED/perl-File-Find-Rule-Perl/0001-File-Find-Rule-Perl-1.16-fedora.patch
  SPECS-EXTENDED/perl-File-Find-Rule-Perl/File-Find-Rule-Perl-1.15-fedora.patch
  SPECS-EXTENDED/perl-File-Find-Rule-Perl/perl-File-Find-Rule-Perl.signatures.json
  SPECS-EXTENDED/perl-File-Find-Rule-Perl/perl-File-Find-Rule-Perl.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#12807 Upgrade: perl-YAML-Syck version to 1.34
  SPECS-EXTENDED/perl-YAML-Syck/perl-YAML-Syck.signatures.json
  SPECS-EXTENDED/perl-YAML-Syck/perl-YAML-Syck.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#12805 Upgrade: perl-Tree-DAG_Node version to 1.32
  SPECS-EXTENDED/perl-Tree-DAG_Node/perl-Tree-DAG_Node.signatures.json
  SPECS-EXTENDED/perl-Tree-DAG_Node/perl-Tree-DAG_Node.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#12804 Upgrade: perl-Text-CSV_XS version to 1.60
  SPECS-EXTENDED/perl-Text-CSV_XS/perl-Text-CSV_XS.signatures.json
  SPECS-EXTENDED/perl-Text-CSV_XS/perl-Text-CSV_XS.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#12803 Upgrade: perl-Test-Warn version to 0.37
  SPECS-EXTENDED/perl-Test-Warn/perl-Test-Warn.signatures.json
  SPECS-EXTENDED/perl-Test-Warn/perl-Test-Warn.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#12801 Upgrade: perl-Term-UI version to 0.50
  SPECS-EXTENDED/perl-Term-UI/perl-Term-UI.signatures.json
  SPECS-EXTENDED/perl-Term-UI/perl-Term-UI.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#12798 Upgrade: perl-Pod-Markdown version to 3.400
  SPECS-EXTENDED/perl-Pod-Markdown/perl-Pod-Markdown.signatures.json
  SPECS-EXTENDED/perl-Pod-Markdown/perl-Pod-Markdown.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#12696 pyxattr: Upgrade Version from 0.7.1 -> 0.7.2
  SPECS-EXTENDED/pyxattr/pyxattr-0.7.1.tar.gz.asc
  SPECS-EXTENDED/pyxattr/pyxattr-0.7.2.tar.gz.asc
  SPECS-EXTENDED/pyxattr/pyxattr.signatures.json
  SPECS-EXTENDED/pyxattr/pyxattr.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#12776 Upgrade: perl-PerlIO-utf8_strict version to 0.010
  SPECS-EXTENDED/perl-PerlIO-utf8_strict/perl-PerlIO-utf8_strict.signatures.json
  SPECS-EXTENDED/perl-PerlIO-utf8_strict/perl-PerlIO-utf8_strict.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#12572 Build fix for package jlex
  SPECS-EXTENDED/jlex/jlex-1.2.6.build.xml
  SPECS-EXTENDED/jlex/jlex.signatures.json
  SPECS-EXTENDED/jlex/jlex.spec
  SPECS-EXTENDED/jlex/manual.html
  SPECS-EXTENDED/jlex/sample.lex
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#12403 Upgrade: maven-parent version to 41
  LICENSES-AND-NOTICES/SPECS/LICENSES-MAP.md
  LICENSES-AND-NOTICES/SPECS/data/licenses.json
  SPECS-EXTENDED/maven-parent/maven-parent.signatures.json
  SPECS-EXTENDED/maven-parent/maven-parent.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#12318 Upgrade: python-suds version to 1.1.2
  SPECS-EXTENDED/python-suds/python-suds.signatures.json
  SPECS-EXTENDED/python-suds/python-suds.spec
  SPECS-EXTENDED/python-suds/suds-pyname.patch
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#12760 Upgrade: perl-File-Slurper version to 0.014
  SPECS-EXTENDED/perl-File-Slurper/perl-File-Slurper.signatures.json
  SPECS-EXTENDED/perl-File-Slurper/perl-File-Slurper.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#12203 Upgrade: minicom version to 2.9
  SPECS-EXTENDED/minicom/0001-Add-a-missing-va_end-call.patch
  SPECS-EXTENDED/minicom/0001-Drop-superfluous-global-variable-definitions.patch
  SPECS-EXTENDED/minicom/0002-Drop-superfluous-global-variable-definitions.patch
  SPECS-EXTENDED/minicom/0002-Make-sure-strings-copied-by-strncpy-are-null-termina.patch
  SPECS-EXTENDED/minicom/0003-Drop-superfluous-global-variable-definitions.patch
  SPECS-EXTENDED/minicom/0003-Fix-file-descriptor-leaks.patch
  SPECS-EXTENDED/minicom/0004-Fix-a-directory-handle-leak.patch
  SPECS-EXTENDED/minicom/0005-Fix-a-read-past-end-of-buffer.patch
  SPECS-EXTENDED/minicom/0006-Fix-a-warning-about-an-unused-variable.patch
  SPECS-EXTENDED/minicom/0007-loadconv-Add-missing-fclose.patch
  SPECS-EXTENDED/minicom/minicom.signatures.json
  SPECS-EXTENDED/minicom/minicom.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#12287 Upgrade: python-astroid version to 3.3.8
  SPECS-EXTENDED/python-astroid/noglobs.patch
  SPECS-EXTENDED/python-astroid/python-astroid.signatures.json
  SPECS-EXTENDED/python-astroid/python-astroid.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#12290 Upgrade: python-sniffio version to 1.3.1
  SPECS-EXTENDED/python-sniffio/python-sniffio.signatures.json
  SPECS-EXTENDED/python-sniffio/python-sniffio.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#11947 Upgrade: yelp-xsl vesion to 42.1
  SPECS-EXTENDED/yelp-xsl/yelp-xsl.signatures.json
  SPECS-EXTENDED/yelp-xsl/yelp-xsl.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#11892 Upgrade: xterm version to 395
  SPECS-EXTENDED/xterm/dickey@invisible-island.net-rsa3072.asc
  SPECS-EXTENDED/xterm/xterm-395.tgz.asc
  SPECS-EXTENDED/xterm/xterm-defaults.patch
  SPECS-EXTENDED/xterm/xterm-desktop.patch
  SPECS-EXTENDED/xterm/xterm-man-paths.patch
  SPECS-EXTENDED/xterm/xterm.signatures.json
  SPECS-EXTENDED/xterm/xterm.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#11884 openoffice-lv: update to 1.4.0
  SPECS-EXTENDED/openoffice-lv/openoffice-lv.signatures.json
  SPECS-EXTENDED/openoffice-lv/openoffice-lv.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#11882 Upgrade: targetcli version to 2.1.58
  SPECS-EXTENDED/targetcli/targetcli.signatures.json
  SPECS-EXTENDED/targetcli/targetcli.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#11616 perl-SNMP_Session: Update Version from 1.13 -> 1.16
  SPECS-EXTENDED/perl-SNMP_Session/SNMP_Session-1.13-fix_ivp6.patch
  SPECS-EXTENDED/perl-SNMP_Session/perl-SNMP_Session.signatures.json
  SPECS-EXTENDED/perl-SNMP_Session/perl-SNMP_Session.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#11563 Upgrade: perltidy to version 20240903
  SPECS-EXTENDED/perltidy/perltidy.signatures.json
  SPECS-EXTENDED/perltidy/perltidy.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#11502 perl-Scope-Upper: Update Version from 0.32 -> 0.34
  SPECS-EXTENDED/perl-Scope-Upper/perl-Scope-Upper.signatures.json
  SPECS-EXTENDED/perl-Scope-Upper/perl-Scope-Upper.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#11843 Upgrade: spausedd version to 20210719
  SPECS-EXTENDED/spausedd/spausedd.signatures.json
  SPECS-EXTENDED/spausedd/spausedd.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#11682 ocaml-tyxml: update to 4.6.0
  SPECS-EXTENDED/ocaml-tyxml/ocaml-tyxml-seq.patch
  SPECS-EXTENDED/ocaml-tyxml/ocaml-tyxml.signatures.json
  SPECS-EXTENDED/ocaml-tyxml/ocaml-tyxml.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#11499 perl-Role-Tiny: Update Version from 2.001004 -> 2.002004
  SPECS-EXTENDED/perl-Role-Tiny/perl-Role-Tiny.signatures.json
  SPECS-EXTENDED/perl-Role-Tiny/perl-Role-Tiny.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#11486 Upgrade:cim-schema to version 2.54.1
  SPECS-EXTENDED/cim-schema/cim-schema.signatures.json
  SPECS-EXTENDED/cim-schema/cim-schema.spec
  SPECS-EXTENDED/cim-schema/cim_schema_2.54.1Experimental-Doc.zip
  SPECS-EXTENDED/cim-schema/cim_schema_2.54.1Experimental-MOFs.zip
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#11197 libwpe: Update Version from 1.12.0 -> 1.15.2
  SPECS-EXTENDED/libwpe/gpgkey-5AA3BC334FD7E3369E7C77B291C559DBE4C9123B.gpg
  SPECS-EXTENDED/libwpe/libwpe-1.15.2.tar.xz.asc
  SPECS-EXTENDED/libwpe/libwpe.signatures.json
  SPECS-EXTENDED/libwpe/libwpe.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#11406 perl-Module-Signature: Upgrade version to 0.89
  SPECS-EXTENDED/perl-Module-Signature/perl-Module-Signature.signatures.json
  SPECS-EXTENDED/perl-Module-Signature/perl-Module-Signature.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev

#10740 Upgrade gsl to 2.8-1
  SPECS-EXTENDED/gsl/gsl.signatures.json
  SPECS-EXTENDED/gsl/gsl.spec
  cgmanifest.json
Labels: Packaging, specs-extended, 3.0-dev
